<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f40c</key>
    <string>u1f40c.glif</string>
    <key>u1f45a</key>
    <string>u1f45a.glif</string>
    <key>u1f47f</key>
    <string>u1f47f.glif</string>
    <key>u1f608</key>
    <string>u1f608.glif</string>
    <key>u1f6cc</key>
    <string>u1f6cc.glif</string>
    <key>u1f6cc_1f3fb</key>
    <string>u1f6cc_1f3fb.glif</string>
    <key>u1f6cc_1f3fc</key>
    <string>u1f6cc_1f3fc.glif</string>
    <key>u1f6cc_1f3fd</key>
    <string>u1f6cc_1f3fd.glif</string>
    <key>u1f6cc_1f3fe</key>
    <string>u1f6cc_1f3fe.glif</string>
    <key>u1f6cc_1f3ff</key>
    <string>u1f6cc_1f3ff.glif</string>
    <key>u269c</key>
    <string>u269c.glif</string>
  </dict>
</plist>
