<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3d5</key>
    <string>u1f3d5.glif</string>
    <key>u1f49a</key>
    <string>u1f49a.glif</string>
    <key>u1f7e2</key>
    <string>u1f7e2.glif</string>
    <key>u1f7e9</key>
    <string>u1f7e9.glif</string>
    <key>u1f940</key>
    <string>u1f940.glif</string>
    <key>u1f9e9</key>
    <string>u1f9e9.glif</string>
    <key>u1fa73</key>
    <string>u1fa73.glif</string>
  </dict>
</plist>
