<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1fe_1f1f9</key>
    <string>u1f1fe_1f1f9.glif</string>
    <key>u1f3a3</key>
    <string>u1f3a3.glif</string>
    <key>u1f3f8</key>
    <string>u1f3f8.glif</string>
    <key>u1f454</key>
    <string>u1f454.glif</string>
    <key>u1f458</key>
    <string>u1f458.glif</string>
    <key>u1f6e9</key>
    <string>u1f6e9.glif</string>
  </dict>
</plist>
