<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f363</key>
    <string>u1f363.glif</string>
    <key>u1f370</key>
    <string>u1f370.glif</string>
    <key>u1f468_1f3fb_200d_1f4bb</key>
    <string>u1f468_1f3fb_200d_1f4bb.glif</string>
    <key>u1f468_1f3fc_200d_1f4bb</key>
    <string>u1f468_1f3fc_200d_1f4bb.glif</string>
    <key>u1f468_1f3fd_200d_1f4bb</key>
    <string>u1f468_1f3fd_200d_1f4bb.glif</string>
    <key>u1f468_1f3fe_200d_1f4bb</key>
    <string>u1f468_1f3fe_200d_1f4bb.glif</string>
    <key>u1f468_1f3ff_200d_1f4bb</key>
    <string>u1f468_1f3ff_200d_1f4bb.glif</string>
    <key>u1f468_200d_1f4bb</key>
    <string>u1f468_200d_1f4bb.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f4e6</key>
    <string>u1f4e6.glif</string>
    <key>u1f529</key>
    <string>u1f529.glif</string>
    <key>u1f52c</key>
    <string>u1f52c.glif</string>
    <key>u1f6b5</key>
    <string>u1f6b5.glif</string>
    <key>u1f6b5_1f3fb</key>
    <string>u1f6b5_1f3fb.glif</string>
    <key>u1f6b5_1f3fb_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fb_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3fc</key>
    <string>u1f6b5_1f3fc.glif</string>
    <key>u1f6b5_1f3fc_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fc_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3fd</key>
    <string>u1f6b5_1f3fd.glif</string>
    <key>u1f6b5_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fd_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3fe</key>
    <string>u1f6b5_1f3fe.glif</string>
    <key>u1f6b5_1f3fe_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fe_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3ff</key>
    <string>u1f6b5_1f3ff.glif</string>
    <key>u1f6b5_1f3ff_200d_2640_fe0f</key>
    <string>u1f6b5_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3ff_200d_2642_fe0f</key>
    <string>u1f6b5_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f6b5_200d_2640_fe0f</key>
    <string>u1f6b5_200d_2640_fe0f.glif</string>
    <key>u1f6b5_200d_2642_fe0f</key>
    <string>u1f6b5_200d_2642_fe0f.glif</string>
    <key>u1f95b</key>
    <string>u1f95b.glif</string>
    <key>u1f99d</key>
    <string>u1f99d.glif</string>
    <key>u1f9aa</key>
    <string>u1f9aa.glif</string>
    <key>u1f9d1_1f3fb_200d_1f4bb</key>
    <string>u1f9d1_1f3fb_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3fc_200d_1f4bb</key>
    <string>u1f9d1_1f3fc_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3fd_200d_1f4bb</key>
    <string>u1f9d1_1f3fd_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3fe_200d_1f4bb</key>
    <string>u1f9d1_1f3fe_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3ff_200d_1f4bb</key>
    <string>u1f9d1_1f3ff_200d_1f4bb.glif</string>
    <key>u1f9d1_200d_1f4bb</key>
    <string>u1f9d1_200d_1f4bb.glif</string>
  </dict>
</plist>
