<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f0_1f1ec</key>
    <string>u1f1f0_1f1ec.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f5_1f1f2</key>
    <string>u1f1f5_1f1f2.glif</string>
    <key>u1f315</key>
    <string>u1f315.glif</string>
    <key>u1f319</key>
    <string>u1f319.glif</string>
    <key>u1f31b</key>
    <string>u1f31b.glif</string>
    <key>u1f31c</key>
    <string>u1f31c.glif</string>
    <key>u1f31d</key>
    <string>u1f31d.glif</string>
    <key>u1f31e</key>
    <string>u1f31e.glif</string>
    <key>u1f355</key>
    <string>u1f355.glif</string>
    <key>u1f360</key>
    <string>u1f360.glif</string>
    <key>u1f37a</key>
    <string>u1f37a.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f391</key>
    <string>u1f391.glif</string>
    <key>u1f397</key>
    <string>u1f397.glif</string>
    <key>u1f3a0</key>
    <string>u1f3a0.glif</string>
    <key>u1f3c6</key>
    <string>u1f3c6.glif</string>
    <key>u1f3d8</key>
    <string>u1f3d8.glif</string>
    <key>u1f3dc</key>
    <string>u1f3dc.glif</string>
    <key>u1f410</key>
    <string>u1f410.glif</string>
    <key>u1f41d</key>
    <string>u1f41d.glif</string>
    <key>u1f420</key>
    <string>u1f420.glif</string>
    <key>u1f423</key>
    <string>u1f423.glif</string>
    <key>u1f425</key>
    <string>u1f425.glif</string>
    <key>u1f525</key>
    <string>u1f525.glif</string>
    <key>u1f531</key>
    <string>u1f531.glif</string>
    <key>u1f58a</key>
    <string>u1f58a.glif</string>
    <key>u1f695</key>
    <string>u1f695.glif</string>
    <key>u1f696</key>
    <string>u1f696.glif</string>
    <key>u1f69a</key>
    <string>u1f69a.glif</string>
    <key>u1f69b</key>
    <string>u1f69b.glif</string>
    <key>u1f91d</key>
    <string>u1f91d.glif</string>
    <key>u1f981</key>
    <string>u1f981.glif</string>
    <key>u1f9fd</key>
    <string>u1f9fd.glif</string>
    <key>u26fa</key>
    <string>u26fa.glif</string>
    <key>u2728</key>
    <string>u2728.glif</string>
  </dict>
</plist>
