<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f327</key>
    <string>u1f327.glif</string>
    <key>u1f328</key>
    <string>u1f328.glif</string>
    <key>u1f365</key>
    <string>u1f365.glif</string>
    <key>u1f37d</key>
    <string>u1f37d.glif</string>
    <key>u1f37f</key>
    <string>u1f37f.glif</string>
    <key>u1f3a2</key>
    <string>u1f3a2.glif</string>
    <key>u1f3bf</key>
    <string>u1f3bf.glif</string>
    <key>u1f414</key>
    <string>u1f414.glif</string>
    <key>u1f468_1f3fb_200d_1f373</key>
    <string>u1f468_1f3fb_200d_1f373.glif</string>
    <key>u1f468_1f3fb_200d_1f680</key>
    <string>u1f468_1f3fb_200d_1f680.glif</string>
    <key>u1f468_1f3fb_200d_2708_fe0f</key>
    <string>u1f468_1f3fb_200d_2708_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_1f373</key>
    <string>u1f468_1f3fc_200d_1f373.glif</string>
    <key>u1f468_1f3fc_200d_1f680</key>
    <string>u1f468_1f3fc_200d_1f680.glif</string>
    <key>u1f468_1f3fc_200d_2708_fe0f</key>
    <string>u1f468_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f468_1f3fd_200d_1f373</key>
    <string>u1f468_1f3fd_200d_1f373.glif</string>
    <key>u1f468_1f3fd_200d_1f680</key>
    <string>u1f468_1f3fd_200d_1f680.glif</string>
    <key>u1f468_1f3fd_200d_2708_fe0f</key>
    <string>u1f468_1f3fd_200d_2708_fe0f.glif</string>
    <key>u1f468_1f3fe_200d_1f373</key>
    <string>u1f468_1f3fe_200d_1f373.glif</string>
    <key>u1f468_1f3fe_200d_1f680</key>
    <string>u1f468_1f3fe_200d_1f680.glif</string>
    <key>u1f468_1f3fe_200d_2708_fe0f</key>
    <string>u1f468_1f3fe_200d_2708_fe0f.glif</string>
    <key>u1f468_1f3ff_200d_1f373</key>
    <string>u1f468_1f3ff_200d_1f373.glif</string>
    <key>u1f468_1f3ff_200d_1f680</key>
    <string>u1f468_1f3ff_200d_1f680.glif</string>
    <key>u1f468_1f3ff_200d_2708_fe0f</key>
    <string>u1f468_1f3ff_200d_2708_fe0f.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f468_200d_1f680</key>
    <string>u1f468_200d_1f680.glif</string>
    <key>u1f468_200d_2708_fe0f</key>
    <string>u1f468_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fb_200d_1f373</key>
    <string>u1f469_1f3fb_200d_1f373.glif</string>
    <key>u1f469_1f3fb_200d_1f680</key>
    <string>u1f469_1f3fb_200d_1f680.glif</string>
    <key>u1f469_1f3fb_200d_1f9b3</key>
    <string>u1f469_1f3fb_200d_1f9b3.glif</string>
    <key>u1f469_1f3fb_200d_2708_fe0f</key>
    <string>u1f469_1f3fb_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_1f373</key>
    <string>u1f469_1f3fc_200d_1f373.glif</string>
    <key>u1f469_1f3fc_200d_1f680</key>
    <string>u1f469_1f3fc_200d_1f680.glif</string>
    <key>u1f469_1f3fc_200d_1f9b3</key>
    <string>u1f469_1f3fc_200d_1f9b3.glif</string>
    <key>u1f469_1f3fc_200d_2708_fe0f</key>
    <string>u1f469_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_1f373</key>
    <string>u1f469_1f3fd_200d_1f373.glif</string>
    <key>u1f469_1f3fd_200d_1f680</key>
    <string>u1f469_1f3fd_200d_1f680.glif</string>
    <key>u1f469_1f3fd_200d_1f9b3</key>
    <string>u1f469_1f3fd_200d_1f9b3.glif</string>
    <key>u1f469_1f3fd_200d_2708_fe0f</key>
    <string>u1f469_1f3fd_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fe_200d_1f373</key>
    <string>u1f469_1f3fe_200d_1f373.glif</string>
    <key>u1f469_1f3fe_200d_1f680</key>
    <string>u1f469_1f3fe_200d_1f680.glif</string>
    <key>u1f469_1f3fe_200d_1f9b3</key>
    <string>u1f469_1f3fe_200d_1f9b3.glif</string>
    <key>u1f469_1f3fe_200d_2708_fe0f</key>
    <string>u1f469_1f3fe_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_1f373</key>
    <string>u1f469_1f3ff_200d_1f373.glif</string>
    <key>u1f469_1f3ff_200d_1f9b3</key>
    <string>u1f469_1f3ff_200d_1f9b3.glif</string>
    <key>u1f469_1f3ff_200d_2708_fe0f</key>
    <string>u1f469_1f3ff_200d_2708_fe0f.glif</string>
    <key>u1f469_200d_1f373</key>
    <string>u1f469_200d_1f373.glif</string>
    <key>u1f469_200d_1f680</key>
    <string>u1f469_200d_1f680.glif</string>
    <key>u1f469_200d_1f9b3</key>
    <string>u1f469_200d_1f9b3.glif</string>
    <key>u1f469_200d_2708_fe0f</key>
    <string>u1f469_200d_2708_fe0f.glif</string>
    <key>u1f47b</key>
    <string>u1f47b.glif</string>
    <key>u1f47c</key>
    <string>u1f47c.glif</string>
    <key>u1f47c_1f3fb</key>
    <string>u1f47c_1f3fb.glif</string>
    <key>u1f47c_1f3fc</key>
    <string>u1f47c_1f3fc.glif</string>
    <key>u1f47c_1f3fd</key>
    <string>u1f47c_1f3fd.glif</string>
    <key>u1f47c_1f3fe</key>
    <string>u1f47c_1f3fe.glif</string>
    <key>u1f47c_1f3ff</key>
    <string>u1f47c_1f3ff.glif</string>
    <key>u1f4c4</key>
    <string>u1f4c4.glif</string>
    <key>u1f4d1</key>
    <string>u1f4d1.glif</string>
    <key>u1f5ef</key>
    <string>u1f5ef.glif</string>
    <key>u1f693</key>
    <string>u1f693.glif</string>
    <key>u1f6f7</key>
    <string>u1f6f7.glif</string>
    <key>u1f94b</key>
    <string>u1f94b.glif</string>
    <key>u1f961</key>
    <string>u1f961.glif</string>
    <key>u1f993</key>
    <string>u1f993.glif</string>
    <key>u1f9a2</key>
    <string>u1f9a2.glif</string>
    <key>u1f9b7</key>
    <string>u1f9b7.glif</string>
    <key>u1f9d1_1f3fb_200d_1f373</key>
    <string>u1f9d1_1f3fb_200d_1f373.glif</string>
    <key>u1f9d1_1f3fb_200d_1f680</key>
    <string>u1f9d1_1f3fb_200d_1f680.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9b3</key>
    <string>u1f9d1_1f3fb_200d_1f9b3.glif</string>
    <key>u1f9d1_1f3fb_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2708_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f373</key>
    <string>u1f9d1_1f3fc_200d_1f373.glif</string>
    <key>u1f9d1_1f3fc_200d_1f680</key>
    <string>u1f9d1_1f3fc_200d_1f680.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9b3</key>
    <string>u1f9d1_1f3fc_200d_1f9b3.glif</string>
    <key>u1f9d1_1f3fc_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_1f373</key>
    <string>u1f9d1_1f3fd_200d_1f373.glif</string>
    <key>u1f9d1_1f3fd_200d_1f680</key>
    <string>u1f9d1_1f3fd_200d_1f680.glif</string>
    <key>u1f9d1_1f3fd_200d_1f9b3</key>
    <string>u1f9d1_1f3fd_200d_1f9b3.glif</string>
    <key>u1f9d1_1f3fd_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2708_fe0f.glif</string>
    <key>u1f9d1_1f3fe_200d_1f373</key>
    <string>u1f9d1_1f3fe_200d_1f373.glif</string>
    <key>u1f9d1_1f3fe_200d_1f680</key>
    <string>u1f9d1_1f3fe_200d_1f680.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9b3</key>
    <string>u1f9d1_1f3fe_200d_1f9b3.glif</string>
    <key>u1f9d1_1f3fe_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fe_200d_2708_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f373</key>
    <string>u1f9d1_1f3ff_200d_1f373.glif</string>
    <key>u1f9d1_1f3ff_200d_1f680</key>
    <string>u1f9d1_1f3ff_200d_1f680.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9b3</key>
    <string>u1f9d1_1f3ff_200d_1f9b3.glif</string>
    <key>u1f9d1_1f3ff_200d_2708_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2708_fe0f.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9d1_200d_1f680</key>
    <string>u1f9d1_200d_1f680.glif</string>
    <key>u1f9d1_200d_1f9b3</key>
    <string>u1f9d1_200d_1f9b3.glif</string>
    <key>u1f9d1_200d_2708_fe0f</key>
    <string>u1f9d1_200d_2708_fe0f.glif</string>
    <key>u1f9d6</key>
    <string>u1f9d6.glif</string>
    <key>u1f9d6_1f3fb</key>
    <string>u1f9d6_1f3fb.glif</string>
    <key>u1f9d6_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fc</key>
    <string>u1f9d6_1f3fc.glif</string>
    <key>u1f9d6_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fd</key>
    <string>u1f9d6_1f3fd.glif</string>
    <key>u1f9d6_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fe</key>
    <string>u1f9d6_1f3fe.glif</string>
    <key>u1f9d6_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3ff</key>
    <string>u1f9d6_1f3ff.glif</string>
    <key>u1f9d6_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d6_200d_2640_fe0f</key>
    <string>u1f9d6_200d_2640_fe0f.glif</string>
    <key>u1f9d6_200d_2642_fe0f</key>
    <string>u1f9d6_200d_2642_fe0f.glif</string>
    <key>u1f9fb</key>
    <string>u1f9fb.glif</string>
    <key>u2603</key>
    <string>u2603.glif</string>
    <key>u26be</key>
    <string>u26be.glif</string>
    <key>u26c4</key>
    <string>u26c4.glif</string>
    <key>u26f7</key>
    <string>u26f7.glif</string>
    <key>u26f7_1f3fb</key>
    <string>u26f7_1f3fb.glif</string>
    <key>u26f7_1f3fc</key>
    <string>u26f7_1f3fc.glif</string>
    <key>u26f7_1f3fd</key>
    <string>u26f7_1f3fd.glif</string>
    <key>u26f7_1f3fe</key>
    <string>u26f7_1f3fe.glif</string>
    <key>u26f7_1f3ff</key>
    <string>u26f7_1f3ff.glif</string>
  </dict>
</plist>
