<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3a5</key>
    <string>u1f3a5.glif</string>
    <key>u1f3b3</key>
    <string>u1f3b3.glif</string>
    <key>u1f3c1</key>
    <string>u1f3c1.glif</string>
    <key>u1f3f4</key>
    <string>u1f3f4.glif</string>
    <key>u1f577</key>
    <string>u1f577.glif</string>
    <key>u1f5dd</key>
    <string>u1f5dd.glif</string>
    <key>u1f983</key>
    <string>u1f983.glif</string>
  </dict>
</plist>
