<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f385</key>
    <string>u1f385.glif</string>
    <key>u1f467</key>
    <string>u1f467.glif</string>
    <key>u1f468_200d_1f3a8</key>
    <string>u1f468_200d_1f3a8.glif</string>
    <key>u1f468_200d_1f466</key>
    <string>u1f468_200d_1f466.glif</string>
    <key>u1f468_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f467</key>
    <string>u1f468_200d_1f467.glif</string>
    <key>u1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f467_200d_1f467.glif</string>
    <key>u1f468_200d_1f468_200d_1f466</key>
    <string>u1f468_200d_1f468_200d_1f466.glif</string>
    <key>u1f468_200d_1f468_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f468_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f468_200d_1f467</key>
    <string>u1f468_200d_1f468_200d_1f467.glif</string>
    <key>u1f468_200d_1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f468_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f468_200d_1f467_200d_1f467.glif</string>
    <key>u1f468_200d_1f4bb</key>
    <string>u1f468_200d_1f4bb.glif</string>
    <key>u1f468_200d_1f527</key>
    <string>u1f468_200d_1f527.glif</string>
    <key>u1f468_200d_1f52c</key>
    <string>u1f468_200d_1f52c.glif</string>
    <key>u1f468_200d_2695_fe0f</key>
    <string>u1f468_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_1f373</key>
    <string>u1f469_200d_1f373.glif</string>
    <key>u1f469_200d_1f3a8</key>
    <string>u1f469_200d_1f3a8.glif</string>
    <key>u1f469_200d_2708_fe0f</key>
    <string>u1f469_200d_2708_fe0f.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f468</key>
    <string>u1f469_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f469</key>
    <string>u1f469_200d_2764_fe0f_200d_1f469.glif</string>
    <key>u1f46b</key>
    <string>u1f46b.glif</string>
    <key>u1f46d</key>
    <string>u1f46d.glif</string>
    <key>u1f46e_200d_2642_fe0f</key>
    <string>u1f46e_200d_2642_fe0f.glif</string>
    <key>u1f46f</key>
    <string>u1f46f.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f470</key>
    <string>u1f470.glif</string>
    <key>u1f471_200d_2640_fe0f</key>
    <string>u1f471_200d_2640_fe0f.glif</string>
    <key>u1f473_200d_2642_fe0f</key>
    <string>u1f473_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2642_fe0f</key>
    <string>u1f477_200d_2642_fe0f.glif</string>
    <key>u1f481</key>
    <string>u1f481.glif</string>
    <key>u1f481_200d_2640_fe0f</key>
    <string>u1f481_200d_2640_fe0f.glif</string>
    <key>u1f482_200d_2640_fe0f</key>
    <string>u1f482_200d_2640_fe0f.glif</string>
    <key>u1f486</key>
    <string>u1f486.glif</string>
    <key>u1f486_200d_2642_fe0f</key>
    <string>u1f486_200d_2642_fe0f.glif</string>
    <key>u1f491</key>
    <string>u1f491.glif</string>
    <key>u1f646</key>
    <string>u1f646.glif</string>
    <key>u1f646_200d_2642_fe0f</key>
    <string>u1f646_200d_2642_fe0f.glif</string>
    <key>u1f647</key>
    <string>u1f647.glif</string>
    <key>u1f647_200d_2640_fe0f</key>
    <string>u1f647_200d_2640_fe0f.glif</string>
    <key>u1f647_200d_2642_fe0f</key>
    <string>u1f647_200d_2642_fe0f.glif</string>
    <key>u1f64b_200d_2640_fe0f</key>
    <string>u1f64b_200d_2640_fe0f.glif</string>
    <key>u1f64b_200d_2642_fe0f</key>
    <string>u1f64b_200d_2642_fe0f.glif</string>
    <key>u1f64c</key>
    <string>u1f64c.glif</string>
    <key>u1f64d</key>
    <string>u1f64d.glif</string>
    <key>u1f64d_200d_2640_fe0f</key>
    <string>u1f64d_200d_2640_fe0f.glif</string>
    <key>u1f64d_200d_2642_fe0f</key>
    <string>u1f64d_200d_2642_fe0f.glif</string>
    <key>u1f64e</key>
    <string>u1f64e.glif</string>
    <key>u1f64e_200d_2640_fe0f</key>
    <string>u1f64e_200d_2640_fe0f.glif</string>
    <key>u1f64f</key>
    <string>u1f64f.glif</string>
    <key>u1f6b6_200d_2640_fe0f</key>
    <string>u1f6b6_200d_2640_fe0f.glif</string>
    <key>u1f6b6_200d_2642_fe0f</key>
    <string>u1f6b6_200d_2642_fe0f.glif</string>
    <key>u1f918</key>
    <string>u1f918.glif</string>
    <key>u1f91d</key>
    <string>u1f91d.glif</string>
    <key>u1f926</key>
    <string>u1f926.glif</string>
    <key>u1f931</key>
    <string>u1f931.glif</string>
    <key>u1f932</key>
    <string>u1f932.glif</string>
    <key>u1f936</key>
    <string>u1f936.glif</string>
    <key>u1f937_200d_2642_fe0f</key>
    <string>u1f937_200d_2642_fe0f.glif</string>
    <key>u1f938</key>
    <string>u1f938.glif</string>
    <key>u1f938_200d_2640_fe0f</key>
    <string>u1f938_200d_2640_fe0f.glif</string>
    <key>u1f938_200d_2642_fe0f</key>
    <string>u1f938_200d_2642_fe0f.glif</string>
    <key>u1f939_200d_2642_fe0f</key>
    <string>u1f939_200d_2642_fe0f.glif</string>
    <key>u1f93e</key>
    <string>u1f93e.glif</string>
    <key>u1f93e_200d_2640_fe0f</key>
    <string>u1f93e_200d_2640_fe0f.glif</string>
    <key>u1f93e_200d_2642_fe0f</key>
    <string>u1f93e_200d_2642_fe0f.glif</string>
    <key>u1f9b8</key>
    <string>u1f9b8.glif</string>
    <key>u1f9b8_200d_2642_fe0f</key>
    <string>u1f9b8_200d_2642_fe0f.glif</string>
    <key>u1f9b9_200d_2642_fe0f</key>
    <string>u1f9b9_200d_2642_fe0f.glif</string>
    <key>u1f9cd_200d_2642_fe0f</key>
    <string>u1f9cd_200d_2642_fe0f.glif</string>
    <key>u1f9cf_200d_2642_fe0f</key>
    <string>u1f9cf_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u1f9d4</key>
    <string>u1f9d4.glif</string>
    <key>u1f9d5</key>
    <string>u1f9d5.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d9_200d_2640_fe0f</key>
    <string>u1f9d9_200d_2640_fe0f.glif</string>
    <key>u1f9d9_200d_2642_fe0f</key>
    <string>u1f9d9_200d_2642_fe0f.glif</string>
    <key>u1f9da</key>
    <string>u1f9da.glif</string>
    <key>u1f9da_200d_2640_fe0f</key>
    <string>u1f9da_200d_2640_fe0f.glif</string>
    <key>u1f9da_200d_2642_fe0f</key>
    <string>u1f9da_200d_2642_fe0f.glif</string>
    <key>u1f9db</key>
    <string>u1f9db.glif</string>
    <key>u1f9dd_200d_2642_fe0f</key>
    <string>u1f9dd_200d_2642_fe0f.glif</string>
  </dict>
</plist>
