<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f369</key>
    <string>u1f369.glif</string>
    <key>u1f376</key>
    <string>u1f376.glif</string>
    <key>u1f973</key>
    <string>u1f973.glif</string>
    <key>u1f9de</key>
    <string>u1f9de.glif</string>
    <key>u1f9de_200d_2640_fe0f</key>
    <string>u1f9de_200d_2640_fe0f.glif</string>
  </dict>
</plist>
