<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f371</key>
    <string>u1f371.glif</string>
    <key>u1f391</key>
    <string>u1f391.glif</string>
    <key>u1f3b2</key>
    <string>u1f3b2.glif</string>
    <key>u1f3db</key>
    <string>u1f3db.glif</string>
    <key>u1f3e5</key>
    <string>u1f3e5.glif</string>
    <key>u1f3f3</key>
    <string>u1f3f3.glif</string>
    <key>u1f423</key>
    <string>u1f423.glif</string>
    <key>u1f469_1f3fb_200d_1f9b3</key>
    <string>u1f469_1f3fb_200d_1f9b3.glif</string>
    <key>u1f469_1f3fc_200d_1f9b3</key>
    <string>u1f469_1f3fc_200d_1f9b3.glif</string>
    <key>u1f469_1f3fd_200d_1f9b3</key>
    <string>u1f469_1f3fd_200d_1f9b3.glif</string>
    <key>u1f469_1f3fe_200d_1f9b3</key>
    <string>u1f469_1f3fe_200d_1f9b3.glif</string>
    <key>u1f469_1f3ff_200d_1f9b3</key>
    <string>u1f469_1f3ff_200d_1f9b3.glif</string>
    <key>u1f469_200d_1f9b3</key>
    <string>u1f469_200d_1f9b3.glif</string>
    <key>u1f4e8</key>
    <string>u1f4e8.glif</string>
    <key>u1f4ec</key>
    <string>u1f4ec.glif</string>
    <key>u1f4ee</key>
    <string>u1f4ee.glif</string>
    <key>u1f516</key>
    <string>u1f516.glif</string>
    <key>u1f529</key>
    <string>u1f529.glif</string>
    <key>u1f693</key>
    <string>u1f693.glif</string>
    <key>u1f94a</key>
    <string>u1f94a.glif</string>
    <key>u1f9a2</key>
    <string>u1f9a2.glif</string>
    <key>u1f9fb</key>
    <string>u1f9fb.glif</string>
  </dict>
</plist>
