<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ee_1f1f7</key>
    <string>u1f1ee_1f1f7.glif</string>
    <key>u1f38c</key>
    <string>u1f38c.glif</string>
    <key>u1f6f5</key>
    <string>u1f6f5.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f980</key>
    <string>u1f980.glif</string>
    <key>u1f99e</key>
    <string>u1f99e.glif</string>
    <key>u1f9bf</key>
    <string>u1f9bf.glif</string>
  </dict>
</plist>
