<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f39f</key>
    <string>u1f39f.glif</string>
    <key>u1f400</key>
    <string>u1f400.glif</string>
    <key>u1f401</key>
    <string>u1f401.glif</string>
    <key>u1f484</key>
    <string>u1f484.glif</string>
    <key>u1f6b2</key>
    <string>u1f6b2.glif</string>
    <key>u1f6ba</key>
    <string>u1f6ba.glif</string>
    <key>u1f975</key>
    <string>u1f975.glif</string>
    <key>u1f991</key>
    <string>u1f991.glif</string>
    <key>u1f9a9</key>
    <string>u1f9a9.glif</string>
    <key>u1f9e0</key>
    <string>u1f9e0.glif</string>
    <key>u2640</key>
    <string>u2640.glif</string>
    <key>u26f4</key>
    <string>u26f4.glif</string>
  </dict>
</plist>
