<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f170</key>
    <string>u1f170.glif</string>
    <key>u1f171</key>
    <string>u1f171.glif</string>
    <key>u1f17e</key>
    <string>u1f17e.glif</string>
    <key>u1f18e</key>
    <string>u1f18e.glif</string>
    <key>u1f191</key>
    <string>u1f191.glif</string>
    <key>u1f198</key>
    <string>u1f198.glif</string>
    <key>u1f1ec_1f1fa</key>
    <string>u1f1ec_1f1fa.glif</string>
    <key>u1f1f2_1f1e9</key>
    <string>u1f1f2_1f1e9.glif</string>
    <key>u1f1f2_1f1fe</key>
    <string>u1f1f2_1f1fe.glif</string>
    <key>u1f232</key>
    <string>u1f232.glif</string>
    <key>u1f234</key>
    <string>u1f234.glif</string>
    <key>u1f235</key>
    <string>u1f235.glif</string>
    <key>u1f239</key>
    <string>u1f239.glif</string>
    <key>u1f250</key>
    <string>u1f250.glif</string>
    <key>u1f341</key>
    <string>u1f341.glif</string>
    <key>u1f345</key>
    <string>u1f345.glif</string>
    <key>u1f34e</key>
    <string>u1f34e.glif</string>
    <key>u1f35a</key>
    <string>u1f35a.glif</string>
    <key>u1f36c</key>
    <string>u1f36c.glif</string>
    <key>u1f380</key>
    <string>u1f380.glif</string>
    <key>u1f389</key>
    <string>u1f389.glif</string>
    <key>u1f3a0</key>
    <string>u1f3a0.glif</string>
    <key>u1f3aa</key>
    <string>u1f3aa.glif</string>
    <key>u1f3b4</key>
    <string>u1f3b4.glif</string>
    <key>u1f3d3</key>
    <string>u1f3d3.glif</string>
    <key>u1f40d</key>
    <string>u1f40d.glif</string>
    <key>u1f436</key>
    <string>u1f436.glif</string>
    <key>u1f482</key>
    <string>u1f482.glif</string>
    <key>u1f482_1f3fb</key>
    <string>u1f482_1f3fb.glif</string>
    <key>u1f482_1f3fb_200d_2640_fe0f</key>
    <string>u1f482_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fb_200d_2642_fe0f</key>
    <string>u1f482_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3fc</key>
    <string>u1f482_1f3fc.glif</string>
    <key>u1f482_1f3fc_200d_2640_fe0f</key>
    <string>u1f482_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fc_200d_2642_fe0f</key>
    <string>u1f482_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3fd</key>
    <string>u1f482_1f3fd.glif</string>
    <key>u1f482_1f3fd_200d_2640_fe0f</key>
    <string>u1f482_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fd_200d_2642_fe0f</key>
    <string>u1f482_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3fe</key>
    <string>u1f482_1f3fe.glif</string>
    <key>u1f482_1f3fe_200d_2640_fe0f</key>
    <string>u1f482_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fe_200d_2642_fe0f</key>
    <string>u1f482_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3ff</key>
    <string>u1f482_1f3ff.glif</string>
    <key>u1f482_1f3ff_200d_2640_fe0f</key>
    <string>u1f482_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3ff_200d_2642_fe0f</key>
    <string>u1f482_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f482_200d_2640_fe0f</key>
    <string>u1f482_200d_2640_fe0f.glif</string>
    <key>u1f482_200d_2642_fe0f</key>
    <string>u1f482_200d_2642_fe0f.glif</string>
    <key>u1f483</key>
    <string>u1f483.glif</string>
    <key>u1f483_1f3fb</key>
    <string>u1f483_1f3fb.glif</string>
    <key>u1f483_1f3fc</key>
    <string>u1f483_1f3fc.glif</string>
    <key>u1f483_1f3fd</key>
    <string>u1f483_1f3fd.glif</string>
    <key>u1f483_1f3fe</key>
    <string>u1f483_1f3fe.glif</string>
    <key>u1f483_1f3ff</key>
    <string>u1f483_1f3ff.glif</string>
    <key>u1f48b</key>
    <string>u1f48b.glif</string>
    <key>u1f493</key>
    <string>u1f493.glif</string>
    <key>u1f494</key>
    <string>u1f494.glif</string>
    <key>u1f495</key>
    <string>u1f495.glif</string>
    <key>u1f496</key>
    <string>u1f496.glif</string>
    <key>u1f49d</key>
    <string>u1f49d.glif</string>
    <key>u1f49f</key>
    <string>u1f49f.glif</string>
    <key>u1f4db</key>
    <string>u1f4db.glif</string>
    <key>u1f534</key>
    <string>u1f534.glif</string>
    <key>u1f58d</key>
    <string>u1f58d.glif</string>
    <key>u1f697</key>
    <string>u1f697.glif</string>
    <key>u1f69a</key>
    <string>u1f69a.glif</string>
    <key>u1f6a8</key>
    <string>u1f6a8.glif</string>
    <key>u1f6ab</key>
    <string>u1f6ab.glif</string>
    <key>u1f6d1</key>
    <string>u1f6d1.glif</string>
    <key>u1f6f3</key>
    <string>u1f6f3.glif</string>
    <key>u1f6f6</key>
    <string>u1f6f6.glif</string>
    <key>u1f7e5</key>
    <string>u1f7e5.glif</string>
    <key>u1f93e_1f3fb_200d_2640_fe0f</key>
    <string>u1f93e_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2640_fe0f</key>
    <string>u1f93e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fd_200d_2640_fe0f</key>
    <string>u1f93e_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fe_200d_2640_fe0f</key>
    <string>u1f93e_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3ff_200d_2640_fe0f</key>
    <string>u1f93e_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f93e_200d_2640_fe0f</key>
    <string>u1f93e_200d_2640_fe0f.glif</string>
    <key>u1f953</key>
    <string>u1f953.glif</string>
    <key>u1f9bd</key>
    <string>u1f9bd.glif</string>
    <key>u2668</key>
    <string>u2668.glif</string>
    <key>u26e9</key>
    <string>u26e9.glif</string>
    <key>u2702</key>
    <string>u2702.glif</string>
    <key>u274c</key>
    <string>u274c.glif</string>
    <key>u2763</key>
    <string>u2763.glif</string>
    <key>u2764</key>
    <string>u2764.glif</string>
    <key>u2b55</key>
    <string>u2b55.glif</string>
    <key>u3297</key>
    <string>u3297.glif</string>
    <key>u3299</key>
    <string>u3299.glif</string>
  </dict>
</plist>
