<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f33d</key>
    <string>u1f33d.glif</string>
    <key>u1f348</key>
    <string>u1f348.glif</string>
    <key>u1f34b</key>
    <string>u1f34b.glif</string>
    <key>u1f354</key>
    <string>u1f354.glif</string>
    <key>u1f372</key>
    <string>u1f372.glif</string>
    <key>u1f375</key>
    <string>u1f375.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f40a</key>
    <string>u1f40a.glif</string>
    <key>u1f468_1f3fb_200d_1f4bc</key>
    <string>u1f468_1f3fb_200d_1f4bc.glif</string>
    <key>u1f468_1f3fc_200d_1f4bc</key>
    <string>u1f468_1f3fc_200d_1f4bc.glif</string>
    <key>u1f468_1f3fd_200d_1f4bc</key>
    <string>u1f468_1f3fd_200d_1f4bc.glif</string>
    <key>u1f468_1f3fe_200d_1f4bc</key>
    <string>u1f468_1f3fe_200d_1f4bc.glif</string>
    <key>u1f468_1f3ff_200d_1f4bc</key>
    <string>u1f468_1f3ff_200d_1f4bc.glif</string>
    <key>u1f468_200d_1f4bc</key>
    <string>u1f468_200d_1f4bc.glif</string>
    <key>u1f469_1f3fb_200d_1f4bc</key>
    <string>u1f469_1f3fb_200d_1f4bc.glif</string>
    <key>u1f469_1f3fc_200d_1f4bc</key>
    <string>u1f469_1f3fc_200d_1f4bc.glif</string>
    <key>u1f469_1f3fd_200d_1f4bc</key>
    <string>u1f469_1f3fd_200d_1f4bc.glif</string>
    <key>u1f469_1f3fe_200d_1f4bc</key>
    <string>u1f469_1f3fe_200d_1f4bc.glif</string>
    <key>u1f469_1f3ff_200d_1f4bc</key>
    <string>u1f469_1f3ff_200d_1f4bc.glif</string>
    <key>u1f469_200d_1f4bc</key>
    <string>u1f469_200d_1f4bc.glif</string>
    <key>u1f472</key>
    <string>u1f472.glif</string>
    <key>u1f472_1f3fb</key>
    <string>u1f472_1f3fb.glif</string>
    <key>u1f472_1f3fc</key>
    <string>u1f472_1f3fc.glif</string>
    <key>u1f472_1f3fd</key>
    <string>u1f472_1f3fd.glif</string>
    <key>u1f472_1f3fe</key>
    <string>u1f472_1f3fe.glif</string>
    <key>u1f472_1f3ff</key>
    <string>u1f472_1f3ff.glif</string>
    <key>u1f4e5</key>
    <string>u1f4e5.glif</string>
    <key>u1f952</key>
    <string>u1f952.glif</string>
    <key>u1f959</key>
    <string>u1f959.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f96c</key>
    <string>u1f96c.glif</string>
    <key>u1f96d</key>
    <string>u1f96d.glif</string>
    <key>u1f98e</key>
    <string>u1f98e.glif</string>
    <key>u1f9d1_1f3fb_200d_1f4bc</key>
    <string>u1f9d1_1f3fb_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3fc_200d_1f4bc</key>
    <string>u1f9d1_1f3fc_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3fd_200d_1f4bc</key>
    <string>u1f9d1_1f3fd_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3fe_200d_1f4bc</key>
    <string>u1f9d1_1f3fe_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3ff_200d_1f4bc</key>
    <string>u1f9d1_1f3ff_200d_1f4bc.glif</string>
    <key>u1f9d1_200d_1f4bc</key>
    <string>u1f9d1_200d_1f4bc.glif</string>
    <key>u267b</key>
    <string>u267b.glif</string>
  </dict>
</plist>
