<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f32e</key>
    <string>u1f32e.glif</string>
    <key>u1f384</key>
    <string>u1f384.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f54d</key>
    <string>u1f54d.glif</string>
    <key>u1f95f</key>
    <string>u1f95f.glif</string>
  </dict>
</plist>
