<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f0cf</key>
    <string>u1f0cf.glif</string>
    <key>u1f1e9_1f1f4</key>
    <string>u1f1e9_1f1f4.glif</string>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f1f2_1f1fc</key>
    <string>u1f1f2_1f1fc.glif</string>
    <key>u1f1f5_1f1f3</key>
    <string>u1f1f5_1f1f3.glif</string>
    <key>u1f250</key>
    <string>u1f250.glif</string>
    <key>u1f321</key>
    <string>u1f321.glif</string>
    <key>u1f344</key>
    <string>u1f344.glif</string>
    <key>u1f36d</key>
    <string>u1f36d.glif</string>
    <key>u1f3b2</key>
    <string>u1f3b2.glif</string>
    <key>u1f3ca_1f3fb_200d_2640_fe0f</key>
    <string>u1f3ca_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f3ca_1f3fc_200d_2640_fe0f</key>
    <string>u1f3ca_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f3ca_1f3fd_200d_2640_fe0f</key>
    <string>u1f3ca_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f3ca_1f3fe_200d_2640_fe0f</key>
    <string>u1f3ca_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f3ca_1f3ff_200d_2640_fe0f</key>
    <string>u1f3ca_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f3ca_200d_2640_fe0f</key>
    <string>u1f3ca_200d_2640_fe0f.glif</string>
    <key>u1f3d1</key>
    <string>u1f3d1.glif</string>
    <key>u1f413</key>
    <string>u1f413.glif</string>
    <key>u1f426</key>
    <string>u1f426.glif</string>
    <key>u1f42f</key>
    <string>u1f42f.glif</string>
    <key>u1f454</key>
    <string>u1f454.glif</string>
    <key>u1f460</key>
    <string>u1f460.glif</string>
    <key>u1f468_1f3fb_200d_1f9af</key>
    <string>u1f468_1f3fb_200d_1f9af.glif</string>
    <key>u1f468_1f3fc_200d_1f9af</key>
    <string>u1f468_1f3fc_200d_1f9af.glif</string>
    <key>u1f468_1f3fd_200d_1f9af</key>
    <string>u1f468_1f3fd_200d_1f9af.glif</string>
    <key>u1f468_1f3fe_200d_1f9af</key>
    <string>u1f468_1f3fe_200d_1f9af.glif</string>
    <key>u1f468_1f3ff_200d_1f9af</key>
    <string>u1f468_1f3ff_200d_1f9af.glif</string>
    <key>u1f468_200d_1f9af</key>
    <string>u1f468_200d_1f9af.glif</string>
    <key>u1f469_1f3fb_200d_1f9af</key>
    <string>u1f469_1f3fb_200d_1f9af.glif</string>
    <key>u1f469_1f3fc_200d_1f9af</key>
    <string>u1f469_1f3fc_200d_1f9af.glif</string>
    <key>u1f469_1f3fd_200d_1f9af</key>
    <string>u1f469_1f3fd_200d_1f9af.glif</string>
    <key>u1f469_1f3fe_200d_1f9af</key>
    <string>u1f469_1f3fe_200d_1f9af.glif</string>
    <key>u1f469_1f3ff_200d_1f9af</key>
    <string>u1f469_1f3ff_200d_1f9af.glif</string>
    <key>u1f469_200d_1f9af</key>
    <string>u1f469_200d_1f9af.glif</string>
    <key>u1f472</key>
    <string>u1f472.glif</string>
    <key>u1f472_1f3fb</key>
    <string>u1f472_1f3fb.glif</string>
    <key>u1f472_1f3fc</key>
    <string>u1f472_1f3fc.glif</string>
    <key>u1f472_1f3fd</key>
    <string>u1f472_1f3fd.glif</string>
    <key>u1f472_1f3fe</key>
    <string>u1f472_1f3fe.glif</string>
    <key>u1f472_1f3ff</key>
    <string>u1f472_1f3ff.glif</string>
    <key>u1f479</key>
    <string>u1f479.glif</string>
    <key>u1f484</key>
    <string>u1f484.glif</string>
    <key>u1f485</key>
    <string>u1f485.glif</string>
    <key>u1f485_1f3fb</key>
    <string>u1f485_1f3fb.glif</string>
    <key>u1f485_1f3fc</key>
    <string>u1f485_1f3fc.glif</string>
    <key>u1f485_1f3fd</key>
    <string>u1f485_1f3fd.glif</string>
    <key>u1f485_1f3fe</key>
    <string>u1f485_1f3fe.glif</string>
    <key>u1f485_1f3ff</key>
    <string>u1f485_1f3ff.glif</string>
    <key>u1f494</key>
    <string>u1f494.glif</string>
    <key>u1f498</key>
    <string>u1f498.glif</string>
    <key>u1f49e</key>
    <string>u1f49e.glif</string>
    <key>u1f4cc</key>
    <string>u1f4cc.glif</string>
    <key>u1f4ee</key>
    <string>u1f4ee.glif</string>
    <key>u1f5fc</key>
    <string>u1f5fc.glif</string>
    <key>u1f692</key>
    <string>u1f692.glif</string>
    <key>u1f6a4</key>
    <string>u1f6a4.glif</string>
    <key>u1f6a9</key>
    <string>u1f6a9.glif</string>
    <key>u1f6cd</key>
    <string>u1f6cd.glif</string>
    <key>u1f6f4</key>
    <string>u1f6f4.glif</string>
    <key>u1f6f9</key>
    <string>u1f6f9.glif</string>
    <key>u1f93d_1f3fb_200d_2640_fe0f</key>
    <string>u1f93d_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f93d_1f3fc_200d_2640_fe0f</key>
    <string>u1f93d_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93d_1f3fd_200d_2640_fe0f</key>
    <string>u1f93d_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f93d_1f3fe_200d_2640_fe0f</key>
    <string>u1f93d_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f93d_1f3ff_200d_2640_fe0f</key>
    <string>u1f93d_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f93d_200d_2640_fe0f</key>
    <string>u1f93d_200d_2640_fe0f.glif</string>
    <key>u1f990</key>
    <string>u1f990.glif</string>
    <key>u1f9af</key>
    <string>u1f9af.glif</string>
    <key>u1f9bd</key>
    <string>u1f9bd.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9af</key>
    <string>u1f9d1_1f3fb_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9af</key>
    <string>u1f9d1_1f3fc_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fd_200d_1f9af</key>
    <string>u1f9d1_1f3fd_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9af</key>
    <string>u1f9d1_1f3fe_200d_1f9af.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9af</key>
    <string>u1f9d1_1f3ff_200d_1f9af.glif</string>
    <key>u1f9d1_200d_1f9af</key>
    <string>u1f9d1_200d_1f9af.glif</string>
    <key>u1f9e0</key>
    <string>u1f9e0.glif</string>
    <key>u1f9e3</key>
    <string>u1f9e3.glif</string>
    <key>u1f9ef</key>
    <string>u1f9ef.glif</string>
    <key>u1f9f0</key>
    <string>u1f9f0.glif</string>
    <key>u260e</key>
    <string>u260e.glif</string>
    <key>u2668</key>
    <string>u2668.glif</string>
    <key>u26e9</key>
    <string>u26e9.glif</string>
  </dict>
</plist>
