<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ec_1f1ee</key>
    <string>u1f1ec_1f1ee.glif</string>
    <key>u1f1ec_1f1f6</key>
    <string>u1f1ec_1f1f6.glif</string>
    <key>u1f385_1f3ff</key>
    <string>u1f385_1f3ff.glif</string>
    <key>u1f3aa</key>
    <string>u1f3aa.glif</string>
    <key>u1f3af</key>
    <string>u1f3af.glif</string>
    <key>u1f3f4_e0067_e0062_e0077_e006c_e0073_e007f</key>
    <string>u1f3f4_e0067_e0062_e0077_e006c_e0073_e007f.glif</string>
    <key>u1f41f</key>
    <string>u1f41f.glif</string>
    <key>u1f469_1f3ff_200d_1f9b1</key>
    <string>u1f469_1f3ff_200d_1f9b1.glif</string>
    <key>u1f473_1f3ff_200d_2642_fe0f</key>
    <string>u1f473_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f645_1f3ff</key>
    <string>u1f645_1f3ff.glif</string>
    <key>u1f645_1f3ff_200d_2642_fe0f</key>
    <string>u1f645_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3ff</key>
    <string>u1f647_1f3ff.glif</string>
    <key>u1f647_1f3ff_200d_2640_fe0f</key>
    <string>u1f647_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f64e_1f3ff_200d_2642_fe0f</key>
    <string>u1f64e_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f680</key>
    <string>u1f680.glif</string>
    <key>u1f68c</key>
    <string>u1f68c.glif</string>
    <key>u1f9d9_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d9_1f3ff_200d_2642_fe0f.glif</string>
  </dict>
</plist>
