<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f54d</key>
    <string>u1f54d.glif</string>
    <key>u1f687</key>
    <string>u1f687.glif</string>
    <key>u1f69d</key>
    <string>u1f69d.glif</string>
    <key>u1f915</key>
    <string>u1f915.glif</string>
    <key>u1f9d3</key>
    <string>u1f9d3.glif</string>
    <key>u1f9d3_1f3fb</key>
    <string>u1f9d3_1f3fb.glif</string>
    <key>u1f9d3_1f3fc</key>
    <string>u1f9d3_1f3fc.glif</string>
    <key>u1f9d3_1f3fd</key>
    <string>u1f9d3_1f3fd.glif</string>
    <key>u1f9d3_1f3fe</key>
    <string>u1f9d3_1f3fe.glif</string>
    <key>u1f9d3_1f3ff</key>
    <string>u1f9d3_1f3ff.glif</string>
    <key>u1f9d9</key>
    <string>u1f9d9.glif</string>
    <key>u1f9d9_1f3fb</key>
    <string>u1f9d9_1f3fb.glif</string>
    <key>u1f9d9_1f3fc</key>
    <string>u1f9d9_1f3fc.glif</string>
    <key>u1f9d9_1f3fd</key>
    <string>u1f9d9_1f3fd.glif</string>
    <key>u1f9d9_1f3fe</key>
    <string>u1f9d9_1f3fe.glif</string>
    <key>u1f9d9_1f3ff</key>
    <string>u1f9d9_1f3ff.glif</string>
  </dict>
</plist>
