<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32e</key>
    <string>u1f32e.glif</string>
    <key>u1f34c</key>
    <string>u1f34c.glif</string>
    <key>u1f9b4</key>
    <string>u1f9b4.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
    <key>u231b</key>
    <string>u231b.glif</string>
    <key>u23f3</key>
    <string>u23f3.glif</string>
  </dict>
</plist>
