<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c7</key>
    <string>u1f3c7.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f469_200d_1f393</key>
    <string>u1f469_200d_1f393.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f6b4_200d_2640_fe0f</key>
    <string>u1f6b4_200d_2640_fe0f.glif</string>
    <key>u1f6b5</key>
    <string>u1f6b5.glif</string>
    <key>u1f6b5_200d_2642_fe0f</key>
    <string>u1f6b5_200d_2642_fe0f.glif</string>
    <key>u1f931</key>
    <string>u1f931.glif</string>
    <key>u1f933</key>
    <string>u1f933.glif</string>
    <key>u1f939</key>
    <string>u1f939.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d9</key>
    <string>u1f9d9.glif</string>
    <key>u1f9db_200d_2640_fe0f</key>
    <string>u1f9db_200d_2640_fe0f.glif</string>
    <key>u26f7</key>
    <string>u26f7.glif</string>
  </dict>
</plist>
