<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ec_1f1ee</key>
    <string>u1f1ec_1f1ee.glif</string>
    <key>u1f1ee_1f1e8</key>
    <string>u1f1ee_1f1e8.glif</string>
    <key>u1f1f1_1f1ee</key>
    <string>u1f1f1_1f1ee.glif</string>
    <key>u1f1f5_1f1fe</key>
    <string>u1f1f5_1f1fe.glif</string>
    <key>u1f38f</key>
    <string>u1f38f.glif</string>
    <key>u1f3a3</key>
    <string>u1f3a3.glif</string>
    <key>u1f3af</key>
    <string>u1f3af.glif</string>
    <key>u1f3b3</key>
    <string>u1f3b3.glif</string>
    <key>u1f468_1f3ff_200d_1f3a8</key>
    <string>u1f468_1f3ff_200d_1f3a8.glif</string>
    <key>u1f469_1f3ff</key>
    <string>u1f469_1f3ff.glif</string>
    <key>u1f469_1f3ff_200d_1f9b0</key>
    <string>u1f469_1f3ff_200d_1f9b0.glif</string>
    <key>u1f469_1f3ff_200d_1f9b3</key>
    <string>u1f469_1f3ff_200d_1f9b3.glif</string>
    <key>u1f470_1f3ff</key>
    <string>u1f470_1f3ff.glif</string>
    <key>u1f471_1f3ff_200d_2640_fe0f</key>
    <string>u1f471_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f475_1f3ff</key>
    <string>u1f475_1f3ff.glif</string>
    <key>u1f482_1f3ff_200d_2640_fe0f</key>
    <string>u1f482_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f645_1f3ff_200d_2640_fe0f</key>
    <string>u1f645_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f646_1f3ff</key>
    <string>u1f646_1f3ff.glif</string>
    <key>u1f646_1f3ff_200d_2640_fe0f</key>
    <string>u1f646_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f646_1f3ff_200d_2642_fe0f</key>
    <string>u1f646_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3ff_200d_2642_fe0f</key>
    <string>u1f647_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f68e</key>
    <string>u1f68e.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3a8</key>
    <string>u1f9d1_1f3ff_200d_1f3a8.glif</string>
    <key>u1f9d4_1f3ff</key>
    <string>u1f9d4_1f3ff.glif</string>
    <key>u1f9d5_1f3ff</key>
    <string>u1f9d5_1f3ff.glif</string>
  </dict>
</plist>
