<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e7_1f1f7</key>
    <string>u1f1e7_1f1f7.glif</string>
    <key>u1f3e2</key>
    <string>u1f3e2.glif</string>
    <key>u1f3e5</key>
    <string>u1f3e5.glif</string>
    <key>u1f3ea</key>
    <string>u1f3ea.glif</string>
    <key>u1f3ec</key>
    <string>u1f3ec.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f685</key>
    <string>u1f685.glif</string>
    <key>u1f69f</key>
    <string>u1f69f.glif</string>
    <key>u1f6cc</key>
    <string>u1f6cc.glif</string>
    <key>u1f6cc_1f3fb</key>
    <string>u1f6cc_1f3fb.glif</string>
    <key>u1f6cc_1f3fc</key>
    <string>u1f6cc_1f3fc.glif</string>
    <key>u1f6cc_1f3fd</key>
    <string>u1f6cc_1f3fd.glif</string>
    <key>u1f6cc_1f3fe</key>
    <string>u1f6cc_1f3fe.glif</string>
    <key>u1f6cc_1f3ff</key>
    <string>u1f6cc_1f3ff.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u270d</key>
    <string>u270d.glif</string>
    <key>u270d_1f3fb</key>
    <string>u270d_1f3fb.glif</string>
    <key>u270d_1f3fc</key>
    <string>u270d_1f3fc.glif</string>
    <key>u270d_1f3fd</key>
    <string>u270d_1f3fd.glif</string>
    <key>u270d_1f3fe</key>
    <string>u270d_1f3fe.glif</string>
    <key>u270d_1f3ff</key>
    <string>u270d_1f3ff.glif</string>
  </dict>
</plist>
