<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f5_1f1fe</key>
    <string>u1f1f5_1f1fe.glif</string>
    <key>u1f32c</key>
    <string>u1f32c.glif</string>
    <key>u1f37d</key>
    <string>u1f37d.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f4da</key>
    <string>u1f4da.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f987</key>
    <string>u1f987.glif</string>
    <key>u1f9c9</key>
    <string>u1f9c9.glif</string>
  </dict>
</plist>
