<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3e3</key>
    <string>u1f3e3.glif</string>
    <key>u1f3ea</key>
    <string>u1f3ea.glif</string>
    <key>u1f50f</key>
    <string>u1f50f.glif</string>
    <key>u1f510</key>
    <string>u1f510.glif</string>
    <key>u1f512</key>
    <string>u1f512.glif</string>
    <key>u1f513</key>
    <string>u1f513.glif</string>
    <key>u1f516</key>
    <string>u1f516.glif</string>
    <key>u1f6bd</key>
    <string>u1f6bd.glif</string>
    <key>u23f2</key>
    <string>u23f2.glif</string>
  </dict>
</plist>
