<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_1f3ed</key>
    <string>u1f468_200d_1f3ed.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f46b</key>
    <string>u1f46b.glif</string>
    <key>u1f46d</key>
    <string>u1f46d.glif</string>
    <key>u1f64f</key>
    <string>u1f64f.glif</string>
    <key>u1f9d1_200d_1f3a4</key>
    <string>u1f9d1_200d_1f3a4.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
  </dict>
</plist>
