<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e6_1f1eb</key>
    <string>u1f1e6_1f1eb.glif</string>
    <key>u1f1e6_1f1ff</key>
    <string>u1f1e6_1f1ff.glif</string>
    <key>u1f1e7_1f1f2</key>
    <string>u1f1e7_1f1f2.glif</string>
    <key>u1f1e7_1f1f4</key>
    <string>u1f1e7_1f1f4.glif</string>
    <key>u1f1e8_1f1f1</key>
    <string>u1f1e8_1f1f1.glif</string>
    <key>u1f1e8_1f1fa</key>
    <string>u1f1e8_1f1fa.glif</string>
    <key>u1f1ec_1f1f8</key>
    <string>u1f1ec_1f1f8.glif</string>
    <key>u1f1ed_1f1f0</key>
    <string>u1f1ed_1f1f0.glif</string>
    <key>u1f1ee_1f1f2</key>
    <string>u1f1ee_1f1f2.glif</string>
    <key>u1f1f0_1f1f5</key>
    <string>u1f1f0_1f1f5.glif</string>
    <key>u1f1f1_1f1f7</key>
    <string>u1f1f1_1f1f7.glif</string>
    <key>u1f1f1_1f1fe</key>
    <string>u1f1f1_1f1fe.glif</string>
    <key>u1f1f2_1f1ed</key>
    <string>u1f1f2_1f1ed.glif</string>
    <key>u1f1f2_1f1f2</key>
    <string>u1f1f2_1f1f2.glif</string>
    <key>u1f1f2_1f1f4</key>
    <string>u1f1f2_1f1f4.glif</string>
    <key>u1f1f2_1f1f6</key>
    <string>u1f1f2_1f1f6.glif</string>
    <key>u1f1f5_1f1f0</key>
    <string>u1f1f5_1f1f0.glif</string>
    <key>u1f1f5_1f1f7</key>
    <string>u1f1f5_1f1f7.glif</string>
    <key>u1f1f8_1f1e6</key>
    <string>u1f1f8_1f1e6.glif</string>
    <key>u1f1f8_1f1e7</key>
    <string>u1f1f8_1f1e7.glif</string>
    <key>u1f1f8_1f1f0</key>
    <string>u1f1f8_1f1f0.glif</string>
    <key>u1f1f8_1f1ff</key>
    <string>u1f1f8_1f1ff.glif</string>
    <key>u1f1f9_1f1ec</key>
    <string>u1f1f9_1f1ec.glif</string>
    <key>u1f1f9_1f1f1</key>
    <string>u1f1f9_1f1f1.glif</string>
    <key>u1f1f9_1f1fc</key>
    <string>u1f1f9_1f1fc.glif</string>
    <key>u1f1fa_1f1ec</key>
    <string>u1f1fa_1f1ec.glif</string>
    <key>u1f1fa_1f1f2</key>
    <string>u1f1fa_1f1f2.glif</string>
    <key>u1f1fa_1f1f3</key>
    <string>u1f1fa_1f1f3.glif</string>
    <key>u1f1fa_1f1f8</key>
    <string>u1f1fa_1f1f8.glif</string>
    <key>u1f1fb_1f1ea</key>
    <string>u1f1fb_1f1ea.glif</string>
    <key>u1f338</key>
    <string>u1f338.glif</string>
    <key>u1f3b2</key>
    <string>u1f3b2.glif</string>
    <key>u1f3f4_e0067_e0062_e0077_e006c_e0073_e007f</key>
    <string>u1f3f4_e0067_e0062_e0077_e006c_e0073_e007f.glif</string>
    <key>u1f41b</key>
    <string>u1f41b.glif</string>
    <key>u1f430</key>
    <string>u1f430.glif</string>
    <key>u1f441_fe0f_200d_1f5e8_fe0f</key>
    <string>u1f441_fe0f_200d_1f5e8_fe0f.glif</string>
    <key>u1f452</key>
    <string>u1f452.glif</string>
    <key>u1f479</key>
    <string>u1f479.glif</string>
    <key>u1f500</key>
    <string>u1f500.glif</string>
    <key>u1f6ae</key>
    <string>u1f6ae.glif</string>
    <key>u1f911</key>
    <string>u1f911.glif</string>
    <key>u1f913</key>
    <string>u1f913.glif</string>
    <key>u1f92c</key>
    <string>u1f92c.glif</string>
    <key>u1f96f</key>
    <string>u1f96f.glif</string>
    <key>u1f988</key>
    <string>u1f988.glif</string>
    <key>u262a</key>
    <string>u262a.glif</string>
    <key>u2640</key>
    <string>u2640.glif</string>
    <key>u264a</key>
    <string>u264a.glif</string>
    <key>u26a7</key>
    <string>u26a7.glif</string>
    <key>u2a_fe0f_20e3</key>
    <string>u2a_fe0f_20e3.glif</string>
  </dict>
</plist>
