<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1fd</key>
    <string>u1f1f2_1f1fd.glif</string>
    <key>u1f372</key>
    <string>u1f372.glif</string>
    <key>u1f38d</key>
    <string>u1f38d.glif</string>
    <key>u1f3d5</key>
    <string>u1f3d5.glif</string>
    <key>u1f422</key>
    <string>u1f422.glif</string>
    <key>u1f438</key>
    <string>u1f438.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f54a</key>
    <string>u1f54a.glif</string>
    <key>u1f5fa</key>
    <string>u1f5fa.glif</string>
    <key>u1f68e</key>
    <string>u1f68e.glif</string>
    <key>u1f6cc</key>
    <string>u1f6cc.glif</string>
    <key>u1f6cc_1f3fb</key>
    <string>u1f6cc_1f3fb.glif</string>
    <key>u1f6cc_1f3fc</key>
    <string>u1f6cc_1f3fc.glif</string>
    <key>u1f6cc_1f3fd</key>
    <string>u1f6cc_1f3fd.glif</string>
    <key>u1f6cc_1f3fe</key>
    <string>u1f6cc_1f3fe.glif</string>
    <key>u1f6cc_1f3ff</key>
    <string>u1f6cc_1f3ff.glif</string>
    <key>u1f6cf</key>
    <string>u1f6cf.glif</string>
    <key>u1f952</key>
    <string>u1f952.glif</string>
    <key>u1f966</key>
    <string>u1f966.glif</string>
    <key>u1f96b</key>
    <string>u1f96b.glif</string>
    <key>u1f9a0</key>
    <string>u1f9a0.glif</string>
    <key>u1f9ee</key>
    <string>u1f9ee.glif</string>
    <key>u1fa92</key>
    <string>u1fa92.glif</string>
  </dict>
</plist>
