<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3aa</key>
    <string>u1f3aa.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f965</key>
    <string>u1f965.glif</string>
    <key>u1f9ed</key>
    <string>u1f9ed.glif</string>
    <key>u1f9f3</key>
    <string>u1f9f3.glif</string>
  </dict>
</plist>
