<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3ec</key>
    <string>u1f3ec.glif</string>
    <key>u1f684</key>
    <string>u1f684.glif</string>
  </dict>
</plist>
