<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f649</key>
    <string>u1f649.glif</string>
    <key>u1f64a</key>
    <string>u1f64a.glif</string>
    <key>u1f997</key>
    <string>u1f997.glif</string>
  </dict>
</plist>
