<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fb</key>
    <string>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fb.glif</string>
  </dict>
</plist>
