<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f444</key>
    <string>u1f444.glif</string>
    <key>u1f53a</key>
    <string>u1f53a.glif</string>
    <key>u1f53b</key>
    <string>u1f53b.glif</string>
  </dict>
</plist>
