<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3a4</key>
    <string>u1f3a4.glif</string>
    <key>u1f3a7</key>
    <string>u1f3a7.glif</string>
    <key>u1f3bc</key>
    <string>u1f3bc.glif</string>
    <key>u1f3d2</key>
    <string>u1f3d2.glif</string>
    <key>u1f3f4_200d_2620_fe0f</key>
    <string>u1f3f4_200d_2620_fe0f.glif</string>
    <key>u1f404</key>
    <string>u1f404.glif</string>
    <key>u1f41c</key>
    <string>u1f41c.glif</string>
    <key>u1f41e</key>
    <string>u1f41e.glif</string>
    <key>u1f441_fe0f_200d_1f5e8_fe0f</key>
    <string>u1f441_fe0f_200d_1f5e8_fe0f.glif</string>
    <key>u1f4a3</key>
    <string>u1f4a3.glif</string>
    <key>u1f4f7</key>
    <string>u1f4f7.glif</string>
    <key>u1f4fa</key>
    <string>u1f4fa.glif</string>
    <key>u1f50c</key>
    <string>u1f50c.glif</string>
    <key>u1f533</key>
    <string>u1f533.glif</string>
    <key>u1f577</key>
    <string>u1f577.glif</string>
    <key>u1f98d</key>
    <string>u1f98d.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>ua9</key>
    <string>ua9.glif</string>
    <key>uae</key>
    <string>uae.glif</string>
  </dict>
</plist>
