<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1ed</key>
    <string>u1f1f2_1f1ed.glif</string>
    <key>u1f304</key>
    <string>u1f304.glif</string>
    <key>u1f305</key>
    <string>u1f305.glif</string>
    <key>u1f307</key>
    <string>u1f307.glif</string>
    <key>u1f320</key>
    <string>u1f320.glif</string>
    <key>u1f33d</key>
    <string>u1f33d.glif</string>
    <key>u1f35f</key>
    <string>u1f35f.glif</string>
    <key>u1f364</key>
    <string>u1f364.glif</string>
    <key>u1f38f</key>
    <string>u1f38f.glif</string>
    <key>u1f3ce</key>
    <string>u1f3ce.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f69f</key>
    <string>u1f69f.glif</string>
    <key>u1f6e0</key>
    <string>u1f6e0.glif</string>
    <key>u1f955</key>
    <string>u1f955.glif</string>
    <key>u1f960</key>
    <string>u1f960.glif</string>
    <key>u1f96e</key>
    <string>u1f96e.glif</string>
    <key>u1f996</key>
    <string>u1f996.glif</string>
    <key>u1fa90</key>
    <string>u1fa90.glif</string>
    <key>u26cf</key>
    <string>u26cf.glif</string>
  </dict>
</plist>
