<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3cb_1f3fc_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_1f4bb</key>
    <string>u1f468_1f3fc_200d_1f4bb.glif</string>
    <key>u1f468_1f3fc_200d_1f527</key>
    <string>u1f468_1f3fc_200d_1f527.glif</string>
    <key>u1f468_1f3fc_200d_1f52c</key>
    <string>u1f468_1f3fc_200d_1f52c.glif</string>
    <key>u1f468_1f3fc_200d_2695_fe0f</key>
    <string>u1f468_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_1f3a8</key>
    <string>u1f469_1f3fc_200d_1f3a8.glif</string>
    <key>u1f469_1f3fc_200d_1f9b1</key>
    <string>u1f469_1f3fc_200d_1f9b1.glif</string>
    <key>u1f46e_1f3fc_200d_2640_fe0f</key>
    <string>u1f46e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f46e_1f3fc_200d_2642_fe0f</key>
    <string>u1f46e_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f471_200d_2640_fe0f</key>
    <string>u1f471_200d_2640_fe0f.glif</string>
    <key>u1f483_1f3fc</key>
    <string>u1f483_1f3fc.glif</string>
    <key>u1f574_1f3fc</key>
    <string>u1f574_1f3fc.glif</string>
    <key>u1f6b6_1f3fc_200d_2640_fe0f</key>
    <string>u1f6b6_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f926_1f3fc_200d_2642_fe0f</key>
    <string>u1f926_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f938_1f3fc_200d_2640_fe0f</key>
    <string>u1f938_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f939_1f3fc_200d_2642_fe0f</key>
    <string>u1f939_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2640_fe0f</key>
    <string>u1f93e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2642_fe0f</key>
    <string>u1f93e_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fc</key>
    <string>u1f9b8_1f3fc.glif</string>
    <key>u1f9b9_1f3fc</key>
    <string>u1f9b9_1f3fc.glif</string>
    <key>u1f9cd_1f3fc_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9cf_1f3fc_200d_2642_fe0f</key>
    <string>u1f9cf_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3ed</key>
    <string>u1f9d1_1f3fc_200d_1f3ed.glif</string>
    <key>u1f9d6_1f3fc</key>
    <string>u1f9d6_1f3fc.glif</string>
    <key>u1f9d6_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2640_fe0f.glif</string>
  </dict>
</plist>
