<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ef_1f1ea</key>
    <string>u1f1ef_1f1ea.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1e9</key>
    <string>u1f1f2_1f1e9.glif</string>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f1f5_1f1f9</key>
    <string>u1f1f5_1f1f9.glif</string>
    <key>u1f313</key>
    <string>u1f313.glif</string>
    <key>u1f314</key>
    <string>u1f314.glif</string>
    <key>u1f316</key>
    <string>u1f316.glif</string>
    <key>u1f317</key>
    <string>u1f317.glif</string>
    <key>u1f34b</key>
    <string>u1f34b.glif</string>
    <key>u1f34c</key>
    <string>u1f34c.glif</string>
    <key>u1f34d</key>
    <string>u1f34d.glif</string>
    <key>u1f354</key>
    <string>u1f354.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f35f</key>
    <string>u1f35f.glif</string>
    <key>u1f366</key>
    <string>u1f366.glif</string>
    <key>u1f372</key>
    <string>u1f372.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f3d3</key>
    <string>u1f3d3.glif</string>
    <key>u1f3e0</key>
    <string>u1f3e0.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f3e8</key>
    <string>u1f3e8.glif</string>
    <key>u1f40c</key>
    <string>u1f40c.glif</string>
    <key>u1f424</key>
    <string>u1f424.glif</string>
    <key>u1f431</key>
    <string>u1f431.glif</string>
    <key>u1f498</key>
    <string>u1f498.glif</string>
    <key>u1f4a1</key>
    <string>u1f4a1.glif</string>
    <key>u1f680</key>
    <string>u1f680.glif</string>
    <key>u1f6a5</key>
    <string>u1f6a5.glif</string>
    <key>u1f6a6</key>
    <string>u1f6a6.glif</string>
    <key>u1f6b8</key>
    <string>u1f6b8.glif</string>
    <key>u1f6cd</key>
    <string>u1f6cd.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u1f942</key>
    <string>u1f942.glif</string>
    <key>u1f985</key>
    <string>u1f985.glif</string>
    <key>u1f992</key>
    <string>u1f992.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
    <key>u1f9de</key>
    <string>u1f9de.glif</string>
    <key>u1f9de_200d_2640_fe0f</key>
    <string>u1f9de_200d_2640_fe0f.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
    <key>u1f9f9</key>
    <string>u1f9f9.glif</string>
    <key>u270f</key>
    <string>u270f.glif</string>
  </dict>
</plist>
