<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1fa_1f1fe</key>
    <string>u1f1fa_1f1fe.glif</string>
    <key>u1f361</key>
    <string>u1f361.glif</string>
    <key>u1f386</key>
    <string>u1f386.glif</string>
    <key>u1f3bd</key>
    <string>u1f3bd.glif</string>
    <key>u1f45c</key>
    <string>u1f45c.glif</string>
    <key>u1f54b</key>
    <string>u1f54b.glif</string>
    <key>u1f54c</key>
    <string>u1f54c.glif</string>
    <key>u1f5f3</key>
    <string>u1f5f3.glif</string>
    <key>u1f69f</key>
    <string>u1f69f.glif</string>
    <key>u1f94f</key>
    <string>u1f94f.glif</string>
    <key>u1f956</key>
    <string>u1f956.glif</string>
    <key>u1f95f</key>
    <string>u1f95f.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
  </dict>
</plist>
