<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f34e</key>
    <string>u1f34e.glif</string>
    <key>u1f34f</key>
    <string>u1f34f.glif</string>
    <key>u1f356</key>
    <string>u1f356.glif</string>
    <key>u1f378</key>
    <string>u1f378.glif</string>
    <key>u1f437</key>
    <string>u1f437.glif</string>
    <key>u1f443</key>
    <string>u1f443.glif</string>
    <key>u1f443_1f3fb</key>
    <string>u1f443_1f3fb.glif</string>
    <key>u1f443_1f3fc</key>
    <string>u1f443_1f3fc.glif</string>
    <key>u1f443_1f3fd</key>
    <string>u1f443_1f3fd.glif</string>
    <key>u1f466</key>
    <string>u1f466.glif</string>
    <key>u1f466_1f3fb</key>
    <string>u1f466_1f3fb.glif</string>
    <key>u1f466_1f3fc</key>
    <string>u1f466_1f3fc.glif</string>
    <key>u1f466_1f3fd</key>
    <string>u1f466_1f3fd.glif</string>
    <key>u1f468</key>
    <string>u1f468.glif</string>
    <key>u1f468_1f3fb</key>
    <string>u1f468_1f3fb.glif</string>
    <key>u1f468_1f3fb_200d_1f9b2</key>
    <string>u1f468_1f3fb_200d_1f9b2.glif</string>
    <key>u1f468_1f3fc</key>
    <string>u1f468_1f3fc.glif</string>
    <key>u1f468_1f3fc_200d_1f9b2</key>
    <string>u1f468_1f3fc_200d_1f9b2.glif</string>
    <key>u1f468_1f3fd</key>
    <string>u1f468_1f3fd.glif</string>
    <key>u1f468_1f3fd_200d_1f9b2</key>
    <string>u1f468_1f3fd_200d_1f9b2.glif</string>
    <key>u1f468_1f3fe_200d_1f9b2</key>
    <string>u1f468_1f3fe_200d_1f9b2.glif</string>
    <key>u1f468_200d_1f9b2</key>
    <string>u1f468_200d_1f9b2.glif</string>
    <key>u1f471_1f3fb</key>
    <string>u1f471_1f3fb.glif</string>
    <key>u1f471_1f3fc</key>
    <string>u1f471_1f3fc.glif</string>
    <key>u1f471_1f3fd</key>
    <string>u1f471_1f3fd.glif</string>
    <key>u1f471_1f3fe</key>
    <string>u1f471_1f3fe.glif</string>
    <key>u1f474</key>
    <string>u1f474.glif</string>
    <key>u1f474_1f3fb</key>
    <string>u1f474_1f3fb.glif</string>
    <key>u1f474_1f3fc</key>
    <string>u1f474_1f3fc.glif</string>
    <key>u1f474_1f3fd</key>
    <string>u1f474_1f3fd.glif</string>
    <key>u1f492</key>
    <string>u1f492.glif</string>
    <key>u1f64b_1f3fb_200d_2642_fe0f</key>
    <string>u1f64b_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f64b_1f3fc_200d_2642_fe0f</key>
    <string>u1f64b_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f64b_1f3fd_200d_2642_fe0f</key>
    <string>u1f64b_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f64b_200d_2642_fe0f</key>
    <string>u1f64b_200d_2642_fe0f.glif</string>
    <key>u1f6d5</key>
    <string>u1f6d5.glif</string>
    <key>u1f963</key>
    <string>u1f963.glif</string>
    <key>u1f989</key>
    <string>u1f989.glif</string>
    <key>u1f997</key>
    <string>u1f997.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9b2</key>
    <string>u1f9d1_1f3fb_200d_1f9b2.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9b2</key>
    <string>u1f9d1_1f3fc_200d_1f9b2.glif</string>
    <key>u1f9d1_1f3fd_200d_1f9b2</key>
    <string>u1f9d1_1f3fd_200d_1f9b2.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9b2</key>
    <string>u1f9d1_1f3fe_200d_1f9b2.glif</string>
    <key>u1f9d1_200d_1f9b2</key>
    <string>u1f9d1_200d_1f9b2.glif</string>
    <key>u1f9dd_1f3fb_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fd_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9dd_200d_2640_fe0f</key>
    <string>u1f9dd_200d_2640_fe0f.glif</string>
    <key>u26ea</key>
    <string>u26ea.glif</string>
  </dict>
</plist>
