<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f0cf</key>
    <string>u1f0cf.glif</string>
    <key>u1f1f3_1f1ee</key>
    <string>u1f1f3_1f1ee.glif</string>
    <key>u1f3ae</key>
    <string>u1f3ae.glif</string>
    <key>u1f3c3_1f3fb_200d_2640_fe0f</key>
    <string>u1f3c3_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f3c3_1f3fc_200d_2640_fe0f</key>
    <string>u1f3c3_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f3c3_1f3fd_200d_2640_fe0f</key>
    <string>u1f3c3_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f3c3_1f3fe_200d_2640_fe0f</key>
    <string>u1f3c3_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f3c3_1f3ff_200d_2640_fe0f</key>
    <string>u1f3c3_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f3c3_200d_2640_fe0f</key>
    <string>u1f3c3_200d_2640_fe0f.glif</string>
    <key>u1f3ce</key>
    <string>u1f3ce.glif</string>
    <key>u1f469_1f3fb_200d_1f9bd</key>
    <string>u1f469_1f3fb_200d_1f9bd.glif</string>
    <key>u1f469_1f3fc_200d_1f9bd</key>
    <string>u1f469_1f3fc_200d_1f9bd.glif</string>
    <key>u1f469_1f3fd_200d_1f9bd</key>
    <string>u1f469_1f3fd_200d_1f9bd.glif</string>
    <key>u1f469_1f3fe_200d_1f9bd</key>
    <string>u1f469_1f3fe_200d_1f9bd.glif</string>
    <key>u1f469_1f3ff_200d_1f9bd</key>
    <string>u1f469_1f3ff_200d_1f9bd.glif</string>
    <key>u1f469_200d_1f9bd</key>
    <string>u1f469_200d_1f9bd.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f980</key>
    <string>u1f980.glif</string>
    <key>u1f99e</key>
    <string>u1f99e.glif</string>
    <key>u1f9d1_1f3fb_200d_1f3a8</key>
    <string>u1f9d1_1f3fb_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3a8</key>
    <string>u1f9d1_1f3fc_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3a8</key>
    <string>u1f9d1_1f3fd_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fe_200d_1f3a8</key>
    <string>u1f9d1_1f3fe_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3a8</key>
    <string>u1f9d1_1f3ff_200d_1f3a8.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u1f9db_1f3fb_200d_2640_fe0f</key>
    <string>u1f9db_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fc_200d_2640_fe0f</key>
    <string>u1f9db_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fd_200d_2640_fe0f</key>
    <string>u1f9db_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fe_200d_2640_fe0f</key>
    <string>u1f9db_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3ff_200d_2640_fe0f</key>
    <string>u1f9db_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9db_200d_2640_fe0f</key>
    <string>u1f9db_200d_2640_fe0f.glif</string>
  </dict>
</plist>
