<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f469_1f3fb_200d_2708_fe0f</key>
    <string>u1f469_1f3fb_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_2708_fe0f</key>
    <string>u1f469_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_2708_fe0f</key>
    <string>u1f469_1f3fd_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fe_200d_2708_fe0f</key>
    <string>u1f469_1f3fe_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_2708_fe0f</key>
    <string>u1f469_1f3ff_200d_2708_fe0f.glif</string>
    <key>u1f469_200d_2708_fe0f</key>
    <string>u1f469_200d_2708_fe0f.glif</string>
    <key>u1f46a</key>
    <string>u1f46a.glif</string>
    <key>u1f477_1f3fb</key>
    <string>u1f477_1f3fb.glif</string>
    <key>u1f477_1f3fc_200d_2642_fe0f</key>
    <string>u1f477_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fd_200d_2642_fe0f</key>
    <string>u1f477_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fe_200d_2642_fe0f</key>
    <string>u1f477_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3ff_200d_2642_fe0f</key>
    <string>u1f477_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2642_fe0f</key>
    <string>u1f477_200d_2642_fe0f.glif</string>
    <key>u1f930</key>
    <string>u1f930.glif</string>
    <key>u1f935_200d_2642_fe0f</key>
    <string>u1f935_200d_2642_fe0f.glif</string>
  </dict>
</plist>
