<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f431</key>
    <string>u1f431.glif</string>
    <key>u1f5bc</key>
    <string>u1f5bc.glif</string>
    <key>u1f5dc</key>
    <string>u1f5dc.glif</string>
  </dict>
</plist>
