<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f19a</key>
    <string>u1f19a.glif</string>
    <key>u1f21a</key>
    <string>u1f21a.glif</string>
    <key>u1f236</key>
    <string>u1f236.glif</string>
    <key>u1f237</key>
    <string>u1f237.glif</string>
    <key>u1f238</key>
    <string>u1f238.glif</string>
    <key>u1f23a</key>
    <string>u1f23a.glif</string>
    <key>u1f251</key>
    <string>u1f251.glif</string>
    <key>u1f306</key>
    <string>u1f306.glif</string>
    <key>u1f31e</key>
    <string>u1f31e.glif</string>
    <key>u1f329</key>
    <string>u1f329.glif</string>
    <key>u1f34a</key>
    <string>u1f34a.glif</string>
    <key>u1f355</key>
    <string>u1f355.glif</string>
    <key>u1f36f</key>
    <string>u1f36f.glif</string>
    <key>u1f383</key>
    <string>u1f383.glif</string>
    <key>u1f3c0</key>
    <string>u1f3c0.glif</string>
    <key>u1f3d2</key>
    <string>u1f3d2.glif</string>
    <key>u1f424</key>
    <string>u1f424.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f4d2</key>
    <string>u1f4d2.glif</string>
    <key>u1f4d9</key>
    <string>u1f4d9.glif</string>
    <key>u1f4f3</key>
    <string>u1f4f3.glif</string>
    <key>u1f4f4</key>
    <string>u1f4f4.glif</string>
    <key>u1f525</key>
    <string>u1f525.glif</string>
    <key>u1f528</key>
    <string>u1f528.glif</string>
    <key>u1f54c</key>
    <string>u1f54c.glif</string>
    <key>u1f6bc</key>
    <string>u1f6bc.glif</string>
    <key>u1f6cd</key>
    <string>u1f6cd.glif</string>
    <key>u1f6ce</key>
    <string>u1f6ce.glif</string>
    <key>u1f6f5</key>
    <string>u1f6f5.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u1f94f</key>
    <string>u1f94f.glif</string>
    <key>u1f950</key>
    <string>u1f950.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f968</key>
    <string>u1f968.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f98a</key>
    <string>u1f98a.glif</string>
    <key>u1f992</key>
    <string>u1f992.glif</string>
    <key>u1f9ed</key>
    <string>u1f9ed.glif</string>
    <key>u1f9fd</key>
    <string>u1f9fd.glif</string>
    <key>u1fa93</key>
    <string>u1fa93.glif</string>
    <key>u2622</key>
    <string>u2622.glif</string>
    <key>u2623</key>
    <string>u2623.glif</string>
    <key>u26c8</key>
    <string>u26c8.glif</string>
    <key>u26cf</key>
    <string>u26cf.glif</string>
    <key>u26fa</key>
    <string>u26fa.glif</string>
  </dict>
</plist>
