<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f35a</key>
    <string>u1f35a.glif</string>
    <key>u1f362</key>
    <string>u1f362.glif</string>
    <key>u1f376</key>
    <string>u1f376.glif</string>
    <key>u1f3a2</key>
    <string>u1f3a2.glif</string>
    <key>u1f3bb</key>
    <string>u1f3bb.glif</string>
    <key>u1f3d3</key>
    <string>u1f3d3.glif</string>
    <key>u1f3db</key>
    <string>u1f3db.glif</string>
    <key>u1f3e6</key>
    <string>u1f3e6.glif</string>
    <key>u1f3ea</key>
    <string>u1f3ea.glif</string>
    <key>u1f401</key>
    <string>u1f401.glif</string>
    <key>u1f404</key>
    <string>u1f404.glif</string>
    <key>u1f410</key>
    <string>u1f410.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f43a</key>
    <string>u1f43a.glif</string>
    <key>u1f43c</key>
    <string>u1f43c.glif</string>
    <key>u1f469_1f3fb_200d_2695_fe0f</key>
    <string>u1f469_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_2695_fe0f</key>
    <string>u1f469_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_2695_fe0f</key>
    <string>u1f469_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fe_200d_2695_fe0f</key>
    <string>u1f469_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_2695_fe0f</key>
    <string>u1f469_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f4ba</key>
    <string>u1f4ba.glif</string>
    <key>u1f4bc</key>
    <string>u1f4bc.glif</string>
    <key>u1f4e0</key>
    <string>u1f4e0.glif</string>
    <key>u1f4e1</key>
    <string>u1f4e1.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f695</key>
    <string>u1f695.glif</string>
    <key>u1f697</key>
    <string>u1f697.glif</string>
    <key>u1f699</key>
    <string>u1f699.glif</string>
    <key>u1f6a8</key>
    <string>u1f6a8.glif</string>
    <key>u1f6ac</key>
    <string>u1f6ac.glif</string>
    <key>u1f6c0</key>
    <string>u1f6c0.glif</string>
    <key>u1f6c0_1f3fb</key>
    <string>u1f6c0_1f3fb.glif</string>
    <key>u1f6c0_1f3fc</key>
    <string>u1f6c0_1f3fc.glif</string>
    <key>u1f6c0_1f3fd</key>
    <string>u1f6c0_1f3fd.glif</string>
    <key>u1f6c0_1f3fe</key>
    <string>u1f6c0_1f3fe.glif</string>
    <key>u1f6c0_1f3ff</key>
    <string>u1f6c0_1f3ff.glif</string>
    <key>u1f6c1</key>
    <string>u1f6c1.glif</string>
    <key>u1f6e9</key>
    <string>u1f6e9.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f6f3</key>
    <string>u1f6f3.glif</string>
    <key>u1f94b</key>
    <string>u1f94b.glif</string>
    <key>u1f9a2</key>
    <string>u1f9a2.glif</string>
    <key>u1f9bf</key>
    <string>u1f9bf.glif</string>
    <key>u1f9d1_1f3fb_200d_1f3eb</key>
    <string>u1f9d1_1f3fb_200d_1f3eb.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3eb</key>
    <string>u1f9d1_1f3fc_200d_1f3eb.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3eb</key>
    <string>u1f9d1_1f3fd_200d_1f3eb.glif</string>
    <key>u1f9d1_1f3fe_200d_1f3eb</key>
    <string>u1f9d1_1f3fe_200d_1f3eb.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3eb</key>
    <string>u1f9d1_1f3ff_200d_1f3eb.glif</string>
    <key>u1f9d1_200d_1f3eb</key>
    <string>u1f9d1_200d_1f3eb.glif</string>
    <key>u1f9df</key>
    <string>u1f9df.glif</string>
    <key>u1f9df_200d_2642_fe0f</key>
    <string>u1f9df_200d_2642_fe0f.glif</string>
    <key>u1f9eb</key>
    <string>u1f9eb.glif</string>
    <key>u1f9ed</key>
    <string>u1f9ed.glif</string>
    <key>u1f9f4</key>
    <string>u1f9f4.glif</string>
    <key>u2615</key>
    <string>u2615.glif</string>
    <key>u2702</key>
    <string>u2702.glif</string>
    <key>ue50a</key>
    <string>ue50a.glif</string>
  </dict>
</plist>
