<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f36f</key>
    <string>u1f36f.glif</string>
    <key>u1f3b0</key>
    <string>u1f3b0.glif</string>
    <key>u1f4d2</key>
    <string>u1f4d2.glif</string>
    <key>u1f4d9</key>
    <string>u1f4d9.glif</string>
    <key>u1f54c</key>
    <string>u1f54c.glif</string>
    <key>u1f68f</key>
    <string>u1f68f.glif</string>
    <key>u1f696</key>
    <string>u1f696.glif</string>
    <key>u1f6e5</key>
    <string>u1f6e5.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f9a2</key>
    <string>u1f9a2.glif</string>
    <key>u2692</key>
    <string>u2692.glif</string>
  </dict>
</plist>
