<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1fc</key>
    <string>u1f1f2_1f1fc.glif</string>
    <key>u1f22f</key>
    <string>u1f22f.glif</string>
    <key>u1f331</key>
    <string>u1f331.glif</string>
    <key>u1f335</key>
    <string>u1f335.glif</string>
    <key>u1f337</key>
    <string>u1f337.glif</string>
    <key>u1f33a</key>
    <string>u1f33a.glif</string>
    <key>u1f33c</key>
    <string>u1f33c.glif</string>
    <key>u1f33f</key>
    <string>u1f33f.glif</string>
    <key>u1f340</key>
    <string>u1f340.glif</string>
    <key>u1f347</key>
    <string>u1f347.glif</string>
    <key>u1f34f</key>
    <string>u1f34f.glif</string>
    <key>u1f352</key>
    <string>u1f352.glif</string>
    <key>u1f38d</key>
    <string>u1f38d.glif</string>
    <key>u1f3be</key>
    <string>u1f3be.glif</string>
    <key>u1f422</key>
    <string>u1f422.glif</string>
    <key>u1f468_1f3fb_200d_1f33e</key>
    <string>u1f468_1f3fb_200d_1f33e.glif</string>
    <key>u1f468_1f3fb_200d_1f3a8</key>
    <string>u1f468_1f3fb_200d_1f3a8.glif</string>
    <key>u1f468_1f3fb_200d_1f4bb</key>
    <string>u1f468_1f3fb_200d_1f4bb.glif</string>
    <key>u1f468_1f3fc_200d_1f33e</key>
    <string>u1f468_1f3fc_200d_1f33e.glif</string>
    <key>u1f468_1f3fc_200d_1f3a8</key>
    <string>u1f468_1f3fc_200d_1f3a8.glif</string>
    <key>u1f468_1f3fc_200d_1f4bb</key>
    <string>u1f468_1f3fc_200d_1f4bb.glif</string>
    <key>u1f468_1f3fd_200d_1f33e</key>
    <string>u1f468_1f3fd_200d_1f33e.glif</string>
    <key>u1f468_1f3fd_200d_1f3a8</key>
    <string>u1f468_1f3fd_200d_1f3a8.glif</string>
    <key>u1f468_1f3fd_200d_1f4bb</key>
    <string>u1f468_1f3fd_200d_1f4bb.glif</string>
    <key>u1f468_1f3fe_200d_1f33e</key>
    <string>u1f468_1f3fe_200d_1f33e.glif</string>
    <key>u1f468_1f3fe_200d_1f3a8</key>
    <string>u1f468_1f3fe_200d_1f3a8.glif</string>
    <key>u1f468_1f3fe_200d_1f4bb</key>
    <string>u1f468_1f3fe_200d_1f4bb.glif</string>
    <key>u1f468_1f3ff_200d_1f33e</key>
    <string>u1f468_1f3ff_200d_1f33e.glif</string>
    <key>u1f468_1f3ff_200d_1f3a8</key>
    <string>u1f468_1f3ff_200d_1f3a8.glif</string>
    <key>u1f468_1f3ff_200d_1f4bb</key>
    <string>u1f468_1f3ff_200d_1f4bb.glif</string>
    <key>u1f468_200d_1f33e</key>
    <string>u1f468_200d_1f33e.glif</string>
    <key>u1f468_200d_1f3a8</key>
    <string>u1f468_200d_1f3a8.glif</string>
    <key>u1f468_200d_1f4bb</key>
    <string>u1f468_200d_1f4bb.glif</string>
    <key>u1f469_1f3fc_200d_1f33e</key>
    <string>u1f469_1f3fc_200d_1f33e.glif</string>
    <key>u1f469_1f3fd_200d_1f33e</key>
    <string>u1f469_1f3fd_200d_1f33e.glif</string>
    <key>u1f469_1f3fe_200d_1f33e</key>
    <string>u1f469_1f3fe_200d_1f33e.glif</string>
    <key>u1f469_1f3ff_200d_1f33e</key>
    <string>u1f469_1f3ff_200d_1f33e.glif</string>
    <key>u1f469_200d_1f33e</key>
    <string>u1f469_200d_1f33e.glif</string>
    <key>u1f473_1f3fb_200d_2642_fe0f</key>
    <string>u1f473_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f473_1f3fc_200d_2642_fe0f</key>
    <string>u1f473_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f473_1f3fd_200d_2642_fe0f</key>
    <string>u1f473_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f473_1f3fe_200d_2642_fe0f</key>
    <string>u1f473_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f473_1f3ff_200d_2642_fe0f</key>
    <string>u1f473_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f473_200d_2642_fe0f</key>
    <string>u1f473_200d_2642_fe0f.glif</string>
    <key>u1f4b9</key>
    <string>u1f4b9.glif</string>
    <key>u1f68e</key>
    <string>u1f68e.glif</string>
    <key>u1f6b5</key>
    <string>u1f6b5.glif</string>
    <key>u1f6b5_1f3fb</key>
    <string>u1f6b5_1f3fb.glif</string>
    <key>u1f6b5_1f3fb_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fb_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3fc</key>
    <string>u1f6b5_1f3fc.glif</string>
    <key>u1f6b5_1f3fc_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fc_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3fd</key>
    <string>u1f6b5_1f3fd.glif</string>
    <key>u1f6b5_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fd_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3fe</key>
    <string>u1f6b5_1f3fe.glif</string>
    <key>u1f6b5_1f3fe_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fe_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f6b5_1f3ff</key>
    <string>u1f6b5_1f3ff.glif</string>
    <key>u1f6b5_1f3ff_200d_2640_fe0f</key>
    <string>u1f6b5_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3ff_200d_2642_fe0f</key>
    <string>u1f6b5_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f6b5_200d_2640_fe0f</key>
    <string>u1f6b5_200d_2640_fe0f.glif</string>
    <key>u1f6b5_200d_2642_fe0f</key>
    <string>u1f6b5_200d_2642_fe0f.glif</string>
    <key>u1f922</key>
    <string>u1f922.glif</string>
    <key>u1f939_1f3fb_200d_2642_fe0f</key>
    <string>u1f939_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3fc_200d_2642_fe0f</key>
    <string>u1f939_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3fd_200d_2642_fe0f</key>
    <string>u1f939_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3fe_200d_2642_fe0f</key>
    <string>u1f939_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3ff_200d_2642_fe0f</key>
    <string>u1f939_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f939_200d_2642_fe0f</key>
    <string>u1f939_200d_2642_fe0f.glif</string>
    <key>u1f955</key>
    <string>u1f955.glif</string>
    <key>u1f966</key>
    <string>u1f966.glif</string>
    <key>u1f96d</key>
    <string>u1f96d.glif</string>
    <key>u1f9d1_1f3fb_200d_1f33e</key>
    <string>u1f9d1_1f3fb_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fc_200d_1f33e</key>
    <string>u1f9d1_1f3fc_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fd_200d_1f33e</key>
    <string>u1f9d1_1f3fd_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fe_200d_1f33e</key>
    <string>u1f9d1_1f3fe_200d_1f33e.glif</string>
    <key>u1f9d1_1f3ff_200d_1f33e</key>
    <string>u1f9d1_1f3ff_200d_1f33e.glif</string>
    <key>u1f9d1_200d_1f33e</key>
    <string>u1f9d1_200d_1f33e.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
    <key>u1fa92</key>
    <string>u1fa92.glif</string>
    <key>u2618</key>
    <string>u2618.glif</string>
    <key>u26f3</key>
    <string>u26f3.glif</string>
    <key>u2705</key>
    <string>u2705.glif</string>
    <key>u2733</key>
    <string>u2733.glif</string>
    <key>u2747</key>
    <string>u2747.glif</string>
    <key>u274e</key>
    <string>u274e.glif</string>
  </dict>
</plist>
