<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3a0</key>
    <string>u1f3a0.glif</string>
    <key>u1f3a1</key>
    <string>u1f3a1.glif</string>
    <key>u1f3a5</key>
    <string>u1f3a5.glif</string>
    <key>u1f485</key>
    <string>u1f485.glif</string>
    <key>u1f485_1f3fb</key>
    <string>u1f485_1f3fb.glif</string>
    <key>u1f485_1f3fc</key>
    <string>u1f485_1f3fc.glif</string>
    <key>u1f485_1f3fd</key>
    <string>u1f485_1f3fd.glif</string>
    <key>u1f485_1f3fe</key>
    <string>u1f485_1f3fe.glif</string>
    <key>u1f485_1f3ff</key>
    <string>u1f485_1f3ff.glif</string>
    <key>u1f4b3</key>
    <string>u1f4b3.glif</string>
    <key>u1f50a</key>
    <string>u1f50a.glif</string>
    <key>u1f526</key>
    <string>u1f526.glif</string>
    <key>u1f529</key>
    <string>u1f529.glif</string>
    <key>u1f52c</key>
    <string>u1f52c.glif</string>
    <key>u1f95b</key>
    <string>u1f95b.glif</string>
  </dict>
</plist>
