<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f17f</key>
    <string>u1f17f.glif</string>
    <key>u1f202</key>
    <string>u1f202.glif</string>
    <key>u1f233</key>
    <string>u1f233.glif</string>
    <key>u1f303</key>
    <string>u1f303.glif</string>
    <key>u1f30a</key>
    <string>u1f30a.glif</string>
    <key>u1f320</key>
    <string>u1f320.glif</string>
    <key>u1f386</key>
    <string>u1f386.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f391</key>
    <string>u1f391.glif</string>
    <key>u1f3bd</key>
    <string>u1f3bd.glif</string>
    <key>u1f464</key>
    <string>u1f464.glif</string>
    <key>u1f4c1</key>
    <string>u1f4c1.glif</string>
    <key>u1f4c2</key>
    <string>u1f4c2.glif</string>
    <key>u1f4d6</key>
    <string>u1f4d6.glif</string>
    <key>u1f4d8</key>
    <string>u1f4d8.glif</string>
    <key>u1f518</key>
    <string>u1f518.glif</string>
    <key>u1f6b0</key>
    <string>u1f6b0.glif</string>
    <key>u1f6b9</key>
    <string>u1f6b9.glif</string>
    <key>u1f6be</key>
    <string>u1f6be.glif</string>
    <key>u1f6c2</key>
    <string>u1f6c2.glif</string>
    <key>u1f6c3</key>
    <string>u1f6c3.glif</string>
    <key>u1f6c4</key>
    <string>u1f6c4.glif</string>
    <key>u1f6c5</key>
    <string>u1f6c5.glif</string>
    <key>u2611</key>
    <string>u2611.glif</string>
    <key>u2642</key>
    <string>u2642.glif</string>
    <key>u267f</key>
    <string>u267f.glif</string>
    <key>u2693</key>
    <string>u2693.glif</string>
    <key>u27bf</key>
    <string>u27bf.glif</string>
  </dict>
</plist>
