<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f327</key>
    <string>u1f327.glif</string>
    <key>u1f328</key>
    <string>u1f328.glif</string>
    <key>u1f3b6</key>
    <string>u1f3b6.glif</string>
    <key>u1f48d</key>
    <string>u1f48d.glif</string>
    <key>u1f48e</key>
    <string>u1f48e.glif</string>
    <key>u1f4b6</key>
    <string>u1f4b6.glif</string>
    <key>u1f5a5</key>
    <string>u1f5a5.glif</string>
    <key>u1fa72</key>
    <string>u1fa72.glif</string>
  </dict>
</plist>
