<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f601</key>
    <string>u1f601.glif</string>
    <key>u1f628</key>
    <string>u1f628.glif</string>
    <key>u1f62b</key>
    <string>u1f62b.glif</string>
    <key>u1f62c</key>
    <string>u1f62c.glif</string>
    <key>u1f62d</key>
    <string>u1f62d.glif</string>
    <key>u1f631</key>
    <string>u1f631.glif</string>
    <key>u1f912</key>
    <string>u1f912.glif</string>
    <key>u1f920</key>
    <string>u1f920.glif</string>
    <key>u263a</key>
    <string>u263a.glif</string>
  </dict>
</plist>
