<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f36f</key>
    <string>u1f36f.glif</string>
    <key>u1f385</key>
    <string>u1f385.glif</string>
    <key>u1f385_1f3fb</key>
    <string>u1f385_1f3fb.glif</string>
    <key>u1f385_1f3fc</key>
    <string>u1f385_1f3fc.glif</string>
    <key>u1f385_1f3fd</key>
    <string>u1f385_1f3fd.glif</string>
    <key>u1f3cf</key>
    <string>u1f3cf.glif</string>
    <key>u1f417</key>
    <string>u1f417.glif</string>
    <key>u1f434</key>
    <string>u1f434.glif</string>
    <key>u1f469_1f3fb_200d_1f9b1</key>
    <string>u1f469_1f3fb_200d_1f9b1.glif</string>
    <key>u1f469_1f3fc_200d_1f9b1</key>
    <string>u1f469_1f3fc_200d_1f9b1.glif</string>
    <key>u1f469_1f3fd_200d_1f9b1</key>
    <string>u1f469_1f3fd_200d_1f9b1.glif</string>
    <key>u1f469_200d_1f9b1</key>
    <string>u1f469_200d_1f9b1.glif</string>
    <key>u1f46a</key>
    <string>u1f46a.glif</string>
    <key>u1f473_1f3fb_200d_2642_fe0f</key>
    <string>u1f473_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f473_1f3fc_200d_2642_fe0f</key>
    <string>u1f473_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f473_1f3fd_200d_2642_fe0f</key>
    <string>u1f473_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f473_200d_2642_fe0f</key>
    <string>u1f473_200d_2642_fe0f.glif</string>
    <key>u1f645</key>
    <string>u1f645.glif</string>
    <key>u1f645_1f3fb</key>
    <string>u1f645_1f3fb.glif</string>
    <key>u1f645_1f3fb_200d_2642_fe0f</key>
    <string>u1f645_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f645_1f3fc</key>
    <string>u1f645_1f3fc.glif</string>
    <key>u1f645_1f3fc_200d_2642_fe0f</key>
    <string>u1f645_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f645_1f3fd</key>
    <string>u1f645_1f3fd.glif</string>
    <key>u1f645_1f3fd_200d_2642_fe0f</key>
    <string>u1f645_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f645_1f3fe</key>
    <string>u1f645_1f3fe.glif</string>
    <key>u1f645_200d_2642_fe0f</key>
    <string>u1f645_200d_2642_fe0f.glif</string>
    <key>u1f647</key>
    <string>u1f647.glif</string>
    <key>u1f647_1f3fb</key>
    <string>u1f647_1f3fb.glif</string>
    <key>u1f647_1f3fb_200d_2640_fe0f</key>
    <string>u1f647_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f647_1f3fc</key>
    <string>u1f647_1f3fc.glif</string>
    <key>u1f647_1f3fc_200d_2640_fe0f</key>
    <string>u1f647_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f647_1f3fd</key>
    <string>u1f647_1f3fd.glif</string>
    <key>u1f647_1f3fd_200d_2640_fe0f</key>
    <string>u1f647_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f647_1f3fe</key>
    <string>u1f647_1f3fe.glif</string>
    <key>u1f647_200d_2640_fe0f</key>
    <string>u1f647_200d_2640_fe0f.glif</string>
    <key>u1f64e_1f3fb_200d_2642_fe0f</key>
    <string>u1f64e_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f64e_1f3fc_200d_2642_fe0f</key>
    <string>u1f64e_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f64e_1f3fd_200d_2642_fe0f</key>
    <string>u1f64e_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f64e_200d_2642_fe0f</key>
    <string>u1f64e_200d_2642_fe0f.glif</string>
    <key>u1f6d5</key>
    <string>u1f6d5.glif</string>
    <key>u1f951</key>
    <string>u1f951.glif</string>
    <key>u1f959</key>
    <string>u1f959.glif</string>
    <key>u1f96e</key>
    <string>u1f96e.glif</string>
    <key>u1f9d9_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d9_200d_2642_fe0f</key>
    <string>u1f9d9_200d_2642_fe0f.glif</string>
    <key>u1f9dd</key>
    <string>u1f9dd.glif</string>
    <key>u1f9dd_1f3fb</key>
    <string>u1f9dd_1f3fb.glif</string>
    <key>u1f9dd_1f3fc</key>
    <string>u1f9dd_1f3fc.glif</string>
    <key>u1f9dd_1f3fd</key>
    <string>u1f9dd_1f3fd.glif</string>
    <key>u1f9dd_1f3fe</key>
    <string>u1f9dd_1f3fe.glif</string>
    <key>u1f9dd_1f3ff</key>
    <string>u1f9dd_1f3ff.glif</string>
    <key>u1f9f8</key>
    <string>u1f9f8.glif</string>
    <key>u26b1</key>
    <string>u26b1.glif</string>
  </dict>
</plist>
