<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3f4_200d_2620_fe0f</key>
    <string>u1f3f4_200d_2620_fe0f.glif</string>
    <key>u1f68b</key>
    <string>u1f68b.glif</string>
    <key>u1f68e</key>
    <string>u1f68e.glif</string>
    <key>u26f8</key>
    <string>u26f8.glif</string>
  </dict>
</plist>
