<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1e9</key>
    <string>u1f1f2_1f1e9.glif</string>
    <key>u1f3cc_1f3fb_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3fc_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3fd_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3fe_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3ff_200d_2640_fe0f</key>
    <string>u1f3cc_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3e3</key>
    <string>u1f3e3.glif</string>
    <key>u1f3e9</key>
    <string>u1f3e9.glif</string>
    <key>u1f3ec</key>
    <string>u1f3ec.glif</string>
    <key>u1f426</key>
    <string>u1f426.glif</string>
    <key>u1f468_1f3fb_200d_1f9bd</key>
    <string>u1f468_1f3fb_200d_1f9bd.glif</string>
    <key>u1f468_1f3fc_200d_1f9bd</key>
    <string>u1f468_1f3fc_200d_1f9bd.glif</string>
    <key>u1f468_1f3fd_200d_1f9bd</key>
    <string>u1f468_1f3fd_200d_1f9bd.glif</string>
    <key>u1f468_1f3fe_200d_1f9bd</key>
    <string>u1f468_1f3fe_200d_1f9bd.glif</string>
    <key>u1f468_1f3ff_200d_1f9bd</key>
    <string>u1f468_1f3ff_200d_1f9bd.glif</string>
    <key>u1f468_200d_1f9bd</key>
    <string>u1f468_200d_1f9bd.glif</string>
    <key>u1f57a</key>
    <string>u1f57a.glif</string>
    <key>u1f57a_1f3fb</key>
    <string>u1f57a_1f3fb.glif</string>
    <key>u1f57a_1f3fc</key>
    <string>u1f57a_1f3fc.glif</string>
    <key>u1f57a_1f3fd</key>
    <string>u1f57a_1f3fd.glif</string>
    <key>u1f57a_1f3fe</key>
    <string>u1f57a_1f3fe.glif</string>
    <key>u1f57a_1f3ff</key>
    <string>u1f57a_1f3ff.glif</string>
    <key>u1f688</key>
    <string>u1f688.glif</string>
    <key>u1f68b</key>
    <string>u1f68b.glif</string>
    <key>u1f6f4</key>
    <string>u1f6f4.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u1f938_1f3fb_200d_2640_fe0f</key>
    <string>u1f938_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fc_200d_2640_fe0f</key>
    <string>u1f938_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fd_200d_2640_fe0f</key>
    <string>u1f938_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fe_200d_2640_fe0f</key>
    <string>u1f938_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3ff_200d_2640_fe0f</key>
    <string>u1f938_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f938_200d_2640_fe0f</key>
    <string>u1f938_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fb_200d_2640_fe0f</key>
    <string>u1f93e_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2640_fe0f</key>
    <string>u1f93e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fd_200d_2640_fe0f</key>
    <string>u1f93e_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fe_200d_2640_fe0f</key>
    <string>u1f93e_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3ff_200d_2640_fe0f</key>
    <string>u1f93e_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f93e_200d_2640_fe0f</key>
    <string>u1f93e_200d_2640_fe0f.glif</string>
    <key>u1f980</key>
    <string>u1f980.glif</string>
    <key>u1f9bc</key>
    <string>u1f9bc.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9bd</key>
    <string>u1f9d1_1f3fb_200d_1f9bd.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9bd</key>
    <string>u1f9d1_1f3fc_200d_1f9bd.glif</string>
    <key>u1f9d1_1f3fd_200d_1f9bd</key>
    <string>u1f9d1_1f3fd_200d_1f9bd.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9bd</key>
    <string>u1f9d1_1f3fe_200d_1f9bd.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9bd</key>
    <string>u1f9d1_1f3ff_200d_1f9bd.glif</string>
    <key>u1f9d1_200d_1f9bd</key>
    <string>u1f9d1_200d_1f9bd.glif</string>
    <key>u1f9db</key>
    <string>u1f9db.glif</string>
    <key>u1f9db_1f3fb</key>
    <string>u1f9db_1f3fb.glif</string>
    <key>u1f9db_1f3fc</key>
    <string>u1f9db_1f3fc.glif</string>
    <key>u1f9db_1f3fd</key>
    <string>u1f9db_1f3fd.glif</string>
    <key>u1f9db_1f3fe</key>
    <string>u1f9db_1f3fe.glif</string>
    <key>u1f9db_1f3ff</key>
    <string>u1f9db_1f3ff.glif</string>
    <key>u1f9ef</key>
    <string>u1f9ef.glif</string>
  </dict>
</plist>
