<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3af</key>
    <string>u1f3af.glif</string>
    <key>u1f415_200d_1f9ba</key>
    <string>u1f415_200d_1f9ba.glif</string>
    <key>u1f467</key>
    <string>u1f467.glif</string>
    <key>u1f467_1f3fb</key>
    <string>u1f467_1f3fb.glif</string>
    <key>u1f467_1f3fc</key>
    <string>u1f467_1f3fc.glif</string>
    <key>u1f467_1f3fd</key>
    <string>u1f467_1f3fd.glif</string>
    <key>u1f468_1f3fb_200d_1f3a8</key>
    <string>u1f468_1f3fb_200d_1f3a8.glif</string>
    <key>u1f468_1f3fb_200d_1f3ed</key>
    <string>u1f468_1f3fb_200d_1f3ed.glif</string>
    <key>u1f468_1f3fc_200d_1f3a8</key>
    <string>u1f468_1f3fc_200d_1f3a8.glif</string>
    <key>u1f468_1f3fc_200d_1f3ed</key>
    <string>u1f468_1f3fc_200d_1f3ed.glif</string>
    <key>u1f468_1f3fd_200d_1f3a8</key>
    <string>u1f468_1f3fd_200d_1f3a8.glif</string>
    <key>u1f468_1f3fd_200d_1f3ed</key>
    <string>u1f468_1f3fd_200d_1f3ed.glif</string>
    <key>u1f468_200d_1f3a8</key>
    <string>u1f468_200d_1f3a8.glif</string>
    <key>u1f468_200d_1f3ed</key>
    <string>u1f468_200d_1f3ed.glif</string>
    <key>u1f469_1f3fb_200d_2696_fe0f</key>
    <string>u1f469_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_2696_fe0f</key>
    <string>u1f469_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_2696_fe0f</key>
    <string>u1f469_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f469_200d_2696_fe0f</key>
    <string>u1f469_200d_2696_fe0f.glif</string>
    <key>u1f477_1f3fb_200d_2642_fe0f</key>
    <string>u1f477_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fc_200d_2642_fe0f</key>
    <string>u1f477_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fd_200d_2642_fe0f</key>
    <string>u1f477_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2642_fe0f</key>
    <string>u1f477_200d_2642_fe0f.glif</string>
    <key>u1f481_1f3fb_200d_2642_fe0f</key>
    <string>u1f481_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f481_1f3fc_200d_2642_fe0f</key>
    <string>u1f481_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f481_1f3fd_200d_2642_fe0f</key>
    <string>u1f481_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f481_200d_2642_fe0f</key>
    <string>u1f481_200d_2642_fe0f.glif</string>
    <key>u1f482</key>
    <string>u1f482.glif</string>
    <key>u1f482_1f3fb</key>
    <string>u1f482_1f3fb.glif</string>
    <key>u1f482_1f3fb_200d_2640_fe0f</key>
    <string>u1f482_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fc</key>
    <string>u1f482_1f3fc.glif</string>
    <key>u1f482_1f3fc_200d_2640_fe0f</key>
    <string>u1f482_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fd</key>
    <string>u1f482_1f3fd.glif</string>
    <key>u1f482_1f3fd_200d_2640_fe0f</key>
    <string>u1f482_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f482_200d_2640_fe0f</key>
    <string>u1f482_200d_2640_fe0f.glif</string>
    <key>u1f487</key>
    <string>u1f487.glif</string>
    <key>u1f487_1f3fb</key>
    <string>u1f487_1f3fb.glif</string>
    <key>u1f487_1f3fb_200d_2642_fe0f</key>
    <string>u1f487_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f487_1f3fc</key>
    <string>u1f487_1f3fc.glif</string>
    <key>u1f487_1f3fc_200d_2642_fe0f</key>
    <string>u1f487_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f487_1f3fd</key>
    <string>u1f487_1f3fd.glif</string>
    <key>u1f487_1f3fd_200d_2642_fe0f</key>
    <string>u1f487_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f487_200d_2642_fe0f</key>
    <string>u1f487_200d_2642_fe0f.glif</string>
    <key>u1f570</key>
    <string>u1f570.glif</string>
    <key>u1f575</key>
    <string>u1f575.glif</string>
    <key>u1f575_1f3fb</key>
    <string>u1f575_1f3fb.glif</string>
    <key>u1f575_1f3fb_200d_2640_fe0f</key>
    <string>u1f575_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fb_200d_2642_fe0f</key>
    <string>u1f575_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fc</key>
    <string>u1f575_1f3fc.glif</string>
    <key>u1f575_1f3fc_200d_2640_fe0f</key>
    <string>u1f575_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fc_200d_2642_fe0f</key>
    <string>u1f575_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fd</key>
    <string>u1f575_1f3fd.glif</string>
    <key>u1f575_1f3fd_200d_2640_fe0f</key>
    <string>u1f575_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fd_200d_2642_fe0f</key>
    <string>u1f575_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2640_fe0f</key>
    <string>u1f575_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2642_fe0f</key>
    <string>u1f575_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f5f3</key>
    <string>u1f5f3.glif</string>
    <key>u1f647_1f3fb_200d_2642_fe0f</key>
    <string>u1f647_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3fc_200d_2642_fe0f</key>
    <string>u1f647_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3fd_200d_2642_fe0f</key>
    <string>u1f647_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f647_200d_2642_fe0f</key>
    <string>u1f647_200d_2642_fe0f.glif</string>
    <key>u1f64b_1f3fb_200d_2640_fe0f</key>
    <string>u1f64b_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f64b_1f3fc_200d_2640_fe0f</key>
    <string>u1f64b_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f64b_1f3fd_200d_2640_fe0f</key>
    <string>u1f64b_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f64b_200d_2640_fe0f</key>
    <string>u1f64b_200d_2640_fe0f.glif</string>
    <key>u1f6f7</key>
    <string>u1f6f7.glif</string>
    <key>u1f989</key>
    <string>u1f989.glif</string>
    <key>u1f9d1_1f3fb_200d_1f33e</key>
    <string>u1f9d1_1f3fb_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fb_200d_1f373</key>
    <string>u1f9d1_1f3fb_200d_1f373.glif</string>
    <key>u1f9d1_1f3fb_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fb_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2708_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f33e</key>
    <string>u1f9d1_1f3fc_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fc_200d_1f373</key>
    <string>u1f9d1_1f3fc_200d_1f373.glif</string>
    <key>u1f9d1_1f3fc_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_1f33e</key>
    <string>u1f9d1_1f3fd_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fd_200d_1f373</key>
    <string>u1f9d1_1f3fd_200d_1f373.glif</string>
    <key>u1f9d1_1f3fd_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2708_fe0f.glif</string>
    <key>u1f9d1_200d_1f33e</key>
    <string>u1f9d1_200d_1f33e.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9d1_200d_2696_fe0f</key>
    <string>u1f9d1_200d_2696_fe0f.glif</string>
    <key>u1f9d1_200d_2708_fe0f</key>
    <string>u1f9d1_200d_2708_fe0f.glif</string>
    <key>u1f9d5</key>
    <string>u1f9d5.glif</string>
    <key>u1f9d5_1f3fb</key>
    <string>u1f9d5_1f3fb.glif</string>
    <key>u1f9d5_1f3fc</key>
    <string>u1f9d5_1f3fc.glif</string>
    <key>u1f9d5_1f3fd</key>
    <string>u1f9d5_1f3fd.glif</string>
    <key>u1f9d9</key>
    <string>u1f9d9.glif</string>
    <key>u1f9d9_1f3fb</key>
    <string>u1f9d9_1f3fb.glif</string>
    <key>u1f9d9_1f3fc</key>
    <string>u1f9d9_1f3fc.glif</string>
    <key>u1f9d9_1f3fd</key>
    <string>u1f9d9_1f3fd.glif</string>
    <key>u1f9dd</key>
    <string>u1f9dd.glif</string>
    <key>u1f9dd_1f3fb</key>
    <string>u1f9dd_1f3fb.glif</string>
    <key>u1f9dd_1f3fb_200d_2642_fe0f</key>
    <string>u1f9dd_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9dd_1f3fc</key>
    <string>u1f9dd_1f3fc.glif</string>
    <key>u1f9dd_1f3fc_200d_2642_fe0f</key>
    <string>u1f9dd_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9dd_1f3fd</key>
    <string>u1f9dd_1f3fd.glif</string>
    <key>u1f9dd_1f3fd_200d_2642_fe0f</key>
    <string>u1f9dd_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9dd_200d_2642_fe0f</key>
    <string>u1f9dd_200d_2642_fe0f.glif</string>
  </dict>
</plist>
