<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f1f0_1f1ec</key>
    <string>u1f1f0_1f1ec.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1fe</key>
    <string>u1f1f2_1f1fe.glif</string>
    <key>u1f36e</key>
    <string>u1f36e.glif</string>
    <key>u1f379</key>
    <string>u1f379.glif</string>
    <key>u1f386</key>
    <string>u1f386.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f3a8</key>
    <string>u1f3a8.glif</string>
    <key>u1f4d2</key>
    <string>u1f4d2.glif</string>
    <key>u1f526</key>
    <string>u1f526.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f698</key>
    <string>u1f698.glif</string>
    <key>u1f91d</key>
    <string>u1f91d.glif</string>
    <key>u1f931</key>
    <string>u1f931.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f981</key>
    <string>u1f981.glif</string>
    <key>u1f9c8</key>
    <string>u1f9c8.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
  </dict>
</plist>
