<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f326</key>
    <string>u1f326.glif</string>
    <key>u1f44b</key>
    <string>u1f44b.glif</string>
    <key>u1f44b_1f3fb</key>
    <string>u1f44b_1f3fb.glif</string>
    <key>u1f44b_1f3fc</key>
    <string>u1f44b_1f3fc.glif</string>
    <key>u1f44b_1f3fd</key>
    <string>u1f44b_1f3fd.glif</string>
    <key>u1f44b_1f3fe</key>
    <string>u1f44b_1f3fe.glif</string>
    <key>u1f44b_1f3ff</key>
    <string>u1f44b_1f3ff.glif</string>
    <key>u1f48d</key>
    <string>u1f48d.glif</string>
    <key>u1f5bc</key>
    <string>u1f5bc.glif</string>
    <key>u1f5f3</key>
    <string>u1f5f3.glif</string>
    <key>u1f602</key>
    <string>u1f602.glif</string>
    <key>u1f605</key>
    <string>u1f605.glif</string>
    <key>u1f607</key>
    <string>u1f607.glif</string>
    <key>u1f622</key>
    <string>u1f622.glif</string>
  </dict>
</plist>
