<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f0cf</key>
    <string>u1f0cf.glif</string>
    <key>u1f1f8_1f1f2</key>
    <string>u1f1f8_1f1f2.glif</string>
    <key>u1f1f9_1f1ef</key>
    <string>u1f1f9_1f1ef.glif</string>
    <key>u1f1ff_1f1fc</key>
    <string>u1f1ff_1f1fc.glif</string>
    <key>u1f30b</key>
    <string>u1f30b.glif</string>
    <key>u1f32e</key>
    <string>u1f32e.glif</string>
    <key>u1f35c</key>
    <string>u1f35c.glif</string>
    <key>u1f373</key>
    <string>u1f373.glif</string>
    <key>u1f37a</key>
    <string>u1f37a.glif</string>
    <key>u1f38a</key>
    <string>u1f38a.glif</string>
    <key>u1f38b</key>
    <string>u1f38b.glif</string>
    <key>u1f396</key>
    <string>u1f396.glif</string>
    <key>u1f3af</key>
    <string>u1f3af.glif</string>
    <key>u1f406</key>
    <string>u1f406.glif</string>
    <key>u1f40c</key>
    <string>u1f40c.glif</string>
    <key>u1f427</key>
    <string>u1f427.glif</string>
    <key>u1f468_200d_1f9b1</key>
    <string>u1f468_200d_1f9b1.glif</string>
    <key>u1f469_200d_1f33e</key>
    <string>u1f469_200d_1f33e.glif</string>
    <key>u1f469_200d_1f3ed</key>
    <string>u1f469_200d_1f3ed.glif</string>
    <key>u1f469_200d_1f527</key>
    <string>u1f469_200d_1f527.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468.glif</string>
    <key>u1f46e</key>
    <string>u1f46e.glif</string>
    <key>u1f471_200d_2642_fe0f</key>
    <string>u1f471_200d_2642_fe0f.glif</string>
    <key>u1f483</key>
    <string>u1f483.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f48f</key>
    <string>u1f48f.glif</string>
    <key>u1f498</key>
    <string>u1f498.glif</string>
    <key>u1f4d2</key>
    <string>u1f4d2.glif</string>
    <key>u1f505</key>
    <string>u1f505.glif</string>
    <key>u1f54b</key>
    <string>u1f54b.glif</string>
    <key>u1f570</key>
    <string>u1f570.glif</string>
    <key>u1f575_fe0f_200d_2642_fe0f</key>
    <string>u1f575_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f618</key>
    <string>u1f618.glif</string>
    <key>u1f64b</key>
    <string>u1f64b.glif</string>
    <key>u1f6b5_200d_2640_fe0f</key>
    <string>u1f6b5_200d_2640_fe0f.glif</string>
    <key>u1f926_200d_2640_fe0f</key>
    <string>u1f926_200d_2640_fe0f.glif</string>
    <key>u1f934</key>
    <string>u1f934.glif</string>
    <key>u1f939</key>
    <string>u1f939.glif</string>
    <key>u1f94f</key>
    <string>u1f94f.glif</string>
    <key>u1f9b9_200d_2640_fe0f</key>
    <string>u1f9b9_200d_2640_fe0f.glif</string>
    <key>u1f9c7</key>
    <string>u1f9c7.glif</string>
    <key>u1f9cd</key>
    <string>u1f9cd.glif</string>
    <key>u1f9ce_200d_2640_fe0f</key>
    <string>u1f9ce_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f4bb</key>
    <string>u1f9d1_200d_1f4bb.glif</string>
    <key>u1f9d1_200d_1f527</key>
    <string>u1f9d1_200d_1f527.glif</string>
    <key>u1f9d1_200d_1f52c</key>
    <string>u1f9d1_200d_1f52c.glif</string>
    <key>u1f9d1_200d_2695_fe0f</key>
    <string>u1f9d1_200d_2695_fe0f.glif</string>
    <key>u1f9f2</key>
    <string>u1f9f2.glif</string>
    <key>u1f9f9</key>
    <string>u1f9f9.glif</string>
    <key>u1f9fd</key>
    <string>u1f9fd.glif</string>
    <key>u2696</key>
    <string>u2696.glif</string>
    <key>u26f3</key>
    <string>u26f3.glif</string>
    <key>u26f5</key>
    <string>u26f5.glif</string>
    <key>u26fa</key>
    <string>u26fa.glif</string>
  </dict>
</plist>
