<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f450</key>
    <string>u1f450.glif</string>
    <key>u1f468_200d_1f33e</key>
    <string>u1f468_200d_1f33e.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f468_200d_1f3a8</key>
    <string>u1f468_200d_1f3a8.glif</string>
    <key>u1f468_200d_1f3ed</key>
    <string>u1f468_200d_1f3ed.glif</string>
    <key>u1f468_200d_2696_fe0f</key>
    <string>u1f468_200d_2696_fe0f.glif</string>
    <key>u1f468_200d_2708_fe0f</key>
    <string>u1f468_200d_2708_fe0f.glif</string>
    <key>u1f469_200d_1f4bb</key>
    <string>u1f469_200d_1f4bb.glif</string>
    <key>u1f469_200d_1f52c</key>
    <string>u1f469_200d_1f52c.glif</string>
    <key>u1f46a</key>
    <string>u1f46a.glif</string>
    <key>u1f46e_200d_2640_fe0f</key>
    <string>u1f46e_200d_2640_fe0f.glif</string>
    <key>u1f473</key>
    <string>u1f473.glif</string>
    <key>u1f473_200d_2640_fe0f</key>
    <string>u1f473_200d_2640_fe0f.glif</string>
    <key>u1f473_200d_2642_fe0f</key>
    <string>u1f473_200d_2642_fe0f.glif</string>
    <key>u1f481_200d_2642_fe0f</key>
    <string>u1f481_200d_2642_fe0f.glif</string>
    <key>u1f482</key>
    <string>u1f482.glif</string>
    <key>u1f482_200d_2642_fe0f</key>
    <string>u1f482_200d_2642_fe0f.glif</string>
    <key>u1f57a</key>
    <string>u1f57a.glif</string>
    <key>u1f596</key>
    <string>u1f596.glif</string>
    <key>u1f645</key>
    <string>u1f645.glif</string>
    <key>u1f646_200d_2640_fe0f</key>
    <string>u1f646_200d_2640_fe0f.glif</string>
    <key>u1f647_200d_2642_fe0f</key>
    <string>u1f647_200d_2642_fe0f.glif</string>
    <key>u1f64d_200d_2640_fe0f</key>
    <string>u1f64d_200d_2640_fe0f.glif</string>
    <key>u1f64e_200d_2640_fe0f</key>
    <string>u1f64e_200d_2640_fe0f.glif</string>
    <key>u1f64e_200d_2642_fe0f</key>
    <string>u1f64e_200d_2642_fe0f.glif</string>
    <key>u1f6b5_200d_2640_fe0f</key>
    <string>u1f6b5_200d_2640_fe0f.glif</string>
    <key>u1f6b6_200d_2640_fe0f</key>
    <string>u1f6b6_200d_2640_fe0f.glif</string>
    <key>u1f6b6_200d_2642_fe0f</key>
    <string>u1f6b6_200d_2642_fe0f.glif</string>
    <key>u1f918</key>
    <string>u1f918.glif</string>
    <key>u1f919</key>
    <string>u1f919.glif</string>
    <key>u1f91e</key>
    <string>u1f91e.glif</string>
    <key>u1f91f</key>
    <string>u1f91f.glif</string>
    <key>u1f926</key>
    <string>u1f926.glif</string>
    <key>u1f926_200d_2640_fe0f</key>
    <string>u1f926_200d_2640_fe0f.glif</string>
    <key>u1f926_200d_2642_fe0f</key>
    <string>u1f926_200d_2642_fe0f.glif</string>
    <key>u1f935_200d_2640_fe0f</key>
    <string>u1f935_200d_2640_fe0f.glif</string>
    <key>u1f937</key>
    <string>u1f937.glif</string>
    <key>u1f937_200d_2640_fe0f</key>
    <string>u1f937_200d_2640_fe0f.glif</string>
    <key>u1f938</key>
    <string>u1f938.glif</string>
    <key>u1f938_200d_2640_fe0f</key>
    <string>u1f938_200d_2640_fe0f.glif</string>
    <key>u1f938_200d_2642_fe0f</key>
    <string>u1f938_200d_2642_fe0f.glif</string>
    <key>u1f939_200d_2640_fe0f</key>
    <string>u1f939_200d_2640_fe0f.glif</string>
    <key>u1f9b9</key>
    <string>u1f9b9.glif</string>
    <key>u1f9bb</key>
    <string>u1f9bb.glif</string>
    <key>u1f9cf</key>
    <string>u1f9cf.glif</string>
    <key>u1f9cf_200d_2640_fe0f</key>
    <string>u1f9cf_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f33e</key>
    <string>u1f9d1_200d_1f33e.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9d1_200d_1f3ed</key>
    <string>u1f9d1_200d_1f3ed.glif</string>
    <key>u1f9d1_200d_2696_fe0f</key>
    <string>u1f9d1_200d_2696_fe0f.glif</string>
    <key>u1f9d1_200d_2708_fe0f</key>
    <string>u1f9d1_200d_2708_fe0f.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
    <key>u1f9d9</key>
    <string>u1f9d9.glif</string>
    <key>u1f9dd</key>
    <string>u1f9dd.glif</string>
    <key>u261d</key>
    <string>u261d.glif</string>
    <key>u270a</key>
    <string>u270a.glif</string>
    <key>u270c</key>
    <string>u270c.glif</string>
  </dict>
</plist>
