<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f300</key>
    <string>u1f300.glif</string>
    <key>u1f367</key>
    <string>u1f367.glif</string>
    <key>u1f368</key>
    <string>u1f368.glif</string>
    <key>u1f376</key>
    <string>u1f376.glif</string>
    <key>u1f396</key>
    <string>u1f396.glif</string>
    <key>u1f3c5</key>
    <string>u1f3c5.glif</string>
    <key>u1f3f8</key>
    <string>u1f3f8.glif</string>
    <key>u1f457</key>
    <string>u1f457.glif</string>
    <key>u1f465</key>
    <string>u1f465.glif</string>
    <key>u1f4a0</key>
    <string>u1f4a0.glif</string>
    <key>u1f4e8</key>
    <string>u1f4e8.glif</string>
    <key>u1f535</key>
    <string>u1f535.glif</string>
    <key>u1f537</key>
    <string>u1f537.glif</string>
    <key>u1f539</key>
    <string>u1f539.glif</string>
    <key>u1f7e6</key>
    <string>u1f7e6.glif</string>
    <key>u1f947</key>
    <string>u1f947.glif</string>
    <key>u1f948</key>
    <string>u1f948.glif</string>
    <key>u1f949</key>
    <string>u1f949.glif</string>
    <key>u1f9e5</key>
    <string>u1f9e5.glif</string>
    <key>u1f9e6</key>
    <string>u1f9e6.glif</string>
    <key>u1fa81</key>
    <string>u1fa81.glif</string>
  </dict>
</plist>
