<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f324</key>
    <string>u1f324.glif</string>
    <key>u1f325</key>
    <string>u1f325.glif</string>
    <key>u1f326</key>
    <string>u1f326.glif</string>
    <key>u1f33c</key>
    <string>u1f33c.glif</string>
    <key>u1f375</key>
    <string>u1f375.glif</string>
    <key>u1f37d</key>
    <string>u1f37d.glif</string>
    <key>u1f3b0</key>
    <string>u1f3b0.glif</string>
    <key>u1f3c9</key>
    <string>u1f3c9.glif</string>
    <key>u1f40f</key>
    <string>u1f40f.glif</string>
    <key>u1f410</key>
    <string>u1f410.glif</string>
    <key>u1f413</key>
    <string>u1f413.glif</string>
    <key>u1f417</key>
    <string>u1f417.glif</string>
    <key>u1f4be</key>
    <string>u1f4be.glif</string>
    <key>u1f4d2</key>
    <string>u1f4d2.glif</string>
    <key>u1f4d3</key>
    <string>u1f4d3.glif</string>
    <key>u1f4d4</key>
    <string>u1f4d4.glif</string>
    <key>u1f4d5</key>
    <string>u1f4d5.glif</string>
    <key>u1f4d7</key>
    <string>u1f4d7.glif</string>
    <key>u1f4d8</key>
    <string>u1f4d8.glif</string>
    <key>u1f4d9</key>
    <string>u1f4d9.glif</string>
    <key>u1f5c3</key>
    <string>u1f5c3.glif</string>
    <key>u1f5fb</key>
    <string>u1f5fb.glif</string>
    <key>u1f690</key>
    <string>u1f690.glif</string>
    <key>u1f6d2</key>
    <string>u1f6d2.glif</string>
    <key>u1f6e5</key>
    <string>u1f6e5.glif</string>
    <key>u1f97c</key>
    <string>u1f97c.glif</string>
    <key>u1f986</key>
    <string>u1f986.glif</string>
    <key>u1f9a1</key>
    <string>u1f9a1.glif</string>
    <key>u1f9a8</key>
    <string>u1f9a8.glif</string>
    <key>u1f9a9</key>
    <string>u1f9a9.glif</string>
    <key>u1f9d6</key>
    <string>u1f9d6.glif</string>
    <key>u1f9d6_1f3fb</key>
    <string>u1f9d6_1f3fb.glif</string>
    <key>u1f9d6_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fc</key>
    <string>u1f9d6_1f3fc.glif</string>
    <key>u1f9d6_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fd</key>
    <string>u1f9d6_1f3fd.glif</string>
    <key>u1f9d6_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fe</key>
    <string>u1f9d6_1f3fe.glif</string>
    <key>u1f9d6_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3ff</key>
    <string>u1f9d6_1f3ff.glif</string>
    <key>u1f9d6_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d6_200d_2640_fe0f</key>
    <string>u1f9d6_200d_2640_fe0f.glif</string>
    <key>u1f9d6_200d_2642_fe0f</key>
    <string>u1f9d6_200d_2642_fe0f.glif</string>
    <key>u1f9db_1f3fb_200d_2642_fe0f</key>
    <string>u1f9db_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9db_1f3fc_200d_2642_fe0f</key>
    <string>u1f9db_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9db_1f3fd_200d_2642_fe0f</key>
    <string>u1f9db_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9db_1f3fe_200d_2642_fe0f</key>
    <string>u1f9db_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9db_1f3ff_200d_2642_fe0f</key>
    <string>u1f9db_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9db_200d_2642_fe0f</key>
    <string>u1f9db_200d_2642_fe0f.glif</string>
    <key>u1f9eb</key>
    <string>u1f9eb.glif</string>
    <key>u26c5</key>
    <string>u26c5.glif</string>
    <key>ue50a</key>
    <string>ue50a.glif</string>
  </dict>
</plist>
