<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f33f</key>
    <string>u1f33f.glif</string>
    <key>u1f3be</key>
    <string>u1f3be.glif</string>
    <key>u1f45d</key>
    <string>u1f45d.glif</string>
    <key>u26f4</key>
    <string>u26f4.glif</string>
  </dict>
</plist>
