<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f8_1f1f2</key>
    <string>u1f1f8_1f1f2.glif</string>
    <key>u1f31e</key>
    <string>u1f31e.glif</string>
    <key>u1f35b</key>
    <string>u1f35b.glif</string>
    <key>u1f36d</key>
    <string>u1f36d.glif</string>
    <key>u1f37a</key>
    <string>u1f37a.glif</string>
    <key>u1f37b</key>
    <string>u1f37b.glif</string>
    <key>u1f3a0</key>
    <string>u1f3a0.glif</string>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f3dd</key>
    <string>u1f3dd.glif</string>
    <key>u1f3f5</key>
    <string>u1f3f5.glif</string>
    <key>u1f406</key>
    <string>u1f406.glif</string>
    <key>u1f420</key>
    <string>u1f420.glif</string>
    <key>u1f423</key>
    <string>u1f423.glif</string>
    <key>u1f425</key>
    <string>u1f425.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f6a3</key>
    <string>u1f6a3.glif</string>
    <key>u1f6a3_1f3fb</key>
    <string>u1f6a3_1f3fb.glif</string>
    <key>u1f6a3_1f3fb_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fb_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3fc</key>
    <string>u1f6a3_1f3fc.glif</string>
    <key>u1f6a3_1f3fc_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fc_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3fd</key>
    <string>u1f6a3_1f3fd.glif</string>
    <key>u1f6a3_1f3fd_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fd_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3fe</key>
    <string>u1f6a3_1f3fe.glif</string>
    <key>u1f6a3_1f3fe_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fe_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3ff</key>
    <string>u1f6a3_1f3ff.glif</string>
    <key>u1f6a3_1f3ff_200d_2640_fe0f</key>
    <string>u1f6a3_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3ff_200d_2642_fe0f</key>
    <string>u1f6a3_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f6a3_200d_2640_fe0f</key>
    <string>u1f6a3_200d_2640_fe0f.glif</string>
    <key>u1f6a3_200d_2642_fe0f</key>
    <string>u1f6a3_200d_2642_fe0f.glif</string>
    <key>u1f917</key>
    <string>u1f917.glif</string>
    <key>u1f925</key>
    <string>u1f925.glif</string>
    <key>u1f92d</key>
    <string>u1f92d.glif</string>
    <key>u1f971</key>
    <string>u1f971.glif</string>
    <key>u1f98a</key>
    <string>u1f98a.glif</string>
    <key>u1f9c7</key>
    <string>u1f9c7.glif</string>
  </dict>
</plist>
