<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f30b</key>
    <string>u1f30b.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f379</key>
    <string>u1f379.glif</string>
    <key>u1f37b</key>
    <string>u1f37b.glif</string>
    <key>u1f3c3_200d_2642_fe0f</key>
    <string>u1f3c3_200d_2642_fe0f.glif</string>
    <key>u1f3c4_200d_2640_fe0f</key>
    <string>u1f3c4_200d_2640_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f452</key>
    <string>u1f452.glif</string>
    <key>u1f468_200d_1f3eb</key>
    <string>u1f468_200d_1f3eb.glif</string>
    <key>u1f468_200d_1f3ed</key>
    <string>u1f468_200d_1f3ed.glif</string>
    <key>u1f469_200d_1f373</key>
    <string>u1f469_200d_1f373.glif</string>
    <key>u1f469_200d_1f9bc</key>
    <string>u1f469_200d_1f9bc.glif</string>
    <key>u1f469_200d_1f9bd</key>
    <string>u1f469_200d_1f9bd.glif</string>
    <key>u1f469_200d_2708_fe0f</key>
    <string>u1f469_200d_2708_fe0f.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2642_fe0f</key>
    <string>u1f477_200d_2642_fe0f.glif</string>
    <key>u1f57a</key>
    <string>u1f57a.glif</string>
    <key>u1f686</key>
    <string>u1f686.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u1f6a3</key>
    <string>u1f6a3.glif</string>
    <key>u1f6f3</key>
    <string>u1f6f3.glif</string>
    <key>u1f937_200d_2642_fe0f</key>
    <string>u1f937_200d_2642_fe0f.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f97b</key>
    <string>u1f97b.glif</string>
    <key>u1f9b8_200d_2642_fe0f</key>
    <string>u1f9b8_200d_2642_fe0f.glif</string>
    <key>u1f9b9_200d_2640_fe0f</key>
    <string>u1f9b9_200d_2640_fe0f.glif</string>
    <key>u1f9c7</key>
    <string>u1f9c7.glif</string>
    <key>u1f9cd_200d_2642_fe0f</key>
    <string>u1f9cd_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3eb</key>
    <string>u1f9d1_200d_1f3eb.glif</string>
    <key>u1f9d1_200d_1f692</key>
    <string>u1f9d1_200d_1f692.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9da</key>
    <string>u1f9da.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
    <key>u2603</key>
    <string>u2603.glif</string>
    <key>u26c4</key>
    <string>u26c4.glif</string>
    <key>u26f9_fe0f_200d_2642_fe0f</key>
    <string>u26f9_fe0f_200d_2642_fe0f.glif</string>
  </dict>
</plist>
