<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f30c</key>
    <string>u1f30c.glif</string>
    <key>u1f419</key>
    <string>u1f419.glif</string>
    <key>u1f459</key>
    <string>u1f459.glif</string>
    <key>u1f45a</key>
    <string>u1f45a.glif</string>
    <key>u1f4da</key>
    <string>u1f4da.glif</string>
    <key>u1f93c_200d_2640_fe0f</key>
    <string>u1f93c_200d_2640_fe0f.glif</string>
    <key>u1f9f5</key>
    <string>u1f9f5.glif</string>
  </dict>
</plist>
