<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f303</key>
    <string>u1f303.glif</string>
    <key>u1f306</key>
    <string>u1f306.glif</string>
    <key>u1f30b</key>
    <string>u1f30b.glif</string>
    <key>u1f30c</key>
    <string>u1f30c.glif</string>
    <key>u1f31a</key>
    <string>u1f31a.glif</string>
    <key>u1f31b</key>
    <string>u1f31b.glif</string>
    <key>u1f31c</key>
    <string>u1f31c.glif</string>
    <key>u1f31d</key>
    <string>u1f31d.glif</string>
    <key>u1f321</key>
    <string>u1f321.glif</string>
    <key>u1f358</key>
    <string>u1f358.glif</string>
    <key>u1f359</key>
    <string>u1f359.glif</string>
    <key>u1f3c7</key>
    <string>u1f3c7.glif</string>
    <key>u1f3c7_1f3fb</key>
    <string>u1f3c7_1f3fb.glif</string>
    <key>u1f3c7_1f3fc</key>
    <string>u1f3c7_1f3fc.glif</string>
    <key>u1f3c7_1f3fd</key>
    <string>u1f3c7_1f3fd.glif</string>
    <key>u1f3c7_1f3fe</key>
    <string>u1f3c7_1f3fe.glif</string>
    <key>u1f3c7_1f3ff</key>
    <string>u1f3c7_1f3ff.glif</string>
    <key>u1f3cf</key>
    <string>u1f3cf.glif</string>
    <key>u1f3d8</key>
    <string>u1f3d8.glif</string>
    <key>u1f3d9</key>
    <string>u1f3d9.glif</string>
    <key>u1f3e6</key>
    <string>u1f3e6.glif</string>
    <key>u1f3f4_200d_2620_fe0f</key>
    <string>u1f3f4_200d_2620_fe0f.glif</string>
    <key>u1f402</key>
    <string>u1f402.glif</string>
    <key>u1f405</key>
    <string>u1f405.glif</string>
    <key>u1f408</key>
    <string>u1f408.glif</string>
    <key>u1f409</key>
    <string>u1f409.glif</string>
    <key>u1f40a</key>
    <string>u1f40a.glif</string>
    <key>u1f40b</key>
    <string>u1f40b.glif</string>
    <key>u1f40d</key>
    <string>u1f40d.glif</string>
    <key>u1f40e</key>
    <string>u1f40e.glif</string>
    <key>u1f411</key>
    <string>u1f411.glif</string>
    <key>u1f412</key>
    <string>u1f412.glif</string>
    <key>u1f418</key>
    <string>u1f418.glif</string>
    <key>u1f428</key>
    <string>u1f428.glif</string>
    <key>u1f432</key>
    <string>u1f432.glif</string>
    <key>u1f434</key>
    <string>u1f434.glif</string>
    <key>u1f43f</key>
    <string>u1f43f.glif</string>
    <key>u1f467_1f3fb</key>
    <string>u1f467_1f3fb.glif</string>
    <key>u1f468_1f3fb_200d_1f9af</key>
    <string>u1f468_1f3fb_200d_1f9af.glif</string>
    <key>u1f468_1f3fb_200d_1f9bc</key>
    <string>u1f468_1f3fb_200d_1f9bc.glif</string>
    <key>u1f468_1f3fb_200d_1f9bd</key>
    <string>u1f468_1f3fb_200d_1f9bd.glif</string>
    <key>u1f468_1f3fc_200d_1f9af</key>
    <string>u1f468_1f3fc_200d_1f9af.glif</string>
    <key>u1f468_1f3fd_200d_1f9af</key>
    <string>u1f468_1f3fd_200d_1f9af.glif</string>
    <key>u1f468_1f3fe_200d_1f9af</key>
    <string>u1f468_1f3fe_200d_1f9af.glif</string>
    <key>u1f468_1f3ff_200d_1f9af</key>
    <string>u1f468_1f3ff_200d_1f9af.glif</string>
    <key>u1f468_200d_1f9af</key>
    <string>u1f468_200d_1f9af.glif</string>
    <key>u1f469_1f3fb_200d_1f373</key>
    <string>u1f469_1f3fb_200d_1f373.glif</string>
    <key>u1f469_1f3fb_200d_1f9af</key>
    <string>u1f469_1f3fb_200d_1f9af.glif</string>
    <key>u1f469_1f3fb_200d_2695_fe0f</key>
    <string>u1f469_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fb_200d_2708_fe0f</key>
    <string>u1f469_1f3fb_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_1f9af</key>
    <string>u1f469_1f3fc_200d_1f9af.glif</string>
    <key>u1f469_1f3fc_200d_2695_fe0f</key>
    <string>u1f469_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_1f9af</key>
    <string>u1f469_1f3fd_200d_1f9af.glif</string>
    <key>u1f469_1f3fd_200d_2695_fe0f</key>
    <string>u1f469_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fe_200d_1f9af</key>
    <string>u1f469_1f3fe_200d_1f9af.glif</string>
    <key>u1f469_1f3fe_200d_2695_fe0f</key>
    <string>u1f469_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_1f9af</key>
    <string>u1f469_1f3ff_200d_1f9af.glif</string>
    <key>u1f469_1f3ff_200d_2695_fe0f</key>
    <string>u1f469_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_1f9af</key>
    <string>u1f469_200d_1f9af.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f46f</key>
    <string>u1f46f.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f477</key>
    <string>u1f477.glif</string>
    <key>u1f477_1f3fb</key>
    <string>u1f477_1f3fb.glif</string>
    <key>u1f477_1f3fb_200d_2640_fe0f</key>
    <string>u1f477_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fb_200d_2642_fe0f</key>
    <string>u1f477_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fc</key>
    <string>u1f477_1f3fc.glif</string>
    <key>u1f477_1f3fc_200d_2640_fe0f</key>
    <string>u1f477_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fc_200d_2642_fe0f</key>
    <string>u1f477_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fd</key>
    <string>u1f477_1f3fd.glif</string>
    <key>u1f477_1f3fd_200d_2640_fe0f</key>
    <string>u1f477_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fd_200d_2642_fe0f</key>
    <string>u1f477_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3fe</key>
    <string>u1f477_1f3fe.glif</string>
    <key>u1f477_1f3fe_200d_2640_fe0f</key>
    <string>u1f477_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fe_200d_2642_fe0f</key>
    <string>u1f477_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f477_1f3ff</key>
    <string>u1f477_1f3ff.glif</string>
    <key>u1f477_1f3ff_200d_2640_fe0f</key>
    <string>u1f477_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3ff_200d_2642_fe0f</key>
    <string>u1f477_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2640_fe0f</key>
    <string>u1f477_200d_2640_fe0f.glif</string>
    <key>u1f477_200d_2642_fe0f</key>
    <string>u1f477_200d_2642_fe0f.glif</string>
    <key>u1f479</key>
    <string>u1f479.glif</string>
    <key>u1f47a</key>
    <string>u1f47a.glif</string>
    <key>u1f47c_1f3fb</key>
    <string>u1f47c_1f3fb.glif</string>
    <key>u1f482_1f3fb_200d_2640_fe0f</key>
    <string>u1f482_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f486_1f3fb</key>
    <string>u1f486_1f3fb.glif</string>
    <key>u1f487_1f3fb</key>
    <string>u1f487_1f3fb.glif</string>
    <key>u1f487_1f3fb_200d_2640_fe0f</key>
    <string>u1f487_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f487_1f3fb_200d_2642_fe0f</key>
    <string>u1f487_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f4a9</key>
    <string>u1f4a9.glif</string>
    <key>u1f4ea</key>
    <string>u1f4ea.glif</string>
    <key>u1f4eb</key>
    <string>u1f4eb.glif</string>
    <key>u1f4ed</key>
    <string>u1f4ed.glif</string>
    <key>u1f4fb</key>
    <string>u1f4fb.glif</string>
    <key>u1f574_1f3fb_200d_2640_fe0f</key>
    <string>u1f574_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fb_200d_2640_fe0f</key>
    <string>u1f575_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fb_200d_2642_fe0f</key>
    <string>u1f575_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fc_200d_2640_fe0f</key>
    <string>u1f575_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fc_200d_2642_fe0f</key>
    <string>u1f575_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fd_200d_2640_fe0f</key>
    <string>u1f575_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fd_200d_2642_fe0f</key>
    <string>u1f575_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fe_200d_2640_fe0f</key>
    <string>u1f575_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fe_200d_2642_fe0f</key>
    <string>u1f575_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3ff_200d_2640_fe0f</key>
    <string>u1f575_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3ff_200d_2642_fe0f</key>
    <string>u1f575_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2640_fe0f</key>
    <string>u1f575_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2642_fe0f</key>
    <string>u1f575_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f58d</key>
    <string>u1f58d.glif</string>
    <key>u1f5c4</key>
    <string>u1f5c4.glif</string>
    <key>u1f648</key>
    <string>u1f648.glif</string>
    <key>u1f64b_1f3fb_200d_2640_fe0f</key>
    <string>u1f64b_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f64d_1f3fb</key>
    <string>u1f64d_1f3fb.glif</string>
    <key>u1f64e_1f3fb</key>
    <string>u1f64e_1f3fb.glif</string>
    <key>u1f683</key>
    <string>u1f683.glif</string>
    <key>u1f68b</key>
    <string>u1f68b.glif</string>
    <key>u1f691</key>
    <string>u1f691.glif</string>
    <key>u1f694</key>
    <string>u1f694.glif</string>
    <key>u1f695</key>
    <string>u1f695.glif</string>
    <key>u1f697</key>
    <string>u1f697.glif</string>
    <key>u1f699</key>
    <string>u1f699.glif</string>
    <key>u1f69c</key>
    <string>u1f69c.glif</string>
    <key>u1f6b4_1f3fb</key>
    <string>u1f6b4_1f3fb.glif</string>
    <key>u1f6b4_1f3fb_200d_2640_fe0f</key>
    <string>u1f6b4_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fb</key>
    <string>u1f6b5_1f3fb.glif</string>
    <key>u1f6b5_1f3fb_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f6fa</key>
    <string>u1f6fa.glif</string>
    <key>u1f92a</key>
    <string>u1f92a.glif</string>
    <key>u1f92c</key>
    <string>u1f92c.glif</string>
    <key>u1f94d</key>
    <string>u1f94d.glif</string>
    <key>u1f975</key>
    <string>u1f975.glif</string>
    <key>u1f97e</key>
    <string>u1f97e.glif</string>
    <key>u1f993</key>
    <string>u1f993.glif</string>
    <key>u1f99a</key>
    <string>u1f99a.glif</string>
    <key>u1f9a2</key>
    <string>u1f9a2.glif</string>
    <key>u1f9af</key>
    <string>u1f9af.glif</string>
    <key>u1f9bc</key>
    <string>u1f9bc.glif</string>
    <key>u1f9bd</key>
    <string>u1f9bd.glif</string>
    <key>u1f9cd_1f3fb_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9ce_1f3fb</key>
    <string>u1f9ce_1f3fb.glif</string>
    <key>u1f9ce_1f3fb_200d_2640_fe0f</key>
    <string>u1f9ce_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9ce_1f3fb_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fb_200d_1f3a8</key>
    <string>u1f9d1_1f3fb_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fb</key>
    <string>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fb.glif</string>
    <key>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fc</key>
    <string>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fc.glif</string>
    <key>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fd</key>
    <string>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fd.glif</string>
    <key>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fe</key>
    <string>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3fe.glif</string>
    <key>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3ff</key>
    <string>u1f9d1_1f3fb_200d_1f91d_200d_1f9d1_1f3ff.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9af</key>
    <string>u1f9d1_1f3fb_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fb</key>
    <string>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fb.glif</string>
    <key>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fc</key>
    <string>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fc.glif</string>
    <key>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fd</key>
    <string>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fd.glif</string>
    <key>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fe</key>
    <string>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3fe.glif</string>
    <key>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3ff</key>
    <string>u1f9d1_1f3fc_200d_1f91d_200d_1f9d1_1f3ff.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9af</key>
    <string>u1f9d1_1f3fc_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fb</key>
    <string>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fb.glif</string>
    <key>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fc</key>
    <string>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fc.glif</string>
    <key>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fd</key>
    <string>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fd.glif</string>
    <key>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fe</key>
    <string>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3fe.glif</string>
    <key>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3ff</key>
    <string>u1f9d1_1f3fd_200d_1f91d_200d_1f9d1_1f3ff.glif</string>
    <key>u1f9d1_1f3fd_200d_1f9af</key>
    <string>u1f9d1_1f3fd_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fb</key>
    <string>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fb.glif</string>
    <key>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fc</key>
    <string>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fc.glif</string>
    <key>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fd</key>
    <string>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fd.glif</string>
    <key>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fe</key>
    <string>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3fe.glif</string>
    <key>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3ff</key>
    <string>u1f9d1_1f3fe_200d_1f91d_200d_1f9d1_1f3ff.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9af</key>
    <string>u1f9d1_1f3fe_200d_1f9af.glif</string>
    <key>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fb</key>
    <string>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fb.glif</string>
    <key>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fc</key>
    <string>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fc.glif</string>
    <key>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fd</key>
    <string>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fd.glif</string>
    <key>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fe</key>
    <string>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3fe.glif</string>
    <key>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3ff</key>
    <string>u1f9d1_1f3ff_200d_1f91d_200d_1f9d1_1f3ff.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9af</key>
    <string>u1f9d1_1f3ff_200d_1f9af.glif</string>
    <key>u1f9d1_200d_1f91d_200d_1f9d1</key>
    <string>u1f9d1_200d_1f91d_200d_1f9d1.glif</string>
    <key>u1f9d1_200d_1f9af</key>
    <string>u1f9d1_200d_1f9af.glif</string>
    <key>u1f9d4_1f3fb</key>
    <string>u1f9d4_1f3fb.glif</string>
    <key>u1f9d7_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d7_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d7_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d9_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d9_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d9_200d_2642_fe0f</key>
    <string>u1f9d9_200d_2642_fe0f.glif</string>
    <key>u2620</key>
    <string>u2620.glif</string>
    <key>u26e9</key>
    <string>u26e9.glif</string>
    <key>u26f0</key>
    <string>u26f0.glif</string>
    <key>u26f3</key>
    <string>u26f3.glif</string>
    <key>u26fa</key>
    <string>u26fa.glif</string>
  </dict>
</plist>
