<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1e9</key>
    <string>u1f1f2_1f1e9.glif</string>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f1f2_1f1fd</key>
    <string>u1f1f2_1f1fd.glif</string>
    <key>u1f34c</key>
    <string>u1f34c.glif</string>
    <key>u1f36f</key>
    <string>u1f36f.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f40f</key>
    <string>u1f40f.glif</string>
    <key>u1f479</key>
    <string>u1f479.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f981</key>
    <string>u1f981.glif</string>
    <key>u1f9c1</key>
    <string>u1f9c1.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
  </dict>
</plist>
