<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3dc</key>
    <string>u1f3dc.glif</string>
    <key>u1f3f9</key>
    <string>u1f3f9.glif</string>
    <key>u1f695</key>
    <string>u1f695.glif</string>
    <key>u1f94d</key>
    <string>u1f94d.glif</string>
    <key>u1f94f</key>
    <string>u1f94f.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f97a</key>
    <string>u1f97a.glif</string>
    <key>u1f98a</key>
    <string>u1f98a.glif</string>
    <key>u1f9c7</key>
    <string>u1f9c7.glif</string>
    <key>u1fa94</key>
    <string>u1fa94.glif</string>
    <key>u2692</key>
    <string>u2692.glif</string>
    <key>u26f5</key>
    <string>u26f5.glif</string>
  </dict>
</plist>
