<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f415_200d_1f9ba</key>
    <string>u1f415_200d_1f9ba.glif</string>
    <key>u1f421</key>
    <string>u1f421.glif</string>
    <key>u1f4dd</key>
    <string>u1f4dd.glif</string>
    <key>u1f4e6</key>
    <string>u1f4e6.glif</string>
    <key>u1f6e3</key>
    <string>u1f6e3.glif</string>
    <key>u26b0</key>
    <string>u26b0.glif</string>
  </dict>
</plist>
