<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f33a</key>
    <string>u1f33a.glif</string>
    <key>u1f364</key>
    <string>u1f364.glif</string>
    <key>u1f45b</key>
    <string>u1f45b.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f953</key>
    <string>u1f953.glif</string>
    <key>u1f9e0</key>
    <string>u1f9e0.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
  </dict>
</plist>
