<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3f0</key>
    <string>u1f3f0.glif</string>
    <key>u1f465</key>
    <string>u1f465.glif</string>
    <key>u1f468_1f3fb_200d_1f373</key>
    <string>u1f468_1f3fb_200d_1f373.glif</string>
    <key>u1f468_1f3fc_200d_1f373</key>
    <string>u1f468_1f3fc_200d_1f373.glif</string>
    <key>u1f468_1f3fd_200d_1f373</key>
    <string>u1f468_1f3fd_200d_1f373.glif</string>
    <key>u1f468_1f3fe_200d_1f373</key>
    <string>u1f468_1f3fe_200d_1f373.glif</string>
    <key>u1f468_1f3ff_200d_1f373</key>
    <string>u1f468_1f3ff_200d_1f373.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f469_1f3fb_200d_1f373</key>
    <string>u1f469_1f3fb_200d_1f373.glif</string>
    <key>u1f469_1f3fb_200d_1f527</key>
    <string>u1f469_1f3fb_200d_1f527.glif</string>
    <key>u1f469_1f3fc_200d_1f33e</key>
    <string>u1f469_1f3fc_200d_1f33e.glif</string>
    <key>u1f469_1f3fc_200d_1f373</key>
    <string>u1f469_1f3fc_200d_1f373.glif</string>
    <key>u1f469_1f3fc_200d_1f527</key>
    <string>u1f469_1f3fc_200d_1f527.glif</string>
    <key>u1f469_1f3fd_200d_1f33e</key>
    <string>u1f469_1f3fd_200d_1f33e.glif</string>
    <key>u1f469_1f3fd_200d_1f373</key>
    <string>u1f469_1f3fd_200d_1f373.glif</string>
    <key>u1f469_1f3fd_200d_1f527</key>
    <string>u1f469_1f3fd_200d_1f527.glif</string>
    <key>u1f469_1f3fe_200d_1f33e</key>
    <string>u1f469_1f3fe_200d_1f33e.glif</string>
    <key>u1f469_1f3fe_200d_1f373</key>
    <string>u1f469_1f3fe_200d_1f373.glif</string>
    <key>u1f469_1f3fe_200d_1f527</key>
    <string>u1f469_1f3fe_200d_1f527.glif</string>
    <key>u1f469_1f3ff_200d_1f33e</key>
    <string>u1f469_1f3ff_200d_1f33e.glif</string>
    <key>u1f469_1f3ff_200d_1f373</key>
    <string>u1f469_1f3ff_200d_1f373.glif</string>
    <key>u1f469_1f3ff_200d_1f527</key>
    <string>u1f469_1f3ff_200d_1f527.glif</string>
    <key>u1f469_200d_1f33e</key>
    <string>u1f469_200d_1f33e.glif</string>
    <key>u1f469_200d_1f373</key>
    <string>u1f469_200d_1f373.glif</string>
    <key>u1f469_200d_1f527</key>
    <string>u1f469_200d_1f527.glif</string>
    <key>u1f5e3</key>
    <string>u1f5e3.glif</string>
    <key>u1f6e2</key>
    <string>u1f6e2.glif</string>
    <key>u1f94d</key>
    <string>u1f94d.glif</string>
    <key>u1f9d1_1f3fb_200d_1f373</key>
    <string>u1f9d1_1f3fb_200d_1f373.glif</string>
    <key>u1f9d1_1f3fc_200d_1f373</key>
    <string>u1f9d1_1f3fc_200d_1f373.glif</string>
    <key>u1f9d1_1f3fd_200d_1f373</key>
    <string>u1f9d1_1f3fd_200d_1f373.glif</string>
    <key>u1f9d1_1f3fe_200d_1f373</key>
    <string>u1f9d1_1f3fe_200d_1f373.glif</string>
    <key>u1f9d1_1f3ff_200d_1f373</key>
    <string>u1f9d1_1f3ff_200d_1f373.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9e5</key>
    <string>u1f9e5.glif</string>
    <key>u1f9f6</key>
    <string>u1f9f6.glif</string>
    <key>u1fa81</key>
    <string>u1fa81.glif</string>
    <key>u2693</key>
    <string>u2693.glif</string>
  </dict>
</plist>
