<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_1f3fd_200d_1f393</key>
    <string>u1f468_1f3fd_200d_1f393.glif</string>
    <key>u1f468_1f3fd_200d_1f3eb</key>
    <string>u1f468_1f3fd_200d_1f3eb.glif</string>
    <key>u1f468_1f3fd_200d_1f680</key>
    <string>u1f468_1f3fd_200d_1f680.glif</string>
    <key>u1f469_1f3fd_200d_1f33e</key>
    <string>u1f469_1f3fd_200d_1f33e.glif</string>
    <key>u1f469_1f3fd_200d_1f3eb</key>
    <string>u1f469_1f3fd_200d_1f3eb.glif</string>
    <key>u1f469_1f3fd_200d_1f3ed</key>
    <string>u1f469_1f3fd_200d_1f3ed.glif</string>
    <key>u1f469_1f3fd_200d_1f527</key>
    <string>u1f469_1f3fd_200d_1f527.glif</string>
    <key>u1f469_1f3fd_200d_1f692</key>
    <string>u1f469_1f3fd_200d_1f692.glif</string>
    <key>u1f46e_1f3fd_200d_2640_fe0f</key>
    <string>u1f46e_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fd_200d_2640_fe0f</key>
    <string>u1f477_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f486_1f3fd_200d_2640_fe0f</key>
    <string>u1f486_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f645_1f3fd_200d_2642_fe0f</key>
    <string>u1f645_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f919_1f3fd</key>
    <string>u1f919_1f3fd.glif</string>
    <key>u1f931_1f3fd</key>
    <string>u1f931_1f3fd.glif</string>
    <key>u1f937_1f3fd_200d_2642_fe0f</key>
    <string>u1f937_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9db_1f3fd_200d_2640_fe0f</key>
    <string>u1f9db_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fd_200d_2642_fe0f</key>
    <string>u1f9db_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9dd_1f3fd_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fd_200d_2640_fe0f.glif</string>
  </dict>
</plist>
