<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f926_1f3fb_200d_2640_fe0f</key>
    <string>u1f926_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f926_1f3fc_200d_2640_fe0f</key>
    <string>u1f926_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f926_1f3fd_200d_2640_fe0f</key>
    <string>u1f926_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f926_1f3ff_200d_2640_fe0f</key>
    <string>u1f926_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f926_200d_2640_fe0f</key>
    <string>u1f926_200d_2640_fe0f.glif</string>
    <key>u1f980</key>
    <string>u1f980.glif</string>
  </dict>
</plist>
