<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f52d</key>
    <string>u1f52d.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f960</key>
    <string>u1f960.glif</string>
    <key>u1f99b</key>
    <string>u1f99b.glif</string>
    <key>u2697</key>
    <string>u2697.glif</string>
  </dict>
</plist>
