<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f31f</key>
    <string>u1f31f.glif</string>
    <key>u1f34c</key>
    <string>u1f34c.glif</string>
    <key>u1f452</key>
    <string>u1f452.glif</string>
    <key>u1f4b4</key>
    <string>u1f4b4.glif</string>
    <key>u1f4bd</key>
    <string>u1f4bd.glif</string>
    <key>u1f54c</key>
    <string>u1f54c.glif</string>
    <key>u1f6a0</key>
    <string>u1f6a0.glif</string>
    <key>u1f6f8</key>
    <string>u1f6f8.glif</string>
    <key>u1f959</key>
    <string>u1f959.glif</string>
    <key>u1f95f</key>
    <string>u1f95f.glif</string>
    <key>u1f969</key>
    <string>u1f969.glif</string>
    <key>u1f9c0</key>
    <string>u1f9c0.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
    <key>u1f9ed</key>
    <string>u1f9ed.glif</string>
    <key>u26ea</key>
    <string>u26ea.glif</string>
  </dict>
</plist>
