<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f686</key>
    <string>u1f686.glif</string>
    <key>u1f69d</key>
    <string>u1f69d.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u1f9c1</key>
    <string>u1f9c1.glif</string>
  </dict>
</plist>
