<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f48e</key>
    <string>u1f48e.glif</string>
    <key>u1f4a8</key>
    <string>u1f4a8.glif</string>
    <key>u1f4ac</key>
    <string>u1f4ac.glif</string>
    <key>u1f4ad</key>
    <string>u1f4ad.glif</string>
  </dict>
</plist>
