<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f347</key>
    <string>u1f347.glif</string>
    <key>u1f41b</key>
    <string>u1f41b.glif</string>
    <key>u1f452</key>
    <string>u1f452.glif</string>
    <key>u1f45a</key>
    <string>u1f45a.glif</string>
    <key>u1f469_1f3fb_200d_1f393</key>
    <string>u1f469_1f3fb_200d_1f393.glif</string>
    <key>u1f469_1f3fc_200d_1f393</key>
    <string>u1f469_1f3fc_200d_1f393.glif</string>
    <key>u1f469_1f3fd_200d_1f393</key>
    <string>u1f469_1f3fd_200d_1f393.glif</string>
    <key>u1f469_1f3fe_200d_1f393</key>
    <string>u1f469_1f3fe_200d_1f393.glif</string>
    <key>u1f469_1f3ff_200d_1f393</key>
    <string>u1f469_1f3ff_200d_1f393.glif</string>
    <key>u1f469_200d_1f393</key>
    <string>u1f469_200d_1f393.glif</string>
    <key>u1f939_1f3fd_200d_2640_fe0f</key>
    <string>u1f939_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d5</key>
    <string>u1f9d5.glif</string>
    <key>u1f9d5_1f3fb</key>
    <string>u1f9d5_1f3fb.glif</string>
    <key>u1f9d5_1f3fc</key>
    <string>u1f9d5_1f3fc.glif</string>
    <key>u1f9d5_1f3fd</key>
    <string>u1f9d5_1f3fd.glif</string>
    <key>u1f9d5_1f3fe</key>
    <string>u1f9d5_1f3fe.glif</string>
    <key>u1f9d5_1f3ff</key>
    <string>u1f9d5_1f3ff.glif</string>
    <key>u1f9d9_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d9_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d9_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d9_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d9_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d9_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d9_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d9_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d9_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d9_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d9_200d_2640_fe0f</key>
    <string>u1f9d9_200d_2640_fe0f.glif</string>
    <key>u2602</key>
    <string>u2602.glif</string>
    <key>u2614</key>
    <string>u2614.glif</string>
    <key>u264b</key>
    <string>u264b.glif</string>
  </dict>
</plist>
