<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f304</key>
    <string>u1f304.glif</string>
    <key>u1f332</key>
    <string>u1f332.glif</string>
    <key>u1f334</key>
    <string>u1f334.glif</string>
    <key>u1f378</key>
    <string>u1f378.glif</string>
    <key>u1f384</key>
    <string>u1f384.glif</string>
    <key>u1f3de</key>
    <string>u1f3de.glif</string>
    <key>u1f468_1f3fb_200d_1f393</key>
    <string>u1f468_1f3fb_200d_1f393.glif</string>
    <key>u1f468_1f3fc_200d_1f393</key>
    <string>u1f468_1f3fc_200d_1f393.glif</string>
    <key>u1f468_1f3fd_200d_1f393</key>
    <string>u1f468_1f3fd_200d_1f393.glif</string>
    <key>u1f468_1f3fe_200d_1f393</key>
    <string>u1f468_1f3fe_200d_1f393.glif</string>
    <key>u1f468_1f3ff_200d_1f393</key>
    <string>u1f468_1f3ff_200d_1f393.glif</string>
    <key>u1f468_200d_1f393</key>
    <string>u1f468_200d_1f393.glif</string>
    <key>u1f4b5</key>
    <string>u1f4b5.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f4d7</key>
    <string>u1f4d7.glif</string>
    <key>u1f54a</key>
    <string>u1f54a.glif</string>
    <key>u1f683</key>
    <string>u1f683.glif</string>
    <key>u1f957</key>
    <string>u1f957.glif</string>
    <key>u1f966</key>
    <string>u1f966.glif</string>
    <key>u1f96b</key>
    <string>u1f96b.glif</string>
    <key>u1f995</key>
    <string>u1f995.glif</string>
    <key>u1f9a0</key>
    <string>u1f9a0.glif</string>
    <key>u1f9dd_1f3fb_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fd_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fe_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3ff_200d_2640_fe0f</key>
    <string>u1f9dd_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9dd_200d_2640_fe0f</key>
    <string>u1f9dd_200d_2640_fe0f.glif</string>
  </dict>
</plist>
