<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f638</key>
    <string>u1f638.glif</string>
    <key>u1f639</key>
    <string>u1f639.glif</string>
    <key>u1f63a</key>
    <string>u1f63a.glif</string>
    <key>u1f63b</key>
    <string>u1f63b.glif</string>
    <key>u1f63c</key>
    <string>u1f63c.glif</string>
    <key>u1f63d</key>
    <string>u1f63d.glif</string>
    <key>u1f63e</key>
    <string>u1f63e.glif</string>
    <key>u1f63f</key>
    <string>u1f63f.glif</string>
    <key>u1f640</key>
    <string>u1f640.glif</string>
    <key>u1f941</key>
    <string>u1f941.glif</string>
    <key>u1fa95</key>
    <string>u1fa95.glif</string>
  </dict>
</plist>
