<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f964</key>
    <string>u1f964.glif</string>
    <key>u1f9de</key>
    <string>u1f9de.glif</string>
  </dict>
</plist>
