<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f914</key>
    <string>u1f914.glif</string>
    <key>u1f923</key>
    <string>u1f923.glif</string>
    <key>u1f92b</key>
    <string>u1f92b.glif</string>
    <key>u1f974</key>
    <string>u1f974.glif</string>
    <key>u1f97a</key>
    <string>u1f97a.glif</string>
  </dict>
</plist>
