<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f399</key>
    <string>u1f399.glif</string>
    <key>u1f39a</key>
    <string>u1f39a.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_1f3fb</key>
    <string>u1f3cb_1f3fb.glif</string>
    <key>u1f3cb_1f3fb_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fc</key>
    <string>u1f3cb_1f3fc.glif</string>
    <key>u1f3cb_1f3fc_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fd</key>
    <string>u1f3cb_1f3fd.glif</string>
    <key>u1f3cb_1f3fd_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fe</key>
    <string>u1f3cb_1f3fe.glif</string>
    <key>u1f3cb_1f3fe_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3ff</key>
    <string>u1f3cb_1f3ff.glif</string>
    <key>u1f3cb_1f3ff_200d_2642_fe0f</key>
    <string>u1f3cb_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f3e5</key>
    <string>u1f3e5.glif</string>
    <key>u1f3f8</key>
    <string>u1f3f8.glif</string>
    <key>u1f3f9</key>
    <string>u1f3f9.glif</string>
    <key>u1f403</key>
    <string>u1f403.glif</string>
    <key>u1f407</key>
    <string>u1f407.glif</string>
    <key>u1f41a</key>
    <string>u1f41a.glif</string>
    <key>u1f42d</key>
    <string>u1f42d.glif</string>
    <key>u1f489</key>
    <string>u1f489.glif</string>
    <key>u1f48c</key>
    <string>u1f48c.glif</string>
    <key>u1f4c3</key>
    <string>u1f4c3.glif</string>
    <key>u1f4c4</key>
    <string>u1f4c4.glif</string>
    <key>u1f4cc</key>
    <string>u1f4cc.glif</string>
    <key>u1f4d1</key>
    <string>u1f4d1.glif</string>
    <key>u1f4d6</key>
    <string>u1f4d6.glif</string>
    <key>u1f4e7</key>
    <string>u1f4e7.glif</string>
    <key>u1f4e8</key>
    <string>u1f4e8.glif</string>
    <key>u1f4e9</key>
    <string>u1f4e9.glif</string>
    <key>u1f4f0</key>
    <string>u1f4f0.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f6a7</key>
    <string>u1f6a7.glif</string>
    <key>u1f6a8</key>
    <string>u1f6a8.glif</string>
    <key>u1f6bd</key>
    <string>u1f6bd.glif</string>
    <key>u1f6c0</key>
    <string>u1f6c0.glif</string>
    <key>u1f6c0_1f3fb</key>
    <string>u1f6c0_1f3fb.glif</string>
    <key>u1f6c0_1f3fc</key>
    <string>u1f6c0_1f3fc.glif</string>
    <key>u1f6c0_1f3fd</key>
    <string>u1f6c0_1f3fd.glif</string>
    <key>u1f6c0_1f3fe</key>
    <string>u1f6c0_1f3fe.glif</string>
    <key>u1f6c0_1f3ff</key>
    <string>u1f6c0_1f3ff.glif</string>
    <key>u1f6c1</key>
    <string>u1f6c1.glif</string>
    <key>u1f6e2</key>
    <string>u1f6e2.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f6f5</key>
    <string>u1f6f5.glif</string>
    <key>u1f910</key>
    <string>u1f910.glif</string>
    <key>u1f94c</key>
    <string>u1f94c.glif</string>
    <key>u1f99d</key>
    <string>u1f99d.glif</string>
    <key>u1f9b9_1f3fb_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fb_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fc_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fd_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fd_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fe_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fe_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3ff_200d_2640_fe0f</key>
    <string>u1f9b9_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3ff_200d_2642_fe0f</key>
    <string>u1f9b9_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9b9_200d_2640_fe0f</key>
    <string>u1f9b9_200d_2640_fe0f.glif</string>
    <key>u1f9b9_200d_2642_fe0f</key>
    <string>u1f9b9_200d_2642_fe0f.glif</string>
    <key>u1f9be</key>
    <string>u1f9be.glif</string>
    <key>u1f9bf</key>
    <string>u1f9bf.glif</string>
    <key>u1f9c4</key>
    <string>u1f9c4.glif</string>
    <key>u1f9df_200d_2642_fe0f</key>
    <string>u1f9df_200d_2642_fe0f.glif</string>
    <key>u1f9f7</key>
    <string>u1f9f7.glif</string>
    <key>u1fa80</key>
    <string>u1fa80.glif</string>
    <key>u2709</key>
    <string>u2709.glif</string>
  </dict>
</plist>
