<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f609</key>
    <string>u1f609.glif</string>
    <key>u1f60a</key>
    <string>u1f60a.glif</string>
    <key>u1f60e</key>
    <string>u1f60e.glif</string>
    <key>u1f618</key>
    <string>u1f618.glif</string>
    <key>u1f61a</key>
    <string>u1f61a.glif</string>
    <key>u1f61f</key>
    <string>u1f61f.glif</string>
    <key>u1f622</key>
    <string>u1f622.glif</string>
    <key>u1f627</key>
    <string>u1f627.glif</string>
    <key>u1f628</key>
    <string>u1f628.glif</string>
    <key>u1f928</key>
    <string>u1f928.glif</string>
    <key>u1f974</key>
    <string>u1f974.glif</string>
    <key>u263a</key>
    <string>u263a.glif</string>
  </dict>
</plist>
