<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f401</key>
    <string>u1f401.glif</string>
    <key>u1f45f</key>
    <string>u1f45f.glif</string>
    <key>u1f48f</key>
    <string>u1f48f.glif</string>
    <key>u1f687</key>
    <string>u1f687.glif</string>
    <key>u1f693</key>
    <string>u1f693.glif</string>
    <key>u1f9b8_1f3fb_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fd_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fe_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3ff_200d_2640_fe0f</key>
    <string>u1f9b8_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9b8_200d_2640_fe0f</key>
    <string>u1f9b8_200d_2640_fe0f.glif</string>
    <key>u1f9ed</key>
    <string>u1f9ed.glif</string>
    <key>u23f1</key>
    <string>u23f1.glif</string>
  </dict>
</plist>
