<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f38a</key>
    <string>u1f38a.glif</string>
    <key>u1f3cd</key>
    <string>u1f3cd.glif</string>
    <key>u1f3dc</key>
    <string>u1f3dc.glif</string>
    <key>u1f409</key>
    <string>u1f409.glif</string>
    <key>u1f468_1f3fb_200d_1f9bc</key>
    <string>u1f468_1f3fb_200d_1f9bc.glif</string>
    <key>u1f468_1f3fb_200d_1f9bd</key>
    <string>u1f468_1f3fb_200d_1f9bd.glif</string>
    <key>u1f52b</key>
    <string>u1f52b.glif</string>
    <key>u1f683</key>
    <string>u1f683.glif</string>
    <key>u1f69c</key>
    <string>u1f69c.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f952</key>
    <string>u1f952.glif</string>
    <key>u1f99a</key>
    <string>u1f99a.glif</string>
    <key>u1f9ce_1f3fc_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3fd_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3fe_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3ff_200d_2642_fe0f</key>
    <string>u1f9ce_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9ce_200d_2642_fe0f</key>
    <string>u1f9ce_200d_2642_fe0f.glif</string>
    <key>u1f9d8_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d8_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d8_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d8_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d8_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d8_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
  </dict>
</plist>
