<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f0_1f1ec</key>
    <string>u1f1f0_1f1ec.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1fe</key>
    <string>u1f1f2_1f1fe.glif</string>
    <key>u1f1fa_1f1fe</key>
    <string>u1f1fa_1f1fe.glif</string>
    <key>u1f303</key>
    <string>u1f303.glif</string>
    <key>u1f306</key>
    <string>u1f306.glif</string>
    <key>u1f312</key>
    <string>u1f312.glif</string>
    <key>u1f318</key>
    <string>u1f318.glif</string>
    <key>u1f32d</key>
    <string>u1f32d.glif</string>
    <key>u1f36d</key>
    <string>u1f36d.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f38e</key>
    <string>u1f38e.glif</string>
    <key>u1f397</key>
    <string>u1f397.glif</string>
    <key>u1f3cc_fe0f_200d_2642_fe0f</key>
    <string>u1f3cc_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f3d9</key>
    <string>u1f3d9.glif</string>
    <key>u1f3dd</key>
    <string>u1f3dd.glif</string>
    <key>u1f3eb</key>
    <string>u1f3eb.glif</string>
    <key>u1f3f5</key>
    <string>u1f3f5.glif</string>
    <key>u1f411</key>
    <string>u1f411.glif</string>
    <key>u1f42f</key>
    <string>u1f42f.glif</string>
    <key>u1f439</key>
    <string>u1f439.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f484</key>
    <string>u1f484.glif</string>
    <key>u1f58a</key>
    <string>u1f58a.glif</string>
    <key>u1f638</key>
    <string>u1f638.glif</string>
    <key>u1f639</key>
    <string>u1f639.glif</string>
    <key>u1f63a</key>
    <string>u1f63a.glif</string>
    <key>u1f63b</key>
    <string>u1f63b.glif</string>
    <key>u1f63c</key>
    <string>u1f63c.glif</string>
    <key>u1f63d</key>
    <string>u1f63d.glif</string>
    <key>u1f63e</key>
    <string>u1f63e.glif</string>
    <key>u1f63f</key>
    <string>u1f63f.glif</string>
    <key>u1f640</key>
    <string>u1f640.glif</string>
    <key>u1f696</key>
    <string>u1f696.glif</string>
    <key>u1f6a4</key>
    <string>u1f6a4.glif</string>
    <key>u1f6f6</key>
    <string>u1f6f6.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
  </dict>
</plist>
