<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f5c3</key>
    <string>u1f5c3.glif</string>
    <key>u1f639</key>
    <string>u1f639.glif</string>
    <key>u1f63f</key>
    <string>u1f63f.glif</string>
    <key>u1f647_1f3fb_200d_2642_fe0f</key>
    <string>u1f647_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3fc_200d_2642_fe0f</key>
    <string>u1f647_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3fd_200d_2642_fe0f</key>
    <string>u1f647_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3ff_200d_2642_fe0f</key>
    <string>u1f647_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f647_200d_2642_fe0f</key>
    <string>u1f647_200d_2642_fe0f.glif</string>
    <key>u1f6eb</key>
    <string>u1f6eb.glif</string>
    <key>u1f6ec</key>
    <string>u1f6ec.glif</string>
    <key>u1f6f8</key>
    <string>u1f6f8.glif</string>
  </dict>
</plist>
