<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f336</key>
    <string>u1f336.glif</string>
    <key>u1f47a</key>
    <string>u1f47a.glif</string>
    <key>u1f621</key>
    <string>u1f621.glif</string>
    <key>u1f92c</key>
    <string>u1f92c.glif</string>
    <key>u1fa78</key>
    <string>u1fa78.glif</string>
  </dict>
</plist>
