<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f37b</key>
    <string>u1f37b.glif</string>
    <key>u1f3a0</key>
    <string>u1f3a0.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f68c</key>
    <string>u1f68c.glif</string>
    <key>u1f958</key>
    <string>u1f958.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f96e</key>
    <string>u1f96e.glif</string>
    <key>u2603</key>
    <string>u2603.glif</string>
    <key>u26c4</key>
    <string>u26c4.glif</string>
  </dict>
</plist>
