<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f3df</key>
    <string>u1f3df.glif</string>
    <key>u1f3e0</key>
    <string>u1f3e0.glif</string>
    <key>u1f400</key>
    <string>u1f400.glif</string>
    <key>u1f4c7</key>
    <string>u1f4c7.glif</string>
    <key>u1f4d1</key>
    <string>u1f4d1.glif</string>
    <key>u1f4fb</key>
    <string>u1f4fb.glif</string>
    <key>u1f4fc</key>
    <string>u1f4fc.glif</string>
    <key>u1f550</key>
    <string>u1f550.glif</string>
    <key>u1f551</key>
    <string>u1f551.glif</string>
    <key>u1f552</key>
    <string>u1f552.glif</string>
    <key>u1f553</key>
    <string>u1f553.glif</string>
    <key>u1f554</key>
    <string>u1f554.glif</string>
    <key>u1f555</key>
    <string>u1f555.glif</string>
    <key>u1f556</key>
    <string>u1f556.glif</string>
    <key>u1f557</key>
    <string>u1f557.glif</string>
    <key>u1f558</key>
    <string>u1f558.glif</string>
    <key>u1f559</key>
    <string>u1f559.glif</string>
    <key>u1f560</key>
    <string>u1f560.glif</string>
    <key>u1f562</key>
    <string>u1f562.glif</string>
    <key>u1f563</key>
    <string>u1f563.glif</string>
    <key>u1f564</key>
    <string>u1f564.glif</string>
    <key>u1f565</key>
    <string>u1f565.glif</string>
    <key>u1f566</key>
    <string>u1f566.glif</string>
    <key>u1f567</key>
    <string>u1f567.glif</string>
    <key>u1f575_1f3fb_200d_2640_fe0f</key>
    <string>u1f575_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fc_200d_2640_fe0f</key>
    <string>u1f575_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fd_200d_2640_fe0f</key>
    <string>u1f575_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3fe_200d_2640_fe0f</key>
    <string>u1f575_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3ff_200d_2640_fe0f</key>
    <string>u1f575_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2640_fe0f</key>
    <string>u1f575_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f58b</key>
    <string>u1f58b.glif</string>
    <key>u1f5ff</key>
    <string>u1f5ff.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f6a2</key>
    <string>u1f6a2.glif</string>
    <key>u1f9c2</key>
    <string>u1f9c2.glif</string>
    <key>u1f9c9</key>
    <string>u1f9c9.glif</string>
    <key>u1fa82</key>
    <string>u1fa82.glif</string>
    <key>u23f1</key>
    <string>u23f1.glif</string>
    <key>u2692</key>
    <string>u2692.glif</string>
    <key>u2708</key>
    <string>u2708.glif</string>
    <key>u2712</key>
    <string>u2712.glif</string>
  </dict>
</plist>
