<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f338</key>
    <string>u1f338.glif</string>
    <key>u1f416</key>
    <string>u1f416.glif</string>
    <key>u1f437</key>
    <string>u1f437.glif</string>
    <key>u1f497</key>
    <string>u1f497.glif</string>
    <key>u1f49e</key>
    <string>u1f49e.glif</string>
    <key>u1fa70</key>
    <string>u1fa70.glif</string>
  </dict>
</plist>
