<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f31f</key>
    <string>u1f31f.glif</string>
    <key>u1f324</key>
    <string>u1f324.glif</string>
    <key>u1f325</key>
    <string>u1f325.glif</string>
    <key>u1f326</key>
    <string>u1f326.glif</string>
    <key>u1f364</key>
    <string>u1f364.glif</string>
    <key>u1f369</key>
    <string>u1f369.glif</string>
    <key>u1f36d</key>
    <string>u1f36d.glif</string>
    <key>u1f37a</key>
    <string>u1f37a.glif</string>
    <key>u1f37b</key>
    <string>u1f37b.glif</string>
    <key>u1f37c</key>
    <string>u1f37c.glif</string>
    <key>u1f397</key>
    <string>u1f397.glif</string>
    <key>u1f3c6</key>
    <string>u1f3c6.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3dc</key>
    <string>u1f3dc.glif</string>
    <key>u1f405</key>
    <string>u1f405.glif</string>
    <key>u1f410</key>
    <string>u1f410.glif</string>
    <key>u1f411</key>
    <string>u1f411.glif</string>
    <key>u1f413</key>
    <string>u1f413.glif</string>
    <key>u1f420</key>
    <string>u1f420.glif</string>
    <key>u1f425</key>
    <string>u1f425.glif</string>
    <key>u1f426</key>
    <string>u1f426.glif</string>
    <key>u1f427</key>
    <string>u1f427.glif</string>
    <key>u1f45c</key>
    <string>u1f45c.glif</string>
    <key>u1f467</key>
    <string>u1f467.glif</string>
    <key>u1f468_200d_2764_fe0f_200d_1f468</key>
    <string>u1f468_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f469</key>
    <string>u1f469.glif</string>
    <key>u1f469_200d_1f3a8</key>
    <string>u1f469_200d_1f3a8.glif</string>
    <key>u1f469_200d_1f9b1</key>
    <string>u1f469_200d_1f9b1.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f468</key>
    <string>u1f469_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f469</key>
    <string>u1f469_200d_2764_fe0f_200d_1f469.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469.glif</string>
    <key>u1f46a</key>
    <string>u1f46a.glif</string>
    <key>u1f46b</key>
    <string>u1f46b.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f46d</key>
    <string>u1f46d.glif</string>
    <key>u1f478</key>
    <string>u1f478.glif</string>
    <key>u1f481</key>
    <string>u1f481.glif</string>
    <key>u1f481_200d_2640_fe0f</key>
    <string>u1f481_200d_2640_fe0f.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f491</key>
    <string>u1f491.glif</string>
    <key>u1f498</key>
    <string>u1f498.glif</string>
    <key>u1f4b3</key>
    <string>u1f4b3.glif</string>
    <key>u1f4ef</key>
    <string>u1f4ef.glif</string>
    <key>u1f505</key>
    <string>u1f505.glif</string>
    <key>u1f506</key>
    <string>u1f506.glif</string>
    <key>u1f514</key>
    <string>u1f514.glif</string>
    <key>u1f515</key>
    <string>u1f515.glif</string>
    <key>u1f52b</key>
    <string>u1f52b.glif</string>
    <key>u1f536</key>
    <string>u1f536.glif</string>
    <key>u1f538</key>
    <string>u1f538.glif</string>
    <key>u1f575_fe0f_200d_2640_fe0f</key>
    <string>u1f575_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f645_200d_2640_fe0f</key>
    <string>u1f645_200d_2640_fe0f.glif</string>
    <key>u1f646</key>
    <string>u1f646.glif</string>
    <key>u1f646_200d_2640_fe0f</key>
    <string>u1f646_200d_2640_fe0f.glif</string>
    <key>u1f647_200d_2640_fe0f</key>
    <string>u1f647_200d_2640_fe0f.glif</string>
    <key>u1f64b_200d_2640_fe0f</key>
    <string>u1f64b_200d_2640_fe0f.glif</string>
    <key>u1f64d_200d_2640_fe0f</key>
    <string>u1f64d_200d_2640_fe0f.glif</string>
    <key>u1f64e_200d_2640_fe0f</key>
    <string>u1f64e_200d_2640_fe0f.glif</string>
    <key>u1f7e0</key>
    <string>u1f7e0.glif</string>
    <key>u1f7e7</key>
    <string>u1f7e7.glif</string>
    <key>u1f926_200d_2640_fe0f</key>
    <string>u1f926_200d_2640_fe0f.glif</string>
    <key>u1f935_200d_2640_fe0f</key>
    <string>u1f935_200d_2640_fe0f.glif</string>
    <key>u1f937</key>
    <string>u1f937.glif</string>
    <key>u1f937_200d_2640_fe0f</key>
    <string>u1f937_200d_2640_fe0f.glif</string>
    <key>u1f939_200d_2640_fe0f</key>
    <string>u1f939_200d_2640_fe0f.glif</string>
    <key>u1f96e</key>
    <string>u1f96e.glif</string>
    <key>u1f97b</key>
    <string>u1f97b.glif</string>
    <key>u1f983</key>
    <string>u1f983.glif</string>
    <key>u1f9b8_200d_2640_fe0f</key>
    <string>u1f9b8_200d_2640_fe0f.glif</string>
    <key>u1f9c0</key>
    <string>u1f9c0.glif</string>
    <key>u1f9d1</key>
    <string>u1f9d1.glif</string>
    <key>u1f9d2</key>
    <string>u1f9d2.glif</string>
    <key>u1f9d4</key>
    <string>u1f9d4.glif</string>
    <key>u1f9e1</key>
    <string>u1f9e1.glif</string>
    <key>u2600</key>
    <string>u2600.glif</string>
    <key>u26a1</key>
    <string>u26a1.glif</string>
    <key>u26c5</key>
    <string>u26c5.glif</string>
    <key>u26f1</key>
    <string>u26f1.glif</string>
    <key>u2728</key>
    <string>u2728.glif</string>
    <key>u2b50</key>
    <string>u2b50.glif</string>
  </dict>
</plist>
