<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f347</key>
    <string>u1f347.glif</string>
    <key>u1f41b</key>
    <string>u1f41b.glif</string>
    <key>u1f4d1</key>
    <string>u1f4d1.glif</string>
  </dict>
</plist>
