<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f367</key>
    <string>u1f367.glif</string>
    <key>u1f382</key>
    <string>u1f382.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f953</key>
    <string>u1f953.glif</string>
    <key>u1f991</key>
    <string>u1f991.glif</string>
  </dict>
</plist>
