<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3ca_200d_2640_fe0f</key>
    <string>u1f3ca_200d_2640_fe0f.glif</string>
    <key>u1f3ca_200d_2642_fe0f</key>
    <string>u1f3ca_200d_2642_fe0f.glif</string>
    <key>u1f442</key>
    <string>u1f442.glif</string>
    <key>u1f44a</key>
    <string>u1f44a.glif</string>
    <key>u1f4aa</key>
    <string>u1f4aa.glif</string>
    <key>u1f595</key>
    <string>u1f595.glif</string>
    <key>u1f64c</key>
    <string>u1f64c.glif</string>
    <key>u1f91b</key>
    <string>u1f91b.glif</string>
    <key>u1f91c</key>
    <string>u1f91c.glif</string>
    <key>u1f91d</key>
    <string>u1f91d.glif</string>
    <key>u1f932</key>
    <string>u1f932.glif</string>
    <key>u270b</key>
    <string>u270b.glif</string>
    <key>u270d</key>
    <string>u270d.glif</string>
  </dict>
</plist>
