<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32a</key>
    <string>u1f32a.glif</string>
    <key>u1f377</key>
    <string>u1f377.glif</string>
    <key>u1f378</key>
    <string>u1f378.glif</string>
    <key>u1f379</key>
    <string>u1f379.glif</string>
    <key>u1f382</key>
    <string>u1f382.glif</string>
    <key>u1f3a4</key>
    <string>u1f3a4.glif</string>
    <key>u1f3bc</key>
    <string>u1f3bc.glif</string>
    <key>u1f3c1</key>
    <string>u1f3c1.glif</string>
    <key>u1f3f3</key>
    <string>u1f3f3.glif</string>
    <key>u1f3f4</key>
    <string>u1f3f4.glif</string>
    <key>u1f45f</key>
    <string>u1f45f.glif</string>
    <key>u1f4bf</key>
    <string>u1f4bf.glif</string>
    <key>u1f507</key>
    <string>u1f507.glif</string>
    <key>u1f508</key>
    <string>u1f508.glif</string>
    <key>u1f509</key>
    <string>u1f509.glif</string>
    <key>u1f50a</key>
    <string>u1f50a.glif</string>
    <key>u1f517</key>
    <string>u1f517.glif</string>
    <key>u1f527</key>
    <string>u1f527.glif</string>
    <key>u1f529</key>
    <string>u1f529.glif</string>
    <key>u1f6e0</key>
    <string>u1f6e0.glif</string>
    <key>u1f964</key>
    <string>u1f964.glif</string>
  </dict>
</plist>
