<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e6_1f1fa</key>
    <string>u1f1e6_1f1fa.glif</string>
    <key>u1f1e8_1f1f0</key>
    <string>u1f1e8_1f1f0.glif</string>
    <key>u1f1ed_1f1f2</key>
    <string>u1f1ed_1f1f2.glif</string>
    <key>u1f1f3_1f1ff</key>
    <string>u1f1f3_1f1ff.glif</string>
    <key>u1f1f9_1f1fb</key>
    <string>u1f1f9_1f1fb.glif</string>
  </dict>
</plist>
