<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1e9</key>
    <string>u1f1f2_1f1e9.glif</string>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f1fe_1f1f9</key>
    <string>u1f1fe_1f1f9.glif</string>
    <key>u1f3f0</key>
    <string>u1f3f0.glif</string>
    <key>u1f4da</key>
    <string>u1f4da.glif</string>
    <key>u1f685</key>
    <string>u1f685.glif</string>
    <key>u1f6f3</key>
    <string>u1f6f3.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u1f9de_200d_2642_fe0f</key>
    <string>u1f9de_200d_2642_fe0f.glif</string>
  </dict>
</plist>
