<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e7_1f1e7</key>
    <string>u1f1e7_1f1e7.glif</string>
    <key>u1f1e7_1f1f6</key>
    <string>u1f1e7_1f1f6.glif</string>
    <key>u1f1ec_1f1ed</key>
    <string>u1f1ec_1f1ed.glif</string>
    <key>u1f1ec_1f1fc</key>
    <string>u1f1ec_1f1fc.glif</string>
    <key>u1f1f2_1f1f8</key>
    <string>u1f1f2_1f1f8.glif</string>
    <key>u1f1f5_1f1fe</key>
    <string>u1f1f5_1f1fe.glif</string>
    <key>u1f1f8_1f1f9</key>
    <string>u1f1f8_1f1f9.glif</string>
    <key>u1f349</key>
    <string>u1f349.glif</string>
    <key>u1f39b</key>
    <string>u1f39b.glif</string>
    <key>u1f3a3</key>
    <string>u1f3a3.glif</string>
    <key>u1f417</key>
    <string>u1f417.glif</string>
    <key>u1f469_1f3ff_200d_1f9b2</key>
    <string>u1f469_1f3ff_200d_1f9b2.glif</string>
    <key>u1f47c_1f3ff</key>
    <string>u1f47c_1f3ff.glif</string>
    <key>u1f6b8</key>
    <string>u1f6b8.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1f9d1_1f3ff</key>
    <string>u1f9d1_1f3ff.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9b0</key>
    <string>u1f9d1_1f3ff_200d_1f9b0.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9b1</key>
    <string>u1f9d1_1f3ff_200d_1f9b1.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9b3</key>
    <string>u1f9d1_1f3ff_200d_1f9b3.glif</string>
    <key>u1f9d2_1f3ff</key>
    <string>u1f9d2_1f3ff.glif</string>
    <key>u1f9d3_1f3ff</key>
    <string>u1f9d3_1f3ff.glif</string>
    <key>u1fa94</key>
    <string>u1fa94.glif</string>
  </dict>
</plist>
