<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_1f3fc_200d_1f3ed</key>
    <string>u1f468_1f3fc_200d_1f3ed.glif</string>
    <key>u1f469_1f3fc_200d_1f373</key>
    <string>u1f469_1f3fc_200d_1f373.glif</string>
    <key>u1f469_1f3fc_200d_2708_fe0f</key>
    <string>u1f469_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f477_1f3fc_200d_2642_fe0f</key>
    <string>u1f477_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f481_1f3fc_200d_2642_fe0f</key>
    <string>u1f481_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f64f_1f3fc</key>
    <string>u1f64f_1f3fc.glif</string>
    <key>u1f6b5_1f3fc_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fc</key>
    <string>u1f9b8_1f3fc.glif</string>
    <key>u1f9b9_1f3fc_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9cd_1f3fc_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3ed</key>
    <string>u1f9d1_1f3fc_200d_1f3ed.glif</string>
    <key>u1f9d7_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d8_1f3fc</key>
    <string>u1f9d8_1f3fc.glif</string>
    <key>u1f9d8_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d8_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d8_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d9_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fc</key>
    <string>u1f9db_1f3fc.glif</string>
    <key>u1f9dd_1f3fc_200d_2642_fe0f</key>
    <string>u1f9dd_1f3fc_200d_2642_fe0f.glif</string>
  </dict>
</plist>
