<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_1f469_200d_1f467</key>
    <string>u1f468_200d_1f469_200d_1f467.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f46c_1f3fb</key>
    <string>u1f46c_1f3fb.glif</string>
    <key>u1f46c_1f3fc</key>
    <string>u1f46c_1f3fc.glif</string>
    <key>u1f46c_1f3fd</key>
    <string>u1f46c_1f3fd.glif</string>
    <key>u1f46c_1f3fe</key>
    <string>u1f46c_1f3fe.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
  </dict>
</plist>
