<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f37e</key>
    <string>u1f37e.glif</string>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f3d8</key>
    <string>u1f3d8.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
    <key>u1f9c8</key>
    <string>u1f9c8.glif</string>
  </dict>
</plist>
