<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1f9</key>
    <string>u1f1f2_1f1f9.glif</string>
    <key>u1f37d</key>
    <string>u1f37d.glif</string>
    <key>u1f3ef</key>
    <string>u1f3ef.glif</string>
    <key>u1f407</key>
    <string>u1f407.glif</string>
    <key>u1f458</key>
    <string>u1f458.glif</string>
    <key>u1f488</key>
    <string>u1f488.glif</string>
    <key>u1f489</key>
    <string>u1f489.glif</string>
    <key>u1f4ec</key>
    <string>u1f4ec.glif</string>
    <key>u1f68c</key>
    <string>u1f68c.glif</string>
    <key>u1f690</key>
    <string>u1f690.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f94b</key>
    <string>u1f94b.glif</string>
    <key>u1f965</key>
    <string>u1f965.glif</string>
    <key>u1f99d</key>
    <string>u1f99d.glif</string>
    <key>u1f9bb</key>
    <string>u1f9bb.glif</string>
    <key>u1f9bb_1f3fb</key>
    <string>u1f9bb_1f3fb.glif</string>
    <key>u1f9bb_1f3fc</key>
    <string>u1f9bb_1f3fc.glif</string>
    <key>u1f9bb_1f3fd</key>
    <string>u1f9bb_1f3fd.glif</string>
    <key>u1f9bb_1f3fe</key>
    <string>u1f9bb_1f3fe.glif</string>
    <key>u1f9bb_1f3ff</key>
    <string>u1f9bb_1f3ff.glif</string>
    <key>u1f9be</key>
    <string>u1f9be.glif</string>
    <key>u1f9df_200d_2640_fe0f</key>
    <string>u1f9df_200d_2640_fe0f.glif</string>
    <key>u1f9eb</key>
    <string>u1f9eb.glif</string>
    <key>u1fa80</key>
    <string>u1fa80.glif</string>
    <key>u270f</key>
    <string>u270f.glif</string>
  </dict>
</plist>
