<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3f4_200d_2620_fe0f</key>
    <string>u1f3f4_200d_2620_fe0f.glif</string>
    <key>u1f684</key>
    <string>u1f684.glif</string>
    <key>u23f0</key>
    <string>u23f0.glif</string>
  </dict>
</plist>
