<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f330</key>
    <string>u1f330.glif</string>
    <key>u1f334</key>
    <string>u1f334.glif</string>
    <key>u1f358</key>
    <string>u1f358.glif</string>
    <key>u1f36b</key>
    <string>u1f36b.glif</string>
    <key>u1f392</key>
    <string>u1f392.glif</string>
    <key>u1f3d1</key>
    <string>u1f3d1.glif</string>
    <key>u1f3e8</key>
    <string>u1f3e8.glif</string>
    <key>u1f3f9</key>
    <string>u1f3f9.glif</string>
    <key>u1f3fa</key>
    <string>u1f3fa.glif</string>
    <key>u1f402</key>
    <string>u1f402.glif</string>
    <key>u1f417</key>
    <string>u1f417.glif</string>
    <key>u1f42a</key>
    <string>u1f42a.glif</string>
    <key>u1f42b</key>
    <string>u1f42b.glif</string>
    <key>u1f434</key>
    <string>u1f434.glif</string>
    <key>u1f43b</key>
    <string>u1f43b.glif</string>
    <key>u1f45d</key>
    <string>u1f45d.glif</string>
    <key>u1f4cb</key>
    <string>u1f4cb.glif</string>
    <key>u1f4d4</key>
    <string>u1f4d4.glif</string>
    <key>u1f4ea</key>
    <string>u1f4ea.glif</string>
    <key>u1f4eb</key>
    <string>u1f4eb.glif</string>
    <key>u1f4ec</key>
    <string>u1f4ec.glif</string>
    <key>u1f4ed</key>
    <string>u1f4ed.glif</string>
    <key>u1f511</key>
    <string>u1f511.glif</string>
    <key>u1f58a</key>
    <string>u1f58a.glif</string>
    <key>u1f6cc</key>
    <string>u1f6cc.glif</string>
    <key>u1f6cc_1f3fb</key>
    <string>u1f6cc_1f3fb.glif</string>
    <key>u1f6cc_1f3fc</key>
    <string>u1f6cc_1f3fc.glif</string>
    <key>u1f6cc_1f3fd</key>
    <string>u1f6cc_1f3fd.glif</string>
    <key>u1f6cc_1f3fe</key>
    <string>u1f6cc_1f3fe.glif</string>
    <key>u1f6cc_1f3ff</key>
    <string>u1f6cc_1f3ff.glif</string>
    <key>u1f6cf</key>
    <string>u1f6cf.glif</string>
    <key>u1f7e4</key>
    <string>u1f7e4.glif</string>
    <key>u1f7eb</key>
    <string>u1f7eb.glif</string>
    <key>u1f90e</key>
    <string>u1f90e.glif</string>
    <key>u1f95d</key>
    <string>u1f95d.glif</string>
    <key>u1f962</key>
    <string>u1f962.glif</string>
    <key>u1f96f</key>
    <string>u1f96f.glif</string>
    <key>u1f97e</key>
    <string>u1f97e.glif</string>
    <key>u1f999</key>
    <string>u1f999.glif</string>
    <key>u1f9f1</key>
    <string>u1f9f1.glif</string>
    <key>u1f9f8</key>
    <string>u1f9f8.glif</string>
    <key>u1f9f9</key>
    <string>u1f9f9.glif</string>
    <key>u1f9fa</key>
    <string>u1f9fa.glif</string>
    <key>u26b0</key>
    <string>u26b0.glif</string>
  </dict>
</plist>
