<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e6_1f1eb</key>
    <string>u1f1e6_1f1eb.glif</string>
    <key>u1f1e6_1f1ee</key>
    <string>u1f1e6_1f1ee.glif</string>
    <key>u1f1e7_1f1ff</key>
    <string>u1f1e7_1f1ff.glif</string>
    <key>u1f1eb_1f1ef</key>
    <string>u1f1eb_1f1ef.glif</string>
    <key>u1f1ed_1f1f7</key>
    <string>u1f1ed_1f1f7.glif</string>
    <key>u1f1ef_1f1f4</key>
    <string>u1f1ef_1f1f4.glif</string>
    <key>u1f1f0_1f1f3</key>
    <string>u1f1f0_1f1f3.glif</string>
    <key>u1f1f0_1f1fe</key>
    <string>u1f1f0_1f1fe.glif</string>
    <key>u1f1f1_1f1fe</key>
    <string>u1f1f1_1f1fe.glif</string>
    <key>u1f1f5_1f1f9</key>
    <string>u1f1f5_1f1f9.glif</string>
    <key>u1f1f8_1f1e6</key>
    <string>u1f1f8_1f1e6.glif</string>
    <key>u1f1f8_1f1e7</key>
    <string>u1f1f8_1f1e7.glif</string>
    <key>u1f1f8_1f1fb</key>
    <string>u1f1f8_1f1fb.glif</string>
    <key>u1f1fa_1f1f3</key>
    <string>u1f1fa_1f1f3.glif</string>
    <key>u1f1fa_1f1ff</key>
    <string>u1f1fa_1f1ff.glif</string>
    <key>u1f1fb_1f1ec</key>
    <string>u1f1fb_1f1ec.glif</string>
    <key>u1f1fb_1f1ee</key>
    <string>u1f1fb_1f1ee.glif</string>
    <key>u1f303</key>
    <string>u1f303.glif</string>
    <key>u1f338</key>
    <string>u1f338.glif</string>
    <key>u1f378</key>
    <string>u1f378.glif</string>
    <key>u1f38f</key>
    <string>u1f38f.glif</string>
    <key>u1f390</key>
    <string>u1f390.glif</string>
    <key>u1f409</key>
    <string>u1f409.glif</string>
    <key>u1f40a</key>
    <string>u1f40a.glif</string>
    <key>u1f432</key>
    <string>u1f432.glif</string>
    <key>u1f452</key>
    <string>u1f452.glif</string>
    <key>u1f458</key>
    <string>u1f458.glif</string>
    <key>u1f479</key>
    <string>u1f479.glif</string>
    <key>u1f4c5</key>
    <string>u1f4c5.glif</string>
    <key>u1f4c6</key>
    <string>u1f4c6.glif</string>
    <key>u1f4f8</key>
    <string>u1f4f8.glif</string>
    <key>u2695</key>
    <string>u2695.glif</string>
    <key>u26a7</key>
    <string>u26a7.glif</string>
  </dict>
</plist>
