<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3a8</key>
    <string>u1f3a8.glif</string>
    <key>u1f3bf</key>
    <string>u1f3bf.glif</string>
    <key>u1f3e7</key>
    <string>u1f3e7.glif</string>
    <key>u1f456</key>
    <string>u1f456.glif</string>
    <key>u1f458</key>
    <string>u1f458.glif</string>
    <key>u1f4e3</key>
    <string>u1f4e3.glif</string>
    <key>u1f6a0</key>
    <string>u1f6a0.glif</string>
    <key>u1f6cf</key>
    <string>u1f6cf.glif</string>
    <key>u1f6e1</key>
    <string>u1f6e1.glif</string>
    <key>u1f9f6</key>
    <string>u1f9f6.glif</string>
    <key>u1fa81</key>
    <string>u1fa81.glif</string>
  </dict>
</plist>
