<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32c</key>
    <string>u1f32c.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f37d</key>
    <string>u1f37d.glif</string>
    <key>u1f3a3</key>
    <string>u1f3a3.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f468_1f3fb_200d_2696_fe0f</key>
    <string>u1f468_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_2696_fe0f</key>
    <string>u1f468_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fd_200d_2696_fe0f</key>
    <string>u1f468_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fe_200d_2696_fe0f</key>
    <string>u1f468_1f3fe_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3ff_200d_2696_fe0f</key>
    <string>u1f468_1f3ff_200d_2696_fe0f.glif</string>
    <key>u1f468_200d_2696_fe0f</key>
    <string>u1f468_200d_2696_fe0f.glif</string>
    <key>u1f482_1f3fb_200d_2640_fe0f</key>
    <string>u1f482_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fb_200d_2642_fe0f</key>
    <string>u1f482_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3fc_200d_2640_fe0f</key>
    <string>u1f482_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fc_200d_2642_fe0f</key>
    <string>u1f482_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3fd_200d_2640_fe0f</key>
    <string>u1f482_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fd_200d_2642_fe0f</key>
    <string>u1f482_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3fe_200d_2640_fe0f</key>
    <string>u1f482_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fe_200d_2642_fe0f</key>
    <string>u1f482_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3ff_200d_2640_fe0f</key>
    <string>u1f482_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3ff_200d_2642_fe0f</key>
    <string>u1f482_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f482_200d_2640_fe0f</key>
    <string>u1f482_200d_2640_fe0f.glif</string>
    <key>u1f482_200d_2642_fe0f</key>
    <string>u1f482_200d_2642_fe0f.glif</string>
    <key>u1f4dd</key>
    <string>u1f4dd.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f987</key>
    <string>u1f987.glif</string>
    <key>u1f9b9</key>
    <string>u1f9b9.glif</string>
    <key>u1f9b9_1f3fb</key>
    <string>u1f9b9_1f3fb.glif</string>
    <key>u1f9b9_1f3fc</key>
    <string>u1f9b9_1f3fc.glif</string>
    <key>u1f9b9_1f3fd</key>
    <string>u1f9b9_1f3fd.glif</string>
    <key>u1f9b9_1f3fe</key>
    <string>u1f9b9_1f3fe.glif</string>
    <key>u1f9b9_1f3ff</key>
    <string>u1f9b9_1f3ff.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
    <key>u1f9c9</key>
    <string>u1f9c9.glif</string>
    <key>u1f9d1_1f3fb_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fe_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fe_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_2696_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2696_fe0f.glif</string>
    <key>u1f9d1_200d_2696_fe0f</key>
    <string>u1f9d1_200d_2696_fe0f.glif</string>
    <key>u1f9df</key>
    <string>u1f9df.glif</string>
  </dict>
</plist>
