<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f60a</key>
    <string>u1f60a.glif</string>
    <key>u1f61a</key>
    <string>u1f61a.glif</string>
    <key>u1f633</key>
    <string>u1f633.glif</string>
    <key>u263a</key>
    <string>u263a.glif</string>
  </dict>
</plist>
