<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f363</key>
    <string>u1f363.glif</string>
    <key>u1f389</key>
    <string>u1f389.glif</string>
    <key>u1f38b</key>
    <string>u1f38b.glif</string>
    <key>u1f3ed</key>
    <string>u1f3ed.glif</string>
    <key>u1f454</key>
    <string>u1f454.glif</string>
    <key>u1f45f</key>
    <string>u1f45f.glif</string>
    <key>u1f4ee</key>
    <string>u1f4ee.glif</string>
    <key>u1f570</key>
    <string>u1f570.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f969</key>
    <string>u1f969.glif</string>
    <key>u1f980</key>
    <string>u1f980.glif</string>
    <key>u1f9e3</key>
    <string>u1f9e3.glif</string>
  </dict>
</plist>
