<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ea_1f1ec</key>
    <string>u1f1ea_1f1ec.glif</string>
    <key>u1f1ee_1f1f3</key>
    <string>u1f1ee_1f1f3.glif</string>
    <key>u1f1f3_1f1ff</key>
    <string>u1f1f3_1f1ff.glif</string>
    <key>u1f1f4_1f1f2</key>
    <string>u1f1f4_1f1f2.glif</string>
    <key>u1f1f5_1f1fe</key>
    <string>u1f1f5_1f1fe.glif</string>
    <key>u1f37a</key>
    <string>u1f37a.glif</string>
    <key>u1f3f5</key>
    <string>u1f3f5.glif</string>
  </dict>
</plist>
