<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f44b</key>
    <string>u1f44b.glif</string>
    <key>u1f44b_1f3fb</key>
    <string>u1f44b_1f3fb.glif</string>
    <key>u1f44b_1f3fc</key>
    <string>u1f44b_1f3fc.glif</string>
    <key>u1f44b_1f3fd</key>
    <string>u1f44b_1f3fd.glif</string>
    <key>u1f44b_1f3fe</key>
    <string>u1f44b_1f3fe.glif</string>
    <key>u1f44b_1f3ff</key>
    <string>u1f44b_1f3ff.glif</string>
    <key>u1f48e</key>
    <string>u1f48e.glif</string>
    <key>u1f4ba</key>
    <string>u1f4ba.glif</string>
    <key>u1f62d</key>
    <string>u1f62d.glif</string>
    <key>u1f64c</key>
    <string>u1f64c.glif</string>
    <key>u1f64c_1f3fb</key>
    <string>u1f64c_1f3fb.glif</string>
    <key>u1f64c_1f3fc</key>
    <string>u1f64c_1f3fc.glif</string>
    <key>u1f64c_1f3fd</key>
    <string>u1f64c_1f3fd.glif</string>
    <key>u1f64c_1f3fe</key>
    <string>u1f64c_1f3fe.glif</string>
    <key>u1f64c_1f3ff</key>
    <string>u1f64c_1f3ff.glif</string>
    <key>u1f6eb</key>
    <string>u1f6eb.glif</string>
    <key>u1f6ec</key>
    <string>u1f6ec.glif</string>
    <key>u1f9f3</key>
    <string>u1f9f3.glif</string>
    <key>u2614</key>
    <string>u2614.glif</string>
  </dict>
</plist>
