<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c3_1f3fc_200d_2642_fe0f</key>
    <string>u1f3c3_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f3c4_1f3fc_200d_2640_fe0f</key>
    <string>u1f3c4_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f3cb_1f3fc_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_1f3eb</key>
    <string>u1f468_1f3fc_200d_1f3eb.glif</string>
    <key>u1f468_1f3fc_200d_1f3ed</key>
    <string>u1f468_1f3fc_200d_1f3ed.glif</string>
    <key>u1f469_1f3fc_200d_1f373</key>
    <string>u1f469_1f3fc_200d_1f373.glif</string>
    <key>u1f469_1f3fc_200d_1f4bc</key>
    <string>u1f469_1f3fc_200d_1f4bc.glif</string>
    <key>u1f469_1f3fc_200d_1f9bc</key>
    <string>u1f469_1f3fc_200d_1f9bc.glif</string>
    <key>u1f469_1f3fc_200d_1f9bd</key>
    <string>u1f469_1f3fc_200d_1f9bd.glif</string>
    <key>u1f469_1f3fc_200d_2708_fe0f</key>
    <string>u1f469_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f477_1f3fc_200d_2642_fe0f</key>
    <string>u1f477_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f57a_1f3fc</key>
    <string>u1f57a_1f3fc.glif</string>
    <key>u1f6a3_1f3fc</key>
    <string>u1f6a3_1f3fc.glif</string>
    <key>u1f937_1f3fc_200d_2642_fe0f</key>
    <string>u1f937_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fc_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3fc_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3eb</key>
    <string>u1f9d1_1f3fc_200d_1f3eb.glif</string>
    <key>u1f9d1_1f3fc_200d_1f692</key>
    <string>u1f9d1_1f3fc_200d_1f692.glif</string>
    <key>u1f9d8_1f3fc</key>
    <string>u1f9d8_1f3fc.glif</string>
    <key>u1f9da_1f3fc</key>
    <string>u1f9da_1f3fc.glif</string>
    <key>u26f9_1f3fc_200d_2642_fe0f</key>
    <string>u26f9_1f3fc_200d_2642_fe0f.glif</string>
  </dict>
</plist>
