<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f339</key>
    <string>u1f339.glif</string>
    <key>u1f35a</key>
    <string>u1f35a.glif</string>
    <key>u1f380</key>
    <string>u1f380.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f93e_1f3fb_200d_2640_fe0f</key>
    <string>u1f93e_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2640_fe0f</key>
    <string>u1f93e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fd_200d_2640_fe0f</key>
    <string>u1f93e_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fe_200d_2640_fe0f</key>
    <string>u1f93e_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3ff_200d_2640_fe0f</key>
    <string>u1f93e_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f93e_200d_2640_fe0f</key>
    <string>u1f93e_200d_2640_fe0f.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f980</key>
    <string>u1f980.glif</string>
    <key>u1f98a</key>
    <string>u1f98a.glif</string>
    <key>u1f9b8</key>
    <string>u1f9b8.glif</string>
    <key>u1f9b8_1f3fb</key>
    <string>u1f9b8_1f3fb.glif</string>
    <key>u1f9b8_1f3fb_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fc</key>
    <string>u1f9b8_1f3fc.glif</string>
    <key>u1f9b8_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fd</key>
    <string>u1f9b8_1f3fd.glif</string>
    <key>u1f9b8_1f3fd_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3fe</key>
    <string>u1f9b8_1f3fe.glif</string>
    <key>u1f9b8_1f3fe_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3ff</key>
    <string>u1f9b8_1f3ff.glif</string>
    <key>u1f9b8_1f3ff_200d_2640_fe0f</key>
    <string>u1f9b8_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9b8_200d_2640_fe0f</key>
    <string>u1f9b8_200d_2640_fe0f.glif</string>
    <key>u1f9f1</key>
    <string>u1f9f1.glif</string>
    <key>u1fa80</key>
    <string>u1fa80.glif</string>
  </dict>
</plist>
