<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f335</key>
    <string>u1f335.glif</string>
    <key>u1f34f</key>
    <string>u1f34f.glif</string>
    <key>u1f390</key>
    <string>u1f390.glif</string>
    <key>u1f468_1f3fb_200d_1f33e</key>
    <string>u1f468_1f3fb_200d_1f33e.glif</string>
    <key>u1f468_1f3fc_200d_1f33e</key>
    <string>u1f468_1f3fc_200d_1f33e.glif</string>
    <key>u1f468_1f3fd_200d_1f33e</key>
    <string>u1f468_1f3fd_200d_1f33e.glif</string>
    <key>u1f468_1f3fe_200d_1f33e</key>
    <string>u1f468_1f3fe_200d_1f33e.glif</string>
    <key>u1f468_1f3ff_200d_1f33e</key>
    <string>u1f468_1f3ff_200d_1f33e.glif</string>
    <key>u1f468_200d_1f33e</key>
    <string>u1f468_200d_1f33e.glif</string>
    <key>u1f5fe</key>
    <string>u1f5fe.glif</string>
    <key>u1f951</key>
    <string>u1f951.glif</string>
    <key>u1f97f</key>
    <string>u1f97f.glif</string>
    <key>u1f98e</key>
    <string>u1f98e.glif</string>
    <key>u1f9d1_1f3fb_200d_1f33e</key>
    <string>u1f9d1_1f3fb_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fc_200d_1f33e</key>
    <string>u1f9d1_1f3fc_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fd_200d_1f33e</key>
    <string>u1f9d1_1f3fd_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fe_200d_1f33e</key>
    <string>u1f9d1_1f3fe_200d_1f33e.glif</string>
    <key>u1f9d1_1f3ff_200d_1f33e</key>
    <string>u1f9d1_1f3ff_200d_1f33e.glif</string>
    <key>u1f9d1_200d_1f33e</key>
    <string>u1f9d1_200d_1f33e.glif</string>
  </dict>
</plist>
