<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3da</key>
    <string>u1f3da.glif</string>
    <key>u1f68c</key>
    <string>u1f68c.glif</string>
    <key>u1f69d</key>
    <string>u1f69d.glif</string>
    <key>u1f915</key>
    <string>u1f915.glif</string>
  </dict>
</plist>
