<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3b1</key>
    <string>u1f3b1.glif</string>
    <key>u1f3b9</key>
    <string>u1f3b9.glif</string>
    <key>u1f404</key>
    <string>u1f404.glif</string>
    <key>u1f41c</key>
    <string>u1f41c.glif</string>
    <key>u1f441_fe0f_200d_1f5e8_fe0f</key>
    <string>u1f441_fe0f_200d_1f5e8_fe0f.glif</string>
    <key>u1f4a3</key>
    <string>u1f4a3.glif</string>
    <key>u1f4f8</key>
    <string>u1f4f8.glif</string>
    <key>u1f4fa</key>
    <string>u1f4fa.glif</string>
    <key>u1f52a</key>
    <string>u1f52a.glif</string>
    <key>u1f577</key>
    <string>u1f577.glif</string>
    <key>u1f579</key>
    <string>u1f579.glif</string>
    <key>u1f58a</key>
    <string>u1f58a.glif</string>
    <key>u1f58b</key>
    <string>u1f58b.glif</string>
    <key>u1f5dd</key>
    <string>u1f5dd.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1fa7a</key>
    <string>u1fa7a.glif</string>
    <key>u26bd</key>
    <string>u26bd.glif</string>
    <key>u2712</key>
    <string>u2712.glif</string>
  </dict>
</plist>
