<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32e</key>
    <string>u1f32e.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f366</key>
    <string>u1f366.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f3e8</key>
    <string>u1f3e8.glif</string>
    <key>u1f3eb</key>
    <string>u1f3eb.glif</string>
    <key>u1f4b4</key>
    <string>u1f4b4.glif</string>
    <key>u1f4b5</key>
    <string>u1f4b5.glif</string>
    <key>u1f4b6</key>
    <string>u1f4b6.glif</string>
    <key>u1f4b7</key>
    <string>u1f4b7.glif</string>
    <key>u1f683</key>
    <string>u1f683.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u1f953</key>
    <string>u1f953.glif</string>
    <key>u1f969</key>
    <string>u1f969.glif</string>
    <key>u1f9c1</key>
    <string>u1f9c1.glif</string>
    <key>u26fa</key>
    <string>u26fa.glif</string>
  </dict>
</plist>
