<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f373</key>
    <string>u1f373.glif</string>
    <key>u1f39e</key>
    <string>u1f39e.glif</string>
    <key>u1f3b8</key>
    <string>u1f3b8.glif</string>
    <key>u1f427</key>
    <string>u1f427.glif</string>
    <key>u1f469_1f3fb_200d_1f527</key>
    <string>u1f469_1f3fb_200d_1f527.glif</string>
    <key>u1f469_1f3fc_200d_1f527</key>
    <string>u1f469_1f3fc_200d_1f527.glif</string>
    <key>u1f469_1f3fd_200d_1f527</key>
    <string>u1f469_1f3fd_200d_1f527.glif</string>
    <key>u1f469_1f3fe_200d_1f527</key>
    <string>u1f469_1f3fe_200d_1f527.glif</string>
    <key>u1f469_1f3ff_200d_1f527</key>
    <string>u1f469_1f3ff_200d_1f527.glif</string>
    <key>u1f469_200d_1f527</key>
    <string>u1f469_200d_1f527.glif</string>
    <key>u1f4a5</key>
    <string>u1f4a5.glif</string>
    <key>u1f4bf</key>
    <string>u1f4bf.glif</string>
    <key>u1f52f</key>
    <string>u1f52f.glif</string>
    <key>u1f61c</key>
    <string>u1f61c.glif</string>
    <key>u1f624</key>
    <string>u1f624.glif</string>
    <key>u1f631</key>
    <string>u1f631.glif</string>
    <key>u1f632</key>
    <string>u1f632.glif</string>
    <key>u1f633</key>
    <string>u1f633.glif</string>
    <key>u1f637</key>
    <string>u1f637.glif</string>
    <key>u1f692</key>
    <string>u1f692.glif</string>
    <key>u1f6c2</key>
    <string>u1f6c2.glif</string>
    <key>u1f6c3</key>
    <string>u1f6c3.glif</string>
    <key>u1f6c5</key>
    <string>u1f6c5.glif</string>
    <key>u1f6e3</key>
    <string>u1f6e3.glif</string>
    <key>u1f6e4</key>
    <string>u1f6e4.glif</string>
    <key>u1f6eb</key>
    <string>u1f6eb.glif</string>
    <key>u1f6ec</key>
    <string>u1f6ec.glif</string>
    <key>u1f965</key>
    <string>u1f965.glif</string>
    <key>u1f99b</key>
    <string>u1f99b.glif</string>
    <key>u1f9c2</key>
    <string>u1f9c2.glif</string>
    <key>u1f9ed</key>
    <string>u1f9ed.glif</string>
    <key>u23f1</key>
    <string>u23f1.glif</string>
    <key>u2615</key>
    <string>u2615.glif</string>
  </dict>
</plist>
