<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f353</key>
    <string>u1f353.glif</string>
    <key>u1f35f</key>
    <string>u1f35f.glif</string>
    <key>u1f3e9</key>
    <string>u1f3e9.glif</string>
    <key>u1f3ed</key>
    <string>u1f3ed.glif</string>
    <key>u1f4a2</key>
    <string>u1f4a2.glif</string>
    <key>u1f4cc</key>
    <string>u1f4cc.glif</string>
    <key>u1f4e2</key>
    <string>u1f4e2.glif</string>
    <key>u1f5fc</key>
    <string>u1f5fc.glif</string>
    <key>u1f94a</key>
    <string>u1f94a.glif</string>
    <key>u1f94c</key>
    <string>u1f94c.glif</string>
    <key>u1f990</key>
    <string>u1f990.glif</string>
    <key>u1f99e</key>
    <string>u1f99e.glif</string>
    <key>u1fa80</key>
    <string>u1fa80.glif</string>
    <key>u1fa94</key>
    <string>u1fa94.glif</string>
    <key>u203c</key>
    <string>u203c.glif</string>
    <key>u2049</key>
    <string>u2049.glif</string>
    <key>u260e</key>
    <string>u260e.glif</string>
    <key>u2665</key>
    <string>u2665.glif</string>
    <key>u2666</key>
    <string>u2666.glif</string>
    <key>u26d4</key>
    <string>u26d4.glif</string>
    <key>u2753</key>
    <string>u2753.glif</string>
    <key>u2757</key>
    <string>u2757.glif</string>
  </dict>
</plist>
