<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c3_1f3fc_200d_2640_fe0f</key>
    <string>u1f3c3_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_1f393</key>
    <string>u1f468_1f3fc_200d_1f393.glif</string>
    <key>u1f468_1f3fc_200d_1f692</key>
    <string>u1f468_1f3fc_200d_1f692.glif</string>
    <key>u1f468_1f3fc_200d_1f9af</key>
    <string>u1f468_1f3fc_200d_1f9af.glif</string>
    <key>u1f469_1f3fc_200d_1f3ed</key>
    <string>u1f469_1f3fc_200d_1f3ed.glif</string>
    <key>u1f469_1f3fc_200d_1f680</key>
    <string>u1f469_1f3fc_200d_1f680.glif</string>
    <key>u1f469_1f3fc_200d_1f9af</key>
    <string>u1f469_1f3fc_200d_1f9af.glif</string>
    <key>u1f481_1f3fc_200d_2642_fe0f</key>
    <string>u1f481_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f935_1f3fc</key>
    <string>u1f935_1f3fc.glif</string>
    <key>u1f9cd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9af</key>
    <string>u1f9d1_1f3fc_200d_1f9af.glif</string>
    <key>u1f9da_1f3fc_200d_2640_fe0f</key>
    <string>u1f9da_1f3fc_200d_2640_fe0f.glif</string>
  </dict>
</plist>
