<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f54d</key>
    <string>u1f54d.glif</string>
    <key>u1f55a</key>
    <string>u1f55a.glif</string>
    <key>u1f55b</key>
    <string>u1f55b.glif</string>
    <key>u1f55c</key>
    <string>u1f55c.glif</string>
    <key>u1f55d</key>
    <string>u1f55d.glif</string>
    <key>u1f55e</key>
    <string>u1f55e.glif</string>
    <key>u1f55f</key>
    <string>u1f55f.glif</string>
    <key>u1f5c2</key>
    <string>u1f5c2.glif</string>
    <key>u1f5dc</key>
    <string>u1f5dc.glif</string>
    <key>u1f6eb</key>
    <string>u1f6eb.glif</string>
    <key>u1f6ec</key>
    <string>u1f6ec.glif</string>
    <key>u1f6f8</key>
    <string>u1f6f8.glif</string>
    <key>u1f99b</key>
    <string>u1f99b.glif</string>
    <key>u2697</key>
    <string>u2697.glif</string>
  </dict>
</plist>
