<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f600</key>
    <string>u1f600.glif</string>
    <key>u1f601</key>
    <string>u1f601.glif</string>
    <key>u1f602</key>
    <string>u1f602.glif</string>
    <key>u1f603</key>
    <string>u1f603.glif</string>
    <key>u1f604</key>
    <string>u1f604.glif</string>
    <key>u1f605</key>
    <string>u1f605.glif</string>
    <key>u1f606</key>
    <string>u1f606.glif</string>
    <key>u1f607</key>
    <string>u1f607.glif</string>
    <key>u1f609</key>
    <string>u1f609.glif</string>
    <key>u1f60b</key>
    <string>u1f60b.glif</string>
    <key>u1f60c</key>
    <string>u1f60c.glif</string>
    <key>u1f60d</key>
    <string>u1f60d.glif</string>
    <key>u1f60f</key>
    <string>u1f60f.glif</string>
    <key>u1f610</key>
    <string>u1f610.glif</string>
    <key>u1f611</key>
    <string>u1f611.glif</string>
    <key>u1f612</key>
    <string>u1f612.glif</string>
    <key>u1f613</key>
    <string>u1f613.glif</string>
    <key>u1f614</key>
    <string>u1f614.glif</string>
    <key>u1f615</key>
    <string>u1f615.glif</string>
    <key>u1f616</key>
    <string>u1f616.glif</string>
    <key>u1f617</key>
    <string>u1f617.glif</string>
    <key>u1f618</key>
    <string>u1f618.glif</string>
    <key>u1f619</key>
    <string>u1f619.glif</string>
    <key>u1f61e</key>
    <string>u1f61e.glif</string>
    <key>u1f61f</key>
    <string>u1f61f.glif</string>
    <key>u1f620</key>
    <string>u1f620.glif</string>
    <key>u1f622</key>
    <string>u1f622.glif</string>
    <key>u1f623</key>
    <string>u1f623.glif</string>
    <key>u1f624</key>
    <string>u1f624.glif</string>
    <key>u1f625</key>
    <string>u1f625.glif</string>
    <key>u1f626</key>
    <string>u1f626.glif</string>
    <key>u1f627</key>
    <string>u1f627.glif</string>
    <key>u1f629</key>
    <string>u1f629.glif</string>
    <key>u1f62a</key>
    <string>u1f62a.glif</string>
    <key>u1f62b</key>
    <string>u1f62b.glif</string>
    <key>u1f62c</key>
    <string>u1f62c.glif</string>
    <key>u1f62d</key>
    <string>u1f62d.glif</string>
    <key>u1f62e</key>
    <string>u1f62e.glif</string>
    <key>u1f62f</key>
    <string>u1f62f.glif</string>
    <key>u1f630</key>
    <string>u1f630.glif</string>
    <key>u1f632</key>
    <string>u1f632.glif</string>
    <key>u1f634</key>
    <string>u1f634.glif</string>
    <key>u1f635</key>
    <string>u1f635.glif</string>
    <key>u1f636</key>
    <string>u1f636.glif</string>
    <key>u1f637</key>
    <string>u1f637.glif</string>
    <key>u1f641</key>
    <string>u1f641.glif</string>
    <key>u1f642</key>
    <string>u1f642.glif</string>
    <key>u1f643</key>
    <string>u1f643.glif</string>
    <key>u1f910</key>
    <string>u1f910.glif</string>
    <key>u1f911</key>
    <string>u1f911.glif</string>
    <key>u1f912</key>
    <string>u1f912.glif</string>
    <key>u1f913</key>
    <string>u1f913.glif</string>
    <key>u1f915</key>
    <string>u1f915.glif</string>
    <key>u1f917</key>
    <string>u1f917.glif</string>
    <key>u1f920</key>
    <string>u1f920.glif</string>
    <key>u1f924</key>
    <string>u1f924.glif</string>
    <key>u1f925</key>
    <string>u1f925.glif</string>
    <key>u1f927</key>
    <string>u1f927.glif</string>
    <key>u1f928</key>
    <string>u1f928.glif</string>
    <key>u1f929</key>
    <string>u1f929.glif</string>
    <key>u1f92d</key>
    <string>u1f92d.glif</string>
    <key>u1f970</key>
    <string>u1f970.glif</string>
    <key>u1f971</key>
    <string>u1f971.glif</string>
    <key>u1f973</key>
    <string>u1f973.glif</string>
    <key>u2639</key>
    <string>u2639.glif</string>
  </dict>
</plist>
