<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3ca_1f3fb_200d_2642_fe0f</key>
    <string>u1f3ca_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f3ca_1f3fc_200d_2642_fe0f</key>
    <string>u1f3ca_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f3ca_1f3fd_200d_2642_fe0f</key>
    <string>u1f3ca_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f3ca_1f3fe_200d_2642_fe0f</key>
    <string>u1f3ca_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f3ca_1f3ff_200d_2642_fe0f</key>
    <string>u1f3ca_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f3ca_200d_2642_fe0f</key>
    <string>u1f3ca_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fb_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fc_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fd_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fe_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3ff_200d_2642_fe0f</key>
    <string>u1f3cb_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f486_1f3fb_200d_2642_fe0f</key>
    <string>u1f486_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f486_1f3fc_200d_2642_fe0f</key>
    <string>u1f486_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f486_1f3fd_200d_2642_fe0f</key>
    <string>u1f486_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f486_1f3fe_200d_2642_fe0f</key>
    <string>u1f486_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f486_1f3ff_200d_2642_fe0f</key>
    <string>u1f486_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f486_200d_2642_fe0f</key>
    <string>u1f486_200d_2642_fe0f.glif</string>
    <key>u1f921</key>
    <string>u1f921.glif</string>
    <key>u1f93d_1f3fb_200d_2642_fe0f</key>
    <string>u1f93d_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f93d_1f3fc_200d_2642_fe0f</key>
    <string>u1f93d_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f93d_1f3fd_200d_2642_fe0f</key>
    <string>u1f93d_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f93d_1f3fe_200d_2642_fe0f</key>
    <string>u1f93d_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f93d_1f3ff_200d_2642_fe0f</key>
    <string>u1f93d_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f93d_200d_2642_fe0f</key>
    <string>u1f93d_200d_2642_fe0f.glif</string>
    <key>u1f9cd</key>
    <string>u1f9cd.glif</string>
    <key>u1f9cd_1f3fb</key>
    <string>u1f9cd_1f3fb.glif</string>
    <key>u1f9cd_1f3fb_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3fb_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9cd_1f3fc</key>
    <string>u1f9cd_1f3fc.glif</string>
    <key>u1f9cd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3fc_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9cd_1f3fd</key>
    <string>u1f9cd_1f3fd.glif</string>
    <key>u1f9cd_1f3fd_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3fd_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9cd_1f3fe</key>
    <string>u1f9cd_1f3fe.glif</string>
    <key>u1f9cd_1f3fe_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3fe_200d_2642_fe0f</key>
    <string>u1f9cd_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9cd_1f3ff</key>
    <string>u1f9cd_1f3ff.glif</string>
    <key>u1f9cd_1f3ff_200d_2640_fe0f</key>
    <string>u1f9cd_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3ff_200d_2642_fe0f</key>
    <string>u1f9cd_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9cd_200d_2640_fe0f</key>
    <string>u1f9cd_200d_2640_fe0f.glif</string>
    <key>u1f9cd_200d_2642_fe0f</key>
    <string>u1f9cd_200d_2642_fe0f.glif</string>
  </dict>
</plist>
