<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f337</key>
    <string>u1f337.glif</string>
    <key>u1f33a</key>
    <string>u1f33a.glif</string>
    <key>u1f344</key>
    <string>u1f344.glif</string>
    <key>u1f353</key>
    <string>u1f353.glif</string>
    <key>u1f368</key>
    <string>u1f368.glif</string>
    <key>u1f3e9</key>
    <string>u1f3e9.glif</string>
    <key>u1f484</key>
    <string>u1f484.glif</string>
    <key>u1f991</key>
    <string>u1f991.glif</string>
    <key>u1f9e0</key>
    <string>u1f9e0.glif</string>
    <key>u1fa70</key>
    <string>u1fa70.glif</string>
  </dict>
</plist>
