<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f344</key>
    <string>u1f344.glif</string>
    <key>u1f369</key>
    <string>u1f369.glif</string>
    <key>u1f401</key>
    <string>u1f401.glif</string>
  </dict>
</plist>
