<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f8_1f1ed</key>
    <string>u1f1f8_1f1ed.glif</string>
    <key>u1f1fb_1f1e6</key>
    <string>u1f1fb_1f1e6.glif</string>
    <key>u1f469_1f3ff_200d_1f4bc</key>
    <string>u1f469_1f3ff_200d_1f4bc.glif</string>
    <key>u1f935_1f3ff_200d_2640_fe0f</key>
    <string>u1f935_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3a4</key>
    <string>u1f9d1_1f3ff_200d_1f3a4.glif</string>
    <key>u1f9d1_1f3ff_200d_1f4bc</key>
    <string>u1f9d1_1f3ff_200d_1f4bc.glif</string>
  </dict>
</plist>
