<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32e</key>
    <string>u1f32e.glif</string>
    <key>u1f349</key>
    <string>u1f349.glif</string>
    <key>u1f38d</key>
    <string>u1f38d.glif</string>
    <key>u1f3e0</key>
    <string>u1f3e0.glif</string>
    <key>u1f42e</key>
    <string>u1f42e.glif</string>
  </dict>
</plist>
