<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1fd</key>
    <string>u1f1f2_1f1fd.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f3a0</key>
    <string>u1f3a0.glif</string>
    <key>u1f3e8</key>
    <string>u1f3e8.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f69c</key>
    <string>u1f69c.glif</string>
    <key>u1f9e6</key>
    <string>u1f9e6.glif</string>
  </dict>
</plist>
