<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1fa_1f1fe</key>
    <string>u1f1fa_1f1fe.glif</string>
    <key>u1f370</key>
    <string>u1f370.glif</string>
    <key>u1f3c4</key>
    <string>u1f3c4.glif</string>
    <key>u1f3c4_200d_2640_fe0f</key>
    <string>u1f3c4_200d_2640_fe0f.glif</string>
    <key>u1f3c4_200d_2642_fe0f</key>
    <string>u1f3c4_200d_2642_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f468_200d_1f33e</key>
    <string>u1f468_200d_1f33e.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f468_200d_2708_fe0f</key>
    <string>u1f468_200d_2708_fe0f.glif</string>
    <key>u1f469_200d_1f4bb</key>
    <string>u1f469_200d_1f4bb.glif</string>
    <key>u1f469_200d_1f52c</key>
    <string>u1f469_200d_1f52c.glif</string>
    <key>u1f469_200d_1f9bc</key>
    <string>u1f469_200d_1f9bc.glif</string>
    <key>u1f469_200d_1f9bd</key>
    <string>u1f469_200d_1f9bd.glif</string>
    <key>u1f473_200d_2642_fe0f</key>
    <string>u1f473_200d_2642_fe0f.glif</string>
    <key>u1f477</key>
    <string>u1f477.glif</string>
    <key>u1f486_200d_2642_fe0f</key>
    <string>u1f486_200d_2642_fe0f.glif</string>
    <key>u1f4e1</key>
    <string>u1f4e1.glif</string>
    <key>u1f54c</key>
    <string>u1f54c.glif</string>
    <key>u1f5e1</key>
    <string>u1f5e1.glif</string>
    <key>u1f64e_200d_2642_fe0f</key>
    <string>u1f64e_200d_2642_fe0f.glif</string>
    <key>u1f692</key>
    <string>u1f692.glif</string>
    <key>u1f6a3_200d_2640_fe0f</key>
    <string>u1f6a3_200d_2640_fe0f.glif</string>
    <key>u1f6a3_200d_2642_fe0f</key>
    <string>u1f6a3_200d_2642_fe0f.glif</string>
    <key>u1f6b6</key>
    <string>u1f6b6.glif</string>
    <key>u1f939_200d_2640_fe0f</key>
    <string>u1f939_200d_2640_fe0f.glif</string>
    <key>u1f9aa</key>
    <string>u1f9aa.glif</string>
    <key>u1f9b9_200d_2642_fe0f</key>
    <string>u1f9b9_200d_2642_fe0f.glif</string>
    <key>u1f9cd_200d_2640_fe0f</key>
    <string>u1f9cd_200d_2640_fe0f.glif</string>
    <key>u1f9cf_200d_2640_fe0f</key>
    <string>u1f9cf_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f393</key>
    <string>u1f9d1_200d_1f393.glif</string>
    <key>u1f9d1_200d_1f680</key>
    <string>u1f9d1_200d_1f680.glif</string>
    <key>u1f9d1_200d_1f9bc</key>
    <string>u1f9d1_200d_1f9bc.glif</string>
    <key>u1f9d1_200d_1f9bd</key>
    <string>u1f9d1_200d_1f9bd.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u2694</key>
    <string>u2694.glif</string>
    <key>u2696</key>
    <string>u2696.glif</string>
  </dict>
</plist>
