<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f38d</key>
    <string>u1f38d.glif</string>
    <key>u1f3d5</key>
    <string>u1f3d5.glif</string>
    <key>u1f4b5</key>
    <string>u1f4b5.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f5fa</key>
    <string>u1f5fa.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u1f6a4</key>
    <string>u1f6a4.glif</string>
    <key>u1f966</key>
    <string>u1f966.glif</string>
    <key>u1f9a0</key>
    <string>u1f9a0.glif</string>
  </dict>
</plist>
