<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f4ba</key>
    <string>u1f4ba.glif</string>
    <key>u1f9cf_1f3fb_200d_2640_fe0f</key>
    <string>u1f9cf_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9cf_1f3fc_200d_2640_fe0f</key>
    <string>u1f9cf_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9cf_1f3fd_200d_2640_fe0f</key>
    <string>u1f9cf_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9cf_1f3fe_200d_2640_fe0f</key>
    <string>u1f9cf_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9cf_1f3ff_200d_2640_fe0f</key>
    <string>u1f9cf_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9cf_200d_2640_fe0f</key>
    <string>u1f9cf_200d_2640_fe0f.glif</string>
  </dict>
</plist>
