<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f368</key>
    <string>u1f368.glif</string>
    <key>u2615</key>
    <string>u2615.glif</string>
  </dict>
</plist>
