<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f338</key>
    <string>u1f338.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f389</key>
    <string>u1f389.glif</string>
    <key>u1f3ae</key>
    <string>u1f3ae.glif</string>
    <key>u1f3d8</key>
    <string>u1f3d8.glif</string>
    <key>u1f3ec</key>
    <string>u1f3ec.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f5e1</key>
    <string>u1f5e1.glif</string>
    <key>u1f9c8</key>
    <string>u1f9c8.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
    <key>u2694</key>
    <string>u2694.glif</string>
  </dict>
</plist>
