<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e6_1f1f9</key>
    <string>u1f1e6_1f1f9.glif</string>
    <key>u1f1e7_1f1ec</key>
    <string>u1f1e7_1f1ec.glif</string>
    <key>u1f1e7_1f1ed</key>
    <string>u1f1e7_1f1ed.glif</string>
    <key>u1f1e7_1f1ee</key>
    <string>u1f1e7_1f1ee.glif</string>
    <key>u1f1e7_1f1f1</key>
    <string>u1f1e7_1f1f1.glif</string>
    <key>u1f1e7_1f1fc</key>
    <string>u1f1e7_1f1fc.glif</string>
    <key>u1f1e8_1f1fe</key>
    <string>u1f1e8_1f1fe.glif</string>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1eb_1f1f4</key>
    <string>u1f1eb_1f1f4.glif</string>
    <key>u1f1ec_1f1ea</key>
    <string>u1f1ec_1f1ea.glif</string>
    <key>u1f1ec_1f1ec</key>
    <string>u1f1ec_1f1ec.glif</string>
    <key>u1f1ed_1f1f3</key>
    <string>u1f1ed_1f1f3.glif</string>
    <key>u1f1ed_1f1f7</key>
    <string>u1f1ed_1f1f7.glif</string>
    <key>u1f1ed_1f1fa</key>
    <string>u1f1ed_1f1fa.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f1ef_1f1ea</key>
    <string>u1f1ef_1f1ea.glif</string>
    <key>u1f1ef_1f1f5</key>
    <string>u1f1ef_1f1f5.glif</string>
    <key>u1f1f0_1f1ee</key>
    <string>u1f1f0_1f1ee.glif</string>
    <key>u1f1f0_1f1f7</key>
    <string>u1f1f0_1f1f7.glif</string>
    <key>u1f1f1_1f1fa</key>
    <string>u1f1f1_1f1fa.glif</string>
    <key>u1f1f2_1f1e8</key>
    <string>u1f1f2_1f1e8.glif</string>
    <key>u1f1f3_1f1ea</key>
    <string>u1f1f3_1f1ea.glif</string>
    <key>u1f1f3_1f1f1</key>
    <string>u1f1f3_1f1f1.glif</string>
    <key>u1f1f5_1f1e6</key>
    <string>u1f1f5_1f1e6.glif</string>
    <key>u1f1f5_1f1f1</key>
    <string>u1f1f5_1f1f1.glif</string>
    <key>u1f1f8_1f1ec</key>
    <string>u1f1f8_1f1ec.glif</string>
    <key>u1f1f8_1f1f1</key>
    <string>u1f1f8_1f1f1.glif</string>
    <key>u1f1f8_1f1fe</key>
    <string>u1f1f8_1f1fe.glif</string>
    <key>u1f1fb_1f1ee</key>
    <string>u1f1fb_1f1ee.glif</string>
    <key>u1f1fe_1f1f9</key>
    <string>u1f1fe_1f1f9.glif</string>
    <key>u1f1ff_1f1fc</key>
    <string>u1f1ff_1f1fc.glif</string>
    <key>u1f359</key>
    <string>u1f359.glif</string>
    <key>u1f363</key>
    <string>u1f363.glif</string>
    <key>u1f3f4_e0067_e0062_e0065_e006e_e0067_e007f</key>
    <string>u1f3f4_e0067_e0062_e0065_e006e_e0067_e007f.glif</string>
    <key>u1f3f4_e0067_e0062_e0073_e0063_e0074_e007f</key>
    <string>u1f3f4_e0067_e0062_e0073_e0063_e0074_e007f.glif</string>
    <key>u1f3f4_e0067_e0062_e0077_e006c_e0073_e007f</key>
    <string>u1f3f4_e0067_e0062_e0077_e006c_e0073_e007f.glif</string>
  </dict>
</plist>
