<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f4ba</key>
    <string>u1f4ba.glif</string>
    <key>u1f56f</key>
    <string>u1f56f.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f5c3</key>
    <string>u1f5c3.glif</string>
    <key>u1f5dc</key>
    <string>u1f5dc.glif</string>
    <key>u1fa95</key>
    <string>u1fa95.glif</string>
    <key>u2697</key>
    <string>u2697.glif</string>
  </dict>
</plist>
