<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f194</key>
    <string>u1f194.glif</string>
    <key>u1f40c</key>
    <string>u1f40c.glif</string>
    <key>u1f469_1f3fb_200d_1f4bb</key>
    <string>u1f469_1f3fb_200d_1f4bb.glif</string>
    <key>u1f469_1f3fc_200d_1f4bb</key>
    <string>u1f469_1f3fc_200d_1f4bb.glif</string>
    <key>u1f469_1f3fd_200d_1f4bb</key>
    <string>u1f469_1f3fd_200d_1f4bb.glif</string>
    <key>u1f469_1f3fe_200d_1f4bb</key>
    <string>u1f469_1f3fe_200d_1f4bb.glif</string>
    <key>u1f469_1f3ff_200d_1f4bb</key>
    <string>u1f469_1f3ff_200d_1f4bb.glif</string>
    <key>u1f469_200d_1f4bb</key>
    <string>u1f469_200d_1f4bb.glif</string>
    <key>u1f473_1f3fb_200d_2640_fe0f</key>
    <string>u1f473_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f473_1f3fc_200d_2640_fe0f</key>
    <string>u1f473_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f473_1f3fd_200d_2640_fe0f</key>
    <string>u1f473_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f473_1f3fe_200d_2640_fe0f</key>
    <string>u1f473_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f473_1f3ff_200d_2640_fe0f</key>
    <string>u1f473_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f473_200d_2640_fe0f</key>
    <string>u1f473_200d_2640_fe0f.glif</string>
    <key>u1f4b7</key>
    <string>u1f4b7.glif</string>
    <key>u1f52f</key>
    <string>u1f52f.glif</string>
    <key>u1f549</key>
    <string>u1f549.glif</string>
    <key>u1f54e</key>
    <string>u1f54e.glif</string>
    <key>u1f6d0</key>
    <string>u1f6d0.glif</string>
    <key>u1f939_1f3fd_200d_2640_fe0f</key>
    <string>u1f939_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d5</key>
    <string>u1f9d5.glif</string>
    <key>u1f9d5_1f3fb</key>
    <string>u1f9d5_1f3fb.glif</string>
    <key>u1f9d5_1f3fc</key>
    <string>u1f9d5_1f3fc.glif</string>
    <key>u1f9d5_1f3fd</key>
    <string>u1f9d5_1f3fd.glif</string>
    <key>u1f9d5_1f3fe</key>
    <string>u1f9d5_1f3fe.glif</string>
    <key>u1f9d5_1f3ff</key>
    <string>u1f9d5_1f3ff.glif</string>
    <key>u2626</key>
    <string>u2626.glif</string>
    <key>u262a</key>
    <string>u262a.glif</string>
    <key>u262e</key>
    <string>u262e.glif</string>
    <key>u262f</key>
    <string>u262f.glif</string>
    <key>u2638</key>
    <string>u2638.glif</string>
    <key>u2648</key>
    <string>u2648.glif</string>
    <key>u2649</key>
    <string>u2649.glif</string>
    <key>u264a</key>
    <string>u264a.glif</string>
    <key>u264b</key>
    <string>u264b.glif</string>
    <key>u264c</key>
    <string>u264c.glif</string>
    <key>u264d</key>
    <string>u264d.glif</string>
    <key>u264e</key>
    <string>u264e.glif</string>
    <key>u264f</key>
    <string>u264f.glif</string>
    <key>u2650</key>
    <string>u2650.glif</string>
    <key>u2651</key>
    <string>u2651.glif</string>
    <key>u2652</key>
    <string>u2652.glif</string>
    <key>u2653</key>
    <string>u2653.glif</string>
    <key>u2695</key>
    <string>u2695.glif</string>
    <key>u269b</key>
    <string>u269b.glif</string>
    <key>u26a7</key>
    <string>u26a7.glif</string>
    <key>u26ce</key>
    <string>u26ce.glif</string>
    <key>u271d</key>
    <string>u271d.glif</string>
    <key>u2721</key>
    <string>u2721.glif</string>
  </dict>
</plist>
