<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f338</key>
    <string>u1f338.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f99c</key>
    <string>u1f99c.glif</string>
  </dict>
</plist>
