<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f302</key>
    <string>u1f302.glif</string>
    <key>u1f311</key>
    <string>u1f311.glif</string>
    <key>u1f31a</key>
    <string>u1f31a.glif</string>
    <key>u1f3a7</key>
    <string>u1f3a7.glif</string>
    <key>u1f3d7</key>
    <string>u1f3d7.glif</string>
    <key>u1f3e6</key>
    <string>u1f3e6.glif</string>
    <key>u1f43a</key>
    <string>u1f43a.glif</string>
    <key>u1f489</key>
    <string>u1f489.glif</string>
    <key>u1f4ee</key>
    <string>u1f4ee.glif</string>
    <key>u1f4f7</key>
    <string>u1f4f7.glif</string>
    <key>u1f526</key>
    <string>u1f526.glif</string>
    <key>u1f52c</key>
    <string>u1f52c.glif</string>
    <key>u1f530</key>
    <string>u1f530.glif</string>
    <key>u1f575</key>
    <string>u1f575.glif</string>
    <key>u1f575_1f3fb</key>
    <string>u1f575_1f3fb.glif</string>
    <key>u1f575_1f3fb_200d_2642_fe0f</key>
    <string>u1f575_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fc</key>
    <string>u1f575_1f3fc.glif</string>
    <key>u1f575_1f3fc_200d_2642_fe0f</key>
    <string>u1f575_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fd</key>
    <string>u1f575_1f3fd.glif</string>
    <key>u1f575_1f3fd_200d_2642_fe0f</key>
    <string>u1f575_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fe</key>
    <string>u1f575_1f3fe.glif</string>
    <key>u1f575_1f3fe_200d_2642_fe0f</key>
    <string>u1f575_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3ff</key>
    <string>u1f575_1f3ff.glif</string>
    <key>u1f575_1f3ff_200d_2642_fe0f</key>
    <string>u1f575_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2642_fe0f</key>
    <string>u1f575_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f578</key>
    <string>u1f578.glif</string>
    <key>u1f5b2</key>
    <string>u1f5b2.glif</string>
    <key>u1f5d2</key>
    <string>u1f5d2.glif</string>
    <key>u1f5d3</key>
    <string>u1f5d3.glif</string>
    <key>u1f5ff</key>
    <string>u1f5ff.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f694</key>
    <string>u1f694.glif</string>
    <key>u1f6a9</key>
    <string>u1f6a9.glif</string>
    <key>u1f6bf</key>
    <string>u1f6bf.glif</string>
    <key>u1f6e5</key>
    <string>u1f6e5.glif</string>
    <key>u1f6e9</key>
    <string>u1f6e9.glif</string>
    <key>u1f93f</key>
    <string>u1f93f.glif</string>
    <key>u1f987</key>
    <string>u1f987.glif</string>
    <key>u1f988</key>
    <string>u1f988.glif</string>
    <key>u1f98f</key>
    <string>u1f98f.glif</string>
    <key>u1f99c</key>
    <string>u1f99c.glif</string>
    <key>u1f9bb</key>
    <string>u1f9bb.glif</string>
    <key>u1f9bb_1f3fb</key>
    <string>u1f9bb_1f3fb.glif</string>
    <key>u1f9bb_1f3fc</key>
    <string>u1f9bb_1f3fc.glif</string>
    <key>u1f9bb_1f3fd</key>
    <string>u1f9bb_1f3fd.glif</string>
    <key>u1f9bb_1f3fe</key>
    <string>u1f9bb_1f3fe.glif</string>
    <key>u1f9bb_1f3ff</key>
    <string>u1f9bb_1f3ff.glif</string>
    <key>u1f9bc</key>
    <string>u1f9bc.glif</string>
    <key>u1f9be</key>
    <string>u1f9be.glif</string>
    <key>u1f9bf</key>
    <string>u1f9bf.glif</string>
    <key>u1f9c2</key>
    <string>u1f9c2.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d7_1f3fb</key>
    <string>u1f9d7_1f3fb.glif</string>
    <key>u1f9d7_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fc</key>
    <string>u1f9d7_1f3fc.glif</string>
    <key>u1f9d7_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fd</key>
    <string>u1f9d7_1f3fd.glif</string>
    <key>u1f9d7_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fe</key>
    <string>u1f9d7_1f3fe.glif</string>
    <key>u1f9d7_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3ff</key>
    <string>u1f9d7_1f3ff.glif</string>
    <key>u1f9d7_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d7_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d7_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9ef</key>
    <string>u1f9ef.glif</string>
    <key>u1f9f4</key>
    <string>u1f9f4.glif</string>
    <key>u1fa82</key>
    <string>u1fa82.glif</string>
    <key>u2602</key>
    <string>u2602.glif</string>
    <key>u2614</key>
    <string>u2614.glif</string>
    <key>u2696</key>
    <string>u2696.glif</string>
    <key>u2699</key>
    <string>u2699.glif</string>
    <key>u2708</key>
    <string>u2708.glif</string>
  </dict>
</plist>
