<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f35c</key>
    <string>u1f35c.glif</string>
    <key>u1f3ab</key>
    <string>u1f3ab.glif</string>
    <key>u1f3d0</key>
    <string>u1f3d0.glif</string>
    <key>u1f3e5</key>
    <string>u1f3e5.glif</string>
    <key>u1f48c</key>
    <string>u1f48c.glif</string>
    <key>u1f491</key>
    <string>u1f491.glif</string>
    <key>u1f4cd</key>
    <string>u1f4cd.glif</string>
    <key>u1f4dd</key>
    <string>u1f4dd.glif</string>
    <key>u1f4e7</key>
    <string>u1f4e7.glif</string>
    <key>u1f4e9</key>
    <string>u1f4e9.glif</string>
    <key>u1f4ea</key>
    <string>u1f4ea.glif</string>
    <key>u1f4eb</key>
    <string>u1f4eb.glif</string>
    <key>u1f4ed</key>
    <string>u1f4ed.glif</string>
    <key>u1f4fb</key>
    <string>u1f4fb.glif</string>
    <key>u1f54a</key>
    <string>u1f54a.glif</string>
    <key>u1f5b2</key>
    <string>u1f5b2.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f6bf</key>
    <string>u1f6bf.glif</string>
    <key>u1f93a</key>
    <string>u1f93a.glif</string>
    <key>u1f94a</key>
    <string>u1f94a.glif</string>
    <key>u1f94b</key>
    <string>u1f94b.glif</string>
    <key>u1f961</key>
    <string>u1f961.glif</string>
    <key>u1f96b</key>
    <string>u1f96b.glif</string>
    <key>u1f98f</key>
    <string>u1f98f.glif</string>
    <key>u1f9a1</key>
    <string>u1f9a1.glif</string>
    <key>u1f9b9</key>
    <string>u1f9b9.glif</string>
    <key>u1f9b9_1f3fb</key>
    <string>u1f9b9_1f3fb.glif</string>
    <key>u1f9b9_1f3fb_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fb_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fc</key>
    <string>u1f9b9_1f3fc.glif</string>
    <key>u1f9b9_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fc_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fd</key>
    <string>u1f9b9_1f3fd.glif</string>
    <key>u1f9b9_1f3fd_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fd_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fe</key>
    <string>u1f9b9_1f3fe.glif</string>
    <key>u1f9b9_1f3fe_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fe_200d_2642_fe0f</key>
    <string>u1f9b9_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3ff</key>
    <string>u1f9b9_1f3ff.glif</string>
    <key>u1f9b9_1f3ff_200d_2640_fe0f</key>
    <string>u1f9b9_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3ff_200d_2642_fe0f</key>
    <string>u1f9b9_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9b9_200d_2640_fe0f</key>
    <string>u1f9b9_200d_2640_fe0f.glif</string>
    <key>u1f9b9_200d_2642_fe0f</key>
    <string>u1f9b9_200d_2642_fe0f.glif</string>
    <key>u1f9bb</key>
    <string>u1f9bb.glif</string>
    <key>u1f9bb_1f3fb</key>
    <string>u1f9bb_1f3fb.glif</string>
    <key>u1f9bb_1f3fc</key>
    <string>u1f9bb_1f3fc.glif</string>
    <key>u1f9bb_1f3fd</key>
    <string>u1f9bb_1f3fd.glif</string>
    <key>u1f9bb_1f3fe</key>
    <string>u1f9bb_1f3fe.glif</string>
    <key>u1f9bb_1f3ff</key>
    <string>u1f9bb_1f3ff.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d7_1f3fb</key>
    <string>u1f9d7_1f3fb.glif</string>
    <key>u1f9d7_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fc</key>
    <string>u1f9d7_1f3fc.glif</string>
    <key>u1f9d7_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fd</key>
    <string>u1f9d7_1f3fd.glif</string>
    <key>u1f9d7_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3fe</key>
    <string>u1f9d7_1f3fe.glif</string>
    <key>u1f9d7_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d7_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d7_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d7_1f3ff</key>
    <string>u1f9d7_1f3ff.glif</string>
    <key>u1f9d7_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d7_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d7_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d7_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9eb</key>
    <string>u1f9eb.glif</string>
    <key>u1f9f4</key>
    <string>u1f9f4.glif</string>
    <key>u1f9fb</key>
    <string>u1f9fb.glif</string>
    <key>u1f9fe</key>
    <string>u1f9fe.glif</string>
    <key>u1fa7a</key>
    <string>u1fa7a.glif</string>
    <key>u231a</key>
    <string>u231a.glif</string>
    <key>u26f8</key>
    <string>u26f8.glif</string>
    <key>u2702</key>
    <string>u2702.glif</string>
    <key>u2709</key>
    <string>u2709.glif</string>
  </dict>
</plist>
