<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1f8</key>
    <string>u1f1f2_1f1f8.glif</string>
    <key>u1f30a</key>
    <string>u1f30a.glif</string>
    <key>u1f386</key>
    <string>u1f386.glif</string>
    <key>u1f3bd</key>
    <string>u1f3bd.glif</string>
    <key>u1f3bf</key>
    <string>u1f3bf.glif</string>
    <key>u1f40b</key>
    <string>u1f40b.glif</string>
    <key>u1f433</key>
    <string>u1f433.glif</string>
    <key>u1f453</key>
    <string>u1f453.glif</string>
    <key>u1f455</key>
    <string>u1f455.glif</string>
    <key>u1f4be</key>
    <string>u1f4be.glif</string>
    <key>u1f4c1</key>
    <string>u1f4c1.glif</string>
    <key>u1f4c2</key>
    <string>u1f4c2.glif</string>
    <key>u1f4e3</key>
    <string>u1f4e3.glif</string>
    <key>u1f4f1</key>
    <string>u1f4f1.glif</string>
    <key>u1f4f2</key>
    <string>u1f4f2.glif</string>
    <key>u1f5d2</key>
    <string>u1f5d2.glif</string>
    <key>u1f6e1</key>
    <string>u1f6e1.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f6f6</key>
    <string>u1f6f6.glif</string>
    <key>u1f6fa</key>
    <string>u1f6fa.glif</string>
    <key>u1f9b8_1f3fb_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fc_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fd_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fe_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3ff_200d_2642_fe0f</key>
    <string>u1f9b8_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9b8_200d_2642_fe0f</key>
    <string>u1f9b8_200d_2642_fe0f.glif</string>
    <key>u2708</key>
    <string>u2708.glif</string>
  </dict>
</plist>
