<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c1</key>
    <string>u1f3c1.glif</string>
    <key>u1f3e3</key>
    <string>u1f3e3.glif</string>
    <key>u1f3f3</key>
    <string>u1f3f3.glif</string>
    <key>u1f3f4</key>
    <string>u1f3f4.glif</string>
    <key>u1f516</key>
    <string>u1f516.glif</string>
    <key>u1f5fb</key>
    <string>u1f5fb.glif</string>
    <key>u2620</key>
    <string>u2620.glif</string>
  </dict>
</plist>
