<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f379</key>
    <string>u1f379.glif</string>
    <key>u1f3d5</key>
    <string>u1f3d5.glif</string>
    <key>u1f469_1f3fb_200d_1f3a8</key>
    <string>u1f469_1f3fb_200d_1f3a8.glif</string>
    <key>u1f469_1f3fc_200d_1f3a8</key>
    <string>u1f469_1f3fc_200d_1f3a8.glif</string>
    <key>u1f469_1f3fd_200d_1f3a8</key>
    <string>u1f469_1f3fd_200d_1f3a8.glif</string>
    <key>u1f469_1f3fe_200d_1f3a8</key>
    <string>u1f469_1f3fe_200d_1f3a8.glif</string>
    <key>u1f469_1f3ff_200d_1f3a8</key>
    <string>u1f469_1f3ff_200d_1f3a8.glif</string>
    <key>u1f469_200d_1f3a8</key>
    <string>u1f469_200d_1f3a8.glif</string>
    <key>u1f689</key>
    <string>u1f689.glif</string>
    <key>u1f68a</key>
    <string>u1f68a.glif</string>
    <key>u1f6e3</key>
    <string>u1f6e3.glif</string>
    <key>u1f939_1f3fb_200d_2640_fe0f</key>
    <string>u1f939_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f939_1f3fc_200d_2640_fe0f</key>
    <string>u1f939_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f939_1f3fe_200d_2640_fe0f</key>
    <string>u1f939_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f939_1f3ff_200d_2640_fe0f</key>
    <string>u1f939_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f939_200d_2640_fe0f</key>
    <string>u1f939_200d_2640_fe0f.glif</string>
    <key>u1f966</key>
    <string>u1f966.glif</string>
    <key>u1f99c</key>
    <string>u1f99c.glif</string>
    <key>u1f9da_1f3fb_200d_2642_fe0f</key>
    <string>u1f9da_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9da_1f3fc_200d_2642_fe0f</key>
    <string>u1f9da_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9da_1f3fd_200d_2642_fe0f</key>
    <string>u1f9da_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9da_1f3fe_200d_2642_fe0f</key>
    <string>u1f9da_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9da_1f3ff_200d_2642_fe0f</key>
    <string>u1f9da_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9da_200d_2642_fe0f</key>
    <string>u1f9da_200d_2642_fe0f.glif</string>
  </dict>
</plist>
