<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f442_1f3fc</key>
    <string>u1f442_1f3fc.glif</string>
    <key>u1f44a_1f3fc</key>
    <string>u1f44a_1f3fc.glif</string>
    <key>u1f590_1f3fc</key>
    <string>u1f590_1f3fc.glif</string>
    <key>u1f90f_1f3fc</key>
    <string>u1f90f_1f3fc.glif</string>
    <key>u1f919_1f3fc</key>
    <string>u1f919_1f3fc.glif</string>
    <key>u1f91f_1f3fc</key>
    <string>u1f91f_1f3fc.glif</string>
    <key>u1f933_1f3fc</key>
    <string>u1f933_1f3fc.glif</string>
    <key>u1f9b5_1f3fc</key>
    <string>u1f9b5_1f3fc.glif</string>
    <key>u1f9b6_1f3fc</key>
    <string>u1f9b6_1f3fc.glif</string>
    <key>u1f9dc_1f3fc_200d_2642_fe0f</key>
    <string>u1f9dc_1f3fc_200d_2642_fe0f.glif</string>
  </dict>
</plist>
