<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f35c</key>
    <string>u1f35c.glif</string>
    <key>u1f396</key>
    <string>u1f396.glif</string>
    <key>u1f54b</key>
    <string>u1f54b.glif</string>
    <key>u1f54c</key>
    <string>u1f54c.glif</string>
    <key>u1f95f</key>
    <string>u1f95f.glif</string>
  </dict>
</plist>
