<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_1f3fb_200d_1f4bc</key>
    <string>u1f468_1f3fb_200d_1f4bc.glif</string>
    <key>u1f468_1f3fc_200d_1f4bc</key>
    <string>u1f468_1f3fc_200d_1f4bc.glif</string>
  </dict>
</plist>
