<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3cc</key>
    <string>u1f3cc.glif</string>
    <key>u1f3cc_1f3fb</key>
    <string>u1f3cc_1f3fb.glif</string>
    <key>u1f3cc_1f3fc</key>
    <string>u1f3cc_1f3fc.glif</string>
    <key>u1f3cc_1f3fd</key>
    <string>u1f3cc_1f3fd.glif</string>
    <key>u1f3cc_1f3fe</key>
    <string>u1f3cc_1f3fe.glif</string>
    <key>u1f3cc_1f3ff</key>
    <string>u1f3cc_1f3ff.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f696</key>
    <string>u1f696.glif</string>
    <key>u1f938_1f3fb_200d_2640_fe0f</key>
    <string>u1f938_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fc_200d_2640_fe0f</key>
    <string>u1f938_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fd_200d_2640_fe0f</key>
    <string>u1f938_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fe_200d_2640_fe0f</key>
    <string>u1f938_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3ff_200d_2640_fe0f</key>
    <string>u1f938_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f938_200d_2640_fe0f</key>
    <string>u1f938_200d_2640_fe0f.glif</string>
    <key>u1f943</key>
    <string>u1f943.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1f9c9</key>
    <string>u1f9c9.glif</string>
    <key>u1f9fc</key>
    <string>u1f9fc.glif</string>
    <key>u26f4</key>
    <string>u26f4.glif</string>
  </dict>
</plist>
