<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e6_1f1f4</key>
    <string>u1f1e6_1f1f4.glif</string>
    <key>u1f1f0_1f1f7</key>
    <string>u1f1f0_1f1f7.glif</string>
    <key>u1f1f1_1f1f8</key>
    <string>u1f1f1_1f1f8.glif</string>
    <key>u1f399</key>
    <string>u1f399.glif</string>
    <key>u1f3ac</key>
    <string>u1f3ac.glif</string>
    <key>u1f3b8</key>
    <string>u1f3b8.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_1f3fb</key>
    <string>u1f3cb_1f3fb.glif</string>
    <key>u1f3cb_1f3fb_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fc</key>
    <string>u1f3cb_1f3fc.glif</string>
    <key>u1f3cb_1f3fc_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fd</key>
    <string>u1f3cb_1f3fd.glif</string>
    <key>u1f3cb_1f3fd_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fe</key>
    <string>u1f3cb_1f3fe.glif</string>
    <key>u1f3cb_1f3fe_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3ff</key>
    <string>u1f3cb_1f3ff.glif</string>
    <key>u1f3cb_1f3ff_200d_2642_fe0f</key>
    <string>u1f3cb_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f3ce</key>
    <string>u1f3ce.glif</string>
    <key>u1f3d4</key>
    <string>u1f3d4.glif</string>
    <key>u1f413</key>
    <string>u1f413.glif</string>
    <key>u1f422</key>
    <string>u1f422.glif</string>
    <key>u1f431</key>
    <string>u1f431.glif</string>
    <key>u1f437</key>
    <string>u1f437.glif</string>
    <key>u1f438</key>
    <string>u1f438.glif</string>
    <key>u1f440</key>
    <string>u1f440.glif</string>
    <key>u1f441</key>
    <string>u1f441.glif</string>
    <key>u1f45e</key>
    <string>u1f45e.glif</string>
    <key>u1f468_1f3fb_200d_1f680</key>
    <string>u1f468_1f3fb_200d_1f680.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fc</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fc.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fd</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fd.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fe</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fe.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3ff</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3ff.glif</string>
    <key>u1f468_1f3fb_200d_1f9af</key>
    <string>u1f468_1f3fb_200d_1f9af.glif</string>
    <key>u1f468_1f3fb_200d_1f9b1</key>
    <string>u1f468_1f3fb_200d_1f9b1.glif</string>
    <key>u1f468_1f3fb_200d_1f9bc</key>
    <string>u1f468_1f3fb_200d_1f9bc.glif</string>
    <key>u1f468_1f3fb_200d_1f9bd</key>
    <string>u1f468_1f3fb_200d_1f9bd.glif</string>
    <key>u1f468_1f3fc_200d_1f680</key>
    <string>u1f468_1f3fc_200d_1f680.glif</string>
    <key>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3fb</key>
    <string>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3fb.glif</string>
    <key>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3fd</key>
    <string>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3fd.glif</string>
    <key>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3fe</key>
    <string>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3fe.glif</string>
    <key>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3ff</key>
    <string>u1f468_1f3fc_200d_1f91d_200d_1f468_1f3ff.glif</string>
    <key>u1f468_1f3fc_200d_1f9af</key>
    <string>u1f468_1f3fc_200d_1f9af.glif</string>
    <key>u1f468_1f3fc_200d_1f9bc</key>
    <string>u1f468_1f3fc_200d_1f9bc.glif</string>
    <key>u1f468_1f3fc_200d_1f9bd</key>
    <string>u1f468_1f3fc_200d_1f9bd.glif</string>
    <key>u1f468_1f3fd_200d_1f680</key>
    <string>u1f468_1f3fd_200d_1f680.glif</string>
    <key>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3fb</key>
    <string>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3fb.glif</string>
    <key>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3fc</key>
    <string>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3fc.glif</string>
    <key>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3fe</key>
    <string>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3fe.glif</string>
    <key>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3ff</key>
    <string>u1f468_1f3fd_200d_1f91d_200d_1f468_1f3ff.glif</string>
    <key>u1f468_1f3fd_200d_1f9af</key>
    <string>u1f468_1f3fd_200d_1f9af.glif</string>
    <key>u1f468_1f3fd_200d_1f9bc</key>
    <string>u1f468_1f3fd_200d_1f9bc.glif</string>
    <key>u1f468_1f3fd_200d_1f9bd</key>
    <string>u1f468_1f3fd_200d_1f9bd.glif</string>
    <key>u1f468_1f3fe_200d_1f680</key>
    <string>u1f468_1f3fe_200d_1f680.glif</string>
    <key>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3fb</key>
    <string>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3fb.glif</string>
    <key>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3fc</key>
    <string>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3fc.glif</string>
    <key>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3fd</key>
    <string>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3fd.glif</string>
    <key>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3ff</key>
    <string>u1f468_1f3fe_200d_1f91d_200d_1f468_1f3ff.glif</string>
    <key>u1f468_1f3fe_200d_1f9af</key>
    <string>u1f468_1f3fe_200d_1f9af.glif</string>
    <key>u1f468_1f3fe_200d_1f9bc</key>
    <string>u1f468_1f3fe_200d_1f9bc.glif</string>
    <key>u1f468_1f3fe_200d_1f9bd</key>
    <string>u1f468_1f3fe_200d_1f9bd.glif</string>
    <key>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fb</key>
    <string>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fb.glif</string>
    <key>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fc</key>
    <string>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fc.glif</string>
    <key>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fd</key>
    <string>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fd.glif</string>
    <key>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fe</key>
    <string>u1f468_1f3ff_200d_1f91d_200d_1f468_1f3fe.glif</string>
    <key>u1f468_1f3ff_200d_1f9af</key>
    <string>u1f468_1f3ff_200d_1f9af.glif</string>
    <key>u1f468_1f3ff_200d_1f9bc</key>
    <string>u1f468_1f3ff_200d_1f9bc.glif</string>
    <key>u1f468_1f3ff_200d_1f9bd</key>
    <string>u1f468_1f3ff_200d_1f9bd.glif</string>
    <key>u1f468_200d_1f680</key>
    <string>u1f468_200d_1f680.glif</string>
    <key>u1f468_200d_1f9af</key>
    <string>u1f468_200d_1f9af.glif</string>
    <key>u1f468_200d_1f9bc</key>
    <string>u1f468_200d_1f9bc.glif</string>
    <key>u1f468_200d_1f9bd</key>
    <string>u1f468_200d_1f9bd.glif</string>
    <key>u1f469_1f3fb_200d_1f3ed</key>
    <string>u1f469_1f3fb_200d_1f3ed.glif</string>
    <key>u1f469_1f3fb_200d_1f527</key>
    <string>u1f469_1f3fb_200d_1f527.glif</string>
    <key>u1f469_1f3fb_200d_1f680</key>
    <string>u1f469_1f3fb_200d_1f680.glif</string>
    <key>u1f469_1f3fb_200d_1f9af</key>
    <string>u1f469_1f3fb_200d_1f9af.glif</string>
    <key>u1f469_1f3fc_200d_1f680</key>
    <string>u1f469_1f3fc_200d_1f680.glif</string>
    <key>u1f469_1f3fc_200d_1f9af</key>
    <string>u1f469_1f3fc_200d_1f9af.glif</string>
    <key>u1f469_1f3fd_200d_1f680</key>
    <string>u1f469_1f3fd_200d_1f680.glif</string>
    <key>u1f469_1f3fd_200d_1f9af</key>
    <string>u1f469_1f3fd_200d_1f9af.glif</string>
    <key>u1f469_1f3fe_200d_1f680</key>
    <string>u1f469_1f3fe_200d_1f680.glif</string>
    <key>u1f469_1f3fe_200d_1f9af</key>
    <string>u1f469_1f3fe_200d_1f9af.glif</string>
    <key>u1f469_1f3ff_200d_1f9af</key>
    <string>u1f469_1f3ff_200d_1f9af.glif</string>
    <key>u1f469_200d_1f680</key>
    <string>u1f469_200d_1f680.glif</string>
    <key>u1f469_200d_1f9af</key>
    <string>u1f469_200d_1f9af.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f46c_1f3fb</key>
    <string>u1f46c_1f3fb.glif</string>
    <key>u1f46c_1f3fc</key>
    <string>u1f46c_1f3fc.glif</string>
    <key>u1f46c_1f3fd</key>
    <string>u1f46c_1f3fd.glif</string>
    <key>u1f46c_1f3fe</key>
    <string>u1f46c_1f3fe.glif</string>
    <key>u1f46c_1f3ff</key>
    <string>u1f46c_1f3ff.glif</string>
    <key>u1f46e_1f3fb</key>
    <string>u1f46e_1f3fb.glif</string>
    <key>u1f477</key>
    <string>u1f477.glif</string>
    <key>u1f477_1f3fb</key>
    <string>u1f477_1f3fb.glif</string>
    <key>u1f477_1f3fc</key>
    <string>u1f477_1f3fc.glif</string>
    <key>u1f477_1f3fc_200d_2640_fe0f</key>
    <string>u1f477_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fd</key>
    <string>u1f477_1f3fd.glif</string>
    <key>u1f477_1f3fd_200d_2640_fe0f</key>
    <string>u1f477_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fe</key>
    <string>u1f477_1f3fe.glif</string>
    <key>u1f477_1f3fe_200d_2640_fe0f</key>
    <string>u1f477_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3ff</key>
    <string>u1f477_1f3ff.glif</string>
    <key>u1f477_1f3ff_200d_2640_fe0f</key>
    <string>u1f477_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f477_200d_2640_fe0f</key>
    <string>u1f477_200d_2640_fe0f.glif</string>
    <key>u1f483_1f3fb</key>
    <string>u1f483_1f3fb.glif</string>
    <key>u1f4cb</key>
    <string>u1f4cb.glif</string>
    <key>u1f4d3</key>
    <string>u1f4d3.glif</string>
    <key>u1f4ee</key>
    <string>u1f4ee.glif</string>
    <key>u1f50f</key>
    <string>u1f50f.glif</string>
    <key>u1f574</key>
    <string>u1f574.glif</string>
    <key>u1f574_1f3fb</key>
    <string>u1f574_1f3fb.glif</string>
    <key>u1f574_1f3fb_200d_2642_fe0f</key>
    <string>u1f574_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f574_1f3fc</key>
    <string>u1f574_1f3fc.glif</string>
    <key>u1f574_1f3fc_200d_2642_fe0f</key>
    <string>u1f574_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f574_1f3fd</key>
    <string>u1f574_1f3fd.glif</string>
    <key>u1f574_1f3fd_200d_2642_fe0f</key>
    <string>u1f574_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f574_1f3fe</key>
    <string>u1f574_1f3fe.glif</string>
    <key>u1f574_1f3fe_200d_2642_fe0f</key>
    <string>u1f574_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f574_1f3ff</key>
    <string>u1f574_1f3ff.glif</string>
    <key>u1f574_1f3ff_200d_2642_fe0f</key>
    <string>u1f574_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f574_fe0f_200d_2642_fe0f</key>
    <string>u1f574_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f575</key>
    <string>u1f575.glif</string>
    <key>u1f575_1f3fb</key>
    <string>u1f575_1f3fb.glif</string>
    <key>u1f575_1f3fb_200d_2642_fe0f</key>
    <string>u1f575_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fc</key>
    <string>u1f575_1f3fc.glif</string>
    <key>u1f575_1f3fd</key>
    <string>u1f575_1f3fd.glif</string>
    <key>u1f575_1f3fe</key>
    <string>u1f575_1f3fe.glif</string>
    <key>u1f575_1f3ff</key>
    <string>u1f575_1f3ff.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f5d3</key>
    <string>u1f5d3.glif</string>
    <key>u1f61c</key>
    <string>u1f61c.glif</string>
    <key>u1f633</key>
    <string>u1f633.glif</string>
    <key>u1f64b_1f3fb</key>
    <string>u1f64b_1f3fb.glif</string>
    <key>u1f692</key>
    <string>u1f692.glif</string>
    <key>u1f693</key>
    <string>u1f693.glif</string>
    <key>u1f69a</key>
    <string>u1f69a.glif</string>
    <key>u1f69b</key>
    <string>u1f69b.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u1f6b5_1f3fb_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6d2</key>
    <string>u1f6d2.glif</string>
    <key>u1f926_1f3fb_200d_2640_fe0f</key>
    <string>u1f926_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f92a</key>
    <string>u1f92a.glif</string>
    <key>u1f931_1f3fb</key>
    <string>u1f931_1f3fb.glif</string>
    <key>u1f934_1f3fb</key>
    <string>u1f934_1f3fb.glif</string>
    <key>u1f939_1f3fb</key>
    <string>u1f939_1f3fb.glif</string>
    <key>u1f94d</key>
    <string>u1f94d.glif</string>
    <key>u1f97e</key>
    <string>u1f97e.glif</string>
    <key>u1f985</key>
    <string>u1f985.glif</string>
    <key>u1f986</key>
    <string>u1f986.glif</string>
    <key>u1f98b</key>
    <string>u1f98b.glif</string>
    <key>u1f997</key>
    <string>u1f997.glif</string>
    <key>u1f998</key>
    <string>u1f998.glif</string>
    <key>u1f999</key>
    <string>u1f999.glif</string>
    <key>u1f9a9</key>
    <string>u1f9a9.glif</string>
    <key>u1f9af</key>
    <string>u1f9af.glif</string>
    <key>u1f9bc</key>
    <string>u1f9bc.glif</string>
    <key>u1f9bd</key>
    <string>u1f9bd.glif</string>
    <key>u1f9cd_1f3fb</key>
    <string>u1f9cd_1f3fb.glif</string>
    <key>u1f9ce</key>
    <string>u1f9ce.glif</string>
    <key>u1f9ce_1f3fb_200d_2640_fe0f</key>
    <string>u1f9ce_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9ce_1f3fc</key>
    <string>u1f9ce_1f3fc.glif</string>
    <key>u1f9ce_1f3fc_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3fd</key>
    <string>u1f9ce_1f3fd.glif</string>
    <key>u1f9ce_1f3fd_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3fe</key>
    <string>u1f9ce_1f3fe.glif</string>
    <key>u1f9ce_1f3fe_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3ff</key>
    <string>u1f9ce_1f3ff.glif</string>
    <key>u1f9ce_1f3ff_200d_2642_fe0f</key>
    <string>u1f9ce_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9ce_200d_2642_fe0f</key>
    <string>u1f9ce_200d_2642_fe0f.glif</string>
    <key>u1f9d0</key>
    <string>u1f9d0.glif</string>
    <key>u1f9d1_1f3fb_200d_1f4bb</key>
    <string>u1f9d1_1f3fb_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3fb_200d_1f527</key>
    <string>u1f9d1_1f3fb_200d_1f527.glif</string>
    <key>u1f9d1_1f3fb_200d_1f52c</key>
    <string>u1f9d1_1f3fb_200d_1f52c.glif</string>
    <key>u1f9d1_1f3fb_200d_1f680</key>
    <string>u1f9d1_1f3fb_200d_1f680.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9af</key>
    <string>u1f9d1_1f3fb_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fb_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f680</key>
    <string>u1f9d1_1f3fc_200d_1f680.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9af</key>
    <string>u1f9d1_1f3fc_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fd_200d_1f680</key>
    <string>u1f9d1_1f3fd_200d_1f680.glif</string>
    <key>u1f9d1_1f3fd_200d_1f9af</key>
    <string>u1f9d1_1f3fd_200d_1f9af.glif</string>
    <key>u1f9d1_1f3fe_200d_1f680</key>
    <string>u1f9d1_1f3fe_200d_1f680.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9af</key>
    <string>u1f9d1_1f3fe_200d_1f9af.glif</string>
    <key>u1f9d1_1f3ff_200d_1f680</key>
    <string>u1f9d1_1f3ff_200d_1f680.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9af</key>
    <string>u1f9d1_1f3ff_200d_1f9af.glif</string>
    <key>u1f9d1_200d_1f680</key>
    <string>u1f9d1_200d_1f680.glif</string>
    <key>u1f9d1_200d_1f9af</key>
    <string>u1f9d1_200d_1f9af.glif</string>
    <key>u1f9db_1f3fb_200d_2640_fe0f</key>
    <string>u1f9db_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fc_200d_2640_fe0f</key>
    <string>u1f9db_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fd_200d_2640_fe0f</key>
    <string>u1f9db_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3fe_200d_2640_fe0f</key>
    <string>u1f9db_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9db_1f3ff_200d_2640_fe0f</key>
    <string>u1f9db_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9db_200d_2640_fe0f</key>
    <string>u1f9db_200d_2640_fe0f.glif</string>
    <key>u1f9df_200d_2640_fe0f</key>
    <string>u1f9df_200d_2640_fe0f.glif</string>
    <key>u1f9ef</key>
    <string>u1f9ef.glif</string>
    <key>u1f9ff</key>
    <string>u1f9ff.glif</string>
    <key>u23f2</key>
    <string>u23f2.glif</string>
    <key>u26f0</key>
    <string>u26f0.glif</string>
    <key>u270f</key>
    <string>u270f.glif</string>
  </dict>
</plist>
