<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e6_1f1f8</key>
    <string>u1f1e6_1f1f8.glif</string>
    <key>u1f3d8</key>
    <string>u1f3d8.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f400</key>
    <string>u1f400.glif</string>
    <key>u1f42d</key>
    <string>u1f42d.glif</string>
    <key>u1f43c</key>
    <string>u1f43c.glif</string>
    <key>u1f4ee</key>
    <string>u1f4ee.glif</string>
    <key>u1f5d2</key>
    <string>u1f5d2.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f6b2</key>
    <string>u1f6b2.glif</string>
    <key>u1f93a</key>
    <string>u1f93a.glif</string>
    <key>u1f983</key>
    <string>u1f983.glif</string>
    <key>u1f993</key>
    <string>u1f993.glif</string>
    <key>u1f99d</key>
    <string>u1f99d.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1f9d1_1f3fb_200d_1f3a8</key>
    <string>u1f9d1_1f3fb_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3a8</key>
    <string>u1f9d1_1f3fc_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3a8</key>
    <string>u1f9d1_1f3fd_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fe_200d_1f3a8</key>
    <string>u1f9d1_1f3fe_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3a8</key>
    <string>u1f9d1_1f3ff_200d_1f3a8.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u2692</key>
    <string>u2692.glif</string>
    <key>u26fd</key>
    <string>u26fd.glif</string>
  </dict>
</plist>
