<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f39b</key>
    <string>u1f39b.glif</string>
    <key>u1f3c1</key>
    <string>u1f3c1.glif</string>
    <key>u1f40f</key>
    <string>u1f40f.glif</string>
    <key>u1f440</key>
    <string>u1f440.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f934</key>
    <string>u1f934.glif</string>
    <key>u1f934_1f3fb</key>
    <string>u1f934_1f3fb.glif</string>
    <key>u1f934_1f3fc</key>
    <string>u1f934_1f3fc.glif</string>
    <key>u1f934_1f3fd</key>
    <string>u1f934_1f3fd.glif</string>
    <key>u1f934_1f3fe</key>
    <string>u1f934_1f3fe.glif</string>
    <key>u1f934_1f3ff</key>
    <string>u1f934_1f3ff.glif</string>
    <key>u1f94f</key>
    <string>u1f94f.glif</string>
    <key>u2697</key>
    <string>u2697.glif</string>
    <key>u26d3</key>
    <string>u26d3.glif</string>
    <key>u26f2</key>
    <string>u26f2.glif</string>
    <key>u26fd</key>
    <string>u26fd.glif</string>
  </dict>
</plist>
