<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_1f33e</key>
    <string>u1f468_200d_1f33e.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f468_200d_2696_fe0f</key>
    <string>u1f468_200d_2696_fe0f.glif</string>
    <key>u1f468_200d_2708_fe0f</key>
    <string>u1f468_200d_2708_fe0f.glif</string>
    <key>u1f469_200d_1f4bb</key>
    <string>u1f469_200d_1f4bb.glif</string>
    <key>u1f469_200d_1f52c</key>
    <string>u1f469_200d_1f52c.glif</string>
    <key>u1f46e_200d_2640_fe0f</key>
    <string>u1f46e_200d_2640_fe0f.glif</string>
    <key>u1f473</key>
    <string>u1f473.glif</string>
    <key>u1f473_200d_2640_fe0f</key>
    <string>u1f473_200d_2640_fe0f.glif</string>
    <key>u1f482</key>
    <string>u1f482.glif</string>
    <key>u1f482_200d_2642_fe0f</key>
    <string>u1f482_200d_2642_fe0f.glif</string>
    <key>u1f6b4_200d_2640_fe0f</key>
    <string>u1f6b4_200d_2640_fe0f.glif</string>
    <key>u1f6b5</key>
    <string>u1f6b5.glif</string>
    <key>u1f6b5_200d_2642_fe0f</key>
    <string>u1f6b5_200d_2642_fe0f.glif</string>
    <key>u1f935_200d_2640_fe0f</key>
    <string>u1f935_200d_2640_fe0f.glif</string>
    <key>u1f939_200d_2640_fe0f</key>
    <string>u1f939_200d_2640_fe0f.glif</string>
    <key>u1f93c</key>
    <string>u1f93c.glif</string>
    <key>u1f93c_200d_2640_fe0f</key>
    <string>u1f93c_200d_2640_fe0f.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f9b9</key>
    <string>u1f9b9.glif</string>
    <key>u1f9cf</key>
    <string>u1f9cf.glif</string>
    <key>u1f9cf_200d_2640_fe0f</key>
    <string>u1f9cf_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f33e</key>
    <string>u1f9d1_200d_1f33e.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9d1_200d_2696_fe0f</key>
    <string>u1f9d1_200d_2696_fe0f.glif</string>
    <key>u1f9d1_200d_2708_fe0f</key>
    <string>u1f9d1_200d_2708_fe0f.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
    <key>u1f9d9</key>
    <string>u1f9d9.glif</string>
    <key>u1f9dd</key>
    <string>u1f9dd.glif</string>
    <key>u270d</key>
    <string>u270d.glif</string>
  </dict>
</plist>
