<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f343</key>
    <string>u1f343.glif</string>
    <key>u1f44b</key>
    <string>u1f44b.glif</string>
    <key>u1f44b_1f3fb</key>
    <string>u1f44b_1f3fb.glif</string>
    <key>u1f44b_1f3fc</key>
    <string>u1f44b_1f3fc.glif</string>
    <key>u1f44b_1f3fd</key>
    <string>u1f44b_1f3fd.glif</string>
    <key>u1f44b_1f3fe</key>
    <string>u1f44b_1f3fe.glif</string>
    <key>u1f44b_1f3ff</key>
    <string>u1f44b_1f3ff.glif</string>
    <key>u1f4bb</key>
    <string>u1f4bb.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f613</key>
    <string>u1f613.glif</string>
    <key>u1f625</key>
    <string>u1f625.glif</string>
    <key>u1f62a</key>
    <string>u1f62a.glif</string>
    <key>u1f62d</key>
    <string>u1f62d.glif</string>
    <key>u1f630</key>
    <string>u1f630.glif</string>
    <key>u1fa72</key>
    <string>u1fa72.glif</string>
    <key>u26c8</key>
    <string>u26c8.glif</string>
  </dict>
</plist>
