<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f441</key>
    <string>u1f441.glif</string>
    <key>u1f468_1f3fb_200d_1f4bc</key>
    <string>u1f468_1f3fb_200d_1f4bc.glif</string>
    <key>u1f468_1f3fc_200d_1f4bc</key>
    <string>u1f468_1f3fc_200d_1f4bc.glif</string>
    <key>u1f468_1f3fd_200d_1f4bc</key>
    <string>u1f468_1f3fd_200d_1f4bc.glif</string>
    <key>u1f468_1f3fe_200d_1f4bc</key>
    <string>u1f468_1f3fe_200d_1f4bc.glif</string>
    <key>u1f468_1f3ff_200d_1f4bc</key>
    <string>u1f468_1f3ff_200d_1f4bc.glif</string>
    <key>u1f468_200d_1f4bc</key>
    <string>u1f468_200d_1f4bc.glif</string>
    <key>u1f469_1f3fb_200d_1f4bc</key>
    <string>u1f469_1f3fb_200d_1f4bc.glif</string>
    <key>u1f469_1f3fc_200d_1f4bc</key>
    <string>u1f469_1f3fc_200d_1f4bc.glif</string>
    <key>u1f469_1f3fd_200d_1f4bc</key>
    <string>u1f469_1f3fd_200d_1f4bc.glif</string>
    <key>u1f469_1f3fe_200d_1f4bc</key>
    <string>u1f469_1f3fe_200d_1f4bc.glif</string>
    <key>u1f469_1f3ff_200d_1f4bc</key>
    <string>u1f469_1f3ff_200d_1f4bc.glif</string>
    <key>u1f469_200d_1f4bc</key>
    <string>u1f469_200d_1f4bc.glif</string>
    <key>u1f47a</key>
    <string>u1f47a.glif</string>
    <key>u1f49f</key>
    <string>u1f49f.glif</string>
    <key>u1f4a9</key>
    <string>u1f4a9.glif</string>
    <key>u1f4db</key>
    <string>u1f4db.glif</string>
    <key>u1f516</key>
    <string>u1f516.glif</string>
    <key>u1f51e</key>
    <string>u1f51e.glif</string>
    <key>u1f51f</key>
    <string>u1f51f.glif</string>
    <key>u1f52f</key>
    <string>u1f52f.glif</string>
    <key>u1f6c2</key>
    <string>u1f6c2.glif</string>
    <key>u1f6c3</key>
    <string>u1f6c3.glif</string>
    <key>u1f6c4</key>
    <string>u1f6c4.glif</string>
    <key>u1f6c5</key>
    <string>u1f6c5.glif</string>
    <key>u1f9d1_1f3fb_200d_1f4bc</key>
    <string>u1f9d1_1f3fb_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3fc_200d_1f4bc</key>
    <string>u1f9d1_1f3fc_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3fd_200d_1f4bc</key>
    <string>u1f9d1_1f3fd_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3fe_200d_1f4bc</key>
    <string>u1f9d1_1f3fe_200d_1f4bc.glif</string>
    <key>u1f9d1_1f3ff_200d_1f4bc</key>
    <string>u1f9d1_1f3ff_200d_1f4bc.glif</string>
    <key>u1f9d1_200d_1f4bc</key>
    <string>u1f9d1_200d_1f4bc.glif</string>
    <key>u1f9fc</key>
    <string>u1f9fc.glif</string>
  </dict>
</plist>
