<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_1f3a8</key>
    <string>u1f468_200d_1f3a8.glif</string>
    <key>u1f647_200d_2642_fe0f</key>
    <string>u1f647_200d_2642_fe0f.glif</string>
    <key>u1f64c</key>
    <string>u1f64c.glif</string>
    <key>u1f6b4</key>
    <string>u1f6b4.glif</string>
    <key>u1f6b6</key>
    <string>u1f6b6.glif</string>
    <key>u1f6b6_200d_2640_fe0f</key>
    <string>u1f6b6_200d_2640_fe0f.glif</string>
    <key>u1f6b6_200d_2642_fe0f</key>
    <string>u1f6b6_200d_2642_fe0f.glif</string>
    <key>u1f93c</key>
    <string>u1f93c.glif</string>
    <key>u1f93c_200d_2640_fe0f</key>
    <string>u1f93c_200d_2640_fe0f.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u270d</key>
    <string>u270d.glif</string>
  </dict>
</plist>
