<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f469_1f3fb_200d_1f3ed</key>
    <string>u1f469_1f3fb_200d_1f3ed.glif</string>
    <key>u1f939_1f3fb</key>
    <string>u1f939_1f3fb.glif</string>
    <key>u1f9d6_1f3fb</key>
    <string>u1f9d6_1f3fb.glif</string>
  </dict>
</plist>
