<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c3_200d_2640_fe0f</key>
    <string>u1f3c3_200d_2640_fe0f.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f3cc</key>
    <string>u1f3cc.glif</string>
    <key>u1f3cc_fe0f_200d_2642_fe0f</key>
    <string>u1f3cc_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f469_200d_1f33e</key>
    <string>u1f469_200d_1f33e.glif</string>
    <key>u1f469_200d_1f469_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f466_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f466_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f467</key>
    <string>u1f469_200d_1f469_200d_1f467.glif</string>
    <key>u1f469_200d_1f469_200d_1f467_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f467_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f467_200d_1f467</key>
    <string>u1f469_200d_1f469_200d_1f467_200d_1f467.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f46f</key>
    <string>u1f46f.glif</string>
    <key>u1f477_200d_2640_fe0f</key>
    <string>u1f477_200d_2640_fe0f.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f645_200d_2640_fe0f</key>
    <string>u1f645_200d_2640_fe0f.glif</string>
    <key>u1f6b4</key>
    <string>u1f6b4.glif</string>
    <key>u1f6b4_200d_2642_fe0f</key>
    <string>u1f6b4_200d_2642_fe0f.glif</string>
    <key>u1f926</key>
    <string>u1f926.glif</string>
    <key>u1f933</key>
    <string>u1f933.glif</string>
    <key>u1f938</key>
    <string>u1f938.glif</string>
    <key>u1f938_200d_2642_fe0f</key>
    <string>u1f938_200d_2642_fe0f.glif</string>
    <key>u1f93e</key>
    <string>u1f93e.glif</string>
    <key>u1f9cf_200d_2640_fe0f</key>
    <string>u1f9cf_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f4bc</key>
    <string>u1f9d1_200d_1f4bc.glif</string>
    <key>u1f9d9_200d_2642_fe0f</key>
    <string>u1f9d9_200d_2642_fe0f.glif</string>
    <key>u1f9db_200d_2642_fe0f</key>
    <string>u1f9db_200d_2642_fe0f.glif</string>
  </dict>
</plist>
