<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_2764_fe0f_200d_1f468</key>
    <string>u1f468_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f4c9</key>
    <string>u1f4c9.glif</string>
    <key>u1f9ee</key>
    <string>u1f9ee.glif</string>
  </dict>
</plist>
