<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32f</key>
    <string>u1f32f.glif</string>
    <key>u1f362</key>
    <string>u1f362.glif</string>
    <key>u1f415</key>
    <string>u1f415.glif</string>
    <key>u1f436</key>
    <string>u1f436.glif</string>
    <key>u1f462</key>
    <string>u1f462.glif</string>
    <key>u1f4e6</key>
    <string>u1f4e6.glif</string>
    <key>u1f5e1</key>
    <string>u1f5e1.glif</string>
    <key>u1f97f</key>
    <string>u1f97f.glif</string>
    <key>u1f9ae</key>
    <string>u1f9ae.glif</string>
    <key>u1f9b4</key>
    <string>u1f9b4.glif</string>
    <key>u1f9f1</key>
    <string>u1f9f1.glif</string>
    <key>u1f9fa</key>
    <string>u1f9fa.glif</string>
    <key>u2694</key>
    <string>u2694.glif</string>
    <key>u26b1</key>
    <string>u26b1.glif</string>
  </dict>
</plist>
