<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f0_1f1ee</key>
    <string>u1f1f0_1f1ee.glif</string>
    <key>u1f320</key>
    <string>u1f320.glif</string>
    <key>u1f32e</key>
    <string>u1f32e.glif</string>
    <key>u1f36f</key>
    <string>u1f36f.glif</string>
    <key>u1f397</key>
    <string>u1f397.glif</string>
    <key>u1f3c5</key>
    <string>u1f3c5.glif</string>
    <key>u1f3d1</key>
    <string>u1f3d1.glif</string>
    <key>u1f3dc</key>
    <string>u1f3dc.glif</string>
    <key>u1f467</key>
    <string>u1f467.glif</string>
    <key>u1f468_200d_1f9bc</key>
    <string>u1f468_200d_1f9bc.glif</string>
    <key>u1f468_200d_1f9bd</key>
    <string>u1f468_200d_1f9bd.glif</string>
    <key>u1f469_200d_1f373</key>
    <string>u1f469_200d_1f373.glif</string>
    <key>u1f469_200d_2708_fe0f</key>
    <string>u1f469_200d_2708_fe0f.glif</string>
    <key>u1f471</key>
    <string>u1f471.glif</string>
    <key>u1f471_200d_2640_fe0f</key>
    <string>u1f471_200d_2640_fe0f.glif</string>
    <key>u1f47c</key>
    <string>u1f47c.glif</string>
    <key>u1f482_200d_2640_fe0f</key>
    <string>u1f482_200d_2640_fe0f.glif</string>
    <key>u1f486</key>
    <string>u1f486.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f487</key>
    <string>u1f487.glif</string>
    <key>u1f487_200d_2640_fe0f</key>
    <string>u1f487_200d_2640_fe0f.glif</string>
    <key>u1f487_200d_2642_fe0f</key>
    <string>u1f487_200d_2642_fe0f.glif</string>
    <key>u1f4bd</key>
    <string>u1f4bd.glif</string>
    <key>u1f505</key>
    <string>u1f505.glif</string>
    <key>u1f607</key>
    <string>u1f607.glif</string>
    <key>u1f634</key>
    <string>u1f634.glif</string>
    <key>u1f64b_200d_2640_fe0f</key>
    <string>u1f64b_200d_2640_fe0f.glif</string>
    <key>u1f64d</key>
    <string>u1f64d.glif</string>
    <key>u1f64e</key>
    <string>u1f64e.glif</string>
    <key>u1f6b4</key>
    <string>u1f6b4.glif</string>
    <key>u1f6b4_200d_2640_fe0f</key>
    <string>u1f6b4_200d_2640_fe0f.glif</string>
    <key>u1f6b5</key>
    <string>u1f6b5.glif</string>
    <key>u1f6b5_200d_2642_fe0f</key>
    <string>u1f6b5_200d_2642_fe0f.glif</string>
    <key>u1f6ce</key>
    <string>u1f6ce.glif</string>
    <key>u1f6f6</key>
    <string>u1f6f6.glif</string>
    <key>u1f912</key>
    <string>u1f912.glif</string>
    <key>u1f931</key>
    <string>u1f931.glif</string>
    <key>u1f947</key>
    <string>u1f947.glif</string>
    <key>u1f950</key>
    <string>u1f950.glif</string>
    <key>u1f958</key>
    <string>u1f958.glif</string>
    <key>u1f970</key>
    <string>u1f970.glif</string>
    <key>u1f983</key>
    <string>u1f983.glif</string>
    <key>u1f9c0</key>
    <string>u1f9c0.glif</string>
    <key>u1f9cd_200d_2640_fe0f</key>
    <string>u1f9cd_200d_2640_fe0f.glif</string>
    <key>u1f9ce</key>
    <string>u1f9ce.glif</string>
    <key>u1f9ce_200d_2640_fe0f</key>
    <string>u1f9ce_200d_2640_fe0f.glif</string>
    <key>u1f9ce_200d_2642_fe0f</key>
    <string>u1f9ce_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u1f9d4</key>
    <string>u1f9d4.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
    <key>u1f9f4</key>
    <string>u1f9f4.glif</string>
    <key>u1f9fd</key>
    <string>u1f9fd.glif</string>
    <key>u1fa94</key>
    <string>u1fa94.glif</string>
  </dict>
</plist>
