<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f682</key>
    <string>u1f682.glif</string>
    <key>u1f687</key>
    <string>u1f687.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u23f0</key>
    <string>u23f0.glif</string>
  </dict>
</plist>
