<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f469_1f3ff_200d_1f3a4</key>
    <string>u1f469_1f3ff_200d_1f3a4.glif</string>
    <key>u1f469_1f3ff_200d_1f9b0</key>
    <string>u1f469_1f3ff_200d_1f9b0.glif</string>
    <key>u1f469_1f3ff_200d_1f9b3</key>
    <string>u1f469_1f3ff_200d_1f9b3.glif</string>
    <key>u1f574_1f3ff_200d_2640_fe0f</key>
    <string>u1f574_1f3ff_200d_2640_fe0f.glif</string>
  </dict>
</plist>
