<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_1f3fe_200d_1f9b0</key>
    <string>u1f468_1f3fe_200d_1f9b0.glif</string>
    <key>u1f468_1f3fe_200d_1f9b1</key>
    <string>u1f468_1f3fe_200d_1f9b1.glif</string>
    <key>u1f468_1f3fe_200d_1f9b3</key>
    <string>u1f468_1f3fe_200d_1f9b3.glif</string>
    <key>u1f469_1f3fe_200d_1f9b2</key>
    <string>u1f469_1f3fe_200d_1f9b2.glif</string>
    <key>u1f471_1f3fe_200d_2642_fe0f</key>
    <string>u1f471_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f472_1f3fe</key>
    <string>u1f472_1f3fe.glif</string>
    <key>u1f645_1f3fe_200d_2642_fe0f</key>
    <string>u1f645_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f64d_1f3fe_200d_2642_fe0f</key>
    <string>u1f64d_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f934_1f3fe</key>
    <string>u1f934_1f3fe.glif</string>
    <key>u1f9d1_1f3fe</key>
    <string>u1f9d1_1f3fe.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9b0</key>
    <string>u1f9d1_1f3fe_200d_1f9b0.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9b1</key>
    <string>u1f9d1_1f3fe_200d_1f9b1.glif</string>
    <key>u1f9d1_1f3fe_200d_1f9b3</key>
    <string>u1f9d1_1f3fe_200d_1f9b3.glif</string>
    <key>u1f9d2_1f3fe</key>
    <string>u1f9d2_1f3fe.glif</string>
    <key>u1f9d3_1f3fe</key>
    <string>u1f9d3_1f3fe.glif</string>
  </dict>
</plist>
