<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f363</key>
    <string>u1f363.glif</string>
    <key>u1f439</key>
    <string>u1f439.glif</string>
    <key>u1f4dd</key>
    <string>u1f4dd.glif</string>
    <key>u1f973</key>
    <string>u1f973.glif</string>
    <key>u1f975</key>
    <string>u1f975.glif</string>
    <key>u1f9a9</key>
    <string>u1f9a9.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
    <key>u1f9e0</key>
    <string>u1f9e0.glif</string>
    <key>u1f9eb</key>
    <string>u1f9eb.glif</string>
    <key>u1f9fc</key>
    <string>u1f9fc.glif</string>
    <key>u1fa70</key>
    <string>u1fa70.glif</string>
    <key>u1fa80</key>
    <string>u1fa80.glif</string>
  </dict>
</plist>
