<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f33d</key>
    <string>u1f33d.glif</string>
    <key>u1f349</key>
    <string>u1f349.glif</string>
    <key>u1f34b</key>
    <string>u1f34b.glif</string>
    <key>u1f34d</key>
    <string>u1f34d.glif</string>
    <key>u1f351</key>
    <string>u1f351.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f4b5</key>
    <string>u1f4b5.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f54a</key>
    <string>u1f54a.glif</string>
    <key>u1f6a4</key>
    <string>u1f6a4.glif</string>
    <key>u1f952</key>
    <string>u1f952.glif</string>
    <key>u1f96c</key>
    <string>u1f96c.glif</string>
    <key>u1f9a0</key>
    <string>u1f9a0.glif</string>
  </dict>
</plist>
