<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f34c</key>
    <string>u1f34c.glif</string>
    <key>u1f3d5</key>
    <string>u1f3d5.glif</string>
    <key>u1f409</key>
    <string>u1f409.glif</string>
    <key>u1f432</key>
    <string>u1f432.glif</string>
    <key>u1f4d7</key>
    <string>u1f4d7.glif</string>
    <key>u1fa92</key>
    <string>u1fa92.glif</string>
  </dict>
</plist>
