<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f354</key>
    <string>u1f354.glif</string>
    <key>u1f3a2</key>
    <string>u1f3a2.glif</string>
    <key>u1f3e8</key>
    <string>u1f3e8.glif</string>
    <key>u1f9a7</key>
    <string>u1f9a7.glif</string>
    <key>u1f9f4</key>
    <string>u1f9f4.glif</string>
  </dict>
</plist>
