<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f3c3_200d_2640_fe0f</key>
    <string>u1f3c3_200d_2640_fe0f.glif</string>
    <key>u1f468_200d_1f393</key>
    <string>u1f468_200d_1f393.glif</string>
    <key>u1f468_200d_1f692</key>
    <string>u1f468_200d_1f692.glif</string>
    <key>u1f468_200d_1f9af</key>
    <string>u1f468_200d_1f9af.glif</string>
    <key>u1f469_200d_1f3ed</key>
    <string>u1f469_200d_1f3ed.glif</string>
    <key>u1f469_200d_1f680</key>
    <string>u1f469_200d_1f680.glif</string>
    <key>u1f469_200d_1f9af</key>
    <string>u1f469_200d_1f9af.glif</string>
    <key>u1f481_200d_2642_fe0f</key>
    <string>u1f481_200d_2642_fe0f.glif</string>
    <key>u1f4da</key>
    <string>u1f4da.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f931</key>
    <string>u1f931.glif</string>
    <key>u1f935</key>
    <string>u1f935.glif</string>
    <key>u1f93c</key>
    <string>u1f93c.glif</string>
    <key>u1f93c_200d_2640_fe0f</key>
    <string>u1f93c_200d_2640_fe0f.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f95f</key>
    <string>u1f95f.glif</string>
    <key>u1f9cd_200d_2640_fe0f</key>
    <string>u1f9cd_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f9af</key>
    <string>u1f9d1_200d_1f9af.glif</string>
    <key>u1f9da_200d_2640_fe0f</key>
    <string>u1f9da_200d_2640_fe0f.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
  </dict>
</plist>
