<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f385</key>
    <string>u1f385.glif</string>
    <key>u1f3c2</key>
    <string>u1f3c2.glif</string>
    <key>u1f3c3</key>
    <string>u1f3c3.glif</string>
    <key>u1f3c3_200d_2640_fe0f</key>
    <string>u1f3c3_200d_2640_fe0f.glif</string>
    <key>u1f3c4</key>
    <string>u1f3c4.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f468_200d_1f692</key>
    <string>u1f468_200d_1f692.glif</string>
    <key>u1f468_200d_1f9af</key>
    <string>u1f468_200d_1f9af.glif</string>
    <key>u1f469_200d_1f393</key>
    <string>u1f469_200d_1f393.glif</string>
    <key>u1f469_200d_1f52c</key>
    <string>u1f469_200d_1f52c.glif</string>
    <key>u1f469_200d_1f680</key>
    <string>u1f469_200d_1f680.glif</string>
    <key>u1f469_200d_1f9af</key>
    <string>u1f469_200d_1f9af.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f46a</key>
    <string>u1f46a.glif</string>
    <key>u1f46b</key>
    <string>u1f46b.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f46d</key>
    <string>u1f46d.glif</string>
    <key>u1f473</key>
    <string>u1f473.glif</string>
    <key>u1f477</key>
    <string>u1f477.glif</string>
    <key>u1f486</key>
    <string>u1f486.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f574</key>
    <string>u1f574.glif</string>
    <key>u1f645_200d_2640_fe0f</key>
    <string>u1f645_200d_2640_fe0f.glif</string>
    <key>u1f64b</key>
    <string>u1f64b.glif</string>
    <key>u1f64d_200d_2642_fe0f</key>
    <string>u1f64d_200d_2642_fe0f.glif</string>
    <key>u1f64f</key>
    <string>u1f64f.glif</string>
    <key>u1f6a3_200d_2640_fe0f</key>
    <string>u1f6a3_200d_2640_fe0f.glif</string>
    <key>u1f6a3_200d_2642_fe0f</key>
    <string>u1f6a3_200d_2642_fe0f.glif</string>
    <key>u1f6cc</key>
    <string>u1f6cc.glif</string>
    <key>u1f933</key>
    <string>u1f933.glif</string>
    <key>u1f935_200d_2642_fe0f</key>
    <string>u1f935_200d_2642_fe0f.glif</string>
    <key>u1f93c</key>
    <string>u1f93c.glif</string>
    <key>u1f93c_200d_2640_fe0f</key>
    <string>u1f93c_200d_2640_fe0f.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f93e</key>
    <string>u1f93e.glif</string>
    <key>u1f9b8_200d_2640_fe0f</key>
    <string>u1f9b8_200d_2640_fe0f.glif</string>
    <key>u1f9cd_200d_2640_fe0f</key>
    <string>u1f9cd_200d_2640_fe0f.glif</string>
    <key>u1f9ce</key>
    <string>u1f9ce.glif</string>
    <key>u1f9ce_200d_2642_fe0f</key>
    <string>u1f9ce_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f393</key>
    <string>u1f9d1_200d_1f393.glif</string>
    <key>u1f9d1_200d_1f3a4</key>
    <string>u1f9d1_200d_1f3a4.glif</string>
    <key>u1f9d1_200d_1f680</key>
    <string>u1f9d1_200d_1f680.glif</string>
    <key>u1f9d1_200d_1f91d_200d_1f9d1</key>
    <string>u1f9d1_200d_1f91d_200d_1f9d1.glif</string>
    <key>u1f9d1_200d_1f9af</key>
    <string>u1f9d1_200d_1f9af.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
    <key>u1f9da_200d_2640_fe0f</key>
    <string>u1f9da_200d_2640_fe0f.glif</string>
    <key>u1f9da_200d_2642_fe0f</key>
    <string>u1f9da_200d_2642_fe0f.glif</string>
    <key>u1f9dc_200d_2642_fe0f</key>
    <string>u1f9dc_200d_2642_fe0f.glif</string>
    <key>u26f9</key>
    <string>u26f9.glif</string>
    <key>u26f9_fe0f_200d_2640_fe0f</key>
    <string>u26f9_fe0f_200d_2640_fe0f.glif</string>
  </dict>
</plist>
