<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f301</key>
    <string>u1f301.glif</string>
    <key>u1f30d</key>
    <string>u1f30d.glif</string>
    <key>u1f30e</key>
    <string>u1f30e.glif</string>
    <key>u1f30f</key>
    <string>u1f30f.glif</string>
    <key>u1f3d9</key>
    <string>u1f3d9.glif</string>
    <key>u1f3de</key>
    <string>u1f3de.glif</string>
    <key>u1f454</key>
    <string>u1f454.glif</string>
    <key>u1f5fd</key>
    <string>u1f5fd.glif</string>
    <key>u1f5fe</key>
    <string>u1f5fe.glif</string>
    <key>u1f6e3</key>
    <string>u1f6e3.glif</string>
    <key>u1f6e4</key>
    <string>u1f6e4.glif</string>
    <key>u1f9de</key>
    <string>u1f9de.glif</string>
    <key>u1f9de_200d_2642_fe0f</key>
    <string>u1f9de_200d_2642_fe0f.glif</string>
    <key>u2744</key>
    <string>u2744.glif</string>
  </dict>
</plist>
