<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f367</key>
    <string>u1f367.glif</string>
    <key>u1f368</key>
    <string>u1f368.glif</string>
    <key>u1f376</key>
    <string>u1f376.glif</string>
    <key>u1f3a3</key>
    <string>u1f3a3.glif</string>
    <key>u1f3af</key>
    <string>u1f3af.glif</string>
    <key>u1f3c5</key>
    <string>u1f3c5.glif</string>
    <key>u1f41f</key>
    <string>u1f41f.glif</string>
    <key>u1f456</key>
    <string>u1f456.glif</string>
    <key>u1f458</key>
    <string>u1f458.glif</string>
    <key>u1f4a0</key>
    <string>u1f4a0.glif</string>
    <key>u1f698</key>
    <string>u1f698.glif</string>
    <key>u1f699</key>
    <string>u1f699.glif</string>
    <key>u1f947</key>
    <string>u1f947.glif</string>
    <key>u1f948</key>
    <string>u1f948.glif</string>
    <key>u1f949</key>
    <string>u1f949.glif</string>
  </dict>
</plist>
