<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f304</key>
    <string>u1f304.glif</string>
    <key>u1f305</key>
    <string>u1f305.glif</string>
    <key>u1f307</key>
    <string>u1f307.glif</string>
    <key>u1f35e</key>
    <string>u1f35e.glif</string>
    <key>u1f3e4</key>
    <string>u1f3e4.glif</string>
    <key>u1f439</key>
    <string>u1f439.glif</string>
    <key>u1f4c0</key>
    <string>u1f4c0.glif</string>
    <key>u1f4dc</key>
    <string>u1f4dc.glif</string>
    <key>u1f953</key>
    <string>u1f953.glif</string>
    <key>u1f968</key>
    <string>u1f968.glif</string>
    <key>u1f9c8</key>
    <string>u1f9c8.glif</string>
  </dict>
</plist>
