<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_1f3fd_200d_1f3a8</key>
    <string>u1f468_1f3fd_200d_1f3a8.glif</string>
    <key>u1f647_1f3fd_200d_2642_fe0f</key>
    <string>u1f647_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f64c_1f3fd</key>
    <string>u1f64c_1f3fd.glif</string>
    <key>u1f6b4_1f3fd</key>
    <string>u1f6b4_1f3fd.glif</string>
    <key>u1f6b6_1f3fd</key>
    <string>u1f6b6_1f3fd.glif</string>
    <key>u1f6b6_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b6_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b6_1f3fd_200d_2642_fe0f</key>
    <string>u1f6b6_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3a8</key>
    <string>u1f9d1_1f3fd_200d_1f3a8.glif</string>
    <key>u270d_1f3fd</key>
    <string>u270d_1f3fd.glif</string>
  </dict>
</plist>
