<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f385_1f3fd</key>
    <string>u1f385_1f3fd.glif</string>
    <key>u1f3ca_1f3fd_200d_2640_fe0f</key>
    <string>u1f3ca_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f3ca_1f3fd_200d_2642_fe0f</key>
    <string>u1f3ca_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f3fd</key>
    <string>u1f3fd.glif</string>
    <key>u1f442_1f3fd</key>
    <string>u1f442_1f3fd.glif</string>
    <key>u1f443_1f3fd</key>
    <string>u1f443_1f3fd.glif</string>
    <key>u1f446_1f3fd</key>
    <string>u1f446_1f3fd.glif</string>
    <key>u1f447_1f3fd</key>
    <string>u1f447_1f3fd.glif</string>
    <key>u1f448_1f3fd</key>
    <string>u1f448_1f3fd.glif</string>
    <key>u1f449_1f3fd</key>
    <string>u1f449_1f3fd.glif</string>
    <key>u1f44a_1f3fd</key>
    <string>u1f44a_1f3fd.glif</string>
    <key>u1f466_1f3fd</key>
    <string>u1f466_1f3fd.glif</string>
    <key>u1f468_1f3fd</key>
    <string>u1f468_1f3fd.glif</string>
    <key>u1f468_1f3fd_200d_1f9b1</key>
    <string>u1f468_1f3fd_200d_1f9b1.glif</string>
    <key>u1f471_1f3fd_200d_2642_fe0f</key>
    <string>u1f471_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f472_1f3fd</key>
    <string>u1f472_1f3fd.glif</string>
    <key>u1f476_1f3fd</key>
    <string>u1f476_1f3fd.glif</string>
    <key>u1f485_1f3fd</key>
    <string>u1f485_1f3fd.glif</string>
    <key>u1f486_1f3fd_200d_2642_fe0f</key>
    <string>u1f486_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f590_1f3fd</key>
    <string>u1f590_1f3fd.glif</string>
    <key>u1f595_1f3fd</key>
    <string>u1f595_1f3fd.glif</string>
    <key>u1f645_1f3fd_200d_2642_fe0f</key>
    <string>u1f645_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f64b_1f3fd_200d_2642_fe0f</key>
    <string>u1f64b_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f64c_1f3fd</key>
    <string>u1f64c_1f3fd.glif</string>
    <key>u1f64d_1f3fd_200d_2642_fe0f</key>
    <string>u1f64d_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f6b4_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b4_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b4_1f3fd_200d_2642_fe0f</key>
    <string>u1f6b4_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f6c0_1f3fd</key>
    <string>u1f6c0_1f3fd.glif</string>
    <key>u1f919_1f3fd</key>
    <string>u1f919_1f3fd.glif</string>
    <key>u1f91b_1f3fd</key>
    <string>u1f91b_1f3fd.glif</string>
    <key>u1f91c_1f3fd</key>
    <string>u1f91c_1f3fd.glif</string>
    <key>u1f91f_1f3fd</key>
    <string>u1f91f_1f3fd.glif</string>
    <key>u1f933_1f3fd</key>
    <string>u1f933_1f3fd.glif</string>
    <key>u1f934_1f3fd</key>
    <string>u1f934_1f3fd.glif</string>
    <key>u1f93d_1f3fd_200d_2640_fe0f</key>
    <string>u1f93d_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f93d_1f3fd_200d_2642_fe0f</key>
    <string>u1f93d_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9b5_1f3fd</key>
    <string>u1f9b5_1f3fd.glif</string>
    <key>u1f9b6_1f3fd</key>
    <string>u1f9b6_1f3fd.glif</string>
  </dict>
</plist>
