<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c3_200d_2640_fe0f</key>
    <string>u1f3c3_200d_2640_fe0f.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cc_fe0f_200d_2642_fe0f</key>
    <string>u1f3cc_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f468_200d_1f466</key>
    <string>u1f468_200d_1f466.glif</string>
    <key>u1f468_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f467</key>
    <string>u1f468_200d_1f467.glif</string>
    <key>u1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f467_200d_1f467.glif</string>
    <key>u1f468_200d_1f9af</key>
    <string>u1f468_200d_1f9af.glif</string>
    <key>u1f469_200d_1f3eb</key>
    <string>u1f469_200d_1f3eb.glif</string>
    <key>u1f469_200d_1f692</key>
    <string>u1f469_200d_1f692.glif</string>
    <key>u1f469_200d_1f9af</key>
    <string>u1f469_200d_1f9af.glif</string>
    <key>u1f481</key>
    <string>u1f481.glif</string>
    <key>u1f481_200d_2640_fe0f</key>
    <string>u1f481_200d_2640_fe0f.glif</string>
    <key>u1f481_200d_2642_fe0f</key>
    <string>u1f481_200d_2642_fe0f.glif</string>
    <key>u1f491</key>
    <string>u1f491.glif</string>
    <key>u1f64b_200d_2640_fe0f</key>
    <string>u1f64b_200d_2640_fe0f.glif</string>
    <key>u1f64d_200d_2642_fe0f</key>
    <string>u1f64d_200d_2642_fe0f.glif</string>
    <key>u1f6a3</key>
    <string>u1f6a3.glif</string>
    <key>u1f6b6</key>
    <string>u1f6b6.glif</string>
    <key>u1f6b6_200d_2642_fe0f</key>
    <string>u1f6b6_200d_2642_fe0f.glif</string>
    <key>u1f933</key>
    <string>u1f933.glif</string>
    <key>u1f9d1_200d_1f3eb</key>
    <string>u1f9d1_200d_1f3eb.glif</string>
    <key>u1f9d1_200d_1f4bc</key>
    <string>u1f9d1_200d_1f4bc.glif</string>
    <key>u1f9d1_200d_1f692</key>
    <string>u1f9d1_200d_1f692.glif</string>
    <key>u1f9d1_200d_1f9af</key>
    <string>u1f9d1_200d_1f9af.glif</string>
    <key>u1f9d6</key>
    <string>u1f9d6.glif</string>
    <key>u1f9d6_200d_2640_fe0f</key>
    <string>u1f9d6_200d_2640_fe0f.glif</string>
    <key>u1f9d6_200d_2642_fe0f</key>
    <string>u1f9d6_200d_2642_fe0f.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u1f9da</key>
    <string>u1f9da.glif</string>
    <key>u1f9db_200d_2640_fe0f</key>
    <string>u1f9db_200d_2640_fe0f.glif</string>
    <key>u1f9dc_200d_2640_fe0f</key>
    <string>u1f9dc_200d_2640_fe0f.glif</string>
    <key>u1f9dd</key>
    <string>u1f9dd.glif</string>
    <key>u1f9dd_200d_2642_fe0f</key>
    <string>u1f9dd_200d_2642_fe0f.glif</string>
  </dict>
</plist>
