<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f42e</key>
    <string>u1f42e.glif</string>
    <key>u1f468_1f3fb_200d_1f4bb</key>
    <string>u1f468_1f3fb_200d_1f4bb.glif</string>
    <key>u1f468_1f3fb_200d_1f527</key>
    <string>u1f468_1f3fb_200d_1f527.glif</string>
    <key>u1f468_1f3fb_200d_1f52c</key>
    <string>u1f468_1f3fb_200d_1f52c.glif</string>
    <key>u1f468_1f3fb_200d_2695_fe0f</key>
    <string>u1f468_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_1f4bb</key>
    <string>u1f468_1f3fc_200d_1f4bb.glif</string>
    <key>u1f468_1f3fc_200d_1f527</key>
    <string>u1f468_1f3fc_200d_1f527.glif</string>
    <key>u1f468_1f3fc_200d_1f52c</key>
    <string>u1f468_1f3fc_200d_1f52c.glif</string>
    <key>u1f468_1f3fc_200d_2695_fe0f</key>
    <string>u1f468_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fd_200d_1f4bb</key>
    <string>u1f468_1f3fd_200d_1f4bb.glif</string>
    <key>u1f468_1f3fd_200d_1f527</key>
    <string>u1f468_1f3fd_200d_1f527.glif</string>
    <key>u1f468_1f3fd_200d_1f52c</key>
    <string>u1f468_1f3fd_200d_1f52c.glif</string>
    <key>u1f468_1f3fd_200d_2695_fe0f</key>
    <string>u1f468_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f468_200d_1f4bb</key>
    <string>u1f468_200d_1f4bb.glif</string>
    <key>u1f468_200d_1f527</key>
    <string>u1f468_200d_1f527.glif</string>
    <key>u1f468_200d_1f52c</key>
    <string>u1f468_200d_1f52c.glif</string>
    <key>u1f468_200d_2695_fe0f</key>
    <string>u1f468_200d_2695_fe0f.glif</string>
    <key>u1f46e_1f3fb_200d_2642_fe0f</key>
    <string>u1f46e_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f46e_1f3fc_200d_2642_fe0f</key>
    <string>u1f46e_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f46e_1f3fd_200d_2642_fe0f</key>
    <string>u1f46e_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f46e_200d_2642_fe0f</key>
    <string>u1f46e_200d_2642_fe0f.glif</string>
    <key>u1f471</key>
    <string>u1f471.glif</string>
    <key>u1f474</key>
    <string>u1f474.glif</string>
    <key>u1f474_1f3fb</key>
    <string>u1f474_1f3fb.glif</string>
    <key>u1f474_1f3fc</key>
    <string>u1f474_1f3fc.glif</string>
    <key>u1f474_1f3fd</key>
    <string>u1f474_1f3fd.glif</string>
    <key>u1f475</key>
    <string>u1f475.glif</string>
    <key>u1f475_1f3fb</key>
    <string>u1f475_1f3fb.glif</string>
    <key>u1f475_1f3fc</key>
    <string>u1f475_1f3fc.glif</string>
    <key>u1f475_1f3fd</key>
    <string>u1f475_1f3fd.glif</string>
    <key>u1f491</key>
    <string>u1f491.glif</string>
    <key>u1f645_1f3fb_200d_2640_fe0f</key>
    <string>u1f645_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f645_1f3fc_200d_2640_fe0f</key>
    <string>u1f645_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f645_1f3fd_200d_2640_fe0f</key>
    <string>u1f645_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f645_200d_2640_fe0f</key>
    <string>u1f645_200d_2640_fe0f.glif</string>
    <key>u1f646</key>
    <string>u1f646.glif</string>
    <key>u1f646_1f3fb</key>
    <string>u1f646_1f3fb.glif</string>
    <key>u1f646_1f3fb_200d_2640_fe0f</key>
    <string>u1f646_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f646_1f3fb_200d_2642_fe0f</key>
    <string>u1f646_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f646_1f3fc</key>
    <string>u1f646_1f3fc.glif</string>
    <key>u1f646_1f3fc_200d_2640_fe0f</key>
    <string>u1f646_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f646_1f3fc_200d_2642_fe0f</key>
    <string>u1f646_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f646_1f3fd</key>
    <string>u1f646_1f3fd.glif</string>
    <key>u1f646_1f3fd_200d_2640_fe0f</key>
    <string>u1f646_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f646_1f3fd_200d_2642_fe0f</key>
    <string>u1f646_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f646_200d_2640_fe0f</key>
    <string>u1f646_200d_2640_fe0f.glif</string>
    <key>u1f646_200d_2642_fe0f</key>
    <string>u1f646_200d_2642_fe0f.glif</string>
    <key>u1f6ce</key>
    <string>u1f6ce.glif</string>
    <key>u1f939_1f3fb_200d_2642_fe0f</key>
    <string>u1f939_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3fc_200d_2642_fe0f</key>
    <string>u1f939_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3fd_200d_2642_fe0f</key>
    <string>u1f939_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f939_200d_2642_fe0f</key>
    <string>u1f939_200d_2642_fe0f.glif</string>
    <key>u1f958</key>
    <string>u1f958.glif</string>
    <key>u1f96f</key>
    <string>u1f96f.glif</string>
    <key>u1f989</key>
    <string>u1f989.glif</string>
    <key>u1f98c</key>
    <string>u1f98c.glif</string>
    <key>u1f999</key>
    <string>u1f999.glif</string>
    <key>u1f9cf_1f3fb_200d_2642_fe0f</key>
    <string>u1f9cf_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9cf_1f3fc_200d_2642_fe0f</key>
    <string>u1f9cf_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9cf_1f3fd_200d_2642_fe0f</key>
    <string>u1f9cf_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9cf_200d_2642_fe0f</key>
    <string>u1f9cf_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fb_200d_1f3a8</key>
    <string>u1f9d1_1f3fb_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3a8</key>
    <string>u1f9d1_1f3fc_200d_1f3a8.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3a8</key>
    <string>u1f9d1_1f3fd_200d_1f3a8.glif</string>
    <key>u1f9d1_200d_1f3a8</key>
    <string>u1f9d1_200d_1f3a8.glif</string>
    <key>u1f9d4</key>
    <string>u1f9d4.glif</string>
    <key>u1f9d4_1f3fb</key>
    <string>u1f9d4_1f3fb.glif</string>
    <key>u1f9d4_1f3fc</key>
    <string>u1f9d4_1f3fc.glif</string>
    <key>u1f9d4_1f3fd</key>
    <string>u1f9d4_1f3fd.glif</string>
  </dict>
</plist>
