<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_1f3ff_200d_1f9b2</key>
    <string>u1f468_1f3ff_200d_1f9b2.glif</string>
    <key>u1f64b_1f3ff_200d_2642_fe0f</key>
    <string>u1f64b_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f9b2</key>
    <string>u1f9d1_1f3ff_200d_1f9b2.glif</string>
  </dict>
</plist>
