<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f412</key>
    <string>u1f412.glif</string>
    <key>u1f435</key>
    <string>u1f435.glif</string>
    <key>u1f648</key>
    <string>u1f648.glif</string>
    <key>u1f649</key>
    <string>u1f649.glif</string>
    <key>u1f64a</key>
    <string>u1f64a.glif</string>
  </dict>
</plist>
