<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e7_1f1e6</key>
    <string>u1f1e7_1f1e6.glif</string>
    <key>u1f301</key>
    <string>u1f301.glif</string>
    <key>u1f329</key>
    <string>u1f329.glif</string>
    <key>u1f32b</key>
    <string>u1f32b.glif</string>
    <key>u1f396</key>
    <string>u1f396.glif</string>
    <key>u1f3b1</key>
    <string>u1f3b1.glif</string>
    <key>u1f3b9</key>
    <string>u1f3b9.glif</string>
    <key>u1f3c2</key>
    <string>u1f3c2.glif</string>
    <key>u1f3c2_1f3fb</key>
    <string>u1f3c2_1f3fb.glif</string>
    <key>u1f3c2_1f3fc</key>
    <string>u1f3c2_1f3fc.glif</string>
    <key>u1f3c2_1f3fd</key>
    <string>u1f3c2_1f3fd.glif</string>
    <key>u1f3c2_1f3fe</key>
    <string>u1f3c2_1f3fe.glif</string>
    <key>u1f3c2_1f3ff</key>
    <string>u1f3c2_1f3ff.glif</string>
    <key>u1f3c8</key>
    <string>u1f3c8.glif</string>
    <key>u1f411</key>
    <string>u1f411.glif</string>
    <key>u1f414</key>
    <string>u1f414.glif</string>
    <key>u1f440</key>
    <string>u1f440.glif</string>
    <key>u1f468_1f3fb_200d_2696_fe0f</key>
    <string>u1f468_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_2696_fe0f</key>
    <string>u1f468_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fd_200d_2696_fe0f</key>
    <string>u1f468_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fe_200d_2696_fe0f</key>
    <string>u1f468_1f3fe_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3ff_200d_2696_fe0f</key>
    <string>u1f468_1f3ff_200d_2696_fe0f.glif</string>
    <key>u1f468_200d_2696_fe0f</key>
    <string>u1f468_200d_2696_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_1f680</key>
    <string>u1f469_1f3ff_200d_1f680.glif</string>
    <key>u1f4c3</key>
    <string>u1f4c3.glif</string>
    <key>u1f4c6</key>
    <string>u1f4c6.glif</string>
    <key>u1f4c8</key>
    <string>u1f4c8.glif</string>
    <key>u1f4c9</key>
    <string>u1f4c9.glif</string>
    <key>u1f4ca</key>
    <string>u1f4ca.glif</string>
    <key>u1f50b</key>
    <string>u1f50b.glif</string>
    <key>u1f550</key>
    <string>u1f550.glif</string>
    <key>u1f551</key>
    <string>u1f551.glif</string>
    <key>u1f552</key>
    <string>u1f552.glif</string>
    <key>u1f553</key>
    <string>u1f553.glif</string>
    <key>u1f554</key>
    <string>u1f554.glif</string>
    <key>u1f555</key>
    <string>u1f555.glif</string>
    <key>u1f556</key>
    <string>u1f556.glif</string>
    <key>u1f557</key>
    <string>u1f557.glif</string>
    <key>u1f558</key>
    <string>u1f558.glif</string>
    <key>u1f559</key>
    <string>u1f559.glif</string>
    <key>u1f55a</key>
    <string>u1f55a.glif</string>
    <key>u1f55b</key>
    <string>u1f55b.glif</string>
    <key>u1f55c</key>
    <string>u1f55c.glif</string>
    <key>u1f55d</key>
    <string>u1f55d.glif</string>
    <key>u1f55e</key>
    <string>u1f55e.glif</string>
    <key>u1f55f</key>
    <string>u1f55f.glif</string>
    <key>u1f560</key>
    <string>u1f560.glif</string>
    <key>u1f561</key>
    <string>u1f561.glif</string>
    <key>u1f562</key>
    <string>u1f562.glif</string>
    <key>u1f563</key>
    <string>u1f563.glif</string>
    <key>u1f564</key>
    <string>u1f564.glif</string>
    <key>u1f565</key>
    <string>u1f565.glif</string>
    <key>u1f566</key>
    <string>u1f566.glif</string>
    <key>u1f567</key>
    <string>u1f567.glif</string>
    <key>u1f56f</key>
    <string>u1f56f.glif</string>
    <key>u1f5a8</key>
    <string>u1f5a8.glif</string>
    <key>u1f5fa</key>
    <string>u1f5fa.glif</string>
    <key>u1f691</key>
    <string>u1f691.glif</string>
    <key>u1f6ac</key>
    <string>u1f6ac.glif</string>
    <key>u1f6bd</key>
    <string>u1f6bd.glif</string>
    <key>u1f942</key>
    <string>u1f942.glif</string>
    <key>u1f97c</key>
    <string>u1f97c.glif</string>
    <key>u1f985</key>
    <string>u1f985.glif</string>
    <key>u1f9a8</key>
    <string>u1f9a8.glif</string>
    <key>u1f9b3</key>
    <string>u1f9b3.glif</string>
    <key>u1f9c4</key>
    <string>u1f9c4.glif</string>
    <key>u1f9d1_1f3fb_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fe_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fe_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_2696_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2696_fe0f.glif</string>
    <key>u1f9d1_200d_2696_fe0f</key>
    <string>u1f9d1_200d_2696_fe0f.glif</string>
    <key>u1f9d6</key>
    <string>u1f9d6.glif</string>
    <key>u1f9d6_1f3fb</key>
    <string>u1f9d6_1f3fb.glif</string>
    <key>u1f9d6_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fc</key>
    <string>u1f9d6_1f3fc.glif</string>
    <key>u1f9d6_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fc_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fd</key>
    <string>u1f9d6_1f3fd.glif</string>
    <key>u1f9d6_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3fe</key>
    <string>u1f9d6_1f3fe.glif</string>
    <key>u1f9d6_1f3fe_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3fe_200d_2642_fe0f</key>
    <string>u1f9d6_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9d6_1f3ff</key>
    <string>u1f9d6_1f3ff.glif</string>
    <key>u1f9d6_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d6_1f3ff_200d_2642_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9d6_200d_2640_fe0f</key>
    <string>u1f9d6_200d_2640_fe0f.glif</string>
    <key>u1f9d6_200d_2642_fe0f</key>
    <string>u1f9d6_200d_2642_fe0f.glif</string>
    <key>u2601</key>
    <string>u2601.glif</string>
    <key>u2603</key>
    <string>u2603.glif</string>
    <key>u2697</key>
    <string>u2697.glif</string>
    <key>u26c4</key>
    <string>u26c4.glif</string>
    <key>u26c8</key>
    <string>u26c8.glif</string>
    <key>u26d3</key>
    <string>u26d3.glif</string>
    <key>u26f2</key>
    <string>u26f2.glif</string>
  </dict>
</plist>
