<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f35b</key>
    <string>u1f35b.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f36e</key>
    <string>u1f36e.glif</string>
    <key>u1f370</key>
    <string>u1f370.glif</string>
    <key>u1f45b</key>
    <string>u1f45b.glif</string>
    <key>u1f682</key>
    <string>u1f682.glif</string>
    <key>u1f683</key>
    <string>u1f683.glif</string>
    <key>u1f684</key>
    <string>u1f684.glif</string>
    <key>u1f685</key>
    <string>u1f685.glif</string>
    <key>u1f688</key>
    <string>u1f688.glif</string>
    <key>u1f68b</key>
    <string>u1f68b.glif</string>
    <key>u1f9c7</key>
    <string>u1f9c7.glif</string>
  </dict>
</plist>
