<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f344</key>
    <string>u1f344.glif</string>
    <key>u1f382</key>
    <string>u1f382.glif</string>
    <key>u1f407</key>
    <string>u1f407.glif</string>
    <key>u1f42d</key>
    <string>u1f42d.glif</string>
    <key>u1f492</key>
    <string>u1f492.glif</string>
    <key>u1f975</key>
    <string>u1f975.glif</string>
    <key>u1fa70</key>
    <string>u1fa70.glif</string>
  </dict>
</plist>
