<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f0cf</key>
    <string>u1f0cf.glif</string>
    <key>u1f3f9</key>
    <string>u1f3f9.glif</string>
    <key>u1f479</key>
    <string>u1f479.glif</string>
    <key>u1f483</key>
    <string>u1f483.glif</string>
    <key>u1f483_1f3fb</key>
    <string>u1f483_1f3fb.glif</string>
    <key>u1f483_1f3fc</key>
    <string>u1f483_1f3fc.glif</string>
    <key>u1f483_1f3fd</key>
    <string>u1f483_1f3fd.glif</string>
    <key>u1f483_1f3fe</key>
    <string>u1f483_1f3fe.glif</string>
    <key>u1f483_1f3ff</key>
    <string>u1f483_1f3ff.glif</string>
    <key>u1f6a4</key>
    <string>u1f6a4.glif</string>
    <key>u1f9f1</key>
    <string>u1f9f1.glif</string>
  </dict>
</plist>
