<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f33c</key>
    <string>u1f33c.glif</string>
    <key>u1f359</key>
    <string>u1f359.glif</string>
    <key>u1f363</key>
    <string>u1f363.glif</string>
    <key>u1f377</key>
    <string>u1f377.glif</string>
    <key>u1f378</key>
    <string>u1f378.glif</string>
    <key>u1f379</key>
    <string>u1f379.glif</string>
    <key>u1f37c</key>
    <string>u1f37c.glif</string>
    <key>u1f37d</key>
    <string>u1f37d.glif</string>
    <key>u1f382</key>
    <string>u1f382.glif</string>
    <key>u1f3a2</key>
    <string>u1f3a2.glif</string>
    <key>u1f3b0</key>
    <string>u1f3b0.glif</string>
    <key>u1f3ba</key>
    <string>u1f3ba.glif</string>
    <key>u1f3c9</key>
    <string>u1f3c9.glif</string>
    <key>u1f3db</key>
    <string>u1f3db.glif</string>
    <key>u1f3e6</key>
    <string>u1f3e6.glif</string>
    <key>u1f401</key>
    <string>u1f401.glif</string>
    <key>u1f402</key>
    <string>u1f402.glif</string>
    <key>u1f43a</key>
    <string>u1f43a.glif</string>
    <key>u1f489</key>
    <string>u1f489.glif</string>
    <key>u1f4a1</key>
    <string>u1f4a1.glif</string>
    <key>u1f4bf</key>
    <string>u1f4bf.glif</string>
    <key>u1f4c4</key>
    <string>u1f4c4.glif</string>
    <key>u1f4c7</key>
    <string>u1f4c7.glif</string>
    <key>u1f4d1</key>
    <string>u1f4d1.glif</string>
    <key>u1f4d2</key>
    <string>u1f4d2.glif</string>
    <key>u1f4d3</key>
    <string>u1f4d3.glif</string>
    <key>u1f4d4</key>
    <string>u1f4d4.glif</string>
    <key>u1f4d5</key>
    <string>u1f4d5.glif</string>
    <key>u1f4d7</key>
    <string>u1f4d7.glif</string>
    <key>u1f4d8</key>
    <string>u1f4d8.glif</string>
    <key>u1f4d9</key>
    <string>u1f4d9.glif</string>
    <key>u1f4e1</key>
    <string>u1f4e1.glif</string>
    <key>u1f4e2</key>
    <string>u1f4e2.glif</string>
    <key>u1f4e8</key>
    <string>u1f4e8.glif</string>
    <key>u1f4f0</key>
    <string>u1f4f0.glif</string>
    <key>u1f4f8</key>
    <string>u1f4f8.glif</string>
    <key>u1f4fc</key>
    <string>u1f4fc.glif</string>
    <key>u1f507</key>
    <string>u1f507.glif</string>
    <key>u1f508</key>
    <string>u1f508.glif</string>
    <key>u1f509</key>
    <string>u1f509.glif</string>
    <key>u1f50a</key>
    <string>u1f50a.glif</string>
    <key>u1f5c3</key>
    <string>u1f5c3.glif</string>
    <key>u1f5d3</key>
    <string>u1f5d3.glif</string>
    <key>u1f5e1</key>
    <string>u1f5e1.glif</string>
    <key>u1f5ff</key>
    <string>u1f5ff.glif</string>
    <key>u1f68c</key>
    <string>u1f68c.glif</string>
    <key>u1f694</key>
    <string>u1f694.glif</string>
    <key>u1f6c1</key>
    <string>u1f6c1.glif</string>
    <key>u1f6cb</key>
    <string>u1f6cb.glif</string>
    <key>u1f6d1</key>
    <string>u1f6d1.glif</string>
    <key>u1f6eb</key>
    <string>u1f6eb.glif</string>
    <key>u1f6ec</key>
    <string>u1f6ec.glif</string>
    <key>u1f6f3</key>
    <string>u1f6f3.glif</string>
    <key>u1f964</key>
    <string>u1f964.glif</string>
    <key>u1f9a2</key>
    <string>u1f9a2.glif</string>
    <key>u1f9be</key>
    <string>u1f9be.glif</string>
    <key>u1f9bf</key>
    <string>u1f9bf.glif</string>
    <key>u1f9c2</key>
    <string>u1f9c2.glif</string>
    <key>u1f9c7</key>
    <string>u1f9c7.glif</string>
    <key>u1f9c8</key>
    <string>u1f9c8.glif</string>
    <key>u1f9df_200d_2642_fe0f</key>
    <string>u1f9df_200d_2642_fe0f.glif</string>
    <key>u2615</key>
    <string>u2615.glif</string>
    <key>u26bd</key>
    <string>u26bd.glif</string>
  </dict>
</plist>
