<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f336</key>
    <string>u1f336.glif</string>
    <key>u1f33a</key>
    <string>u1f33a.glif</string>
    <key>u1f33e</key>
    <string>u1f33e.glif</string>
    <key>u1f343</key>
    <string>u1f343.glif</string>
    <key>u1f345</key>
    <string>u1f345.glif</string>
    <key>u1f346</key>
    <string>u1f346.glif</string>
    <key>u1f348</key>
    <string>u1f348.glif</string>
    <key>u1f34b</key>
    <string>u1f34b.glif</string>
    <key>u1f34e</key>
    <string>u1f34e.glif</string>
    <key>u1f353</key>
    <string>u1f353.glif</string>
    <key>u1f409</key>
    <string>u1f409.glif</string>
    <key>u1f40d</key>
    <string>u1f40d.glif</string>
    <key>u1f422</key>
    <string>u1f422.glif</string>
    <key>u1f432</key>
    <string>u1f432.glif</string>
    <key>u1f438</key>
    <string>u1f438.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f69c</key>
    <string>u1f69c.glif</string>
    <key>u1f6a5</key>
    <string>u1f6a5.glif</string>
    <key>u1f6a6</key>
    <string>u1f6a6.glif</string>
    <key>u1f6e3</key>
    <string>u1f6e3.glif</string>
    <key>u1f6e4</key>
    <string>u1f6e4.glif</string>
    <key>u1f995</key>
    <string>u1f995.glif</string>
    <key>u1fa92</key>
    <string>u1fa92.glif</string>
    <key>u267b</key>
    <string>u267b.glif</string>
  </dict>
</plist>
