<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f473_1f3fd</key>
    <string>u1f473_1f3fd.glif</string>
    <key>u1f482_1f3fd</key>
    <string>u1f482_1f3fd.glif</string>
    <key>u1f57a_1f3fd</key>
    <string>u1f57a_1f3fd.glif</string>
    <key>u1f645_1f3fd</key>
    <string>u1f645_1f3fd.glif</string>
    <key>u1f646_1f3fd_200d_2640_fe0f</key>
    <string>u1f646_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b6_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b6_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b6_1f3fd_200d_2642_fe0f</key>
    <string>u1f6b6_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f918_1f3fd</key>
    <string>u1f918_1f3fd.glif</string>
    <key>u1f91e_1f3fd</key>
    <string>u1f91e_1f3fd.glif</string>
    <key>u1f926_1f3fd</key>
    <string>u1f926_1f3fd.glif</string>
    <key>u1f935_1f3fd_200d_2640_fe0f</key>
    <string>u1f935_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f937_1f3fd</key>
    <string>u1f937_1f3fd.glif</string>
    <key>u1f938_1f3fd</key>
    <string>u1f938_1f3fd.glif</string>
    <key>u1f938_1f3fd_200d_2640_fe0f</key>
    <string>u1f938_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f938_1f3fd_200d_2642_fe0f</key>
    <string>u1f938_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9b9_1f3fd</key>
    <string>u1f9b9_1f3fd.glif</string>
    <key>u1f9bb_1f3fd</key>
    <string>u1f9bb_1f3fd.glif</string>
    <key>u1f9cf_1f3fd</key>
    <string>u1f9cf_1f3fd.glif</string>
    <key>u1f9cf_1f3fd_200d_2640_fe0f</key>
    <string>u1f9cf_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_1f33e</key>
    <string>u1f9d1_1f3fd_200d_1f33e.glif</string>
    <key>u1f9d1_1f3fd_200d_1f373</key>
    <string>u1f9d1_1f3fd_200d_1f373.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3ed</key>
    <string>u1f9d1_1f3fd_200d_1f3ed.glif</string>
    <key>u1f9d1_1f3fd_200d_2696_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_2708_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2708_fe0f.glif</string>
    <key>u1f9d7_1f3fd</key>
    <string>u1f9d7_1f3fd.glif</string>
    <key>u1f9d8_1f3fd</key>
    <string>u1f9d8_1f3fd.glif</string>
    <key>u1f9d8_1f3fd_200d_2640_fe0f</key>
    <string>u1f9d8_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9d8_1f3fd_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9d9_1f3fd</key>
    <string>u1f9d9_1f3fd.glif</string>
    <key>u1f9dd_1f3fd</key>
    <string>u1f9dd_1f3fd.glif</string>
    <key>u261d_1f3fd</key>
    <string>u261d_1f3fd.glif</string>
    <key>u270a_1f3fd</key>
    <string>u270a_1f3fd.glif</string>
    <key>u270c_1f3fd</key>
    <string>u270c_1f3fd.glif</string>
  </dict>
</plist>
