<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f337</key>
    <string>u1f337.glif</string>
    <key>u1f389</key>
    <string>u1f389.glif</string>
    <key>u1f3aa</key>
    <string>u1f3aa.glif</string>
    <key>u1f437</key>
    <string>u1f437.glif</string>
    <key>u1f439</key>
    <string>u1f439.glif</string>
    <key>u1f445</key>
    <string>u1f445.glif</string>
    <key>u1f468_1f3fb_200d_1f680</key>
    <string>u1f468_1f3fb_200d_1f680.glif</string>
    <key>u1f468_1f3fc_200d_1f680</key>
    <string>u1f468_1f3fc_200d_1f680.glif</string>
    <key>u1f468_1f3fd_200d_1f680</key>
    <string>u1f468_1f3fd_200d_1f680.glif</string>
    <key>u1f468_1f3fe_200d_1f680</key>
    <string>u1f468_1f3fe_200d_1f680.glif</string>
    <key>u1f468_200d_1f680</key>
    <string>u1f468_200d_1f680.glif</string>
    <key>u1f469_1f3fb_200d_1f680</key>
    <string>u1f469_1f3fb_200d_1f680.glif</string>
    <key>u1f469_1f3fc_200d_1f680</key>
    <string>u1f469_1f3fc_200d_1f680.glif</string>
    <key>u1f469_1f3fd_200d_1f680</key>
    <string>u1f469_1f3fd_200d_1f680.glif</string>
    <key>u1f469_1f3fe_200d_1f680</key>
    <string>u1f469_1f3fe_200d_1f680.glif</string>
    <key>u1f469_200d_1f680</key>
    <string>u1f469_200d_1f680.glif</string>
    <key>u1f497</key>
    <string>u1f497.glif</string>
    <key>u1f4ae</key>
    <string>u1f4ae.glif</string>
    <key>u1f58d</key>
    <string>u1f58d.glif</string>
    <key>u1f963</key>
    <string>u1f963.glif</string>
    <key>u1f991</key>
    <string>u1f991.glif</string>
    <key>u1f9d1_1f3fb_200d_1f680</key>
    <string>u1f9d1_1f3fb_200d_1f680.glif</string>
    <key>u1f9d1_1f3fc_200d_1f680</key>
    <string>u1f9d1_1f3fc_200d_1f680.glif</string>
    <key>u1f9d1_1f3fd_200d_1f680</key>
    <string>u1f9d1_1f3fd_200d_1f680.glif</string>
    <key>u1f9d1_1f3fe_200d_1f680</key>
    <string>u1f9d1_1f3fe_200d_1f680.glif</string>
    <key>u1f9d1_1f3ff_200d_1f680</key>
    <string>u1f9d1_1f3ff_200d_1f680.glif</string>
    <key>u1f9d1_200d_1f680</key>
    <string>u1f9d1_200d_1f680.glif</string>
    <key>u1f9dd_1f3fb_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fd_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3fe_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f9dd_1f3ff_200d_2640_fe0f</key>
    <string>u1f9dd_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9dd_200d_2640_fe0f</key>
    <string>u1f9dd_200d_2640_fe0f.glif</string>
    <key>u1fa70</key>
    <string>u1fa70.glif</string>
    <key>u270f</key>
    <string>u270f.glif</string>
  </dict>
</plist>
