<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f5fa</key>
    <string>u1f5fa.glif</string>
    <key>u1f69b</key>
    <string>u1f69b.glif</string>
    <key>u1f69e</key>
    <string>u1f69e.glif</string>
    <key>u1f952</key>
    <string>u1f952.glif</string>
    <key>u1f958</key>
    <string>u1f958.glif</string>
    <key>u1f99c</key>
    <string>u1f99c.glif</string>
    <key>u1f9ce_1f3fb_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
  </dict>
</plist>
