<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3ca_1f3ff_200d_2640_fe0f</key>
    <string>u1f3ca_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f442_1f3ff</key>
    <string>u1f442_1f3ff.glif</string>
    <key>u1f44a_1f3ff</key>
    <string>u1f44a_1f3ff.glif</string>
    <key>u1f4aa_1f3ff</key>
    <string>u1f4aa_1f3ff.glif</string>
    <key>u1f64c_1f3ff</key>
    <string>u1f64c_1f3ff.glif</string>
    <key>u1f91b_1f3ff</key>
    <string>u1f91b_1f3ff.glif</string>
    <key>u1f91c_1f3ff</key>
    <string>u1f91c_1f3ff.glif</string>
    <key>u1f931_1f3ff</key>
    <string>u1f931_1f3ff.glif</string>
    <key>u1f932_1f3ff</key>
    <string>u1f932_1f3ff.glif</string>
    <key>u1f937_1f3ff_200d_2642_fe0f</key>
    <string>u1f937_1f3ff_200d_2642_fe0f.glif</string>
    <key>u270b_1f3ff</key>
    <string>u270b_1f3ff.glif</string>
    <key>u270d_1f3ff</key>
    <string>u270d_1f3ff.glif</string>
  </dict>
</plist>
