<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f312</key>
    <string>u1f312.glif</string>
    <key>u1f313</key>
    <string>u1f313.glif</string>
    <key>u1f314</key>
    <string>u1f314.glif</string>
    <key>u1f315</key>
    <string>u1f315.glif</string>
    <key>u1f316</key>
    <string>u1f316.glif</string>
    <key>u1f317</key>
    <string>u1f317.glif</string>
    <key>u1f318</key>
    <string>u1f318.glif</string>
    <key>u1f319</key>
    <string>u1f319.glif</string>
    <key>u1f31b</key>
    <string>u1f31b.glif</string>
    <key>u1f31c</key>
    <string>u1f31c.glif</string>
    <key>u1f31d</key>
    <string>u1f31d.glif</string>
    <key>u1f356</key>
    <string>u1f356.glif</string>
    <key>u1f357</key>
    <string>u1f357.glif</string>
    <key>u1f3f7</key>
    <string>u1f3f7.glif</string>
    <key>u1f452</key>
    <string>u1f452.glif</string>
    <key>u1f4a1</key>
    <string>u1f4a1.glif</string>
    <key>u1f4c0</key>
    <string>u1f4c0.glif</string>
    <key>u1f4dc</key>
    <string>u1f4dc.glif</string>
    <key>u1f6f8</key>
    <string>u1f6f8.glif</string>
    <key>u1f95f</key>
    <string>u1f95f.glif</string>
    <key>u1f969</key>
    <string>u1f969.glif</string>
  </dict>
</plist>
