<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1ec</key>
    <string>u1f1e9_1f1ec.glif</string>
    <key>u1f1ee_1f1f4</key>
    <string>u1f1ee_1f1f4.glif</string>
    <key>u1f1ef_1f1ea</key>
    <string>u1f1ef_1f1ea.glif</string>
    <key>u1f1f0_1f1ff</key>
    <string>u1f1f0_1f1ff.glif</string>
    <key>u1f1f2_1f1ea</key>
    <string>u1f1f2_1f1ea.glif</string>
    <key>u1f1f5_1f1f2</key>
    <string>u1f1f5_1f1f2.glif</string>
    <key>u1f307</key>
    <string>u1f307.glif</string>
    <key>u1f33a</key>
    <string>u1f33a.glif</string>
    <key>u1f37b</key>
    <string>u1f37b.glif</string>
    <key>u1f387</key>
    <string>u1f387.glif</string>
    <key>u1f3e1</key>
    <string>u1f3e1.glif</string>
    <key>u1f4dd</key>
    <string>u1f4dd.glif</string>
    <key>u1f607</key>
    <string>u1f607.glif</string>
    <key>u1f681</key>
    <string>u1f681.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f69c</key>
    <string>u1f69c.glif</string>
    <key>u1f986</key>
    <string>u1f986.glif</string>
    <key>u1f9c1</key>
    <string>u1f9c1.glif</string>
    <key>u1f9f4</key>
    <string>u1f9f4.glif</string>
    <key>u1fa94</key>
    <string>u1fa94.glif</string>
    <key>u23f0</key>
    <string>u23f0.glif</string>
  </dict>
</plist>
