<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_1f4bb</key>
    <string>u1f468_200d_1f4bb.glif</string>
    <key>u1f468_200d_1f527</key>
    <string>u1f468_200d_1f527.glif</string>
    <key>u1f468_200d_1f52c</key>
    <string>u1f468_200d_1f52c.glif</string>
    <key>u1f468_200d_2695_fe0f</key>
    <string>u1f468_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_1f3a8</key>
    <string>u1f469_200d_1f3a8.glif</string>
    <key>u1f469_200d_2696_fe0f</key>
    <string>u1f469_200d_2696_fe0f.glif</string>
    <key>u1f46b</key>
    <string>u1f46b.glif</string>
    <key>u1f46d</key>
    <string>u1f46d.glif</string>
    <key>u1f46e</key>
    <string>u1f46e.glif</string>
    <key>u1f46e_200d_2642_fe0f</key>
    <string>u1f46e_200d_2642_fe0f.glif</string>
    <key>u1f647</key>
    <string>u1f647.glif</string>
    <key>u1f647_200d_2640_fe0f</key>
    <string>u1f647_200d_2640_fe0f.glif</string>
    <key>u1f64f</key>
    <string>u1f64f.glif</string>
    <key>u1f6b4_200d_2642_fe0f</key>
    <string>u1f6b4_200d_2642_fe0f.glif</string>
    <key>u1f939</key>
    <string>u1f939.glif</string>
    <key>u1f939_200d_2642_fe0f</key>
    <string>u1f939_200d_2642_fe0f.glif</string>
    <key>u1f93c</key>
    <string>u1f93c.glif</string>
    <key>u1f93c_200d_2640_fe0f</key>
    <string>u1f93c_200d_2640_fe0f.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f9cf_200d_2642_fe0f</key>
    <string>u1f9cf_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f4bb</key>
    <string>u1f9d1_200d_1f4bb.glif</string>
    <key>u1f9d1_200d_1f527</key>
    <string>u1f9d1_200d_1f527.glif</string>
    <key>u1f9d1_200d_1f52c</key>
    <string>u1f9d1_200d_1f52c.glif</string>
    <key>u1f9d1_200d_2695_fe0f</key>
    <string>u1f9d1_200d_2695_fe0f.glif</string>
  </dict>
</plist>
