<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f34c</key>
    <string>u1f34c.glif</string>
    <key>u1f35d</key>
    <string>u1f35d.glif</string>
    <key>u1f368</key>
    <string>u1f368.glif</string>
    <key>u1f36f</key>
    <string>u1f36f.glif</string>
    <key>u1f38d</key>
    <string>u1f38d.glif</string>
    <key>u1f3dc</key>
    <string>u1f3dc.glif</string>
    <key>u1f3ec</key>
    <string>u1f3ec.glif</string>
    <key>u1f4bd</key>
    <string>u1f4bd.glif</string>
    <key>u1f958</key>
    <string>u1f958.glif</string>
    <key>u1f969</key>
    <string>u1f969.glif</string>
  </dict>
</plist>
