<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c3</key>
    <string>u1f3c3.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f468_200d_1f469_200d_1f466</key>
    <string>u1f468_200d_1f469_200d_1f466.glif</string>
    <key>u1f468_200d_1f469_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f469_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f469_200d_1f467</key>
    <string>u1f468_200d_1f469_200d_1f467.glif</string>
    <key>u1f468_200d_1f469_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f469_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f469_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f469_200d_1f467_200d_1f467.glif</string>
    <key>u1f469_200d_1f3ed</key>
    <string>u1f469_200d_1f3ed.glif</string>
    <key>u1f645</key>
    <string>u1f645.glif</string>
    <key>u1f926_200d_2640_fe0f</key>
    <string>u1f926_200d_2640_fe0f.glif</string>
    <key>u1f930</key>
    <string>u1f930.glif</string>
    <key>u1f933</key>
    <string>u1f933.glif</string>
    <key>u1f935</key>
    <string>u1f935.glif</string>
    <key>u1f935_200d_2640_fe0f</key>
    <string>u1f935_200d_2640_fe0f.glif</string>
    <key>u1f93e_200d_2640_fe0f</key>
    <string>u1f93e_200d_2640_fe0f.glif</string>
    <key>u1f93e_200d_2642_fe0f</key>
    <string>u1f93e_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3a4</key>
    <string>u1f9d1_200d_1f3a4.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u1f9da_200d_2640_fe0f</key>
    <string>u1f9da_200d_2640_fe0f.glif</string>
    <key>u1f9dd_200d_2640_fe0f</key>
    <string>u1f9dd_200d_2640_fe0f.glif</string>
    <key>u26f9</key>
    <string>u26f9.glif</string>
    <key>u26f9_fe0f_200d_2640_fe0f</key>
    <string>u26f9_fe0f_200d_2640_fe0f.glif</string>
  </dict>
</plist>
