<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ea_1f1e6</key>
    <string>u1f1ea_1f1e6.glif</string>
    <key>u1f1ea_1f1f8</key>
    <string>u1f1ea_1f1f8.glif</string>
    <key>u1f1f2_1f1ff</key>
    <string>u1f1f2_1f1ff.glif</string>
    <key>u1f354</key>
    <string>u1f354.glif</string>
    <key>u1f377</key>
    <string>u1f377.glif</string>
    <key>u1f382</key>
    <string>u1f382.glif</string>
    <key>u1f3a2</key>
    <string>u1f3a2.glif</string>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f426</key>
    <string>u1f426.glif</string>
    <key>u1f43c</key>
    <string>u1f43c.glif</string>
    <key>u1f45b</key>
    <string>u1f45b.glif</string>
    <key>u1f488</key>
    <string>u1f488.glif</string>
    <key>u1f489</key>
    <string>u1f489.glif</string>
    <key>u1f48c</key>
    <string>u1f48c.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f492</key>
    <string>u1f492.glif</string>
    <key>u1f4ca</key>
    <string>u1f4ca.glif</string>
    <key>u1f4d5</key>
    <string>u1f4d5.glif</string>
    <key>u1f4ea</key>
    <string>u1f4ea.glif</string>
    <key>u1f4eb</key>
    <string>u1f4eb.glif</string>
    <key>u1f5fc</key>
    <string>u1f5fc.glif</string>
    <key>u1f618</key>
    <string>u1f618.glif</string>
    <key>u1f682</key>
    <string>u1f682.glif</string>
    <key>u1f691</key>
    <string>u1f691.glif</string>
    <key>u1f6a1</key>
    <string>u1f6a1.glif</string>
    <key>u1f6b2</key>
    <string>u1f6b2.glif</string>
    <key>u1f936</key>
    <string>u1f936.glif</string>
    <key>u1f936_1f3fb</key>
    <string>u1f936_1f3fb.glif</string>
    <key>u1f936_1f3fc</key>
    <string>u1f936_1f3fc.glif</string>
    <key>u1f936_1f3fd</key>
    <string>u1f936_1f3fd.glif</string>
    <key>u1f936_1f3fe</key>
    <string>u1f936_1f3fe.glif</string>
    <key>u1f936_1f3ff</key>
    <string>u1f936_1f3ff.glif</string>
    <key>u1f9b8_1f3fb_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fc_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fd_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fe_200d_2642_fe0f</key>
    <string>u1f9b8_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3ff_200d_2642_fe0f</key>
    <string>u1f9b8_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f9b8_200d_2642_fe0f</key>
    <string>u1f9b8_200d_2642_fe0f.glif</string>
    <key>u1f9bc</key>
    <string>u1f9bc.glif</string>
    <key>u1f9bd</key>
    <string>u1f9bd.glif</string>
    <key>u23f2</key>
    <string>u23f2.glif</string>
    <key>u2603</key>
    <string>u2603.glif</string>
    <key>u26c4</key>
    <string>u26c4.glif</string>
    <key>u26ea</key>
    <string>u26ea.glif</string>
    <key>u26f1</key>
    <string>u26f1.glif</string>
    <key>u26f3</key>
    <string>u26f3.glif</string>
    <key>u26f8</key>
    <string>u26f8.glif</string>
  </dict>
</plist>
