<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f385_1f3fd</key>
    <string>u1f385_1f3fd.glif</string>
    <key>u1f450_1f3fd</key>
    <string>u1f450_1f3fd.glif</string>
    <key>u1f466_1f3fd</key>
    <string>u1f466_1f3fd.glif</string>
    <key>u1f468_1f3fd</key>
    <string>u1f468_1f3fd.glif</string>
    <key>u1f468_1f3fd_200d_1f4bb</key>
    <string>u1f468_1f3fd_200d_1f4bb.glif</string>
    <key>u1f468_1f3fd_200d_1f527</key>
    <string>u1f468_1f3fd_200d_1f527.glif</string>
    <key>u1f468_1f3fd_200d_1f52c</key>
    <string>u1f468_1f3fd_200d_1f52c.glif</string>
    <key>u1f468_1f3fd_200d_2695_fe0f</key>
    <string>u1f468_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fd</key>
    <string>u1f469_1f3fd.glif</string>
    <key>u1f469_1f3fd_200d_1f9b1</key>
    <string>u1f469_1f3fd_200d_1f9b1.glif</string>
    <key>u1f469_1f3fd_200d_2696_fe0f</key>
    <string>u1f469_1f3fd_200d_2696_fe0f.glif</string>
    <key>u1f46e_1f3fd_200d_2642_fe0f</key>
    <string>u1f46e_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f471_1f3fd_200d_2640_fe0f</key>
    <string>u1f471_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f474_1f3fd</key>
    <string>u1f474_1f3fd.glif</string>
    <key>u1f475_1f3fd</key>
    <string>u1f475_1f3fd.glif</string>
    <key>u1f478_1f3fd</key>
    <string>u1f478_1f3fd.glif</string>
    <key>u1f47c_1f3fd</key>
    <string>u1f47c_1f3fd.glif</string>
    <key>u1f595_1f3fd</key>
    <string>u1f595_1f3fd.glif</string>
    <key>u1f596_1f3fd</key>
    <string>u1f596_1f3fd.glif</string>
    <key>u1f645_1f3fd_200d_2640_fe0f</key>
    <string>u1f645_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f64b_1f3fd_200d_2640_fe0f</key>
    <string>u1f64b_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b4_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b4_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fd_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fd_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f91a_1f3fd</key>
    <string>u1f91a_1f3fd.glif</string>
    <key>u1f91b_1f3fd</key>
    <string>u1f91b_1f3fd.glif</string>
    <key>u1f91c_1f3fd</key>
    <string>u1f91c_1f3fd.glif</string>
    <key>u1f931_1f3fd</key>
    <string>u1f931_1f3fd.glif</string>
    <key>u1f932_1f3fd</key>
    <string>u1f932_1f3fd.glif</string>
    <key>u1f936_1f3fd</key>
    <string>u1f936_1f3fd.glif</string>
    <key>u1f939_1f3fd_200d_2642_fe0f</key>
    <string>u1f939_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f9ee</key>
    <string>u1f9ee.glif</string>
    <key>u270b_1f3fd</key>
    <string>u270b_1f3fd.glif</string>
  </dict>
</plist>
