<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f399</key>
    <string>u1f399.glif</string>
    <key>u1f3d7</key>
    <string>u1f3d7.glif</string>
    <key>u1f3f0</key>
    <string>u1f3f0.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f42d</key>
    <string>u1f42d.glif</string>
    <key>u1f4c6</key>
    <string>u1f4c6.glif</string>
    <key>u1f52c</key>
    <string>u1f52c.glif</string>
    <key>u1f5d2</key>
    <string>u1f5d2.glif</string>
    <key>u1f694</key>
    <string>u1f694.glif</string>
    <key>u1f935_1f3fc_200d_2640_fe0f</key>
    <string>u1f935_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f935_1f3fd_200d_2640_fe0f</key>
    <string>u1f935_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f935_1f3fe_200d_2640_fe0f</key>
    <string>u1f935_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f935_1f3ff_200d_2640_fe0f</key>
    <string>u1f935_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f935_200d_2640_fe0f</key>
    <string>u1f935_200d_2640_fe0f.glif</string>
    <key>u1f93a</key>
    <string>u1f93a.glif</string>
    <key>u1f98d</key>
    <string>u1f98d.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1f9df_200d_2642_fe0f</key>
    <string>u1f9df_200d_2642_fe0f.glif</string>
    <key>u1f9ef</key>
    <string>u1f9ef.glif</string>
    <key>u1fa82</key>
    <string>u1fa82.glif</string>
    <key>u26f4</key>
    <string>u26f4.glif</string>
  </dict>
</plist>
