<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f32b</key>
    <string>u1f32b.glif</string>
    <key>u1f36c</key>
    <string>u1f36c.glif</string>
    <key>u1f440</key>
    <string>u1f440.glif</string>
    <key>u1f441</key>
    <string>u1f441.glif</string>
    <key>u1f469_1f3fb_200d_2695_fe0f</key>
    <string>u1f469_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_2695_fe0f</key>
    <string>u1f469_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_2695_fe0f</key>
    <string>u1f469_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fe_200d_2695_fe0f</key>
    <string>u1f469_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_2695_fe0f</key>
    <string>u1f469_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f4bd</key>
    <string>u1f4bd.glif</string>
    <key>u1f570</key>
    <string>u1f570.glif</string>
    <key>u1f5a5</key>
    <string>u1f5a5.glif</string>
    <key>u1f965</key>
    <string>u1f965.glif</string>
  </dict>
</plist>
