<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3a2</key>
    <string>u1f3a2.glif</string>
    <key>u1f3c1</key>
    <string>u1f3c1.glif</string>
    <key>u1f3f3</key>
    <string>u1f3f3.glif</string>
    <key>u1f3f4</key>
    <string>u1f3f4.glif</string>
    <key>u1f440</key>
    <string>u1f440.glif</string>
    <key>u1f50a</key>
    <string>u1f50a.glif</string>
    <key>u1f50d</key>
    <string>u1f50d.glif</string>
    <key>u1f50e</key>
    <string>u1f50e.glif</string>
    <key>u1f52c</key>
    <string>u1f52c.glif</string>
    <key>u1f95b</key>
    <string>u1f95b.glif</string>
    <key>u1f9ea</key>
    <string>u1f9ea.glif</string>
  </dict>
</plist>
