<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f467_1f3ff</key>
    <string>u1f467_1f3ff.glif</string>
    <key>u1f468_1f3ff_200d_1f3a8</key>
    <string>u1f468_1f3ff_200d_1f3a8.glif</string>
    <key>u1f468_1f3ff_200d_1f3ed</key>
    <string>u1f468_1f3ff_200d_1f3ed.glif</string>
    <key>u1f469_1f3ff_200d_2696_fe0f</key>
    <string>u1f469_1f3ff_200d_2696_fe0f.glif</string>
    <key>u1f477_1f3ff_200d_2642_fe0f</key>
    <string>u1f477_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f481_1f3ff_200d_2642_fe0f</key>
    <string>u1f481_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f482_1f3ff</key>
    <string>u1f482_1f3ff.glif</string>
    <key>u1f482_1f3ff_200d_2640_fe0f</key>
    <string>u1f482_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f487_1f3ff</key>
    <string>u1f487_1f3ff.glif</string>
    <key>u1f487_1f3ff_200d_2642_fe0f</key>
    <string>u1f487_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3ff</key>
    <string>u1f575_1f3ff.glif</string>
    <key>u1f575_1f3ff_200d_2640_fe0f</key>
    <string>u1f575_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f575_1f3ff_200d_2642_fe0f</key>
    <string>u1f575_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f647_1f3ff_200d_2642_fe0f</key>
    <string>u1f647_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f64b_1f3ff_200d_2640_fe0f</key>
    <string>u1f64b_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f33e</key>
    <string>u1f9d1_1f3ff_200d_1f33e.glif</string>
    <key>u1f9d1_1f3ff_200d_1f373</key>
    <string>u1f9d1_1f3ff_200d_1f373.glif</string>
    <key>u1f9d1_1f3ff_200d_2696_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2696_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_2708_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2708_fe0f.glif</string>
    <key>u1f9d5_1f3ff</key>
    <string>u1f9d5_1f3ff.glif</string>
    <key>u1f9d9_1f3ff</key>
    <string>u1f9d9_1f3ff.glif</string>
    <key>u1f9dd_1f3ff</key>
    <string>u1f9dd_1f3ff.glif</string>
    <key>u1f9dd_1f3ff_200d_2642_fe0f</key>
    <string>u1f9dd_1f3ff_200d_2642_fe0f.glif</string>
  </dict>
</plist>
