<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f385</key>
    <string>u1f385.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f44b</key>
    <string>u1f44b.glif</string>
    <key>u1f44c</key>
    <string>u1f44c.glif</string>
    <key>u1f450</key>
    <string>u1f450.glif</string>
    <key>u1f466</key>
    <string>u1f466.glif</string>
    <key>u1f468</key>
    <string>u1f468.glif</string>
    <key>u1f468_200d_1f4bb</key>
    <string>u1f468_200d_1f4bb.glif</string>
    <key>u1f468_200d_1f527</key>
    <string>u1f468_200d_1f527.glif</string>
    <key>u1f468_200d_1f52c</key>
    <string>u1f468_200d_1f52c.glif</string>
    <key>u1f468_200d_1f9bc</key>
    <string>u1f468_200d_1f9bc.glif</string>
    <key>u1f468_200d_1f9bd</key>
    <string>u1f468_200d_1f9bd.glif</string>
    <key>u1f468_200d_2695_fe0f</key>
    <string>u1f468_200d_2695_fe0f.glif</string>
    <key>u1f468_200d_2764_fe0f_200d_1f468</key>
    <string>u1f468_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f469</key>
    <string>u1f469.glif</string>
    <key>u1f469_200d_1f9b0</key>
    <string>u1f469_200d_1f9b0.glif</string>
    <key>u1f469_200d_1f9b1</key>
    <string>u1f469_200d_1f9b1.glif</string>
    <key>u1f469_200d_1f9b3</key>
    <string>u1f469_200d_1f9b3.glif</string>
    <key>u1f469_200d_2696_fe0f</key>
    <string>u1f469_200d_2696_fe0f.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469.glif</string>
    <key>u1f46a</key>
    <string>u1f46a.glif</string>
    <key>u1f46b</key>
    <string>u1f46b.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f46d</key>
    <string>u1f46d.glif</string>
    <key>u1f46e</key>
    <string>u1f46e.glif</string>
    <key>u1f46e_200d_2642_fe0f</key>
    <string>u1f46e_200d_2642_fe0f.glif</string>
    <key>u1f46f</key>
    <string>u1f46f.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f471</key>
    <string>u1f471.glif</string>
    <key>u1f471_200d_2640_fe0f</key>
    <string>u1f471_200d_2640_fe0f.glif</string>
    <key>u1f474</key>
    <string>u1f474.glif</string>
    <key>u1f475</key>
    <string>u1f475.glif</string>
    <key>u1f478</key>
    <string>u1f478.glif</string>
    <key>u1f47c</key>
    <string>u1f47c.glif</string>
    <key>u1f483</key>
    <string>u1f483.glif</string>
    <key>u1f4aa</key>
    <string>u1f4aa.glif</string>
    <key>u1f595</key>
    <string>u1f595.glif</string>
    <key>u1f596</key>
    <string>u1f596.glif</string>
    <key>u1f645_200d_2640_fe0f</key>
    <string>u1f645_200d_2640_fe0f.glif</string>
    <key>u1f646</key>
    <string>u1f646.glif</string>
    <key>u1f64b</key>
    <string>u1f64b.glif</string>
    <key>u1f64b_200d_2640_fe0f</key>
    <string>u1f64b_200d_2640_fe0f.glif</string>
    <key>u1f6b4_200d_2640_fe0f</key>
    <string>u1f6b4_200d_2640_fe0f.glif</string>
    <key>u1f6b5</key>
    <string>u1f6b5.glif</string>
    <key>u1f6b5_200d_2640_fe0f</key>
    <string>u1f6b5_200d_2640_fe0f.glif</string>
    <key>u1f6b5_200d_2642_fe0f</key>
    <string>u1f6b5_200d_2642_fe0f.glif</string>
    <key>u1f918</key>
    <string>u1f918.glif</string>
    <key>u1f91a</key>
    <string>u1f91a.glif</string>
    <key>u1f91e</key>
    <string>u1f91e.glif</string>
    <key>u1f931</key>
    <string>u1f931.glif</string>
    <key>u1f932</key>
    <string>u1f932.glif</string>
    <key>u1f933</key>
    <string>u1f933.glif</string>
    <key>u1f936</key>
    <string>u1f936.glif</string>
    <key>u1f938</key>
    <string>u1f938.glif</string>
    <key>u1f938_200d_2642_fe0f</key>
    <string>u1f938_200d_2642_fe0f.glif</string>
    <key>u1f939</key>
    <string>u1f939.glif</string>
    <key>u1f939_200d_2642_fe0f</key>
    <string>u1f939_200d_2642_fe0f.glif</string>
    <key>u1f9ce</key>
    <string>u1f9ce.glif</string>
    <key>u1f9ce_200d_2640_fe0f</key>
    <string>u1f9ce_200d_2640_fe0f.glif</string>
    <key>u1f9ce_200d_2642_fe0f</key>
    <string>u1f9ce_200d_2642_fe0f.glif</string>
    <key>u1f9cf_200d_2642_fe0f</key>
    <string>u1f9cf_200d_2642_fe0f.glif</string>
    <key>u1f9d1</key>
    <string>u1f9d1.glif</string>
    <key>u1f9d1_200d_1f4bb</key>
    <string>u1f9d1_200d_1f4bb.glif</string>
    <key>u1f9d1_200d_1f527</key>
    <string>u1f9d1_200d_1f527.glif</string>
    <key>u1f9d1_200d_1f52c</key>
    <string>u1f9d1_200d_1f52c.glif</string>
    <key>u1f9d1_200d_1f9b0</key>
    <string>u1f9d1_200d_1f9b0.glif</string>
    <key>u1f9d1_200d_1f9b3</key>
    <string>u1f9d1_200d_1f9b3.glif</string>
    <key>u1f9d1_200d_2695_fe0f</key>
    <string>u1f9d1_200d_2695_fe0f.glif</string>
    <key>u1f9d2</key>
    <string>u1f9d2.glif</string>
    <key>u1f9d3</key>
    <string>u1f9d3.glif</string>
    <key>u1f9d4</key>
    <string>u1f9d4.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
    <key>u1f9dc</key>
    <string>u1f9dc.glif</string>
    <key>u1f9dc_200d_2640_fe0f</key>
    <string>u1f9dc_200d_2640_fe0f.glif</string>
    <key>u261d</key>
    <string>u261d.glif</string>
    <key>u270a</key>
    <string>u270a.glif</string>
    <key>u270b</key>
    <string>u270b.glif</string>
    <key>u270c</key>
    <string>u270c.glif</string>
  </dict>
</plist>
