<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f38c</key>
    <string>u1f38c.glif</string>
    <key>u1f399</key>
    <string>u1f399.glif</string>
    <key>u1f3cc</key>
    <string>u1f3cc.glif</string>
    <key>u1f3cc_1f3fb</key>
    <string>u1f3cc_1f3fb.glif</string>
    <key>u1f3cc_1f3fb_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3fc</key>
    <string>u1f3cc_1f3fc.glif</string>
    <key>u1f3cc_1f3fc_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3fd</key>
    <string>u1f3cc_1f3fd.glif</string>
    <key>u1f3cc_1f3fd_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3fe</key>
    <string>u1f3cc_1f3fe.glif</string>
    <key>u1f3cc_1f3fe_200d_2640_fe0f</key>
    <string>u1f3cc_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f3cc_1f3ff</key>
    <string>u1f3cc_1f3ff.glif</string>
    <key>u1f3cc_1f3ff_200d_2640_fe0f</key>
    <string>u1f3cc_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f3cc_fe0f_200d_2640_fe0f</key>
    <string>u1f3cc_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3e0</key>
    <string>u1f3e0.glif</string>
    <key>u1f3ea</key>
    <string>u1f3ea.glif</string>
    <key>u1f3ef</key>
    <string>u1f3ef.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f42d</key>
    <string>u1f42d.glif</string>
    <key>u1f4d3</key>
    <string>u1f4d3.glif</string>
    <key>u1f4e7</key>
    <string>u1f4e7.glif</string>
    <key>u1f4fa</key>
    <string>u1f4fa.glif</string>
    <key>u1f579</key>
    <string>u1f579.glif</string>
    <key>u1f5d3</key>
    <string>u1f5d3.glif</string>
    <key>u1f68b</key>
    <string>u1f68b.glif</string>
    <key>u1f935_1f3fb_200d_2640_fe0f</key>
    <string>u1f935_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f987</key>
    <string>u1f987.glif</string>
    <key>u1f988</key>
    <string>u1f988.glif</string>
    <key>u1f993</key>
    <string>u1f993.glif</string>
    <key>u1f99b</key>
    <string>u1f99b.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1f9bb</key>
    <string>u1f9bb.glif</string>
    <key>u1f9bb_1f3fb</key>
    <string>u1f9bb_1f3fb.glif</string>
    <key>u1f9bb_1f3fc</key>
    <string>u1f9bb_1f3fc.glif</string>
    <key>u1f9bb_1f3fd</key>
    <string>u1f9bb_1f3fd.glif</string>
    <key>u1f9bb_1f3fe</key>
    <string>u1f9bb_1f3fe.glif</string>
    <key>u1f9bb_1f3ff</key>
    <string>u1f9bb_1f3ff.glif</string>
    <key>u1f9e4</key>
    <string>u1f9e4.glif</string>
    <key>u1f9ef</key>
    <string>u1f9ef.glif</string>
    <key>u1fa82</key>
    <string>u1fa82.glif</string>
    <key>u231a</key>
    <string>u231a.glif</string>
  </dict>
</plist>
