<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f376</key>
    <string>u1f376.glif</string>
    <key>u1f468_200d_1f466</key>
    <string>u1f468_200d_1f466.glif</string>
    <key>u1f468_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f964</key>
    <string>u1f964.glif</string>
  </dict>
</plist>
