<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f2_1f1f9</key>
    <string>u1f1f2_1f1f9.glif</string>
    <key>u1f3cd</key>
    <string>u1f3cd.glif</string>
    <key>u1f3f0</key>
    <string>u1f3f0.glif</string>
    <key>u1f468_1f3fb_200d_1f373</key>
    <string>u1f468_1f3fb_200d_1f373.glif</string>
    <key>u1f468_1f3fc_200d_1f373</key>
    <string>u1f468_1f3fc_200d_1f373.glif</string>
    <key>u1f468_1f3fc_200d_2695_fe0f</key>
    <string>u1f468_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fd_200d_1f373</key>
    <string>u1f468_1f3fd_200d_1f373.glif</string>
    <key>u1f468_1f3fd_200d_2695_fe0f</key>
    <string>u1f468_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fe_200d_1f373</key>
    <string>u1f468_1f3fe_200d_1f373.glif</string>
    <key>u1f468_1f3fe_200d_2695_fe0f</key>
    <string>u1f468_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3ff_200d_1f373</key>
    <string>u1f468_1f3ff_200d_1f373.glif</string>
    <key>u1f468_1f3ff_200d_2695_fe0f</key>
    <string>u1f468_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f468_200d_2695_fe0f</key>
    <string>u1f468_200d_2695_fe0f.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f938</key>
    <string>u1f938.glif</string>
    <key>u1f938_1f3fb</key>
    <string>u1f938_1f3fb.glif</string>
    <key>u1f938_1f3fb_200d_2642_fe0f</key>
    <string>u1f938_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f938_1f3fc</key>
    <string>u1f938_1f3fc.glif</string>
    <key>u1f938_1f3fc_200d_2642_fe0f</key>
    <string>u1f938_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f938_1f3fd</key>
    <string>u1f938_1f3fd.glif</string>
    <key>u1f938_1f3fd_200d_2642_fe0f</key>
    <string>u1f938_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f938_1f3fe</key>
    <string>u1f938_1f3fe.glif</string>
    <key>u1f938_1f3fe_200d_2642_fe0f</key>
    <string>u1f938_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f938_1f3ff</key>
    <string>u1f938_1f3ff.glif</string>
    <key>u1f938_1f3ff_200d_2642_fe0f</key>
    <string>u1f938_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f938_200d_2642_fe0f</key>
    <string>u1f938_200d_2642_fe0f.glif</string>
    <key>u1f9bf</key>
    <string>u1f9bf.glif</string>
    <key>u1f9d1_1f3fb_200d_1f373</key>
    <string>u1f9d1_1f3fb_200d_1f373.glif</string>
    <key>u1f9d1_1f3fb_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f373</key>
    <string>u1f9d1_1f3fc_200d_1f373.glif</string>
    <key>u1f9d1_1f3fc_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_1f373</key>
    <string>u1f9d1_1f3fd_200d_1f373.glif</string>
    <key>u1f9d1_1f3fd_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fe_200d_1f373</key>
    <string>u1f9d1_1f3fe_200d_1f373.glif</string>
    <key>u1f9d1_1f3fe_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f373</key>
    <string>u1f9d1_1f3ff_200d_1f373.glif</string>
    <key>u1f9d1_1f3ff_200d_2695_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9d1_200d_2695_fe0f</key>
    <string>u1f9d1_200d_2695_fe0f.glif</string>
    <key>u1f9fb</key>
    <string>u1f9fb.glif</string>
    <key>u2694</key>
    <string>u2694.glif</string>
  </dict>
</plist>
