<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3b7</key>
    <string>u1f3b7.glif</string>
    <key>u1f48a</key>
    <string>u1f48a.glif</string>
    <key>u1f493</key>
    <string>u1f493.glif</string>
    <key>u1f496</key>
    <string>u1f496.glif</string>
  </dict>
</plist>
