<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f376</key>
    <string>u1f376.glif</string>
    <key>u1f924</key>
    <string>u1f924.glif</string>
    <key>u1f9de_200d_2642_fe0f</key>
    <string>u1f9de_200d_2642_fe0f.glif</string>
    <key>u1f9ff</key>
    <string>u1f9ff.glif</string>
    <key>u2744</key>
    <string>u2744.glif</string>
  </dict>
</plist>
