<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f170</key>
    <string>u1f170.glif</string>
    <key>u1f171</key>
    <string>u1f171.glif</string>
    <key>u1f17e</key>
    <string>u1f17e.glif</string>
    <key>u1f17f</key>
    <string>u1f17f.glif</string>
    <key>u1f18e</key>
    <string>u1f18e.glif</string>
    <key>u1f191</key>
    <string>u1f191.glif</string>
    <key>u1f192</key>
    <string>u1f192.glif</string>
    <key>u1f193</key>
    <string>u1f193.glif</string>
    <key>u1f194</key>
    <string>u1f194.glif</string>
    <key>u1f195</key>
    <string>u1f195.glif</string>
    <key>u1f196</key>
    <string>u1f196.glif</string>
    <key>u1f197</key>
    <string>u1f197.glif</string>
    <key>u1f198</key>
    <string>u1f198.glif</string>
    <key>u1f199</key>
    <string>u1f199.glif</string>
    <key>u1f19a</key>
    <string>u1f19a.glif</string>
    <key>u1f1e6</key>
    <string>u1f1e6.glif</string>
    <key>u1f1e6_1f1f6</key>
    <string>u1f1e6_1f1f6.glif</string>
    <key>u1f1e6_1f1fa</key>
    <string>u1f1e6_1f1fa.glif</string>
    <key>u1f1e6_1f1fc</key>
    <string>u1f1e6_1f1fc.glif</string>
    <key>u1f1e7</key>
    <string>u1f1e7.glif</string>
    <key>u1f1e8</key>
    <string>u1f1e8.glif</string>
    <key>u1f1e8_1f1ed</key>
    <string>u1f1e8_1f1ed.glif</string>
    <key>u1f1e8_1f1f0</key>
    <string>u1f1e8_1f1f0.glif</string>
    <key>u1f1e9</key>
    <string>u1f1e9.glif</string>
    <key>u1f1ea</key>
    <string>u1f1ea.glif</string>
    <key>u1f1eb</key>
    <string>u1f1eb.glif</string>
    <key>u1f1eb_1f1f2</key>
    <string>u1f1eb_1f1f2.glif</string>
    <key>u1f1ec</key>
    <string>u1f1ec.glif</string>
    <key>u1f1ec_1f1fe</key>
    <string>u1f1ec_1f1fe.glif</string>
    <key>u1f1ed</key>
    <string>u1f1ed.glif</string>
    <key>u1f1ed_1f1f0</key>
    <string>u1f1ed_1f1f0.glif</string>
    <key>u1f1ed_1f1f2</key>
    <string>u1f1ed_1f1f2.glif</string>
    <key>u1f1ee</key>
    <string>u1f1ee.glif</string>
    <key>u1f1ef</key>
    <string>u1f1ef.glif</string>
    <key>u1f1f0</key>
    <string>u1f1f0.glif</string>
    <key>u1f1f1</key>
    <string>u1f1f1.glif</string>
    <key>u1f1f1_1f1e8</key>
    <string>u1f1f1_1f1e8.glif</string>
    <key>u1f1f2</key>
    <string>u1f1f2.glif</string>
    <key>u1f1f2_1f1f5</key>
    <string>u1f1f2_1f1f5.glif</string>
    <key>u1f1f3</key>
    <string>u1f1f3.glif</string>
    <key>u1f1f4</key>
    <string>u1f1f4.glif</string>
    <key>u1f1f5</key>
    <string>u1f1f5.glif</string>
    <key>u1f1f6</key>
    <string>u1f1f6.glif</string>
    <key>u1f1f7</key>
    <string>u1f1f7.glif</string>
    <key>u1f1f8</key>
    <string>u1f1f8.glif</string>
    <key>u1f1f8_1f1e6</key>
    <string>u1f1f8_1f1e6.glif</string>
    <key>u1f1f8_1f1f4</key>
    <string>u1f1f8_1f1f4.glif</string>
    <key>u1f1f9</key>
    <string>u1f1f9.glif</string>
    <key>u1f1f9_1f1e8</key>
    <string>u1f1f9_1f1e8.glif</string>
    <key>u1f1f9_1f1f0</key>
    <string>u1f1f9_1f1f0.glif</string>
    <key>u1f1f9_1f1f3</key>
    <string>u1f1f9_1f1f3.glif</string>
    <key>u1f1fa</key>
    <string>u1f1fa.glif</string>
    <key>u1f1fa_1f1f3</key>
    <string>u1f1fa_1f1f3.glif</string>
    <key>u1f1fb</key>
    <string>u1f1fb.glif</string>
    <key>u1f1fb_1f1ec</key>
    <string>u1f1fb_1f1ec.glif</string>
    <key>u1f1fc</key>
    <string>u1f1fc.glif</string>
    <key>u1f1fd</key>
    <string>u1f1fd.glif</string>
    <key>u1f1fe</key>
    <string>u1f1fe.glif</string>
    <key>u1f1ff</key>
    <string>u1f1ff.glif</string>
    <key>u1f201</key>
    <string>u1f201.glif</string>
    <key>u1f202</key>
    <string>u1f202.glif</string>
    <key>u1f21a</key>
    <string>u1f21a.glif</string>
    <key>u1f22f</key>
    <string>u1f22f.glif</string>
    <key>u1f232</key>
    <string>u1f232.glif</string>
    <key>u1f233</key>
    <string>u1f233.glif</string>
    <key>u1f234</key>
    <string>u1f234.glif</string>
    <key>u1f235</key>
    <string>u1f235.glif</string>
    <key>u1f236</key>
    <string>u1f236.glif</string>
    <key>u1f237</key>
    <string>u1f237.glif</string>
    <key>u1f238</key>
    <string>u1f238.glif</string>
    <key>u1f239</key>
    <string>u1f239.glif</string>
    <key>u1f23a</key>
    <string>u1f23a.glif</string>
    <key>u1f251</key>
    <string>u1f251.glif</string>
    <key>u1f338</key>
    <string>u1f338.glif</string>
    <key>u1f3a6</key>
    <string>u1f3a6.glif</string>
    <key>u1f403</key>
    <string>u1f403.glif</string>
    <key>u1f488</key>
    <string>u1f488.glif</string>
    <key>u1f4b9</key>
    <string>u1f4b9.glif</string>
    <key>u1f4cb</key>
    <string>u1f4cb.glif</string>
    <key>u1f4f3</key>
    <string>u1f4f3.glif</string>
    <key>u1f4f4</key>
    <string>u1f4f4.glif</string>
    <key>u1f4f5</key>
    <string>u1f4f5.glif</string>
    <key>u1f4f6</key>
    <string>u1f4f6.glif</string>
    <key>u1f500</key>
    <string>u1f500.glif</string>
    <key>u1f501</key>
    <string>u1f501.glif</string>
    <key>u1f502</key>
    <string>u1f502.glif</string>
    <key>u1f503</key>
    <string>u1f503.glif</string>
    <key>u1f504</key>
    <string>u1f504.glif</string>
    <key>u1f520</key>
    <string>u1f520.glif</string>
    <key>u1f521</key>
    <string>u1f521.glif</string>
    <key>u1f522</key>
    <string>u1f522.glif</string>
    <key>u1f523</key>
    <string>u1f523.glif</string>
    <key>u1f524</key>
    <string>u1f524.glif</string>
    <key>u1f53c</key>
    <string>u1f53c.glif</string>
    <key>u1f53d</key>
    <string>u1f53d.glif</string>
    <key>u1f549</key>
    <string>u1f549.glif</string>
    <key>u1f54e</key>
    <string>u1f54e.glif</string>
    <key>u1f6ad</key>
    <string>u1f6ad.glif</string>
    <key>u1f6ae</key>
    <string>u1f6ae.glif</string>
    <key>u1f6af</key>
    <string>u1f6af.glif</string>
    <key>u1f6b0</key>
    <string>u1f6b0.glif</string>
    <key>u1f6b1</key>
    <string>u1f6b1.glif</string>
    <key>u1f6b3</key>
    <string>u1f6b3.glif</string>
    <key>u1f6b7</key>
    <string>u1f6b7.glif</string>
    <key>u1f6b9</key>
    <string>u1f6b9.glif</string>
    <key>u1f6ba</key>
    <string>u1f6ba.glif</string>
    <key>u1f6bb</key>
    <string>u1f6bb.glif</string>
    <key>u1f6bc</key>
    <string>u1f6bc.glif</string>
    <key>u1f6be</key>
    <string>u1f6be.glif</string>
    <key>u1f6d0</key>
    <string>u1f6d0.glif</string>
    <key>u1f95b</key>
    <string>u1f95b.glif</string>
    <key>u1f9ff</key>
    <string>u1f9ff.glif</string>
    <key>u2139</key>
    <string>u2139.glif</string>
    <key>u2194</key>
    <string>u2194.glif</string>
    <key>u2195</key>
    <string>u2195.glif</string>
    <key>u2196</key>
    <string>u2196.glif</string>
    <key>u2197</key>
    <string>u2197.glif</string>
    <key>u2198</key>
    <string>u2198.glif</string>
    <key>u2199</key>
    <string>u2199.glif</string>
    <key>u21a9</key>
    <string>u21a9.glif</string>
    <key>u21aa</key>
    <string>u21aa.glif</string>
    <key>u23_fe0f_20e3</key>
    <string>u23_fe0f_20e3.glif</string>
    <key>u23cf</key>
    <string>u23cf.glif</string>
    <key>u23e9</key>
    <string>u23e9.glif</string>
    <key>u23ea</key>
    <string>u23ea.glif</string>
    <key>u23eb</key>
    <string>u23eb.glif</string>
    <key>u23ec</key>
    <string>u23ec.glif</string>
    <key>u23ed</key>
    <string>u23ed.glif</string>
    <key>u23ee</key>
    <string>u23ee.glif</string>
    <key>u23ef</key>
    <string>u23ef.glif</string>
    <key>u23f2</key>
    <string>u23f2.glif</string>
    <key>u23f8</key>
    <string>u23f8.glif</string>
    <key>u23f9</key>
    <string>u23f9.glif</string>
    <key>u23fa</key>
    <string>u23fa.glif</string>
    <key>u24c2</key>
    <string>u24c2.glif</string>
    <key>u25b6</key>
    <string>u25b6.glif</string>
    <key>u25c0</key>
    <string>u25c0.glif</string>
    <key>u2622</key>
    <string>u2622.glif</string>
    <key>u2623</key>
    <string>u2623.glif</string>
    <key>u2626</key>
    <string>u2626.glif</string>
    <key>u262a</key>
    <string>u262a.glif</string>
    <key>u262e</key>
    <string>u262e.glif</string>
    <key>u262f</key>
    <string>u262f.glif</string>
    <key>u2638</key>
    <string>u2638.glif</string>
    <key>u2640</key>
    <string>u2640.glif</string>
    <key>u2642</key>
    <string>u2642.glif</string>
    <key>u2648</key>
    <string>u2648.glif</string>
    <key>u2649</key>
    <string>u2649.glif</string>
    <key>u264a</key>
    <string>u264a.glif</string>
    <key>u264b</key>
    <string>u264b.glif</string>
    <key>u264c</key>
    <string>u264c.glif</string>
    <key>u264d</key>
    <string>u264d.glif</string>
    <key>u264e</key>
    <string>u264e.glif</string>
    <key>u264f</key>
    <string>u264f.glif</string>
    <key>u2650</key>
    <string>u2650.glif</string>
    <key>u2651</key>
    <string>u2651.glif</string>
    <key>u2652</key>
    <string>u2652.glif</string>
    <key>u2653</key>
    <string>u2653.glif</string>
    <key>u267e</key>
    <string>u267e.glif</string>
    <key>u267f</key>
    <string>u267f.glif</string>
    <key>u2695</key>
    <string>u2695.glif</string>
    <key>u269b</key>
    <string>u269b.glif</string>
    <key>u26a7</key>
    <string>u26a7.glif</string>
    <key>u26ce</key>
    <string>u26ce.glif</string>
    <key>u26d4</key>
    <string>u26d4.glif</string>
    <key>u2705</key>
    <string>u2705.glif</string>
    <key>u271d</key>
    <string>u271d.glif</string>
    <key>u2721</key>
    <string>u2721.glif</string>
    <key>u2733</key>
    <string>u2733.glif</string>
    <key>u2747</key>
    <string>u2747.glif</string>
    <key>u274e</key>
    <string>u274e.glif</string>
    <key>u27a1</key>
    <string>u27a1.glif</string>
    <key>u27bf</key>
    <string>u27bf.glif</string>
    <key>u2934</key>
    <string>u2934.glif</string>
    <key>u2935</key>
    <string>u2935.glif</string>
    <key>u2a_fe0f_20e3</key>
    <string>u2a_fe0f_20e3.glif</string>
    <key>u2b05</key>
    <string>u2b05.glif</string>
    <key>u2b06</key>
    <string>u2b06.glif</string>
    <key>u2b07</key>
    <string>u2b07.glif</string>
    <key>u30_fe0f_20e3</key>
    <string>u30_fe0f_20e3.glif</string>
    <key>u31_fe0f_20e3</key>
    <string>u31_fe0f_20e3.glif</string>
    <key>u3297</key>
    <string>u3297.glif</string>
    <key>u3299</key>
    <string>u3299.glif</string>
    <key>u32_fe0f_20e3</key>
    <string>u32_fe0f_20e3.glif</string>
    <key>u33_fe0f_20e3</key>
    <string>u33_fe0f_20e3.glif</string>
    <key>u34_fe0f_20e3</key>
    <string>u34_fe0f_20e3.glif</string>
    <key>u35_fe0f_20e3</key>
    <string>u35_fe0f_20e3.glif</string>
    <key>u36_fe0f_20e3</key>
    <string>u36_fe0f_20e3.glif</string>
    <key>u37_fe0f_20e3</key>
    <string>u37_fe0f_20e3.glif</string>
    <key>u38_fe0f_20e3</key>
    <string>u38_fe0f_20e3.glif</string>
    <key>u39_fe0f_20e3</key>
    <string>u39_fe0f_20e3.glif</string>
  </dict>
</plist>
