<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e8_1f1fe</key>
    <string>u1f1e8_1f1fe.glif</string>
    <key>u1f33c</key>
    <string>u1f33c.glif</string>
    <key>u1f366</key>
    <string>u1f366.glif</string>
    <key>u1f369</key>
    <string>u1f369.glif</string>
    <key>u1f379</key>
    <string>u1f379.glif</string>
    <key>u1f414</key>
    <string>u1f414.glif</string>
    <key>u1f420</key>
    <string>u1f420.glif</string>
    <key>u1f4d9</key>
    <string>u1f4d9.glif</string>
    <key>u1f688</key>
    <string>u1f688.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u1f960</key>
    <string>u1f960.glif</string>
    <key>u1f98a</key>
    <string>u1f98a.glif</string>
    <key>u1f992</key>
    <string>u1f992.glif</string>
    <key>u1f99c</key>
    <string>u1f99c.glif</string>
    <key>u1f9c0</key>
    <string>u1f9c0.glif</string>
    <key>u1f9c3</key>
    <string>u1f9c3.glif</string>
    <key>u1fa90</key>
    <string>u1fa90.glif</string>
    <key>u26f4</key>
    <string>u26f4.glif</string>
  </dict>
</plist>
