<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c4_1f3fc</key>
    <string>u1f3c4_1f3fc.glif</string>
    <key>u1f3c4_1f3fc_200d_2640_fe0f</key>
    <string>u1f3c4_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f3c4_1f3fc_200d_2642_fe0f</key>
    <string>u1f3c4_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f3cb_1f3fc</key>
    <string>u1f3cb_1f3fc.glif</string>
    <key>u1f3cb_1f3fc_200d_2642_fe0f</key>
    <string>u1f3cb_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f467_1f3fc</key>
    <string>u1f467_1f3fc.glif</string>
    <key>u1f468_1f3fc_200d_1f33e</key>
    <string>u1f468_1f3fc_200d_1f33e.glif</string>
    <key>u1f468_1f3fc_200d_1f373</key>
    <string>u1f468_1f3fc_200d_1f373.glif</string>
    <key>u1f468_1f3fc_200d_1f393</key>
    <string>u1f468_1f3fc_200d_1f393.glif</string>
    <key>u1f468_1f3fc_200d_1f3eb</key>
    <string>u1f468_1f3fc_200d_1f3eb.glif</string>
    <key>u1f468_1f3fc_200d_1f680</key>
    <string>u1f468_1f3fc_200d_1f680.glif</string>
    <key>u1f468_1f3fc_200d_2696_fe0f</key>
    <string>u1f468_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_2708_fe0f</key>
    <string>u1f468_1f3fc_200d_2708_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_1f33e</key>
    <string>u1f469_1f3fc_200d_1f33e.glif</string>
    <key>u1f469_1f3fc_200d_1f3ed</key>
    <string>u1f469_1f3fc_200d_1f3ed.glif</string>
    <key>u1f469_1f3fc_200d_1f4bb</key>
    <string>u1f469_1f3fc_200d_1f4bb.glif</string>
    <key>u1f469_1f3fc_200d_1f527</key>
    <string>u1f469_1f3fc_200d_1f527.glif</string>
    <key>u1f469_1f3fc_200d_1f52c</key>
    <string>u1f469_1f3fc_200d_1f52c.glif</string>
    <key>u1f469_1f3fc_200d_1f9bc</key>
    <string>u1f469_1f3fc_200d_1f9bc.glif</string>
    <key>u1f469_1f3fc_200d_1f9bd</key>
    <string>u1f469_1f3fc_200d_1f9bd.glif</string>
    <key>u1f469_1f3fc_200d_2696_fe0f</key>
    <string>u1f469_1f3fc_200d_2696_fe0f.glif</string>
    <key>u1f46e_1f3fc</key>
    <string>u1f46e_1f3fc.glif</string>
    <key>u1f46e_1f3fc_200d_2640_fe0f</key>
    <string>u1f46e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f473_1f3fc</key>
    <string>u1f473_1f3fc.glif</string>
    <key>u1f473_1f3fc_200d_2640_fe0f</key>
    <string>u1f473_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f477_1f3fc</key>
    <string>u1f477_1f3fc.glif</string>
    <key>u1f477_1f3fc_200d_2640_fe0f</key>
    <string>u1f477_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f481_1f3fc</key>
    <string>u1f481_1f3fc.glif</string>
    <key>u1f481_1f3fc_200d_2640_fe0f</key>
    <string>u1f481_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f482_1f3fc_200d_2642_fe0f</key>
    <string>u1f482_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f483_1f3fc</key>
    <string>u1f483_1f3fc.glif</string>
    <key>u1f486_1f3fc</key>
    <string>u1f486_1f3fc.glif</string>
    <key>u1f486_1f3fc_200d_2642_fe0f</key>
    <string>u1f486_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fc_200d_2642_fe0f</key>
    <string>u1f575_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f64b_1f3fc</key>
    <string>u1f64b_1f3fc.glif</string>
    <key>u1f64d_1f3fc</key>
    <string>u1f64d_1f3fc.glif</string>
    <key>u1f64e_1f3fc</key>
    <string>u1f64e_1f3fc.glif</string>
    <key>u1f6b6_1f3fc</key>
    <string>u1f6b6_1f3fc.glif</string>
    <key>u1f919_1f3fc</key>
    <string>u1f919_1f3fc.glif</string>
    <key>u1f91f_1f3fc</key>
    <string>u1f91f_1f3fc.glif</string>
    <key>u1f926_1f3fc_200d_2642_fe0f</key>
    <string>u1f926_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f931_1f3fc</key>
    <string>u1f931_1f3fc.glif</string>
    <key>u1f938_1f3fc_200d_2640_fe0f</key>
    <string>u1f938_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f939_1f3fc</key>
    <string>u1f939_1f3fc.glif</string>
    <key>u1f939_1f3fc_200d_2640_fe0f</key>
    <string>u1f939_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2640_fe0f</key>
    <string>u1f93e_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f93e_1f3fc_200d_2642_fe0f</key>
    <string>u1f93e_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9b8_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b8_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9b9_1f3fc</key>
    <string>u1f9b9_1f3fc.glif</string>
    <key>u1f9b9_1f3fc_200d_2640_fe0f</key>
    <string>u1f9b9_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3fc</key>
    <string>u1f9cd_1f3fc.glif</string>
    <key>u1f9cd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9cd_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9cf_1f3fc</key>
    <string>u1f9cf_1f3fc.glif</string>
    <key>u1f9cf_1f3fc_200d_2640_fe0f</key>
    <string>u1f9cf_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f393</key>
    <string>u1f9d1_1f3fc_200d_1f393.glif</string>
    <key>u1f9d1_1f3fc_200d_1f4bb</key>
    <string>u1f9d1_1f3fc_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3fc_200d_1f527</key>
    <string>u1f9d1_1f3fc_200d_1f527.glif</string>
    <key>u1f9d1_1f3fc_200d_1f52c</key>
    <string>u1f9d1_1f3fc_200d_1f52c.glif</string>
    <key>u1f9d1_1f3fc_200d_1f680</key>
    <string>u1f9d1_1f3fc_200d_1f680.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9bc</key>
    <string>u1f9d1_1f3fc_200d_1f9bc.glif</string>
    <key>u1f9d1_1f3fc_200d_1f9bd</key>
    <string>u1f9d1_1f3fc_200d_1f9bd.glif</string>
    <key>u1f9d1_1f3fc_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f9d6_1f3fc</key>
    <string>u1f9d6_1f3fc.glif</string>
    <key>u1f9d6_1f3fc_200d_2640_fe0f</key>
    <string>u1f9d6_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f9da_1f3fc</key>
    <string>u1f9da_1f3fc.glif</string>
    <key>u1f9db_1f3fc_200d_2642_fe0f</key>
    <string>u1f9db_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f9dd_1f3fc_200d_2640_fe0f</key>
    <string>u1f9dd_1f3fc_200d_2640_fe0f.glif</string>
  </dict>
</plist>
