<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f30b</key>
    <string>u1f30b.glif</string>
    <key>u1f3c3</key>
    <string>u1f3c3.glif</string>
    <key>u1f3cb_fe0f_200d_2640_fe0f</key>
    <string>u1f3cb_fe0f_200d_2640_fe0f.glif</string>
    <key>u1f3e4</key>
    <string>u1f3e4.glif</string>
    <key>u1f467</key>
    <string>u1f467.glif</string>
    <key>u1f468_200d_1f680</key>
    <string>u1f468_200d_1f680.glif</string>
    <key>u1f469_200d_1f33e</key>
    <string>u1f469_200d_1f33e.glif</string>
    <key>u1f469_200d_1f469_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f466_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f466_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f467</key>
    <string>u1f469_200d_1f469_200d_1f467.glif</string>
    <key>u1f469_200d_1f469_200d_1f467_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f467_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f467_200d_1f467</key>
    <string>u1f469_200d_1f469_200d_1f467_200d_1f467.glif</string>
    <key>u1f469_200d_1f527</key>
    <string>u1f469_200d_1f527.glif</string>
    <key>u1f46c</key>
    <string>u1f46c.glif</string>
    <key>u1f477_200d_2640_fe0f</key>
    <string>u1f477_200d_2640_fe0f.glif</string>
    <key>u1f574_fe0f_200d_2642_fe0f</key>
    <string>u1f574_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f68d</key>
    <string>u1f68d.glif</string>
    <key>u1f6cc</key>
    <string>u1f6cc.glif</string>
    <key>u1f6fa</key>
    <string>u1f6fa.glif</string>
    <key>u1f93e</key>
    <string>u1f93e.glif</string>
    <key>u1f9b8_200d_2640_fe0f</key>
    <string>u1f9b8_200d_2640_fe0f.glif</string>
    <key>u1f9c6</key>
    <string>u1f9c6.glif</string>
    <key>u1f9cd_200d_2640_fe0f</key>
    <string>u1f9cd_200d_2640_fe0f.glif</string>
    <key>u1f9da_200d_2642_fe0f</key>
    <string>u1f9da_200d_2642_fe0f.glif</string>
    <key>u1fa82</key>
    <string>u1fa82.glif</string>
    <key>u26f9</key>
    <string>u26f9.glif</string>
    <key>u26f9_fe0f_200d_2640_fe0f</key>
    <string>u26f9_fe0f_200d_2640_fe0f.glif</string>
  </dict>
</plist>
