<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_1f3ed</key>
    <string>u1f468_200d_1f3ed.glif</string>
    <key>u1f469_200d_1f373</key>
    <string>u1f469_200d_1f373.glif</string>
    <key>u1f469_200d_2708_fe0f</key>
    <string>u1f469_200d_2708_fe0f.glif</string>
    <key>u1f46f</key>
    <string>u1f46f.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2642_fe0f</key>
    <string>u1f477_200d_2642_fe0f.glif</string>
    <key>u1f481_200d_2642_fe0f</key>
    <string>u1f481_200d_2642_fe0f.glif</string>
    <key>u1f6b5_200d_2640_fe0f</key>
    <string>u1f6b5_200d_2640_fe0f.glif</string>
    <key>u1f9b8</key>
    <string>u1f9b8.glif</string>
    <key>u1f9b9_200d_2642_fe0f</key>
    <string>u1f9b9_200d_2642_fe0f.glif</string>
    <key>u1f9cd_200d_2642_fe0f</key>
    <string>u1f9cd_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3ed</key>
    <string>u1f9d1_200d_1f3ed.glif</string>
    <key>u1f9d7_200d_2640_fe0f</key>
    <string>u1f9d7_200d_2640_fe0f.glif</string>
    <key>u1f9d7_200d_2642_fe0f</key>
    <string>u1f9d7_200d_2642_fe0f.glif</string>
    <key>u1f9d8</key>
    <string>u1f9d8.glif</string>
    <key>u1f9d8_200d_2640_fe0f</key>
    <string>u1f9d8_200d_2640_fe0f.glif</string>
    <key>u1f9d8_200d_2642_fe0f</key>
    <string>u1f9d8_200d_2642_fe0f.glif</string>
    <key>u1f9d9_200d_2640_fe0f</key>
    <string>u1f9d9_200d_2640_fe0f.glif</string>
    <key>u1f9db</key>
    <string>u1f9db.glif</string>
    <key>u1f9dd_200d_2642_fe0f</key>
    <string>u1f9dd_200d_2642_fe0f.glif</string>
  </dict>
</plist>
