<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f5_1f1f2</key>
    <string>u1f1f5_1f1f2.glif</string>
    <key>u1f32c</key>
    <string>u1f32c.glif</string>
    <key>u1f50d</key>
    <string>u1f50d.glif</string>
    <key>u1f50e</key>
    <string>u1f50e.glif</string>
    <key>u1f69c</key>
    <string>u1f69c.glif</string>
  </dict>
</plist>
