<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f339</key>
    <string>u1f339.glif</string>
    <key>u1f33b</key>
    <string>u1f33b.glif</string>
    <key>u1f409</key>
    <string>u1f409.glif</string>
    <key>u1f40a</key>
    <string>u1f40a.glif</string>
    <key>u1f432</key>
    <string>u1f432.glif</string>
    <key>u1f469_1f3fb_200d_1f33e</key>
    <string>u1f469_1f3fb_200d_1f33e.glif</string>
    <key>u1f490</key>
    <string>u1f490.glif</string>
    <key>u1f4d7</key>
    <string>u1f4d7.glif</string>
    <key>u1f93c_200d_2642_fe0f</key>
    <string>u1f93c_200d_2642_fe0f.glif</string>
    <key>u1f951</key>
    <string>u1f951.glif</string>
    <key>u1f98e</key>
    <string>u1f98e.glif</string>
    <key>u1f995</key>
    <string>u1f995.glif</string>
    <key>u267b</key>
    <string>u267b.glif</string>
  </dict>
</plist>
