<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3cc</key>
    <string>u1f3cc.glif</string>
    <key>u1f469_200d_1f3eb</key>
    <string>u1f469_200d_1f3eb.glif</string>
    <key>u1f469_200d_1f692</key>
    <string>u1f469_200d_1f692.glif</string>
    <key>u1f481</key>
    <string>u1f481.glif</string>
    <key>u1f481_200d_2640_fe0f</key>
    <string>u1f481_200d_2640_fe0f.glif</string>
    <key>u1f9d6</key>
    <string>u1f9d6.glif</string>
    <key>u1f9d6_200d_2640_fe0f</key>
    <string>u1f9d6_200d_2640_fe0f.glif</string>
    <key>u1f9d6_200d_2642_fe0f</key>
    <string>u1f9d6_200d_2642_fe0f.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9db_200d_2640_fe0f</key>
    <string>u1f9db_200d_2640_fe0f.glif</string>
    <key>u1f9dc</key>
    <string>u1f9dc.glif</string>
    <key>u1f9dc_200d_2640_fe0f</key>
    <string>u1f9dc_200d_2640_fe0f.glif</string>
  </dict>
</plist>
