<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ee_1f1f7</key>
    <string>u1f1ee_1f1f7.glif</string>
    <key>u1f33a</key>
    <string>u1f33a.glif</string>
    <key>u1f35f</key>
    <string>u1f35f.glif</string>
    <key>u1f38a</key>
    <string>u1f38a.glif</string>
    <key>u1f6e9</key>
    <string>u1f6e9.glif</string>
    <key>u1f6f5</key>
    <string>u1f6f5.glif</string>
    <key>u1f961</key>
    <string>u1f961.glif</string>
    <key>u1f97e</key>
    <string>u1f97e.glif</string>
    <key>u1f991</key>
    <string>u1f991.glif</string>
    <key>u1f99e</key>
    <string>u1f99e.glif</string>
  </dict>
</plist>
