<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f469_1f3ff_200d_1f3eb</key>
    <string>u1f469_1f3ff_200d_1f3eb.glif</string>
    <key>u1f469_1f3ff_200d_1f4bc</key>
    <string>u1f469_1f3ff_200d_1f4bc.glif</string>
    <key>u1f469_1f3ff_200d_1f680</key>
    <string>u1f469_1f3ff_200d_1f680.glif</string>
    <key>u1f469_1f3ff_200d_1f692</key>
    <string>u1f469_1f3ff_200d_1f692.glif</string>
    <key>u1f935_1f3ff_200d_2640_fe0f</key>
    <string>u1f935_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9b8_1f3ff_200d_2640_fe0f</key>
    <string>u1f9b8_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9cd_1f3ff_200d_2640_fe0f</key>
    <string>u1f9cd_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3a4</key>
    <string>u1f9d1_1f3ff_200d_1f3a4.glif</string>
    <key>u1f9d1_1f3ff_200d_1f4bc</key>
    <string>u1f9d1_1f3ff_200d_1f4bc.glif</string>
    <key>u1f9d6_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d6_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9d8_1f3ff_200d_2640_fe0f</key>
    <string>u1f9d8_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f9da_1f3ff_200d_2640_fe0f</key>
    <string>u1f9da_1f3ff_200d_2640_fe0f.glif</string>
  </dict>
</plist>
