<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e9_1f1f2</key>
    <string>u1f1e9_1f1f2.glif</string>
    <key>u1f1ef_1f1ea</key>
    <string>u1f1ef_1f1ea.glif</string>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f3f9</key>
    <string>u1f3f9.glif</string>
    <key>u1f451</key>
    <string>u1f451.glif</string>
    <key>u1f468_200d_2764_fe0f_200d_1f468</key>
    <string>u1f468_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469.glif</string>
    <key>u1f489</key>
    <string>u1f489.glif</string>
    <key>u1f492</key>
    <string>u1f492.glif</string>
    <key>u1f4ec</key>
    <string>u1f4ec.glif</string>
    <key>u1f516</key>
    <string>u1f516.glif</string>
    <key>u1f68f</key>
    <string>u1f68f.glif</string>
    <key>u1f6f4</key>
    <string>u1f6f4.glif</string>
    <key>u1f957</key>
    <string>u1f957.glif</string>
    <key>u1f959</key>
    <string>u1f959.glif</string>
    <key>u1f9bc</key>
    <string>u1f9bc.glif</string>
    <key>u1f9bd</key>
    <string>u1f9bd.glif</string>
    <key>u1f9e8</key>
    <string>u1f9e8.glif</string>
  </dict>
</plist>
