<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f354</key>
    <string>u1f354.glif</string>
    <key>u1f372</key>
    <string>u1f372.glif</string>
    <key>u1f38d</key>
    <string>u1f38d.glif</string>
    <key>u1f434</key>
    <string>u1f434.glif</string>
    <key>u1fa91</key>
    <string>u1fa91.glif</string>
    <key>u2615</key>
    <string>u2615.glif</string>
    <key>u26b1</key>
    <string>u26b1.glif</string>
  </dict>
</plist>
