<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f324</key>
    <string>u1f324.glif</string>
    <key>u1f325</key>
    <string>u1f325.glif</string>
    <key>u1f326</key>
    <string>u1f326.glif</string>
    <key>u1f32f</key>
    <string>u1f32f.glif</string>
    <key>u1f33b</key>
    <string>u1f33b.glif</string>
    <key>u1f34d</key>
    <string>u1f34d.glif</string>
    <key>u1f366</key>
    <string>u1f366.glif</string>
    <key>u1f37b</key>
    <string>u1f37b.glif</string>
    <key>u1f38a</key>
    <string>u1f38a.glif</string>
    <key>u1f3f5</key>
    <string>u1f3f5.glif</string>
    <key>u1f424</key>
    <string>u1f424.glif</string>
    <key>u1f467</key>
    <string>u1f467.glif</string>
    <key>u1f468_200d_1f469_200d_1f466</key>
    <string>u1f468_200d_1f469_200d_1f466.glif</string>
    <key>u1f468_200d_1f469_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f469_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f469_200d_1f467</key>
    <string>u1f468_200d_1f469_200d_1f467.glif</string>
    <key>u1f468_200d_1f469_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f469_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f469_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f469_200d_1f467_200d_1f467.glif</string>
    <key>u1f468_200d_2764_fe0f_200d_1f48b_200d_1f468</key>
    <string>u1f468_200d_2764_fe0f_200d_1f48b_200d_1f468.glif</string>
    <key>u1f469_200d_1f466</key>
    <string>u1f469_200d_1f466.glif</string>
    <key>u1f469_200d_1f466_200d_1f466</key>
    <string>u1f469_200d_1f466_200d_1f466.glif</string>
    <key>u1f469_200d_1f467</key>
    <string>u1f469_200d_1f467.glif</string>
    <key>u1f469_200d_1f467_200d_1f466</key>
    <string>u1f469_200d_1f467_200d_1f466.glif</string>
    <key>u1f469_200d_1f467_200d_1f467</key>
    <string>u1f469_200d_1f467_200d_1f467.glif</string>
    <key>u1f469_200d_1f469_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f466_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f466_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f467</key>
    <string>u1f469_200d_1f469_200d_1f467.glif</string>
    <key>u1f469_200d_1f469_200d_1f467_200d_1f466</key>
    <string>u1f469_200d_1f469_200d_1f467_200d_1f466.glif</string>
    <key>u1f469_200d_1f469_200d_1f467_200d_1f467</key>
    <string>u1f469_200d_1f469_200d_1f467_200d_1f467.glif</string>
    <key>u1f469_200d_1f4bb</key>
    <string>u1f469_200d_1f4bb.glif</string>
    <key>u1f469_200d_1f52c</key>
    <string>u1f469_200d_1f52c.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468.glif</string>
    <key>u1f46e_200d_2640_fe0f</key>
    <string>u1f46e_200d_2640_fe0f.glif</string>
    <key>u1f470</key>
    <string>u1f470.glif</string>
    <key>u1f473</key>
    <string>u1f473.glif</string>
    <key>u1f477_200d_2640_fe0f</key>
    <string>u1f477_200d_2640_fe0f.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f4ab</key>
    <string>u1f4ab.glif</string>
    <key>u1f4c0</key>
    <string>u1f4c0.glif</string>
    <key>u1f505</key>
    <string>u1f505.glif</string>
    <key>u1f50f</key>
    <string>u1f50f.glif</string>
    <key>u1f510</key>
    <string>u1f510.glif</string>
    <key>u1f512</key>
    <string>u1f512.glif</string>
    <key>u1f513</key>
    <string>u1f513.glif</string>
    <key>u1f514</key>
    <string>u1f514.glif</string>
    <key>u1f515</key>
    <string>u1f515.glif</string>
    <key>u1f52b</key>
    <string>u1f52b.glif</string>
    <key>u1f645</key>
    <string>u1f645.glif</string>
    <key>u1f645_200d_2642_fe0f</key>
    <string>u1f645_200d_2642_fe0f.glif</string>
    <key>u1f646_200d_2642_fe0f</key>
    <string>u1f646_200d_2642_fe0f.glif</string>
    <key>u1f647</key>
    <string>u1f647.glif</string>
    <key>u1f680</key>
    <string>u1f680.glif</string>
    <key>u1f6aa</key>
    <string>u1f6aa.glif</string>
    <key>u1f6b4_200d_2642_fe0f</key>
    <string>u1f6b4_200d_2642_fe0f.glif</string>
    <key>u1f6c0</key>
    <string>u1f6c0.glif</string>
    <key>u1f6ce</key>
    <string>u1f6ce.glif</string>
    <key>u1f916</key>
    <string>u1f916.glif</string>
    <key>u1f926</key>
    <string>u1f926.glif</string>
    <key>u1f938_200d_2640_fe0f</key>
    <string>u1f938_200d_2640_fe0f.glif</string>
    <key>u1f94f</key>
    <string>u1f94f.glif</string>
    <key>u1f96a</key>
    <string>u1f96a.glif</string>
    <key>u1f989</key>
    <string>u1f989.glif</string>
    <key>u1f9b1</key>
    <string>u1f9b1.glif</string>
    <key>u1f9cf</key>
    <string>u1f9cf.glif</string>
    <key>u1f9cf_200d_2640_fe0f</key>
    <string>u1f9cf_200d_2640_fe0f.glif</string>
    <key>u1f9d1_200d_1f9b1</key>
    <string>u1f9d1_200d_1f9b1.glif</string>
    <key>u231b</key>
    <string>u231b.glif</string>
    <key>u23f0</key>
    <string>u23f0.glif</string>
    <key>u23f3</key>
    <string>u23f3.glif</string>
    <key>u2600</key>
    <string>u2600.glif</string>
    <key>u26c5</key>
    <string>u26c5.glif</string>
    <key>u26fd</key>
    <string>u26fd.glif</string>
  </dict>
</plist>
