<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f344</key>
    <string>u1f344.glif</string>
    <key>u1f374</key>
    <string>u1f374.glif</string>
    <key>u1f390</key>
    <string>u1f390.glif</string>
    <key>u1f3cd</key>
    <string>u1f3cd.glif</string>
    <key>u1f407</key>
    <string>u1f407.glif</string>
    <key>u1f418</key>
    <string>u1f418.glif</string>
    <key>u1f423</key>
    <string>u1f423.glif</string>
    <key>u1f428</key>
    <string>u1f428.glif</string>
    <key>u1f429</key>
    <string>u1f429.glif</string>
    <key>u1f42d</key>
    <string>u1f42d.glif</string>
    <key>u1f42e</key>
    <string>u1f42e.glif</string>
    <key>u1f430</key>
    <string>u1f430.glif</string>
    <key>u1f441</key>
    <string>u1f441.glif</string>
    <key>u1f4ce</key>
    <string>u1f4ce.glif</string>
    <key>u1f4e1</key>
    <string>u1f4e1.glif</string>
    <key>u1f4f0</key>
    <string>u1f4f0.glif</string>
    <key>u1f550</key>
    <string>u1f550.glif</string>
    <key>u1f551</key>
    <string>u1f551.glif</string>
    <key>u1f552</key>
    <string>u1f552.glif</string>
    <key>u1f553</key>
    <string>u1f553.glif</string>
    <key>u1f554</key>
    <string>u1f554.glif</string>
    <key>u1f555</key>
    <string>u1f555.glif</string>
    <key>u1f556</key>
    <string>u1f556.glif</string>
    <key>u1f557</key>
    <string>u1f557.glif</string>
    <key>u1f558</key>
    <string>u1f558.glif</string>
    <key>u1f559</key>
    <string>u1f559.glif</string>
    <key>u1f55a</key>
    <string>u1f55a.glif</string>
    <key>u1f55b</key>
    <string>u1f55b.glif</string>
    <key>u1f55c</key>
    <string>u1f55c.glif</string>
    <key>u1f55d</key>
    <string>u1f55d.glif</string>
    <key>u1f55e</key>
    <string>u1f55e.glif</string>
    <key>u1f55f</key>
    <string>u1f55f.glif</string>
    <key>u1f560</key>
    <string>u1f560.glif</string>
    <key>u1f561</key>
    <string>u1f561.glif</string>
    <key>u1f562</key>
    <string>u1f562.glif</string>
    <key>u1f563</key>
    <string>u1f563.glif</string>
    <key>u1f564</key>
    <string>u1f564.glif</string>
    <key>u1f565</key>
    <string>u1f565.glif</string>
    <key>u1f566</key>
    <string>u1f566.glif</string>
    <key>u1f567</key>
    <string>u1f567.glif</string>
    <key>u1f579</key>
    <string>u1f579.glif</string>
    <key>u1f587</key>
    <string>u1f587.glif</string>
    <key>u1f58b</key>
    <string>u1f58b.glif</string>
    <key>u1f5b1</key>
    <string>u1f5b1.glif</string>
    <key>u1f5de</key>
    <string>u1f5de.glif</string>
    <key>u1f69b</key>
    <string>u1f69b.glif</string>
    <key>u1f6c1</key>
    <string>u1f6c1.glif</string>
    <key>u1f6f0</key>
    <string>u1f6f0.glif</string>
    <key>u1f6fa</key>
    <string>u1f6fa.glif</string>
    <key>u1f944</key>
    <string>u1f944.glif</string>
    <key>u1f96b</key>
    <string>u1f96b.glif</string>
    <key>u1f99b</key>
    <string>u1f99b.glif</string>
    <key>u1f99d</key>
    <string>u1f99d.glif</string>
    <key>u1f9c4</key>
    <string>u1f9c4.glif</string>
    <key>u1f9c8</key>
    <string>u1f9c8.glif</string>
    <key>u1f9eb</key>
    <string>u1f9eb.glif</string>
    <key>u1f9f7</key>
    <string>u1f9f7.glif</string>
    <key>u2328</key>
    <string>u2328.glif</string>
    <key>u2615</key>
    <string>u2615.glif</string>
    <key>u26f2</key>
    <string>u26f2.glif</string>
    <key>u26f8</key>
    <string>u26f8.glif</string>
    <key>u26fd</key>
    <string>u26fd.glif</string>
    <key>u2712</key>
    <string>u2712.glif</string>
    <key>ue50a</key>
    <string>ue50a.glif</string>
  </dict>
</plist>
