<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f192</key>
    <string>u1f192.glif</string>
    <key>u1f193</key>
    <string>u1f193.glif</string>
    <key>u1f195</key>
    <string>u1f195.glif</string>
    <key>u1f196</key>
    <string>u1f196.glif</string>
    <key>u1f197</key>
    <string>u1f197.glif</string>
    <key>u1f199</key>
    <string>u1f199.glif</string>
    <key>u1f1e6</key>
    <string>u1f1e6.glif</string>
    <key>u1f1e7</key>
    <string>u1f1e7.glif</string>
    <key>u1f1e8</key>
    <string>u1f1e8.glif</string>
    <key>u1f1e9</key>
    <string>u1f1e9.glif</string>
    <key>u1f1ea</key>
    <string>u1f1ea.glif</string>
    <key>u1f1eb</key>
    <string>u1f1eb.glif</string>
    <key>u1f1ec</key>
    <string>u1f1ec.glif</string>
    <key>u1f1ed</key>
    <string>u1f1ed.glif</string>
    <key>u1f1ee</key>
    <string>u1f1ee.glif</string>
    <key>u1f1ef</key>
    <string>u1f1ef.glif</string>
    <key>u1f1f0</key>
    <string>u1f1f0.glif</string>
    <key>u1f1f1</key>
    <string>u1f1f1.glif</string>
    <key>u1f1f2</key>
    <string>u1f1f2.glif</string>
    <key>u1f1f3</key>
    <string>u1f1f3.glif</string>
    <key>u1f1f4</key>
    <string>u1f1f4.glif</string>
    <key>u1f1f5</key>
    <string>u1f1f5.glif</string>
    <key>u1f1f6</key>
    <string>u1f1f6.glif</string>
    <key>u1f1f7</key>
    <string>u1f1f7.glif</string>
    <key>u1f1f8</key>
    <string>u1f1f8.glif</string>
    <key>u1f1f9</key>
    <string>u1f1f9.glif</string>
    <key>u1f1fa</key>
    <string>u1f1fa.glif</string>
    <key>u1f1fb</key>
    <string>u1f1fb.glif</string>
    <key>u1f1fc</key>
    <string>u1f1fc.glif</string>
    <key>u1f1fd</key>
    <string>u1f1fd.glif</string>
    <key>u1f1fe</key>
    <string>u1f1fe.glif</string>
    <key>u1f1ff</key>
    <string>u1f1ff.glif</string>
    <key>u1f201</key>
    <string>u1f201.glif</string>
    <key>u1f310</key>
    <string>u1f310.glif</string>
    <key>u1f3a6</key>
    <string>u1f3a6.glif</string>
    <key>u1f3c9</key>
    <string>u1f3c9.glif</string>
    <key>u1f3d6</key>
    <string>u1f3d6.glif</string>
    <key>u1f3dd</key>
    <string>u1f3dd.glif</string>
    <key>u1f3e7</key>
    <string>u1f3e7.glif</string>
    <key>u1f40b</key>
    <string>u1f40b.glif</string>
    <key>u1f41f</key>
    <string>u1f41f.glif</string>
    <key>u1f433</key>
    <string>u1f433.glif</string>
    <key>u1f455</key>
    <string>u1f455.glif</string>
    <key>u1f456</key>
    <string>u1f456.glif</string>
    <key>u1f458</key>
    <string>u1f458.glif</string>
    <key>u1f468_1f3fb_200d_1f3ed</key>
    <string>u1f468_1f3fb_200d_1f3ed.glif</string>
    <key>u1f468_1f3fb_200d_2695_fe0f</key>
    <string>u1f468_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fc_200d_1f3ed</key>
    <string>u1f468_1f3fc_200d_1f3ed.glif</string>
    <key>u1f468_1f3fc_200d_2695_fe0f</key>
    <string>u1f468_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fd_200d_1f3ed</key>
    <string>u1f468_1f3fd_200d_1f3ed.glif</string>
    <key>u1f468_1f3fd_200d_2695_fe0f</key>
    <string>u1f468_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3fe_200d_1f3ed</key>
    <string>u1f468_1f3fe_200d_1f3ed.glif</string>
    <key>u1f468_1f3fe_200d_2695_fe0f</key>
    <string>u1f468_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f468_1f3ff_200d_1f3ed</key>
    <string>u1f468_1f3ff_200d_1f3ed.glif</string>
    <key>u1f468_1f3ff_200d_2695_fe0f</key>
    <string>u1f468_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f468_200d_1f3ed</key>
    <string>u1f468_200d_1f3ed.glif</string>
    <key>u1f468_200d_2695_fe0f</key>
    <string>u1f468_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fb_200d_1f3ed</key>
    <string>u1f469_1f3fb_200d_1f3ed.glif</string>
    <key>u1f469_1f3fb_200d_2695_fe0f</key>
    <string>u1f469_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fc_200d_1f3ed</key>
    <string>u1f469_1f3fc_200d_1f3ed.glif</string>
    <key>u1f469_1f3fc_200d_2695_fe0f</key>
    <string>u1f469_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fd_200d_1f3ed</key>
    <string>u1f469_1f3fd_200d_1f3ed.glif</string>
    <key>u1f469_1f3fd_200d_2695_fe0f</key>
    <string>u1f469_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fe_200d_1f3ed</key>
    <string>u1f469_1f3fe_200d_1f3ed.glif</string>
    <key>u1f469_1f3fe_200d_2695_fe0f</key>
    <string>u1f469_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3ff_200d_1f3ed</key>
    <string>u1f469_1f3ff_200d_1f3ed.glif</string>
    <key>u1f469_1f3ff_200d_2695_fe0f</key>
    <string>u1f469_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f469_200d_1f3ed</key>
    <string>u1f469_200d_1f3ed.glif</string>
    <key>u1f469_200d_2695_fe0f</key>
    <string>u1f469_200d_2695_fe0f.glif</string>
    <key>u1f4e3</key>
    <string>u1f4e3.glif</string>
    <key>u1f4f6</key>
    <string>u1f4f6.glif</string>
    <key>u1f500</key>
    <string>u1f500.glif</string>
    <key>u1f501</key>
    <string>u1f501.glif</string>
    <key>u1f502</key>
    <string>u1f502.glif</string>
    <key>u1f503</key>
    <string>u1f503.glif</string>
    <key>u1f504</key>
    <string>u1f504.glif</string>
    <key>u1f51f</key>
    <string>u1f51f.glif</string>
    <key>u1f520</key>
    <string>u1f520.glif</string>
    <key>u1f521</key>
    <string>u1f521.glif</string>
    <key>u1f522</key>
    <string>u1f522.glif</string>
    <key>u1f523</key>
    <string>u1f523.glif</string>
    <key>u1f524</key>
    <string>u1f524.glif</string>
    <key>u1f53c</key>
    <string>u1f53c.glif</string>
    <key>u1f53d</key>
    <string>u1f53d.glif</string>
    <key>u1f58c</key>
    <string>u1f58c.glif</string>
    <key>u1f6ae</key>
    <string>u1f6ae.glif</string>
    <key>u1f6bb</key>
    <string>u1f6bb.glif</string>
    <key>u1f6e2</key>
    <string>u1f6e2.glif</string>
    <key>u1f9d1_1f3fb_200d_1f3ed</key>
    <string>u1f9d1_1f3fb_200d_1f3ed.glif</string>
    <key>u1f9d1_1f3fb_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fc_200d_1f3ed</key>
    <string>u1f9d1_1f3fc_200d_1f3ed.glif</string>
    <key>u1f9d1_1f3fc_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fc_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fd_200d_1f3ed</key>
    <string>u1f9d1_1f3fd_200d_1f3ed.glif</string>
    <key>u1f9d1_1f3fd_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fd_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3fe_200d_1f3ed</key>
    <string>u1f9d1_1f3fe_200d_1f3ed.glif</string>
    <key>u1f9d1_1f3fe_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fe_200d_2695_fe0f.glif</string>
    <key>u1f9d1_1f3ff_200d_1f3ed</key>
    <string>u1f9d1_1f3ff_200d_1f3ed.glif</string>
    <key>u1f9d1_1f3ff_200d_2695_fe0f</key>
    <string>u1f9d1_1f3ff_200d_2695_fe0f.glif</string>
    <key>u1f9d1_200d_1f3ed</key>
    <string>u1f9d1_200d_1f3ed.glif</string>
    <key>u1f9d1_200d_2695_fe0f</key>
    <string>u1f9d1_200d_2695_fe0f.glif</string>
    <key>u1f9df_200d_2640_fe0f</key>
    <string>u1f9df_200d_2640_fe0f.glif</string>
    <key>u2139</key>
    <string>u2139.glif</string>
    <key>u2194</key>
    <string>u2194.glif</string>
    <key>u2195</key>
    <string>u2195.glif</string>
    <key>u2196</key>
    <string>u2196.glif</string>
    <key>u2197</key>
    <string>u2197.glif</string>
    <key>u2198</key>
    <string>u2198.glif</string>
    <key>u2199</key>
    <string>u2199.glif</string>
    <key>u21a9</key>
    <string>u21a9.glif</string>
    <key>u21aa</key>
    <string>u21aa.glif</string>
    <key>u23_fe0f_20e3</key>
    <string>u23_fe0f_20e3.glif</string>
    <key>u23cf</key>
    <string>u23cf.glif</string>
    <key>u23e9</key>
    <string>u23e9.glif</string>
    <key>u23ea</key>
    <string>u23ea.glif</string>
    <key>u23eb</key>
    <string>u23eb.glif</string>
    <key>u23ec</key>
    <string>u23ec.glif</string>
    <key>u23ed</key>
    <string>u23ed.glif</string>
    <key>u23ee</key>
    <string>u23ee.glif</string>
    <key>u23ef</key>
    <string>u23ef.glif</string>
    <key>u23f8</key>
    <string>u23f8.glif</string>
    <key>u23f9</key>
    <string>u23f9.glif</string>
    <key>u23fa</key>
    <string>u23fa.glif</string>
    <key>u24c2</key>
    <string>u24c2.glif</string>
    <key>u25b6</key>
    <string>u25b6.glif</string>
    <key>u25c0</key>
    <string>u25c0.glif</string>
    <key>u27a1</key>
    <string>u27a1.glif</string>
    <key>u2934</key>
    <string>u2934.glif</string>
    <key>u2935</key>
    <string>u2935.glif</string>
    <key>u2a_fe0f_20e3</key>
    <string>u2a_fe0f_20e3.glif</string>
    <key>u2b05</key>
    <string>u2b05.glif</string>
    <key>u2b06</key>
    <string>u2b06.glif</string>
    <key>u2b07</key>
    <string>u2b07.glif</string>
    <key>u30_fe0f_20e3</key>
    <string>u30_fe0f_20e3.glif</string>
    <key>u31_fe0f_20e3</key>
    <string>u31_fe0f_20e3.glif</string>
    <key>u32_fe0f_20e3</key>
    <string>u32_fe0f_20e3.glif</string>
    <key>u33_fe0f_20e3</key>
    <string>u33_fe0f_20e3.glif</string>
    <key>u34_fe0f_20e3</key>
    <string>u34_fe0f_20e3.glif</string>
    <key>u35_fe0f_20e3</key>
    <string>u35_fe0f_20e3.glif</string>
    <key>u36_fe0f_20e3</key>
    <string>u36_fe0f_20e3.glif</string>
    <key>u37_fe0f_20e3</key>
    <string>u37_fe0f_20e3.glif</string>
    <key>u38_fe0f_20e3</key>
    <string>u38_fe0f_20e3.glif</string>
    <key>u39_fe0f_20e3</key>
    <string>u39_fe0f_20e3.glif</string>
  </dict>
</plist>
