<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f38b</key>
    <string>u1f38b.glif</string>
    <key>u1f4f5</key>
    <string>u1f4f5.glif</string>
    <key>u1f51e</key>
    <string>u1f51e.glif</string>
    <key>u1f54b</key>
    <string>u1f54b.glif</string>
    <key>u1f6a3</key>
    <string>u1f6a3.glif</string>
    <key>u1f6a3_1f3fb</key>
    <string>u1f6a3_1f3fb.glif</string>
    <key>u1f6a3_1f3fb_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fb_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3fc</key>
    <string>u1f6a3_1f3fc.glif</string>
    <key>u1f6a3_1f3fc_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fc_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fc_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3fd</key>
    <string>u1f6a3_1f3fd.glif</string>
    <key>u1f6a3_1f3fd_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fd_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fd_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3fe</key>
    <string>u1f6a3_1f3fe.glif</string>
    <key>u1f6a3_1f3fe_200d_2640_fe0f</key>
    <string>u1f6a3_1f3fe_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3fe_200d_2642_fe0f</key>
    <string>u1f6a3_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f6a3_1f3ff</key>
    <string>u1f6a3_1f3ff.glif</string>
    <key>u1f6a3_1f3ff_200d_2640_fe0f</key>
    <string>u1f6a3_1f3ff_200d_2640_fe0f.glif</string>
    <key>u1f6a3_1f3ff_200d_2642_fe0f</key>
    <string>u1f6a3_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f6a3_200d_2640_fe0f</key>
    <string>u1f6a3_200d_2640_fe0f.glif</string>
    <key>u1f6a3_200d_2642_fe0f</key>
    <string>u1f6a3_200d_2642_fe0f.glif</string>
    <key>u1f6ad</key>
    <string>u1f6ad.glif</string>
    <key>u1f6af</key>
    <string>u1f6af.glif</string>
    <key>u1f6b1</key>
    <string>u1f6b1.glif</string>
    <key>u1f6b3</key>
    <string>u1f6b3.glif</string>
    <key>u1f6b7</key>
    <string>u1f6b7.glif</string>
  </dict>
</plist>
