<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3e9</key>
    <string>u1f3e9.glif</string>
    <key>u1f4d8</key>
    <string>u1f4d8.glif</string>
    <key>u1f4f8</key>
    <string>u1f4f8.glif</string>
    <key>u1f502</key>
    <string>u1f502.glif</string>
    <key>u1f685</key>
    <string>u1f685.glif</string>
    <key>u1f698</key>
    <string>u1f698.glif</string>
    <key>u1f6e5</key>
    <string>u1f6e5.glif</string>
    <key>u1f6f9</key>
    <string>u1f6f9.glif</string>
    <key>u1f9e5</key>
    <string>u1f9e5.glif</string>
    <key>u1fa81</key>
    <string>u1fa81.glif</string>
    <key>u26f2</key>
    <string>u26f2.glif</string>
  </dict>
</plist>
