<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f334</key>
    <string>u1f334.glif</string>
    <key>u1f3d3</key>
    <string>u1f3d3.glif</string>
    <key>u1f3da</key>
    <string>u1f3da.glif</string>
    <key>u1f3ef</key>
    <string>u1f3ef.glif</string>
    <key>u1f3f7</key>
    <string>u1f3f7.glif</string>
    <key>u1f3f9</key>
    <string>u1f3f9.glif</string>
    <key>u1f421</key>
    <string>u1f421.glif</string>
    <key>u1f43f</key>
    <string>u1f43f.glif</string>
    <key>u1f96f</key>
    <string>u1f96f.glif</string>
    <key>u1f998</key>
    <string>u1f998.glif</string>
    <key>u1f999</key>
    <string>u1f999.glif</string>
  </dict>
</plist>
