<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f3c3_200d_2642_fe0f</key>
    <string>u1f3c3_200d_2642_fe0f.glif</string>
    <key>u1f3cb</key>
    <string>u1f3cb.glif</string>
    <key>u1f3cb_fe0f_200d_2642_fe0f</key>
    <string>u1f3cb_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f468_200d_1f393</key>
    <string>u1f468_200d_1f393.glif</string>
    <key>u1f468_200d_1f3eb</key>
    <string>u1f468_200d_1f3eb.glif</string>
    <key>u1f468_200d_1f680</key>
    <string>u1f468_200d_1f680.glif</string>
    <key>u1f469_200d_1f33e</key>
    <string>u1f469_200d_1f33e.glif</string>
    <key>u1f469_200d_1f3eb</key>
    <string>u1f469_200d_1f3eb.glif</string>
    <key>u1f469_200d_1f3ed</key>
    <string>u1f469_200d_1f3ed.glif</string>
    <key>u1f469_200d_1f527</key>
    <string>u1f469_200d_1f527.glif</string>
    <key>u1f469_200d_1f692</key>
    <string>u1f469_200d_1f692.glif</string>
    <key>u1f46e_200d_2640_fe0f</key>
    <string>u1f46e_200d_2640_fe0f.glif</string>
    <key>u1f46f</key>
    <string>u1f46f.glif</string>
    <key>u1f46f_200d_2640_fe0f</key>
    <string>u1f46f_200d_2640_fe0f.glif</string>
    <key>u1f46f_200d_2642_fe0f</key>
    <string>u1f46f_200d_2642_fe0f.glif</string>
    <key>u1f477_200d_2640_fe0f</key>
    <string>u1f477_200d_2640_fe0f.glif</string>
    <key>u1f483</key>
    <string>u1f483.glif</string>
    <key>u1f486_200d_2640_fe0f</key>
    <string>u1f486_200d_2640_fe0f.glif</string>
    <key>u1f574</key>
    <string>u1f574.glif</string>
    <key>u1f574_fe0f_200d_2642_fe0f</key>
    <string>u1f574_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f57a</key>
    <string>u1f57a.glif</string>
    <key>u1f645</key>
    <string>u1f645.glif</string>
    <key>u1f646_200d_2640_fe0f</key>
    <string>u1f646_200d_2640_fe0f.glif</string>
    <key>u1f6a3</key>
    <string>u1f6a3.glif</string>
    <key>u1f919</key>
    <string>u1f919.glif</string>
    <key>u1f937_200d_2642_fe0f</key>
    <string>u1f937_200d_2642_fe0f.glif</string>
    <key>u1f93e</key>
    <string>u1f93e.glif</string>
    <key>u1f9b8</key>
    <string>u1f9b8.glif</string>
    <key>u1f9b8_200d_2642_fe0f</key>
    <string>u1f9b8_200d_2642_fe0f.glif</string>
    <key>u1f9b9</key>
    <string>u1f9b9.glif</string>
    <key>u1f9b9_200d_2640_fe0f</key>
    <string>u1f9b9_200d_2640_fe0f.glif</string>
    <key>u1f9cd</key>
    <string>u1f9cd.glif</string>
    <key>u1f9cd_200d_2642_fe0f</key>
    <string>u1f9cd_200d_2642_fe0f.glif</string>
    <key>u1f9d1_200d_1f3ed</key>
    <string>u1f9d1_200d_1f3ed.glif</string>
    <key>u1f9d6</key>
    <string>u1f9d6.glif</string>
    <key>u1f9d6_200d_2640_fe0f</key>
    <string>u1f9d6_200d_2640_fe0f.glif</string>
    <key>u1f9d6_200d_2642_fe0f</key>
    <string>u1f9d6_200d_2642_fe0f.glif</string>
    <key>u1f9db</key>
    <string>u1f9db.glif</string>
    <key>u1f9db_200d_2640_fe0f</key>
    <string>u1f9db_200d_2640_fe0f.glif</string>
    <key>u1f9db_200d_2642_fe0f</key>
    <string>u1f9db_200d_2642_fe0f.glif</string>
    <key>u1f9dc</key>
    <string>u1f9dc.glif</string>
    <key>u1f9dc_200d_2640_fe0f</key>
    <string>u1f9dc_200d_2640_fe0f.glif</string>
    <key>u1f9dd_200d_2640_fe0f</key>
    <string>u1f9dd_200d_2640_fe0f.glif</string>
    <key>u26f9_fe0f_200d_2642_fe0f</key>
    <string>u26f9_fe0f_200d_2642_fe0f.glif</string>
  </dict>
</plist>
