<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f385_1f3fb</key>
    <string>u1f385_1f3fb.glif</string>
    <key>u1f3cb_1f3fb_200d_2640_fe0f</key>
    <string>u1f3cb_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f44b_1f3fb</key>
    <string>u1f44b_1f3fb.glif</string>
    <key>u1f44c_1f3fb</key>
    <string>u1f44c_1f3fb.glif</string>
    <key>u1f450_1f3fb</key>
    <string>u1f450_1f3fb.glif</string>
    <key>u1f466_1f3fb</key>
    <string>u1f466_1f3fb.glif</string>
    <key>u1f468_1f3fb</key>
    <string>u1f468_1f3fb.glif</string>
    <key>u1f468_1f3fb_200d_1f4bb</key>
    <string>u1f468_1f3fb_200d_1f4bb.glif</string>
    <key>u1f468_1f3fb_200d_1f527</key>
    <string>u1f468_1f3fb_200d_1f527.glif</string>
    <key>u1f468_1f3fb_200d_1f52c</key>
    <string>u1f468_1f3fb_200d_1f52c.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fc</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fc.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fd</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fd.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fe</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3fe.glif</string>
    <key>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3ff</key>
    <string>u1f468_1f3fb_200d_1f91d_200d_1f468_1f3ff.glif</string>
    <key>u1f468_1f3fb_200d_1f9bc</key>
    <string>u1f468_1f3fb_200d_1f9bc.glif</string>
    <key>u1f468_1f3fb_200d_1f9bd</key>
    <string>u1f468_1f3fb_200d_1f9bd.glif</string>
    <key>u1f468_1f3fb_200d_2695_fe0f</key>
    <string>u1f468_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f469_1f3fb</key>
    <string>u1f469_1f3fb.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3fc</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3fc.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3fd</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3fd.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3fe</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3fe.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3ff</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f468_1f3ff.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3fc</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3fc.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3fd</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3fd.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3fe</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3fe.glif</string>
    <key>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3ff</key>
    <string>u1f469_1f3fb_200d_1f91d_200d_1f469_1f3ff.glif</string>
    <key>u1f469_1f3fb_200d_1f9b1</key>
    <string>u1f469_1f3fb_200d_1f9b1.glif</string>
    <key>u1f469_1f3fb_200d_2696_fe0f</key>
    <string>u1f469_1f3fb_200d_2696_fe0f.glif</string>
    <key>u1f46b_1f3fb</key>
    <string>u1f46b_1f3fb.glif</string>
    <key>u1f46c_1f3fb</key>
    <string>u1f46c_1f3fb.glif</string>
    <key>u1f46d_1f3fb</key>
    <string>u1f46d_1f3fb.glif</string>
    <key>u1f46e_1f3fb</key>
    <string>u1f46e_1f3fb.glif</string>
    <key>u1f46e_1f3fb_200d_2642_fe0f</key>
    <string>u1f46e_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f471_1f3fb</key>
    <string>u1f471_1f3fb.glif</string>
    <key>u1f471_1f3fb_200d_2640_fe0f</key>
    <string>u1f471_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f474_1f3fb</key>
    <string>u1f474_1f3fb.glif</string>
    <key>u1f475_1f3fb</key>
    <string>u1f475_1f3fb.glif</string>
    <key>u1f478_1f3fb</key>
    <string>u1f478_1f3fb.glif</string>
    <key>u1f47c_1f3fb</key>
    <string>u1f47c_1f3fb.glif</string>
    <key>u1f483_1f3fb</key>
    <string>u1f483_1f3fb.glif</string>
    <key>u1f4aa_1f3fb</key>
    <string>u1f4aa_1f3fb.glif</string>
    <key>u1f595_1f3fb</key>
    <string>u1f595_1f3fb.glif</string>
    <key>u1f596_1f3fb</key>
    <string>u1f596_1f3fb.glif</string>
    <key>u1f645_1f3fb_200d_2640_fe0f</key>
    <string>u1f645_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f646_1f3fb</key>
    <string>u1f646_1f3fb.glif</string>
    <key>u1f64b_1f3fb</key>
    <string>u1f64b_1f3fb.glif</string>
    <key>u1f64b_1f3fb_200d_2640_fe0f</key>
    <string>u1f64b_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6b4_1f3fb_200d_2640_fe0f</key>
    <string>u1f6b4_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fb</key>
    <string>u1f6b5_1f3fb.glif</string>
    <key>u1f6b5_1f3fb_200d_2640_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f6b5_1f3fb_200d_2642_fe0f</key>
    <string>u1f6b5_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f918_1f3fb</key>
    <string>u1f918_1f3fb.glif</string>
    <key>u1f91a_1f3fb</key>
    <string>u1f91a_1f3fb.glif</string>
    <key>u1f91e_1f3fb</key>
    <string>u1f91e_1f3fb.glif</string>
    <key>u1f931_1f3fb</key>
    <string>u1f931_1f3fb.glif</string>
    <key>u1f932_1f3fb</key>
    <string>u1f932_1f3fb.glif</string>
    <key>u1f935_1f3fb_200d_2640_fe0f</key>
    <string>u1f935_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f936_1f3fb</key>
    <string>u1f936_1f3fb.glif</string>
    <key>u1f938_1f3fb</key>
    <string>u1f938_1f3fb.glif</string>
    <key>u1f938_1f3fb_200d_2642_fe0f</key>
    <string>u1f938_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f939_1f3fb</key>
    <string>u1f939_1f3fb.glif</string>
    <key>u1f939_1f3fb_200d_2642_fe0f</key>
    <string>u1f939_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9ce_1f3fb</key>
    <string>u1f9ce_1f3fb.glif</string>
    <key>u1f9ce_1f3fb_200d_2640_fe0f</key>
    <string>u1f9ce_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9ce_1f3fb_200d_2642_fe0f</key>
    <string>u1f9ce_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9cf_1f3fb_200d_2642_fe0f</key>
    <string>u1f9cf_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9d1_1f3fb</key>
    <string>u1f9d1_1f3fb.glif</string>
    <key>u1f9d1_1f3fb_200d_1f4bb</key>
    <string>u1f9d1_1f3fb_200d_1f4bb.glif</string>
    <key>u1f9d1_1f3fb_200d_1f527</key>
    <string>u1f9d1_1f3fb_200d_1f527.glif</string>
    <key>u1f9d1_1f3fb_200d_1f52c</key>
    <string>u1f9d1_1f3fb_200d_1f52c.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9b0</key>
    <string>u1f9d1_1f3fb_200d_1f9b0.glif</string>
    <key>u1f9d1_1f3fb_200d_1f9b3</key>
    <string>u1f9d1_1f3fb_200d_1f9b3.glif</string>
    <key>u1f9d1_1f3fb_200d_2695_fe0f</key>
    <string>u1f9d1_1f3fb_200d_2695_fe0f.glif</string>
    <key>u1f9d2_1f3fb</key>
    <string>u1f9d2_1f3fb.glif</string>
    <key>u1f9d3_1f3fb</key>
    <string>u1f9d3_1f3fb.glif</string>
    <key>u1f9d4_1f3fb</key>
    <string>u1f9d4_1f3fb.glif</string>
    <key>u1f9d8_1f3fb</key>
    <string>u1f9d8_1f3fb.glif</string>
    <key>u1f9d8_1f3fb_200d_2640_fe0f</key>
    <string>u1f9d8_1f3fb_200d_2640_fe0f.glif</string>
    <key>u1f9d8_1f3fb_200d_2642_fe0f</key>
    <string>u1f9d8_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f9dc_1f3fb</key>
    <string>u1f9dc_1f3fb.glif</string>
    <key>u1f9dc_1f3fb_200d_2640_fe0f</key>
    <string>u1f9dc_1f3fb_200d_2640_fe0f.glif</string>
    <key>u261d_1f3fb</key>
    <string>u261d_1f3fb.glif</string>
    <key>u270a_1f3fb</key>
    <string>u270a_1f3fb.glif</string>
    <key>u270b_1f3fb</key>
    <string>u270b_1f3fb.glif</string>
    <key>u270c_1f3fb</key>
    <string>u270c_1f3fb.glif</string>
  </dict>
</plist>
