<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1ea_1f1e8</key>
    <string>u1f1ea_1f1e8.glif</string>
    <key>u1f1fe_1f1f9</key>
    <string>u1f1fe_1f1f9.glif</string>
    <key>u1f371</key>
    <string>u1f371.glif</string>
    <key>u1f468_1f3fb_200d_1f373</key>
    <string>u1f468_1f3fb_200d_1f373.glif</string>
    <key>u1f468_1f3fc_200d_1f373</key>
    <string>u1f468_1f3fc_200d_1f373.glif</string>
    <key>u1f468_1f3fd_200d_1f373</key>
    <string>u1f468_1f3fd_200d_1f373.glif</string>
    <key>u1f468_1f3fe_200d_1f373</key>
    <string>u1f468_1f3fe_200d_1f373.glif</string>
    <key>u1f468_1f3ff_200d_1f373</key>
    <string>u1f468_1f3ff_200d_1f373.glif</string>
    <key>u1f468_200d_1f373</key>
    <string>u1f468_200d_1f373.glif</string>
    <key>u1f96b</key>
    <string>u1f96b.glif</string>
    <key>u1f9d1_1f3fb_200d_1f373</key>
    <string>u1f9d1_1f3fb_200d_1f373.glif</string>
    <key>u1f9d1_1f3fc_200d_1f373</key>
    <string>u1f9d1_1f3fc_200d_1f373.glif</string>
    <key>u1f9d1_1f3fd_200d_1f373</key>
    <string>u1f9d1_1f3fd_200d_1f373.glif</string>
    <key>u1f9d1_1f3fe_200d_1f373</key>
    <string>u1f9d1_1f3fe_200d_1f373.glif</string>
    <key>u1f9d1_1f3ff_200d_1f373</key>
    <string>u1f9d1_1f3ff_200d_1f373.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
  </dict>
</plist>
