<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f352</key>
    <string>u1f352.glif</string>
    <key>u1f355</key>
    <string>u1f355.glif</string>
    <key>u1f36b</key>
    <string>u1f36b.glif</string>
    <key>u1f392</key>
    <string>u1f392.glif</string>
    <key>u1f3aa</key>
    <string>u1f3aa.glif</string>
    <key>u1f3b0</key>
    <string>u1f3b0.glif</string>
    <key>u1f3b3</key>
    <string>u1f3b3.glif</string>
    <key>u1f3bf</key>
    <string>u1f3bf.glif</string>
    <key>u1f3cf</key>
    <string>u1f3cf.glif</string>
    <key>u1f468_1f3ff_200d_1f680</key>
    <string>u1f468_1f3ff_200d_1f680.glif</string>
    <key>u1f469_1f3ff_200d_1f680</key>
    <string>u1f469_1f3ff_200d_1f680.glif</string>
    <key>u1f4d5</key>
    <string>u1f4d5.glif</string>
    <key>u1f58d</key>
    <string>u1f58d.glif</string>
    <key>u1f68f</key>
    <string>u1f68f.glif</string>
    <key>u1f967</key>
    <string>u1f967.glif</string>
    <key>u1f990</key>
    <string>u1f990.glif</string>
    <key>u1f991</key>
    <string>u1f991.glif</string>
    <key>u1f99e</key>
    <string>u1f99e.glif</string>
    <key>u1f9ee</key>
    <string>u1f9ee.glif</string>
    <key>u1f9f0</key>
    <string>u1f9f0.glif</string>
    <key>u26fd</key>
    <string>u26fd.glif</string>
  </dict>
</plist>
