<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f442</key>
    <string>u1f442.glif</string>
    <key>u1f443</key>
    <string>u1f443.glif</string>
    <key>u1f44a</key>
    <string>u1f44a.glif</string>
    <key>u1f575_1f3fb_200d_2642_fe0f</key>
    <string>u1f575_1f3fb_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fc_200d_2642_fe0f</key>
    <string>u1f575_1f3fc_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fd_200d_2642_fe0f</key>
    <string>u1f575_1f3fd_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3fe_200d_2642_fe0f</key>
    <string>u1f575_1f3fe_200d_2642_fe0f.glif</string>
    <key>u1f575_1f3ff_200d_2642_fe0f</key>
    <string>u1f575_1f3ff_200d_2642_fe0f.glif</string>
    <key>u1f575_fe0f_200d_2642_fe0f</key>
    <string>u1f575_fe0f_200d_2642_fe0f.glif</string>
    <key>u1f590</key>
    <string>u1f590.glif</string>
    <key>u1f90f</key>
    <string>u1f90f.glif</string>
    <key>u1f919</key>
    <string>u1f919.glif</string>
    <key>u1f91b</key>
    <string>u1f91b.glif</string>
    <key>u1f91c</key>
    <string>u1f91c.glif</string>
    <key>u1f91f</key>
    <string>u1f91f.glif</string>
    <key>u1f9b5</key>
    <string>u1f9b5.glif</string>
    <key>u1f9b6</key>
    <string>u1f9b6.glif</string>
    <key>u1f9dc_200d_2642_fe0f</key>
    <string>u1f9dc_200d_2642_fe0f.glif</string>
  </dict>
</plist>
