<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f468_200d_2764_fe0f_200d_1f468</key>
    <string>u1f468_200d_2764_fe0f_200d_1f468.glif</string>
    <key>u1f648</key>
    <string>u1f648.glif</string>
    <key>u1f960</key>
    <string>u1f960.glif</string>
    <key>u1f997</key>
    <string>u1f997.glif</string>
  </dict>
</plist>
