<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1f7_1f1f8</key>
    <string>u1f1f7_1f1f8.glif</string>
    <key>u1f1f9_1f1ef</key>
    <string>u1f1f9_1f1ef.glif</string>
    <key>u1f1fa_1f1fe</key>
    <string>u1f1fa_1f1fe.glif</string>
    <key>u1f30b</key>
    <string>u1f30b.glif</string>
    <key>u1f370</key>
    <string>u1f370.glif</string>
    <key>u1f37f</key>
    <string>u1f37f.glif</string>
    <key>u1f3c5</key>
    <string>u1f3c5.glif</string>
    <key>u1f3dd</key>
    <string>u1f3dd.glif</string>
    <key>u1f414</key>
    <string>u1f414.glif</string>
    <key>u1f424</key>
    <string>u1f424.glif</string>
    <key>u1f466</key>
    <string>u1f466.glif</string>
    <key>u1f468</key>
    <string>u1f468.glif</string>
    <key>u1f468_200d_1f3a8</key>
    <string>u1f468_200d_1f3a8.glif</string>
    <key>u1f468_200d_1f466</key>
    <string>u1f468_200d_1f466.glif</string>
    <key>u1f468_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f467</key>
    <string>u1f468_200d_1f467.glif</string>
    <key>u1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f467_200d_1f467.glif</string>
    <key>u1f468_200d_1f468_200d_1f466</key>
    <string>u1f468_200d_1f468_200d_1f466.glif</string>
    <key>u1f468_200d_1f468_200d_1f466_200d_1f466</key>
    <string>u1f468_200d_1f468_200d_1f466_200d_1f466.glif</string>
    <key>u1f468_200d_1f468_200d_1f467</key>
    <string>u1f468_200d_1f468_200d_1f467.glif</string>
    <key>u1f468_200d_1f468_200d_1f467_200d_1f466</key>
    <string>u1f468_200d_1f468_200d_1f467_200d_1f466.glif</string>
    <key>u1f468_200d_1f468_200d_1f467_200d_1f467</key>
    <string>u1f468_200d_1f468_200d_1f467_200d_1f467.glif</string>
    <key>u1f469</key>
    <string>u1f469.glif</string>
    <key>u1f469_200d_1f393</key>
    <string>u1f469_200d_1f393.glif</string>
    <key>u1f469_200d_1f3eb</key>
    <string>u1f469_200d_1f3eb.glif</string>
    <key>u1f469_200d_1f680</key>
    <string>u1f469_200d_1f680.glif</string>
    <key>u1f469_200d_1f692</key>
    <string>u1f469_200d_1f692.glif</string>
    <key>u1f470</key>
    <string>u1f470.glif</string>
    <key>u1f471_200d_2640_fe0f</key>
    <string>u1f471_200d_2640_fe0f.glif</string>
    <key>u1f478</key>
    <string>u1f478.glif</string>
    <key>u1f482</key>
    <string>u1f482.glif</string>
    <key>u1f484</key>
    <string>u1f484.glif</string>
    <key>u1f48f</key>
    <string>u1f48f.glif</string>
    <key>u1f4b8</key>
    <string>u1f4b8.glif</string>
    <key>u1f4d9</key>
    <string>u1f4d9.glif</string>
    <key>u1f575</key>
    <string>u1f575.glif</string>
    <key>u1f58a</key>
    <string>u1f58a.glif</string>
    <key>u1f647_200d_2642_fe0f</key>
    <string>u1f647_200d_2642_fe0f.glif</string>
    <key>u1f64b_200d_2642_fe0f</key>
    <string>u1f64b_200d_2642_fe0f.glif</string>
    <key>u1f64d_200d_2640_fe0f</key>
    <string>u1f64d_200d_2640_fe0f.glif</string>
    <key>u1f64d_200d_2642_fe0f</key>
    <string>u1f64d_200d_2642_fe0f.glif</string>
    <key>u1f64e_200d_2640_fe0f</key>
    <string>u1f64e_200d_2640_fe0f.glif</string>
    <key>u1f696</key>
    <string>u1f696.glif</string>
    <key>u1f6b6_200d_2640_fe0f</key>
    <string>u1f6b6_200d_2640_fe0f.glif</string>
    <key>u1f6b6_200d_2642_fe0f</key>
    <string>u1f6b6_200d_2642_fe0f.glif</string>
    <key>u1f926</key>
    <string>u1f926.glif</string>
    <key>u1f926_200d_2640_fe0f</key>
    <string>u1f926_200d_2640_fe0f.glif</string>
    <key>u1f938</key>
    <string>u1f938.glif</string>
    <key>u1f938_200d_2642_fe0f</key>
    <string>u1f938_200d_2642_fe0f.glif</string>
    <key>u1f99c</key>
    <string>u1f99c.glif</string>
    <key>u1f9aa</key>
    <string>u1f9aa.glif</string>
    <key>u1f9d1_200d_1f33e</key>
    <string>u1f9d1_200d_1f33e.glif</string>
    <key>u1f9d1_200d_1f373</key>
    <string>u1f9d1_200d_1f373.glif</string>
    <key>u1f9d1_200d_1f91d_200d_1f9d1</key>
    <string>u1f9d1_200d_1f91d_200d_1f9d1.glif</string>
    <key>u1f9d1_200d_2708_fe0f</key>
    <string>u1f9d1_200d_2708_fe0f.glif</string>
    <key>u1f9d7</key>
    <string>u1f9d7.glif</string>
    <key>u1f9da_200d_2640_fe0f</key>
    <string>u1f9da_200d_2640_fe0f.glif</string>
    <key>u1f9da_200d_2642_fe0f</key>
    <string>u1f9da_200d_2642_fe0f.glif</string>
    <key>u1f9ec</key>
    <string>u1f9ec.glif</string>
    <key>u2696</key>
    <string>u2696.glif</string>
    <key>u26b0</key>
    <string>u26b0.glif</string>
  </dict>
</plist>
