<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f393</key>
    <string>u1f393.glif</string>
    <key>u1f3a5</key>
    <string>u1f3a5.glif</string>
    <key>u1f3a9</key>
    <string>u1f3a9.glif</string>
    <key>u1f3ae</key>
    <string>u1f3ae.glif</string>
    <key>u1f3b0</key>
    <string>u1f3b0.glif</string>
    <key>u1f3b1</key>
    <string>u1f3b1.glif</string>
    <key>u1f3b9</key>
    <string>u1f3b9.glif</string>
    <key>u1f3f4_200d_2620_fe0f</key>
    <string>u1f3f4_200d_2620_fe0f.glif</string>
    <key>u1f403</key>
    <string>u1f403.glif</string>
    <key>u1f41c</key>
    <string>u1f41c.glif</string>
    <key>u1f41d</key>
    <string>u1f41d.glif</string>
    <key>u1f41e</key>
    <string>u1f41e.glif</string>
    <key>u1f441_fe0f_200d_1f5e8_fe0f</key>
    <string>u1f441_fe0f_200d_1f5e8_fe0f.glif</string>
    <key>u1f453</key>
    <string>u1f453.glif</string>
    <key>u1f4be</key>
    <string>u1f4be.glif</string>
    <key>u1f4de</key>
    <string>u1f4de.glif</string>
    <key>u1f4df</key>
    <string>u1f4df.glif</string>
    <key>u1f4f1</key>
    <string>u1f4f1.glif</string>
    <key>u1f4f2</key>
    <string>u1f4f2.glif</string>
    <key>u1f4f8</key>
    <string>u1f4f8.glif</string>
    <key>u1f4f9</key>
    <string>u1f4f9.glif</string>
    <key>u1f4fa</key>
    <string>u1f4fa.glif</string>
    <key>u1f4fc</key>
    <string>u1f4fc.glif</string>
    <key>u1f4fd</key>
    <string>u1f4fd.glif</string>
    <key>u1f519</key>
    <string>u1f519.glif</string>
    <key>u1f51a</key>
    <string>u1f51a.glif</string>
    <key>u1f51b</key>
    <string>u1f51b.glif</string>
    <key>u1f51c</key>
    <string>u1f51c.glif</string>
    <key>u1f51d</key>
    <string>u1f51d.glif</string>
    <key>u1f532</key>
    <string>u1f532.glif</string>
    <key>u1f573</key>
    <string>u1f573.glif</string>
    <key>u1f576</key>
    <string>u1f576.glif</string>
    <key>u1f577</key>
    <string>u1f577.glif</string>
    <key>u1f5a4</key>
    <string>u1f5a4.glif</string>
    <key>u1f5dd</key>
    <string>u1f5dd.glif</string>
    <key>u1f6a5</key>
    <string>u1f6a5.glif</string>
    <key>u1f6a6</key>
    <string>u1f6a6.glif</string>
    <key>u1f98d</key>
    <string>u1f98d.glif</string>
    <key>u1f99f</key>
    <string>u1f99f.glif</string>
    <key>u1f9a1</key>
    <string>u1f9a1.glif</string>
    <key>u1fa7a</key>
    <string>u1fa7a.glif</string>
    <key>u2122</key>
    <string>u2122.glif</string>
    <key>u231a</key>
    <string>u231a.glif</string>
    <key>u25aa</key>
    <string>u25aa.glif</string>
    <key>u25fc</key>
    <string>u25fc.glif</string>
    <key>u25fe</key>
    <string>u25fe.glif</string>
    <key>u265f</key>
    <string>u265f.glif</string>
    <key>u2660</key>
    <string>u2660.glif</string>
    <key>u2663</key>
    <string>u2663.glif</string>
    <key>u26ab</key>
    <string>u26ab.glif</string>
    <key>u2714</key>
    <string>u2714.glif</string>
    <key>u2716</key>
    <string>u2716.glif</string>
    <key>u2734</key>
    <string>u2734.glif</string>
    <key>u2795</key>
    <string>u2795.glif</string>
    <key>u2796</key>
    <string>u2796.glif</string>
    <key>u2797</key>
    <string>u2797.glif</string>
    <key>u27b0</key>
    <string>u27b0.glif</string>
    <key>u2b1b</key>
    <string>u2b1b.glif</string>
    <key>ua9</key>
    <string>ua9.glif</string>
    <key>uae</key>
    <string>uae.glif</string>
  </dict>
</plist>
