<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f4ba</key>
    <string>u1f4ba.glif</string>
    <key>u1f4bb</key>
    <string>u1f4bb.glif</string>
    <key>u1f97d</key>
    <string>u1f97d.glif</string>
    <key>u1f99b</key>
    <string>u1f99b.glif</string>
    <key>u1f9b7</key>
    <string>u1f9b7.glif</string>
    <key>u2694</key>
    <string>u2694.glif</string>
  </dict>
</plist>
