<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f435</key>
    <string>u1f435.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f468.glif</string>
    <key>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469</key>
    <string>u1f469_200d_2764_fe0f_200d_1f48b_200d_1f469.glif</string>
    <key>u1f64a</key>
    <string>u1f64a.glif</string>
    <key>u1f997</key>
    <string>u1f997.glif</string>
  </dict>
</plist>
