<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f1e8_1f1fe</key>
    <string>u1f1e8_1f1fe.glif</string>
    <key>u1f30f</key>
    <string>u1f30f.glif</string>
    <key>u1f33f</key>
    <string>u1f33f.glif</string>
    <key>u1f348</key>
    <string>u1f348.glif</string>
    <key>u1f34a</key>
    <string>u1f34a.glif</string>
    <key>u1f3d5</key>
    <string>u1f3d5.glif</string>
    <key>u1f4ca</key>
    <string>u1f4ca.glif</string>
    <key>u1f952</key>
    <string>u1f952.glif</string>
    <key>u1f9a0</key>
    <string>u1f9a0.glif</string>
    <key>u1fa92</key>
    <string>u1fa92.glif</string>
  </dict>
</plist>
