<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f486</key>
    <string>u1f486.glif</string>
    <key>u1f486_1f3fb</key>
    <string>u1f486_1f3fb.glif</string>
    <key>u1f486_1f3fc</key>
    <string>u1f486_1f3fc.glif</string>
    <key>u1f486_1f3fd</key>
    <string>u1f486_1f3fd.glif</string>
    <key>u1f486_1f3fe</key>
    <string>u1f486_1f3fe.glif</string>
    <key>u1f486_1f3ff</key>
    <string>u1f486_1f3ff.glif</string>
    <key>u1f64d</key>
    <string>u1f64d.glif</string>
    <key>u1f64d_1f3fb</key>
    <string>u1f64d_1f3fb.glif</string>
    <key>u1f64d_1f3fc</key>
    <string>u1f64d_1f3fc.glif</string>
    <key>u1f64d_1f3fd</key>
    <string>u1f64d_1f3fd.glif</string>
    <key>u1f64d_1f3fe</key>
    <string>u1f64d_1f3fe.glif</string>
    <key>u1f64d_1f3ff</key>
    <string>u1f64d_1f3ff.glif</string>
    <key>u1f64e</key>
    <string>u1f64e.glif</string>
    <key>u1f64e_1f3fb</key>
    <string>u1f64e_1f3fb.glif</string>
    <key>u1f64e_1f3fc</key>
    <string>u1f64e_1f3fc.glif</string>
    <key>u1f64e_1f3fd</key>
    <string>u1f64e_1f3fd.glif</string>
    <key>u1f64e_1f3fe</key>
    <string>u1f64e_1f3fe.glif</string>
    <key>u1f64e_1f3ff</key>
    <string>u1f64e_1f3ff.glif</string>
    <key>u1f9df</key>
    <string>u1f9df.glif</string>
    <key>u26f9</key>
    <string>u26f9.glif</string>
    <key>u26f9_1f3fb</key>
    <string>u26f9_1f3fb.glif</string>
    <key>u26f9_1f3fc</key>
    <string>u26f9_1f3fc.glif</string>
    <key>u26f9_1f3fd</key>
    <string>u26f9_1f3fd.glif</string>
    <key>u26f9_1f3fe</key>
    <string>u26f9_1f3fe.glif</string>
    <key>u26f9_1f3ff</key>
    <string>u26f9_1f3ff.glif</string>
  </dict>
</plist>
