<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1f361</key>
    <string>u1f361.glif</string>
    <key>u1f362</key>
    <string>u1f362.glif</string>
    <key>u1f43b</key>
    <string>u1f43b.glif</string>
    <key>u1f4d4</key>
    <string>u1f4d4.glif</string>
    <key>u1f994</key>
    <string>u1f994.glif</string>
    <key>u1f998</key>
    <string>u1f998.glif</string>
    <key>u1f9fa</key>
    <string>u1f9fa.glif</string>
  </dict>
</plist>
